<div class="order_notes_tasks">
    <div class="modal-header">
        <h3 class="modal-title">Edit Task</h3>
    </div>
    <div class="modal-body">
        <div class="col-md-12 nopad-form">
            <!-- Left column -->
            <div class="col-md-6 nopad-form">
                <div class="form-group col-md-12 nopad-form">
                    <div class="col-md-4 nopad-left text-right">
                        <lable for="for">For:</lable>
                    </div>
                    <div class="col-md-8 nopad-left">
                        <select  ng-model="task_detail.user_id" class="form-control" required name="user_id" multiple>
                            <option ng-selected="task_detail.user_id==data.id" ng-repeat="data in users" value={{data.id}}>{{data.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-12 nopad-form">
                    <div class="col-md-4 nopad-left text-right">
                        <lable for="client">Client:</lable>
                    </div>
                    <div class="col-md-8 nopad-left">
                        <select  ng-model="task_detail.company_id" class="form-control" required name="company_id">
                            <option ng-selected="task_detail.company_id==data.client_id" ng-repeat="data in allCompany" value={{data.client_id}}>{{data.client_company}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-12 nopad-form">
                    <div class="col-md-4 nopad-left text-right">
                        <lable for="order">Order:</lable>
                    </div>
                    <div class="col-md-8 nopad-left">
                        <input type="text" id="order" class="form-control" ng-model="task_detail.order_name"/>
                    </div>
                </div>
            </div>

            <!-- Right column -->
            <div class="col-md-6 nopad-form">
                <div class="form-group col-md-12 nopad-form">
                    <div class="col-md-3 nopad-left text-right">
                        <lable for="desc">Desc:</lable>
                    </div>
                    <div class="col-md-9 nopad-left">
                        <textarea class="form-control task_desc" rows="4" id="desc" ng-model="task_detail.note"></textarea>
                    </div>
                </div>
                <div class="form-group col-md-12 nopad-form">
                    <div class="col-md-3 nopad-left text-right">
                        <lable for="task">Task:</lable>
                    </div>
                    <div class="col-md-8 nopad-left" ng-show="task_show == 0">
                        <select  ng-model="task_detail.task_name" class="form-control" ng-change="showTaskInput()">
                            <option value="1">Add New</option>
                            <option ng-selected="task.task_name==task_detail.task_name" ng-repeat="task in tasks" value={{task.task_name}}>{{task.task_name}}</option>
                        </select>
                    </div>
                    <div class="col-md-9 nopad-left" ng-show="task_show == 1">
                        <input type="text" id="task" class="form-control" ng-model="task_detail.task_name"/>
                    </div>
                </div>

                <div class="form-group col-md-12 nopad-form">
                    <div class="col-md-3 nopad-left text-right">
                        <lable for="result">Result:</lable>
                    </div>
                    <div class="col-md-8 nopad-left" ng-show="result_show == 0">
                        <select  ng-model="task_detail.result_name" class="form-control" ng-change="showResultInput()">
                            <option value="1">Add New</option>
                            <option ng-selected="row.result_name==task_detail.result_name" ng-repeat="row in result" value={{row.result_name}}>{{row.result_name}}</option>
                        </select>
                    </div>
                    <div class="col-md-9 nopad-left" ng-show="result_show == 1">
                        <input type="text" id="result" class="form-control" ng-model="task_detail.result_name"/>
                    </div>
                </div>
            </div>

            <div class="col-md-12 nopad-form">
                <div class="form-group col-md-12 nopad-form">
                    <div class="col-md-2 nopad-left text-right">
                        <lable for="dueDate">Due Date:</lable>
                    </div>
                    <!-- <div class="col-md-8 nopad-left">
                        <input ng-model="task_detail.due_date" type="text" id="dueDate" class="form-control"/>
                    </div> -->
                    <div class="col-sm-10 nopad-left m-b" ng-controller="DatepickerDemoCtrl">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="task_detail.due_date" is-open="opened" datepicker-options="dateOptions"   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12 nopad-form">
                <div class="col-md-2 nopad-left text-right">
                    <lable for="comments">Comment:</lable>
                </div>
                <div class="col-md-10 nopad-left">
                    <input type="text" id="comments" class="form-control" ng-model="task_detail.comment"/>
                </div>
            </div>
            <div class="form-group col-md-12 nopad-form">
                <div class="col-md-2 nopad-left text-right">
                    <lable for="logs">Log:</lable>
                </div>
                <div class="col-md-10 nopad-left">
                    <textarea class="form-control" rows="5" id="logs" ng-model="task_detail.log">{{task_detail.log}}</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-md-12 nopad-form">                 
            <button class="btn btn-warning pull-left" type="button" ng-click="closePopup('cancel')">Cancel</button>
           <button class="btn btn-primary pull-right" ng-click="updateTask()">Save</button>
        </div>
    </div>
</div>