
  <div class="row">
    <div class="col-sm-12">

      <form name="mainForm" class="form-validation">
        
        <div class="panel panel-default">
         <input type="hidden" ng-model="order.id">
          <div class="panel-body">
           
            <div class="col-sm-12 m-b  panel panel-default">
              <div class="col-sm-12 m-b"></div>
              <div class="form-group col-sm-12 m-b">
                
                <div class="col-sm-3 m-b">
                <label>CS Job Name <em class="text-muted"></em></label>
                  <input type="text" class="form-control" ng-maxlength="255" name="cs_job_name"  ng-model="order.job_name"  required>
                  <br>
                  <span style="color:#f44336" ng-show="orderAddForm.cs_job_name.$error.maxlength">Please enter Name less then 255 characters.</span>
                </div>


                <div class="col-md-3 m-b">
               <label>Company <em class="text-muted"></em></label>

                  <select  ng-model="order.client_id"  class="form-control" required>
                  <option ng-selected="order.client_id==data.client_id" ng-repeat="data in allCompany" value={{data.client_id}}>{{data.client_company}}</option>
                </select>
                </div>
                
                <div class="col-md-2 m-b">
                <label>Price Grid<em class="text-muted"></em></label>

                 <select  ng-model="order.price_id"  class="form-control">
                  <option ng-selected="order.price_id==data.id" ng-repeat="data in allGrid" value={{data.id}}>{{data.name}}</option>
                </select>
                </div>

                <div class="col-md-2 m-b">
                <label>Approval<em class="text-muted"></em></label>

                  

                 <select  ng-model="order.f_approval"  class="form-control">
                           <option ng-selected="order.f_approval==misc_approval.id" ng-repeat="misc_approval in miscData.approval" value={{misc_approval.id}}>{{misc_approval.value}}</option>
                         </select>

                </div>
                

                <div class=" col-md-2 m-b">
               <label>Blind<em class="text-muted"></em></label>
                  <select class="form-control" ng-model="order.is_blind">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                    
                  </select>
                </div>

                </div>


                <div class="form-group col-sm-12 m-b">
                
                <div class="col-sm-3 m-b">
                <label>Sales <em class="text-muted"></em></label>

                     <select  class="form-control" ng-model="order.sales_id">
                      <option ng-repeat="staff in staffList" ng-selected="{{order.sales_id==staff.id}}" value="{{staff.id}}">{{staff.first_name}}&nbsp;{{staff.last_name}}</option>
                    </select>
                
                </div>


                <div class="col-md-3 m-b">
               <label>Brand Coordinator <em class="text-muted"></em></label>

                  <select  class="form-control" ng-model="order.brand_id">
                      <option ng-repeat="user in brandCoList" ng-selected="{{order.brand_id==user.id}}" value="{{user.id}}">{{user.name}}</option>
                    </select>

                </div>
                
                <div class="col-md-2 m-b">
                <label>Expediter<em class="text-muted"></em></label>
                  <input type="text" class="form-control" ng-maxlength="255" name="cs_expediter"  ng-model="order.expediter">
                  <br>
                  <span style="color:#f44336" ng-show="orderAddForm.cs_expediter.$error.maxlength">Please enter Name less then 255 characters.</span>
                </div>

                <div class="col-md-2 m-b">
               <label>Customer PO<em class="text-muted"></em></label>
                  <input type="text" class="form-control" ng-maxlength="255" name="cs_customer_po"  ng-model="order.customer_po_id">
                  <br>
                  <span style="color:#f44336" ng-show="orderAddForm.cs_customer_po.$error.maxlength">Please enter Name less then 255 characters.</span>
                </div>
                

                <div class=" col-md-2 m-b">
               <label>Order Main Contact<em class="text-muted"></em></label>
                   <select  class="form-control" ng-model="order.contact_main_id">
                      <option ng-repeat="user in client_main_data" ng-selected="{{order.contact_main_id==user.id}}" value="{{user.id}}">{{user.first_name}}&nbsp;{{user.last_name}}</option>
                    </select>
                </div>

                </div>

               
              <div class="input-group col-sm-5 m-b">
              <br>
                    <button  type="submit" class="btn btn-info" ng-click="saveOrderDetails(order,order.id)" ng-disabled="mainForm.$invalid">Submit</button>&nbsp;
                    <button ui-sref="order.list" type="button"  class="btn btn-info">Cancel</button>&nbsp;
              </div>
            
           

              <ul class="nav nav-tabs input-group col-sm-12">
                <li class="active"><a href data-toggle="tab" data-target="#tab1">position</a></li>
                <li> <a href data-toggle="tab" data-target="#tab2">Order Lines</a> </li>
                <li> <a href data-toggle="tab" data-target="#tab3">Distribution</a> </li>
                <li> <a href data-toggle="tab" data-target="#tab4">Notes</a> </li>
                <li> <a href data-toggle="tab" data-target="#tab5">Purchase Orders</a> </li>
                <li> <a href data-toggle="tab" data-target="#tab6">Screen Sets</a> </li>
                <li> <a href data-toggle="tab" data-target="#tab7">Art Work</a> </li>
                <li> <a href data-toggle="tab" data-target="#tab8">Payments</a> </li>
              </ul>

               
                <div class="tab-content p b-a no-b-t bg-white m-b-md">
              
 <!-- POSITION TAB START -->
                <div role="tabpanel" class="tab-pane active animated fadeIn" id="tab1">
                <div class="form-group col-md-12">
                  <b style="margin: 0 5px 0 0 !important;"  class="col-md-1">Position</b> 
                  <b class="col-md-1">Description</b>
                  <b class="col-md-1">Placement Type</b>
                  <b class="col-md-1">Stitch/Color Count</b>
                  <b class="col-md-1">Qnty</b>
                  <b class="col-md-1">Discharge</b>
                  <b class="col-md-1">Speciality</b>
                  <b class="col-md-1">Foil</b>
                  <b class="col-md-1">Ink Charge</b>
                  <b class="col-md-1">Number on Dark</b>
                  <b class="col-md-1">Number on Light</b>
                  <b class="col-md-1">Oversize Screen(s)</b>
                  <b class="col-md-1">Press Setup</b>
                  <b class="col-md-1">Screen Fee(s)</b>
                  <b class="col-md-1">DtG Size</b>
                  <b class="col-md-1">DtG On</b>
                 
                </div><br>
                  <div class="form-group">

                     <div ng-repeat="(key,order_position) in orderPositionAll"> 


                       <input type="hidden" class="col-md-1"  ng-model="order_position.order_id" ng-value="order_position.order_id"/>
                         

                         <numeric_tag input-value="123" input-name="wks.name"/>

                         <select  ng-model="order_position.position_id"  class="col-md-2">
                           <option ng-selected="order_position.position_id==misc_pos.id" ng-repeat="misc_pos in miscData.position" value={{misc_pos.id}}>{{misc_pos.value}}</option>
                         </select>

                        <input type="text" class="col-md-2"  ng-model="order_position.description" placeholder="Description" />


                        <select  ng-model="order_position.placement_type"  class="col-md-2">
                           <option ng-selected="order_position.placement_type==misc_placement.id" ng-repeat="misc_placement in miscData.placement_type" value={{misc_placement.id}}>{{misc_placement.value}}</option>
                         </select>


                        <input type="text" class="col-md-1"  ng-model="order_position.color_stitch_count" placeholder="Stitch Count" />

                        
                        <input type="text" class="col-md-1"  ng-model="order_position.qnty"/>

                        <input type="text" class="col-md-1"  ng-model="order_position.discharge_qnty" ng-keypress="myFunct($event)"/>

                        <input type="text" class="col-md-1"  ng-model="order_position.speciality_qnty"/>
                        <input type="text" class="col-md-1"  ng-model="order_position.foil_qnty"/>
                        <input type="text" class="col-md-1"  ng-model="order_position.ink_charge_qnty"/>
                        <input type="text" class="col-md-1"  ng-model="order_position.number_on_light_qnty"/>
                        <input type="text" class="col-md-1"  ng-model="order_position.number_on_dark_qnty"/>
                        <input type="text" class="col-md-1"  ng-model="order_position.oversize_screens_qnty"/>
                        <input type="text" class="col-md-1"  ng-model="order_position.press_setup_qnty"/>
                        <input type="text" class="col-md-1"  ng-model="order_position.screen_fees_qnty"/>


                         <select  ng-model="order_position.dtg_size"  class="col-md-2">
                           <option ng-selected="order_position.dtg_size==misc_dtgsize.id" ng-repeat="misc_dtgsize in miscData.dir_to_garment_sz" value={{misc_dtgsize.id}}>{{misc_dtgsize.value}}</option>
                         </select>

                         <select  ng-model="order_position.dtg_on"  class="col-md-2">
                           <option ng-selected="order_position.dtg_on==misc_dtg_on.id" ng-repeat="misc_dtg_on in miscData.direct_to_garment" value={{misc_dtg_on.id}}>{{misc_dtg_on.value}}</option>
                         </select>


                         
                        <button type="button" ng-click="removeOrder($index,order_position.id)" class="btn btn-default addButton"><i class="fa fa-minus"></i></button>
                     </div>
                    <button type="button" ng-click="addOrder()" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>&nbsp;
                    <button  type="submit" class="btn btn-info" ng-click="savePositionData(orderPositionAll)" >Save</button>
                </div>
                </div>
 <!-- POSITION TAB END -->







 <!-- ORDER LINES TAB START -->
                <div role="tabpanel" class="tab-pane animated fadeIn" id="tab2">
                <div class="form-group col-md-12">
                  <b style="margin: 0 5px 0 0 !important;"  class="col-md-1">Size Group / Product Color</b> 
                  <b class="col-md-1">Product / Product Vendor</b>
                  <b class="col-md-1">Qnty / Client Supplied</b>
                  <b class="col-md-5">-------------------------------------------------------Size / Qnty------------------------------------------------------------</b>
                  <b class="col-md-1">Markup %</b>
                  <b class="col-md-1">Over Ride</b>
                  <b class="col-md-1">Per Item / Sales Total</b>
                 
                 
                </div><br>
                  <div class="form-group">
                     <div ng-repeat="(key,order_line) in orderLineAll"> 

                       
                         <select  ng-model="order_line.size_group_id"  class="col-md-1">
                           <option ng-selected="order_line.size_group_id==misc_size_group.id" ng-repeat="misc_size_group in miscData.size_group" value={{misc_size_group.id}}>{{misc_size_group.value}}</option>
                         </select>


                          <select  ng-model="order_line.product_id"  class="col-md-1">
                           <option ng-selected="order_line.product_id==product_data.id" ng-repeat="product_data in allProduct" value={{product_data.id}}>{{product_data.name}}</option>
                         </select>

                         <input type="text" class="col-md-1"  ng-model="order_line.qnty"/>


                         <input type="text" class="col-md-1"  ng-model="order_line.size_1"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.qnty_1"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.size_2"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.qnty_2"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.size_3"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.qnty_3"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.size_4"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.qnty_4"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.size_5"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.qnty_5"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.size_6"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.qnty_6"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.size_7"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.qnty_7"/>



                         <input type="text" class="col-md-1"  ng-model="order_line.markup"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.override"/>
                         <input type="text" class="col-md-1"  ng-model="order_line.peritem"/>

                        

                         
                        <button type="button" ng-click="removeOrderLine($index,order_line.id)" class="btn btn-default addButton"><i class="fa fa-minus"></i></button>
                     </div>
                    <button type="button" ng-click="addOrderLine()" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>&nbsp;
                    <button  type="submit" class="btn btn-info" ng-click="saveOrderLineData(orderLineAll)" >Save</button>
                </div>
                </div>
 <!-- ORDER LINES TAB END -->



 <!-- Notes TAB START -->
                <div role="tabpanel" class="tab-pane  animated fadeIn" id="tab4">
                
                  <ul class="nav nav-tabs input-group col-sm-12">
                  <li class="active"> <a href data-toggle="tab" data-target="#tab_notes">Notes</a> </li>
                  <li> <a href data-toggle="tab" data-target="#tab_tasks">Tasks</a> </li>
                  
                </ul>
                <div class="tab-content p b-a no-b-t bg-white m-b-md">
                  <div role="tabpanel" class="tab-pane animated fadeIn active col-md-8" id="tab_notes">
                    <div class="form-group col-md-12 nopad-form tabTitle m-b">
                     
                      <div class="col-md-2 nopad-left">Created</div>
                      <div class="col-md-6 nopad-left">Note</div>
                      <div class="col-md-1"></div>
                      <div class="col-md-1"></div>
                    </div>
                    <div ng-repeat="order_note in allordernotes" class="col-md-12 nopad-form">                      
                      <div class="form-group col-md-12 nopad-form m-b">
                        
                        <div class="col-md-2 nopad-left">
                          <input type="text" class="form-control" disabled="" ng-model="order_note.created_date">
                        </div>
                        <div class="col-md-6 nopad-left">
                          <input type="text" class="form-control" ng-model="order_note.order_notes">
                        </div>
                        <div class="col-md-1 nopad-left">
                          <button type="button" ng-click="editOrderPopup(order_note.note_id)" class="btn btn-default addButton">
                          <i class="fa fa-edit"></i>
                          </button>
                        </div>
                        <div class="col-md-1 nopad-form">
                          <button type="button" ng-click="removeordernotes($index,order_note.note_id)" class="btn btn-default addButton">
                          <i class="fa fa-minus"></i>
                          </button>
                        </div>
                      </div>                      
                    </div>  
                    <div class="col-md-12 nopad-form m-b">
                        <button type="button" ng-click="openOrderPopup('order_note.html')" class="btn btn-default addButton">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>                 
                    &nbsp; 
                    </div>

                    <div class="col-md-4">


                      <label>Invoice Note<em class="text-muted"></em></label><br>
                      <textarea cols="40" name="invoice_note" ui-event="{ blur : 'notesave($event,order_id)' }" ng-model="order.invoice_note" rows="8"></textarea>


                    </div>


                    <div class="col-md-4">


                      <label>Garment Link<em class="text-muted"></em></label><br>
                      <textarea cols="40" name="garment_link" ui-event="{ blur : 'notesave($event,order_id)' }" ng-model="order.garment_link" rows="8"></textarea>


                    </div>


                  
                </div>

                </div>
 <!-- Notes TAB END -->

 

                </div>
            </div>

           

       
            <div>&nbsp;</div>

            <div class="form-group col-sm-12 m-b"></div>
            
          </div>
        </div>
      </form>
    </div>
    
  </div>
 
