<div class="order-info-page company-po-page stockkup-content-table-container">
    <div class="simple-table-container md-whiteframe-4dp stokkup-main-tableview m-b-30">

        <div class="table-title  layout-align-space-between-center layout-row" layout="row" layout-align="space-between center">
            <div class="table-title-text flex-70">
                Purchase Order #{{po_data.po_id}} for Client {{po_data.client_company}}
            </div>
            <div class="pull-right right-search-box">
                <a class="pull-right common-header-links" ui-sref="app.purchaseOrder">BACK TO PO's</a>
            </div>
        </div>
    </div>
        
        <div class="order-information m-b-20 pad0" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <div class="info-order inner-full-box">
                <div class="title box-title m-b-20"><span class="stokkup-title-h4">Information</span></div>
                <md-card layout="row">
                    <md-card-content flex="100" layout="column">
                        <div layout="row" layout-wrap>
                            <div class="trans-box">
                                <div>PO Type</div>
                                <span class="chrome-weight font-14">{{ po_data.po_type}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Order Number</div>
                                <a class="cursor-p" title="Go to Order" ui-sref="app.order.order-info({id:po_data.order_id})"><span class="chrome-weight font-14">#{{ po_data.order_id}}</span></a>
                            </div>
                            <div class="trans-box">
                                <div>Vendor</div>
                                <span class="chrome-weight font-14">{{ po_data.name_company}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Main Contact</div>
                                <span class="chrome-weight font-14">{{ po_data.mainContact}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Date Created</div>
                                <span class="chrome-weight font-14">{{ po_data.date}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Ship Date</div>
                                <span class="chrome-weight font-14">{{ po_data.ship_date}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Receive Date</div>
                                <span class="chrome-weight font-14">{{ po_data.arrival_date}}</span>
                            </div>
                        </div>
                    </md-card-content>
                    <div layout-align="end start" ng-if="po_data.complete==0" flex="5" layout="row">
                        <md-menu>
                            <md-button aria-label="Main Contact Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item ng-click="changePoData()">
                                    <md-button>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </md-card>
            </div>
        </div>

    <div class="simple-table-container md-whiteframe-4dp m-b-20 stokkup-main-tableview" >
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text h2 text-semibold">
                Products
            </div>
        </div>
        <div class="ms-responsive-table-wrapper">
            <table class="dataTable row-border hover" >
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>SKU</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Ordered<br /> Recevied</th>
                        <th>Unit $</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line_item in poline" >
                        <td>{{ line_item.product_name}}</td>
                        <td>{{ line_item.sku}}</td>
                        <td>{{ line_item.size}}</td>
                        <td>{{ line_item.product_color}}</td>
                        <td>{{ line_item.qnty_ordered}} / {{ line_item.qnty_purchased}}</td>
                        <td>${{ line_item.unit_price}}</td>
                        <!-- <td ng-if="po_data.complete==0"><a class="cursor-p" ng-click="changeLinedata(line_item.id,line_item.qnty_ordered,line_item.unit_price,line_item.qnty)">VIEW</a></td>  -->
                    </tr>
                </tbody> 
            </table>
           <!--  <div class="p-23 border-t-grey">
            </div> -->
        </div>
    </div>
    <div layout="row" layout="wrap" layout-align="space-between center" class="inner-full-box">
        <md-card class="box-3 firstbox">
            <md-card-title>
                <md-card-title-text class="stokkup-title-h4">
                    Web Portal
                </md-card-title-text>
                <div>
                    <a class="common-header-links" href="{{po_data.url}}" target="_blank">View</a>
                </div>
            </md-card-title>
            <md-card-content  layout="column" layout-padding class="min-height">
                <div layout="row" layout-wrap layout-align="start start" flex="60">
                    <a class="font-16 chrome-weight" href="{{po_data.url}}" target="_blank" >{{po_data.url}}</a><br/>
                </div>
                <div class="text-center"><span class="font-18">&nbsp;</span></div>
            </md-card-content>
            <!-- <md-divider ></md-divider> -->
            
        </md-card>
        <md-card class="box-3">
            <md-card-title>
                <md-card-title-text class="stokkup-title-h4">
                    Dropship Instructions
                </md-card-title-text>
                <div ng-if="po_data.complete==0">
                    <a class="common-header-links" ng-click="changeDropship(po_data.vendor_instruction)">EDIT</a>
                </div>
            </md-card-title>
            <md-card-content  layout="column" layout-padding class="min-height" layout-align="start center">
                <div layout="row" layout-wrap flex="60" class="width-text">
                    <span class="font-16 ">{{po_data.vendor_instruction}}</span>
                </div>
            </md-card-content>
            <!-- <md-divider ></md-divider> -->
            
        </md-card>
        <md-card class="box-3 lastbox">
            <md-card-title>
                <md-card-title-text class="stokkup-title-h4">
                    Notes
                </md-card-title-text>
                <div ng-if="po_data.complete==0">
                    <a class="common-header-links" ui-sref="app.purchaseOrder.viewNote({id:po_id})" >VIEW NOTES</a>
                </div>
            </md-card-title>
            <md-card-content  layout="column" layout-padding class="min-height">
                <div layout="row" layout-wrap layout-align="center center" flex="60">
                    <span class="h2 semibold f-52">{{po_data.total_note}}</span>
                </div>
                <div class="text-center pad0"><span class="font-18">Total Notes </span></div>
            </md-card-content>
            <!-- <md-divider ></md-divider> -->
        </md-card>
    </div>
</div>
<div class="m-t-20 p-t-30">
    <div class="footer border-t-grey" layout-padding layout="row">
        <md-button aria-label="Back" ng-if="po_data.complete==0" ng-click="CreateRo(po_data.po_id,po_data.complete)" class="close-btn bg-grey bg-green right-m-0" >
            Create Receive PO
        </md-button>
        <md-button aria-label="Back" ng-if="po_data.complete==1" ng-click="CreateRo(po_data.po_id,po_data.complete)" class="close-btn bg-grey bg-green right-m-0" >
            Go to Receive PO
        </md-button>
        <div flex="35">
            <span class="h4 text-semibold font-19">Purchase Order Totals</span>
        </div>
        <div flex="10">
            <span>Total Quantity</span>
        </div>
        <div flex="10" class="color-b-grey">
            <span>{{ order_total.ordered}}</span>
        </div>

        <!-- LOCK PO -->
        <div flex="10" ng-if="po_data.complete==1">
            <span>Vendor Ship Charge</span>
        </div>

        <div flex="10" class="color-b-grey" ng-if="po_data.complete==1"> 
            <span>${{ po_data.vendor_charge}}</span>
        </div>
        <!-- LOCK PO -->


        <div flex="10" title="click to change" ng-if="po_data.complete==0" class="cursor-p" ng-click="changeVendorcharge(po_data.vendor_charge)">
            <span>Vendor Ship Charge</span>
        </div>
        <div flex="10" class="color-b-grey cursor-p" ng-if="po_data.complete==0" title="click to change" ng-click="changeVendorcharge(po_data.vendor_charge)">
            <span>${{ po_data.vendor_charge}}</span>
        </div>

        <div flex="10">
            <span>Total Amount</span>
        </div>
        <div flex="10" class="color-b-grey">
            <span>${{ order_total.total_amount}}</span>
        </div>
    </div>
</div>