<div class="content order-list-page puchase-order-page stockkup-content-table-container">
    <div class="simple-table-container md-whiteframe-4dp stokkup-main-tableview">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20 class="cursor-p" >
                Receiving
            </div>
            <div class="pull-right right-search-box">
                <div class="search-block pull-right">
                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="name" placeholder="Search" ui-event="{ change : 'search($event)' }">
                    </md-input-container>
                </div>
            </div>
           <!--  <md-icon md-font-icon="icon-filter-variant" flex="55" class="text-right m-r-30 "></md-icon>  -->
        </div>
        <div class="ms-responsive-table-wrapper" ng-show="success==1">
            <div tasty-table bind-resource-callback="getResource" bind-init="init"  bind-filters="filterBy" bind-reload="reloadCallback" >
                 <table class="dataTable row-border hover">

                    <thead tasty-thead></thead>
                    <tbody >
                        <tr ng-repeat="purchase in rows">
                            <td class="">{{purchase.po_id}}</td>
                            <td class="">{{purchase.id}}</td>
                            <td class="">{{purchase.po_type}}</td>
                            <td class="">{{purchase.client_company}}</td>
                            <td class="">{{purchase.name_company}}</td>
                            <td class=""> {{purchase.date}}</td>
                            <td class="viewbtn"><a class="cursor-p" ui-sref="app.receiving.receivingInfo({id:purchase.po_id})">View</a></td> 
                            <!-- <td class="" ui-sref="app.purchaseOrder.companyPO({id:purchase.po_id})"> View</td> -->
                        </tr>
                    </tbody> 
                </table>
                <div tasty-pagination class="tasty-page"></div>
            </div>
        </div>
        <div  class="ms-responsive-table-wrapper" ng-show="success==0">
           <table class="simple">
                <thead>
                    <tr>
                        <th>No Records Found</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>