<div class="dprodct m-b-20 m-t-20">
    <md-content flex="100" class="m-l-20 m-r-15">
        <a class="link-back">BACK TO DISTRIBUTION</a>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Order Item Name">
                <md-content class=" m-t-20" >
                    <div class="h2 text-semibold pad-10-15">
                        Order &nbsp;Item &nbsp;Overview
                    </div>
                    <div class=" pad-8" layout="row">
                        <md-card-content flex="100" layout="column">
                            <div layout="row" layout-wrap>
                                <div class="trans-box">
                                    <div>Product Name</div>
                                    <span class="grey-color">{{vm.orderOverview.productName}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Vendor</div>
                                    <span class="grey-color">{{vm.orderOverview.vendor}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>SKU</div>
                                    <span class="grey-color"> {{vm.orderOverview.sku}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Description</div>
                                    <span class="grey-color">{{vm.orderOverview.description}}</span>
                                </div>       
                            </div>
                        </md-card-content>
                    </div>
                    <div layout="row" class="pad-10-15">
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">S</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.s">
                        </md-input-container>
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">M</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.m" >
                        </md-input-container>
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">L</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.l">
                        </md-input-container>
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">XL</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.xl">
                        </md-input-container>

                    </div>
                    <md-divider ></md-divider>
                    <div layout="column" class="pad-10-15" >
                        <div class="h2 text-semibold ">Location</div>
                        <p class="p-t-30 margin-0">{{vm.orderOverviewLocation.description}}</p>
                        <p class=" margin-0">{{vm.orderOverviewLocation.attn}}</p>
                        <p class=" margin-0">{{vm.orderOverviewLocation.location}}</p>
                        <p class=" margin-0">{{vm.orderOverviewLocation.phone}}</p>
                    </div>
                    <md-divider ></md-divider>
                    <div layout="column" class="pad-10-15">
                        <div class="h2 text-semibold ">Description Text</div>
                        <p class="p-t-30 margin-0">{{vm.orderOverviewDescription.description}}</p>
                        <p class=" margin-0">{{vm.orderOverviewDescription.attn}}</p>
                        <p class=" margin-0">{{vm.orderOverviewDescription.location}}</p>
                        <p class=" margin-0">{{vm.orderOverviewDescription.phone}}</p>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Locations">
                <md-content ng-if="!vm.locationSelect.location" class="trans m-t-20" layout-padding>
                    <div class="h2 text-semibold">Location Overview</div>
                    <md-input-container class="" layout="row">
                        <label>Select Location</label>
                        <md-select ng-model="vm.locationSelect.location" flex="25" >
                            <md-option  ng-repeat="options in vm.locationSelect.locationOption" value="{{options.option}}">
                                {{options.option}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-content>
                <md-content ng-if="vm.locationSelect.location" class="trans m-t-20" layout-padding>
                    <div class="h2 text-semibold ">Location Overview</div>
                    <div layout="column" class="pad-10-15" >
                        <p class="p-t-30 margin-0">{{vm.orderOverviewLocation.description}}</p>
                        <p class=" margin-0">{{vm.orderOverviewLocation.attn}}</p>
                        <p class=" margin-0">{{vm.orderOverviewLocation.location}}</p>
                        <p class=" margin-0">{{vm.orderOverviewLocation.phone}}</p>
                    </div>
                    <md-divider ></md-divider>
                    <div class=" pad-8" layout="row">
                        <md-card-content flex="100" layout="column">
                            <div class="h2 text-semibold p-b-20">Order Item</div>
                            <div layout="row" layout-wrap>

                                <div class="trans-box">
                                    <div>Product Name</div>
                                    <span class="grey-color">{{vm.orderOverview.productName}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Vendor</div>
                                    <span class="grey-color">{{vm.orderOverview.vendor}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>SKU</div>
                                    <span class="grey-color"> {{vm.orderOverview.sku}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Description</div>
                                    <span class="grey-color">{{vm.orderOverview.description}}</span>
                                </div>       
                            </div>
                        </md-card-content>
                    </div>
                    <div layout="row" class="pad-10-15">
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">S</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.s">
                        </md-input-container>
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">M</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.m" >
                        </md-input-container>
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">L</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.l">
                        </md-input-container>
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">XL</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.xl">
                        </md-input-container>
                    </div>
                    <md-divider ></md-divider>
                    <div class=" pad-8" layout="row">
                        <md-card-content flex="100" layout="column">
                            <div layout="row" layout-wrap>
                                <div class="trans-box">
                                    <div>Product Name</div>
                                    <span class="grey-color">{{vm.orderOverview.productName}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Vendor</div>
                                    <span class="grey-color">{{vm.orderOverview.vendor}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>SKU</div>
                                    <span class="grey-color"> {{vm.orderOverview.sku}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Description</div>
                                    <span class="grey-color">{{vm.orderOverview.description}}</span>
                                </div>       
                            </div>
                        </md-card-content>
                    </div>
                    <div layout="row" class="pad-10-15">
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">S</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.s">
                        </md-input-container>
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">M</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.m" >
                        </md-input-container>
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">L</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.l">
                        </md-input-container>
                        <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="6">
                            <label class="font-14">XL</label>
                            <input placeholder="" ng-model="vm.orderOverviewSize.xl">
                        </md-input-container>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
