
                    <md-content class="md-padding">
                        <div class="simple-table-container md-whiteframe-4dp">
                            <div class="table-title " layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=20>
                                    Locations
                                </div>
                            </div>
                            <div class="ms-responsive-table-wrapper">
                                <table class="simple"  ms-responsive-table=""  datatable="ng" dt-instance="vm.dtInstanceCB" dt-options="vm.dtOptions">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Street Address</span>
                                                </div>
                                            </th>                                            
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">City</span>
                                                </div>
                                            </th>                                            
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">State</span>
                                                </div>
                                            </th>                                            
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Zipcode</span>
                                                </div>
                                            </th>                                            
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Location Type</span>
                                                </div>
                                            </th>                                            
                                            <th></th>                                               
                                        </tr>
                                    </thead>
                                                                        <tbody>
                                        <tr ng-repeat="location in ::vm.locations">
                                            <td>{{location.streetAddress}}</td>
                                            <td>{{location.city}}</td>
                                            <td>{{location.State}}</td>
                                            <td>{{location.zipcode}}</td>
                                            <td>{{location.locationType}}</td>
                                            <td class="text-right"> 
                                    <md-menu>
                                        <md-button aria-label="Location Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button>
                                                    Location Options
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu></td>
                                        </tr>                                
                                        </tbody>
                                </table>
                                <table> 
                                    <tr>
                                        <td class="p-16"><a href="">ADD NEW</a></td>                                                
                                    </tr>
                                </table>
                            </div>
                        </div>   
                    </md-content>
                