
                <md-content>
                    <div class="content client-list-page stockkup-content-table-container">
                        <div class="simple-table-container stokkup-main-tableview">
                            <!-- <div class="table-title " layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=20>
                                    Orders
                                </div>
                            </div> -->
                            <div class="ms-responsive-table-wrapper">
                                <table class="dataTable">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Order ID</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Order Name</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Date Created</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Approval Status</span>
                                                </div>
                                            </th>
                                            <th></th>                                             
                                        </tr>
                                    </thead>                                  
                                    <tbody>
                                        <tr ng-repeat="order in Client_orders">
                                            <td title="Go to Order" class="cursor-p" ui-sref="app.order.order-info({id:order.id})">{{order.id}}</td>
                                            <td>{{order.name}}</td>
                                            <td>{{order.created_date}}</td>
                                            <td>{{order.value}}</td>
                                            <td class="text-right"> 
                                    <md-menu>
                                        <md-button aria-label="Orders Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item ui-sref="app.order.order-info({id:order.id})">
                                                <md-button>
                                                    Go to Order
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>
                               <!--  <table> 
                                    <tr>
                                        <td class="p-16"><a href="">ADD NEW</a></td>                                                
                                    </tr>
                                </table> -->
                            </div>
                        </div>
                    </div>
                </md-content>
                