
                    <md-content class="md-padding">
                        <div flex-xs flex-gt-xs="100" layout="column">
                            <md-card>
                                <md-card-header layout-align="space-between center">
                                    <md-card-header-text>
                                        <span class="md-title">Blind Approval Text</span>
                                    </md-card-header-text>
                                    <md-menu>
                                        <md-button aria-label="Blind Text Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>
                                        <md-menu-content width="4" ng-click="vm.editCompanyConatct($event,'EDIT','client','bindtext_form','client_id',company_info.client_id)">
                                            <md-menu-item>
                                                <md-button>
                                                    Edit Blind Text
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-card-header>
                                <md-card-content>
                                    <span>{{company_info.blind_text}}</span>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div layout="row" layout-wrap="nowrap" class="client-live-nation">
                            <div flex-xs flex-gt-xs="33" layout="column">
                                <md-card>
                                    <md-card-header layout-align="space-between center">
                                        <md-card-header-text>
                                            <span class="md-title">Color Company Logo</span>
                                        </md-card-header-text>
                                        <md-menu>
                                            <md-button aria-label="Color Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>
                                            <md-menu-content width="4">
                                                <md-menu-item ng-click="ImagePopup('color_logo','client','client',company_info.color_url_photo,'client_id',company_info.client_id,company_info.color_logo)">
                                                    <md-button>
                                                        Change Color Company Logo
                                                    </md-button>
                                                </md-menu-item>

                                                <md-menu-item ng-click="deleteImage('color_logo','client','client',company_info.color_logo,'client_id',company_info.client_id)">
                                                    <md-button>
                                                        Remove Color Company Logo
                                                    </md-button>
                                                </md-menu-item>

                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-header>
                                    <md-card-content>
                                        <div class="form-group  m-b panel panel-default"  >
                                              <img  ng-if="company_info.color_logo" ng-src="{{company_info.color_url_photo}}" alt=""  class="popup-image"/>
                                              <img ng-if="company_info.color_logo == ''" ng-src="{{NoImage}}" alt="No Image" class="popup-image" >
                                          </div>
                                    </md-card-content>
                                </md-card>
                            </div>
                            <div flex-xs flex-gt-xs="33" layout="column">
                                <md-card>
                                    <md-card-header layout-align="space-between center">
                                        <md-card-header-text>
                                            <span class="md-title">B/W Company Logo</span>
                                        </md-card-header-text>
                                        <md-menu>
                                            <md-button aria-label="Color Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>
                                            <md-menu-content width="4">
                                                <md-menu-item ng-click="ImagePopup('b_w_logo','client','client',company_info.bw_url_photo,'client_id',company_info.client_id,company_info.b_w_logo)">
                                                    <md-button>
                                                        Change B/W Company Logo
                                                    </md-button>
                                                </md-menu-item>

                                                <md-menu-item ng-click="deleteImage('b_w_logo','client','client',company_info.b_w_logo,'client_id',company_info.client_id)">
                                                    <md-button>
                                                        Remove B/W Company Logo
                                                    </md-button>
                                                </md-menu-item>

                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-header>
                                    <md-card-content>
                                        <div class="form-group  m-b panel panel-default"  >
                                              <img  ng-if="company_info.b_w_logo" ng-src="{{company_info.bw_url_photo}}" alt=""  class="popup-image"/>
                                              <img ng-if="company_info.b_w_logo == ''" ng-src="{{NoImage}}" alt="No Image" class="popup-image" >
                                          </div>
                                    </md-card-content>
                                </md-card>
                            </div>
                            <div flex-xs flex-gt-xs="33" layout="column">
                                <md-card>
                                    <md-card-header layout-align="space-between center">
                                        <md-card-header-text>
                                            <span class="md-title">Shipping Company Logo</span>
                                        </md-card-header-text>
                                        <md-menu>
                                            <md-button aria-label="Color Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>
                                            <md-menu-content width="4">
                                                <md-menu-item ng-click="ImagePopup('shipping_logo','client','client',company_info.shipping_url_photo,'client_id',company_info.client_id,company_info.shipping_logo)">
                                                    <md-button>
                                                        Change Shipping Company Logo
                                                    </md-button>
                                                </md-menu-item>

                                                <md-menu-item ng-click="deleteImage('shipping_logo','client','client',company_info.shipping_logo,'client_id',company_info.client_id)">
                                                    <md-button>
                                                        Remove Shipping Company Logo
                                                    </md-button>
                                                </md-menu-item>

                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-header>
                                    <md-card-content>
                                        <div class="form-group  m-b panel panel-default"  >
                                              <img  ng-if="company_info.shipping_logo" ng-src="{{company_info.shipping_url_photo}}" alt=""  class="popup-image"/>
                                              <img ng-if="company_info.shipping_logo == ''" ng-src="{{NoImage}}" alt="No Image" class="popup-image" >
                                          </div>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </div>
                    </md-content>
                