
                    <md-content class="md-padding">
                        <div class="simple-table-container md-whiteframe-4dp">
                            <div class="table-title " layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=20>
                                    Web Portal
                                </div>
                            </div>
                            <div class="ms-responsive-table-wrapper">
                                <table class="simple"  ms-responsive-table="">
                                    <thead>
                                        <tr>
                                            <th>Client Url</th>
                                            <th>
                                                <button  ng-click="vm.editCompanyInfo($event,'webportal_form')" class="md-raised md-button md-default-theme md-ink-ripple" type="button" aria-label="Button">
                                                    <span class="ng-scope">Edit</span>
                                                    <div class="md-ripple-container"></div>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>{{company_info.salesweb}}</td>
                                            <td><a href="{{company_info.salesweb}}" target="_blank">
                                                <button class="md-raised md-button md-default-theme md-ink-ripple" type="button" aria-label="Button">
                                                    <span class="ng-scope">Open</span>
                                                    <div class="md-ripple-container"></div>
                                                </button>
                                            </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </md-content>
                