
                    <md-content class="md-padding">                        
                        <div class="simple-table-container md-whiteframe-4dp">
                            <div class="table-title " layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=20>
                                    Documents
                                </div>
<!--                                 <div class="table-title-text" flex=70>
                                </div>
                                <div class="p-16" flex=10>
                                    <a href="">ADD NEW</a>
                                </div> -->
                            </div>
                            <div class="ms-responsive-table-wrapper">
                                <table class="simple">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">File Name</span>
                                                </div>
                                            </th> 
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Description</span>
                                                </div>
                                            </th> 
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Date Added</span>
                                                </div>
                                            </th> 
                                            <th></th>                                               
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="document in ::vm.documents">
                                            <td>{{document.fileName}}</td>
                                            <td>{{document.description}}</td>
                                            <td>{{document.dateAdded}}</td>
                                            <td class="text-right"> 
                                    <md-menu>
                                        <md-button aria-label="Document Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button>
                                                    Document Options
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    </td>
                                    </tr>      
                                     </tbody>
                                </table>
                                <table> 
                                    <tr>
                                        <td class="p-16"><a href="">ADD NEW</a></td>                                                
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </md-content>
                