
                <md-content>
                    <div class="content client-list-page stockkup-content-table-container">
                        <div class="simple-table-container stokkup-main-tableview">
                            <!-- <div class="table-title " layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=40>
                                    Distribution Addresses
                                </div>
                                <div class="table-title-text" flex=70>
                                </div>
                                <div class="p-16" flex=10>
                                    <a href="" ng-click="vm.editCompanyConatct($event,'add','client_distaddress','distribution_form','id',address.id)">ADD NEW</a>
                                </div>
                            </div> -->
                            <div class="ms-responsive-table-wrapper ">
                                <table class="dataTable">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Description</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Street Address</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">City</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">State</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Zip Code</span>
                                                </div>
                                            </th>
                                            <th></th>                                            
                                        </tr>
                                    </thead>                                    
                                    <tbody>
                                        <tr ng-repeat="address in Distribution_address">
                                            <td>{{address.description}}</td>
                                            <td>{{address.address}}</td>
                                            <td>{{address.city}}</td>
                                            <td>{{address.state_name}}</td>
                                            <td>{{address.zipcode}}</td>
                                            <td class="text-right"> 
                                                <md-menu>
                                                    <md-button aria-label="Orders Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                                    </md-button>
                                                    <md-menu-content width="4">
                                                        <md-menu-item   ng-click="openEditPopup('client/views/forms/distribution_form.html',address,$event,'client_distaddress')">
                                                            <md-button>
                                                                Edit
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item  ng-click="RemoveFields('client_distaddress','id',address.id)" >
                                                            <md-button>
                                                                Delete Address
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </td>
                                        </tr>                                             
                                    </tbody>
                                </table>
                                <div class="pull-right"><a class="stokkup-custom-btn1 stokkup-blue-btn text-white m-r-30 m-b-20 m-t-20 pull-right" href="javascript:;" ng-click="openInsertPopup('client/views/forms/distribution_form.html',$event,'client_distaddress')">ADD NEW</a></div>
                            </div>
                        </div>
                    </div>     
                </md-content>
                