
                    <md-content class="md-padding">
                        <div layout="row" layout-wrap="nowrap" class="client-live-nation">
                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card>
                                    <md-card-header layout-align="space-between center">
                                        <md-card-header-text>
                                            <span class="md-title">Logo</span>
                                        </md-card-header-text>
                                        <md-menu>
                                            <md-button aria-label="Logo Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>
                                            <md-menu-content width="4">
                                                <md-menu-item ng-click="ImagePopup('color_logo','client','client',company_info.color_url_photo,'client_id',company_info.client_id,company_info.color_logo)">
                                                    <md-button>
                                                        Change Logo
                                                    </md-button>
                                                </md-menu-item>

                                                <md-menu-item ng-click="deleteImage('color_logo','client','client',company_info.color_logo,'client_id',company_info.client_id)">
                                                    <md-button>
                                                        Remove Logo
                                                    </md-button>
                                                </md-menu-item>

                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-header>
                                    <md-card-content>
                                            
                                        <div class="form-group  m-b panel panel-default"  >
                                              <img   ng-src="{{company_info.color_url_photo}}" alt=""  class="popup-image"/>
                                              <!-- <img ng-if="company_info.color_logo == ''" ng-src="{{NoImage}}" alt="No Image" class="popup-image" > -->
                                          </div>
                                    </md-card-content>
                                </md-card>
                            </div>
                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card>
                                    <md-card-header layout-align="space-between center">
                                        <md-card-header-text>
                                            <span class="md-title">Company Contact</span>
                                        </md-card-header-text>
                                        <md-menu>
                                            <md-button aria-label="Company Contact Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>
                                            <md-menu-content width="4" ng-click="vm.editCompanyInfo($event,'company_form')">
                                                <md-menu-item>
                                                    <md-button>
                                                        Edit
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-header>
                                    <md-card-content>
                                        <div class="h5 text-semibold">Company</div>
                                        <span>{{company_info.client_company}}</span>
                                        <div class="h5 text-semibold">Address:</div>
                                        <span>{{company_info.client_address}}</span>
                                        <div class="h5 text-semibold">Company Phone:</div>
                                        <span>{{company_info.company_phone}}</span>
                                        <div class="h5 text-semibold">Email:</div>
                                        <span>{{company_info.billing_email}}</span>
                                        <div class="h5 text-semibold">Website:</div>
                                        <span>{{company_info.company_url}}</span>
                                    </md-card-content>
                                </md-card>
                            </div>
                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card>
                                    <md-card-header layout-align="space-between center">
                                        <md-card-header-text>
                                            <span class="md-title">Main Contact</span>
                                        </md-card-header-text>
                                        <md-menu ng-if="maincompcontact.contact_id != '0'">
                                            <md-button aria-label="Main Contact Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>
                                            <md-menu-content width="4"  ng-click="vm.editCompanyConatct($event,maincompcontact.contact_id,'client_contact','contact_form','id',maincompcontact.contact_id)">
                                                <md-menu-item>
                                                    <md-button>
                                                        Edit
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-header>
                                    <md-card-content>
                                        <div class="h5 text-semibold">Main Contact:</div>
                                        <span>{{maincompcontact.first_name}} {{maincompcontact.last_name}}</span>
                                        <div class="h5 text-semibold">Main Location:</div>
                                        <span>{{maincompcontact.location}}</span>                                        
                                        <div class="h5 text-semibold">Main Contact Email:</div>
                                        <span>{{maincompcontact.email}}</span>
                                        <div class="h5 text-semibold">Main Contact Phone:</div>
                                        <span>{{maincompcontact.phone}}</span>
                                    </md-card-content>
                                </md-card>
                            </div>
                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card>
                                    <md-card-header layout-align="space-between center">
                                        <md-card-header-text>
                                            <span class="md-title">Account Information</span>
                                        </md-card-header-text>
                                        <md-menu>
                                            <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>
                                            <md-menu-content width="4" ng-click="vm.editCompanyInfo($event,'company_form')">
                                                <md-menu-item>
                                                    <md-button>
                                                        Edit
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-header>
                                    <md-card-content>
                                        <div class="h5 text-semibold">Account Type:</div>
                                        <span>{{company_info.client_companytype}}</span>
                                        <div class="h5 text-semibold">Disposition:</div>
                                        <span>{{company_info.client_desposition}}</span>
                                        <div class="h5 text-semibold">Account Manager:</div>
                                        <span>{{company_info.account_manager_name}}</span>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </div>
                    </md-content>
                