
                    <md-content class="md-padding">
                        <div layout="row" layout-wrap="nowrap" class="client-live-nation">
                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card>
                                    <md-card-header layout-align="space-between center">
                                        <md-card-header-text>
                                            <span class="md-title">Tax ID</span>
                                        </md-card-header-text>
                                        <md-menu>
                                            <md-button aria-label="ID Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>
                                            <md-menu-content width="4"  ng-click="vm.editCompanyInfo($event,'tax_form')">
                                                <md-menu-item>
                                                    <md-button>
                                                        Edit
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-header>
                                    <md-card-content>
                                        <span><span>{{client_tax.tax_id}}</span></span>
                                    </md-card-content>
                                </md-card>
                            </div>
                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card>
                                    <md-card-header layout-align="space-between center">
                                        <md-card-header-text>
                                            <span class="md-title">Tax Rate Percentage</span>
                                        </md-card-header-text>
                                        <md-menu>
                                            <md-button aria-label="Rate Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>
                                            <md-menu-content width="4" ng-click="vm.editCompanyInfo($event,'tax_form')">
                                                <md-menu-item>
                                                    <md-button>
                                                        Edit
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-header>
                                    <md-card-content>
                                        <span>{{client_tax.tax_rate}} %</span>
                                    </md-card-content>
                                </md-card>
                            </div>
                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card>
                                    <md-card-header layout-align="space-between center">
                                        <md-card-header-text>
                                            <span class="md-title">Tax Exempt</span>
                                        </md-card-header-text>
                                        <md-menu>
                                            <md-button aria-label="Tax Exempt Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>
                                            <md-menu-content width="4" ng-click="vm.editCompanyInfo($event,'tax_form')">
                                                <md-menu-item>
                                                    <md-button>
                                                        Edit
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-header>
                                    <md-card-content>
                                        <span>{{client_tax.tax_exempt_show}}</span>                                 
                                    </md-card-content>
                                </md-card>
                            </div>
                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card>
                                    <md-card-header layout-align="space-between center">
                                        <md-card-header-text>
                                            <span class="md-title">Tax ID Document</span>
                                        </md-card-header-text>
                                        <md-menu>
                                            <md-button aria-label="Document Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                            </md-button>
                                            <md-menu-content width="4" ng-click="EditTaxDoc()">
                                                <md-menu-item>
                                                    <md-button>
                                                        Edit
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-header>
                                    <md-card-content>
                                        <span><a ng-if="client_tax.tax_document_url != ''" href="{{client_tax.tax_document_url}}" target="_blank"> OPEN </a></span>
                                        <span  ng-if="client_tax.tax_document_url==''"> NO DOCUMENT </span>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </div>
                    </md-content>
                