
                    <md-content class="md-padding">
                        <div class="simple-table-container md-whiteframe-4dp">
                            <div class="table-title " layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=20>
                                    Locations
                                </div>
                                <!-- <div class="table-title-text" flex=70>
                                </div>
                                <div class="p-16" flex=10>
                                <a href="" title="Add new Location" ng-click="vm.editCompanyConatct($event,'add','client_address','location_form','id',location.id)">ADD NEW</a>
                                </div> -->
                            </div>
                            <div class="ms-responsive-table-wrapper">
                                <table class="simple">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Street Address</span>
                                                </div>
                                            </th>                                            
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">City</span>
                                                </div>
                                            </th>                                            
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">State</span>
                                                </div>
                                            </th>                                            
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Zipcode</span>
                                                </div>
                                            </th>                                            
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Location Type</span>
                                                </div>
                                            </th>  
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Main Location</span>
                                                </div>
                                            </th>  
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Shipping Location</span>
                                                </div>
                                            </th>  
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Billing Location</span>
                                                </div>
                                            </th>                                            
                                            <th></th>                                               
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="location in addressAll">
                                            <td>{{location.address}}</td>
                                            <td>{{location.city}}</td>
                                            <td>{{location.state_name}}</td>
                                            <td>{{location.postal_code}}</td>
                                            <td>{{location.address_type}}</td>

                                            <td ng-if="location.address_main=='1'"><i class="icon icon-check s40"></i></td>
                                            <td ng-if="location.address_main=='0'"><i class="icon icon-flickr-before s40"></i></td>

                                            <td ng-if="location.address_shipping=='1'"><i class="icon icon-check s40"></i></td>
                                            <td ng-if="location.address_shipping=='0'"><i class="icon icon-flickr-before s40"></i></td>

                                            <td ng-if="location.address_billing=='1'"><i class="icon icon-check s40"></i></td>
                                            <td ng-if="location.address_billing=='0'"><i class="icon icon-flickr-before s40"></i></td>

                                            
                                            <td class="text-right"> 
                                                <md-menu>
                                                    <md-button aria-label="Location Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                                    </md-button>
                                                    <md-menu-content width="4">
                                                        <md-menu-item  ng-click="openEditPopup('client/views/forms/location_form.html',location,$event,'client_address')">
                                                            <md-button>
                                                                Edit Location
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item ng-click="UpdateTableField('address_main',0,'client_address','client_id',location.client_id,'address_main',location.id,'id',location.id)">
                                                            <md-button>
                                                                Set as main Location
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item ng-click="UpdateTableField('address_shipping',0,'client_address','client_id',location.client_id,'address_shipping',location.id)">
                                                            <md-button>
                                                                Set as Shipping Location
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item ng-click="UpdateTableField('address_billing',0,'client_address','client_id',location.client_id,'address_billing',location.id)">
                                                            <md-button>
                                                                Set as Billing Location
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item  ng-click="RemoveLocationFields('client_address','id',location.id,location.address_main,location.address_shipping,location.address_billing)">
                                                            <md-button>
                                                                Delete Location
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </td>
                                        </tr>                                
                                    </tbody>
                                </table>
                                <table> 
                                    <tr>
                                        <td class="p-16"><a href="javascript:;" ng-click="openInsertPopup('client/views/forms/location_form.html',$event,'client_address')">ADD NEW</a></td>                                                
                                    </tr>
                                </table>
                            </div>
                        </div>   
                    </md-content>
                