
                    <md-content class="md-padding">
                        <div class="simple-table-container md-whiteframe-4dp">
                            <div class="table-title " layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=20>
                                    Web Portal
                                </div>
                            </div>
                            <div class="ms-responsive-table-wrapper">
                                <table class="simple"  ms-responsive-table="">
                                    <thead>
                                        <tr>
                                            <th>Client Url</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>{{vm.webPortal.clientUrl}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </md-content>
                