
                    <md-content>
                        <div class="content client-list-page stockkup-content-table-container">
                        <div class="simple-table-container stokkup-main-tableview">
                            <!-- <div class="table-title " layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=20>
                                    Contacts
                                </div>
                                 <div class="table-title-text" flex=70>
                                </div>
                                <div class="p-16" flex=10>
                                <a title="add new contact" href="javascript:;" ng-click="vm.editCompanyConatct($event,'add','client_contact','contact_form','id',contact.id)">ADD NEW</a>
                                </div> 
                            </div> -->
                            <div class="ms-responsive-table-wrapper ">
                                <table class="dataTable">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">First Name</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Last Name</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Location</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Phone</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Email</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header text-center">
                                                    <span class="column-title">Main Contact</span>
                                                </div>
                                            </th> 
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key,contact) in allContacts">
                                            <td>{{contact.first_name}}</td>
                                            <td>{{contact.last_name}}</td>
                                            <td>{{contact.location}}</td>
                                            <td>{{contact.phone}}</td>
                                            <td>{{contact.email}}</td>
                                            <td class="text-center" ng-if="contact.contact_main=='1'"><i class="icon icon-check s40"></i></td>
                                            <td class="text-center" ng-if="contact.contact_main=='0'"><i class="icon icon-flickr-before s40"></i></td>
                                            <td class="text-left"> 
                                    <md-menu>
                                        <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>
                                        <md-menu-content width="2">
                                            <md-menu-item  ng-click="openEditPopup('client/views/forms/contact_form.html',contact,$event,'client_contact')">
                                                <md-button>
                                                    Edit Contact
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item  ng-click="RemoveFields('client_contact','id',contact.id)" >
                                                <md-button>
                                                    Delete Contact
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item ng-click="UpdateTableField('contact_main',0,'client_contact','client_id',contact.client_id,'contact_main',contact.id)">
                                                <md-button>
                                                    Set As Main Contact
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    </td>
                                    </tr>                                   
                                    </tbody>
                                </table>
                                
                                        <!-- <td class="p-16"><a href="javascript:;" ng-click="vm.editCompanyConatct($event,'add','client_contact','contact_form','id',contact.id)">ADD NEW</a></td> -->

                                        <div class="pull-right"><a href="javascript:;" ng-click="openInsertPopup('client/views/forms/contact_form.html',$event,'client_contact')" class="stokkup-custom-btn1 stokkup-blue-btn text-white m-r-30 m-b-20 m-t-20 pull-right">ADD NEW</a>
                                        </div>    
                            </div>
                        </div>
                        </div>
                    </md-content>
                