
                    <md-content class="md-padding">
                        <div class="simple-table-container md-whiteframe-4dp">
                            <div class="table-title " layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=20>
                                    Notes
                                </div>
                            </div>
                            <div class="ms-responsive-table-wrapper">
                                <table class="simple"  ms-responsive-table="" datatable="ng" dt-instance="vm.dtInstanceCB" dt-options="vm.dtOptions">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Created By</span>
                                                </div>
                                            </th>  
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Note</span>
                                                </div>
                                            </th>  
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Date Added</span>
                                                </div>
                                            </th>  
                                            <th></th>                                               
                                        </tr>
                                    </thead>                                   
                                    <tbody>
                                        <tr ng-repeat="note in allclientnotes">
                                            <td>{{note.user_name}}</td>
                                            <td>{{note.client_notes}}</td>
                                            <td>{{note.created_date}}</td>
                                            <td class="text-right">
                                    <md-menu>
                                        <md-button aria-label="Notes Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>
                                        <md-menu-content width="4" ng-click="vm.editCompanyConatct($event,'edit','client_notes','notes_form','note_id',note.note_id,'notes')">
                                            <md-menu-item>
                                                <md-button>
                                                    Edit Notes
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    </td>
                                    </tr>
                                     </tbody>
                                </table>
                                <table> 
                                    <tr>
                                        <td class="p-16"><a href=""  ng-click="vm.editCompanyConatct($event,'add','client_notes','notes_form','note_id',note.note_id,'notes')">ADD NEW</a></td>                                                
                                    </tr>
                                </table>
                            </div>
                        </div> 
                    </md-content>
                