<div class="content order-list-page puchase-order-page">
    <div class="simple-table-container md-whiteframe-4dp">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20 class="cursor-p" >Invoices</div>
            <div class="search-block" flex=25>
                <md-input-container class="md-block" flex-gt-sm>
                    <label> <md-icon md-font-icon="icon-magnify"></md-icon></label>
                    <input ng-model="name" placeholder="Search" ui-event="{ change : 'search($event)' }">
                </md-input-container>
            </div>
        </div>
        <div class="ms-responsive-table-wrapper" ng-show="success==1">
            <div tasty-table bind-resource-callback="getResource" bind-init="init" bind-filters="filterBy" bind-reload="reloadCallback" >
                <table class="simple hover simple-tbl1">
                    <thead tasty-thead></thead>
                    <tbody> 
                        <tr ng-repeat="inv in rows">
                            <td class="cursor-p" ui-sref="app.invoices.singleInvoice({id:inv.id})">{{inv.order_id}}</td>
                            <td>{{inv.created_date}}</td>
                            <td>${{inv.grand_total}}</td>
                            <td>{{inv.in_hands_by}}</td>
                            <td ng-if="inv.qb_id == '0'"><a href="#" class="icon font-18"></a></td>
                            <td ng-if="inv.qb_id > '0'"><a target="_BLANK"href="https://sandbox.qbo.intuit.com/app/invoice?txnId={{inv.qb_id}}" class="icon  icon-rotate-3d font-18"></a></td>
                            <td class="cursor-p" ui-sref="app.invoices.singleInvoice({id:inv.id})"><a>Pay</a></td>
                            <td>
                                <md-menu>
                                    <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4"> 
                                        <md-menu-item>
                                            <md-button ng-click="print_pdf(inv.id)">
                                                Download PDF
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>                    
                    </tbody>
                </table>
                <div tasty-pagination class="tasty-page"></div>
            </div>
        </div>
        <div  class="ms-responsive-table-wrapper" ng-show="success==0">
           <table class="simple">
                <thead>
                    <tr>
                        <th>No Records Found</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
<!--     <div class="pd15-LR">
        <md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row pd20-R">
            <button type="button" class="md-accent md-raised md-button md-ink-ripple" aria-label="Download CSV"><span class="ng-scope">Download CSV</span></button>
        </md-dialog-actions>
    </div> -->
</div>