<div class="order-info-page m-r-15 m-l-20 m-b-20 company-po-page">
    <div class="header "  layout="column" >
        <div class="header-content realtive-positon" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <a class="link-back" ui-sref="app.invoices">BACK TO INVOICE</a>
        </div>
    </div>
    <div layout="row" class="pd10-R">
        <div flex="75"><div class="title mrg10-TB"><span class="h2 text-semibold">Demo INV-123897612</span></div></div>
    </div>
    <div class="simple-table-container md-whiteframe-4dp m-b-20 m-r-15 pd15" >
        
    </div>
    <md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row">
        <button type="button" class="md-primary md-hue-1 md-accent md-button md-ink-ripple" ng-click="cancel()" aria-label="Cancel"><span class="ng-scope">Cancel</span>
        <div class="md-ripple-container" style=""></div>
        </button>
        <button type="button" class="md-accent md-raised md-button md-ink-ripple" aria-label="Generate Art Approval Form" ng-click="vm.generateArtForm()"><span class="ng-scope">Generate Art Approval Form</span></button>
    </md-dialog-actions>
</div>