<div class="order-info-page m-r-15 m-l-20 m-b-20 company-po-page">
    <div class="header "  layout="column" >
        <div class="header-content realtive-positon" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <a class="link-back" ui-sref="app.invoices">BACK TO INVOICE</a>
        </div>
    </div>
    <div layout="row" class="pd10-R">
        <div flex="75"><div class="title mrg10-TB"><span class="h2 text-semibold">INV-{{allData.order_data[0].id}}</span></div></div>
    </div>
    <!-- Tejas -->
    <div class="simple-table-container md-whiteframe-4dp m-b-20 m-r-15 pd15 mrg15-T" >
        <div layout="row">
            <div layout="column" flex="40">
                <img src="{{allData.company_data[0].photo}}" title="Company Logo" alt="Company Logo" height="150" width="150" />
            </div>
            <div layout="column" flex="40">
                <div class="font-14 mrg5-B text-bold text-bold-center">{{allData.company_data[0].name}}</div>
                <div class="font-14 text-bold-center">Address</div>
                <div class="gray-text mrg5-B text-bold-center">{{allData.company_data[0].prime_address1}}<br>{{allData.company_data[0].city}}, {{allData.company_data[0].state}} {{allData.company_data[0].zip}}<br><span ng-if="allData.company_data[0].phone != ''">P: {{allData.company_data[0].phone}}</span></div>
                <div class="font-14 text-bold-center">Website</div>
                <div class="text-center"><a href="http://www.culturestudio.net" target="_blank" title="" class="gray-text">{{allData.company_data[0].url}}</a></div>
            </div>
            <div layout="column" flex="40">
                <div class="font-14 mrg5-B text-bold-right">Order Acknowledgement # {{allData.order_data[0].id}}</div>
                <div class="font-14 mrg5-B text-bold-right">Created on: {{allData.invoice_data[0].created_date}}</div>
                <div class="font-14 mrg5-B text-bold-right">Due Date: {{allData.invoice_data[0].payment_due_date}}</div>
                <div class="font-14 mrg5-B text-bold-right">Job Name: {{allData.order_data[0].name}}</div>
                <md-input-container class="margin-0 p-l-0" layout="row">
                    <label  class="font-14 p-l-0">Order Status</label>
                    <md-select ng-model="allData.order_data[0].approval_id" flex="100"  class="select-width font-16 font-weight" ng-change="updateOrderStatus('approval_id',allData.order_data[0].approval_id,allData.order_data[0].id)" >
                        <md-option ng-selected="allData.order_data[0].approval_id==misc_approval.id" slug="{{misc_approval.slug}}" ng-repeat="misc_approval in miscData.approval" value={{misc_approval.id}}>{{misc_approval.value}}</md-option>
                    </md-select>
                </md-input-container>
            </div>            
        </div>

		<div class="ms-responsive-table-wrapper">
			<table id="billtoShipto" class="mrg20-T" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<table class="border-col">
							<tr>
								<td class="no-border width-50 pad-0"><img src="assets/images/etc/bill.png" alt="BILL TO" title="BILL TO"></td>
								<td class="no-border pad10-T v-TOP">
									<label class="font-14 text-bold">{{allData.client_data[0].first_name}} {{allData.client_data[0].last_name}}</label><br>
									<label class="font-14" ng-repeat="address in allData.addresses.result" ng-if="address.address_billing == '1'">{{address.address}}<br>{{address.street}}<br>{{address.city}}<br>{{address.state_name}}<br>{{address.postal_code}}</label>
								</td>
							</tr>
						</table>
					</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<table class="border-col">
							<tr>
								<td class="no-border width-50 pad-0"><img src="assets/images/etc/ship.png" alt="SHIP TO" title="SHIP TO"></td>
								<td class="no-border pad10-T v-TOP">
									<label class="font-14 text-bold">{{allData.client_data[0].first_name}} {{allData.client_data[0].last_name}}</label><br>
                                    <label class="font-14" ng-repeat="address in allData.addresses.result" ng-if="address.address_shipping == '1'">{{address.address}}<br>{{address.street}}<br>{{address.city}}<br>{{address.state_name}}<br>{{address.postal_code}}</label>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
        <h2 class="mrg20-T">Shipping Detail</h2>
        <div class="ms-responsive-table-wrapper">
            <table class="simple hover simple-tbl1">
                <thead>
                    <tr>
                        <th class="secondary-text" width="15%">Order ID</th>
                        <th class="secondary-text" width="20%">Estimated Shipping Date</th>
                        <th class="secondary-text text-center" width="15%">Payment Status</th>
                        <th class="secondary-text text-center" width="15%">Shipment Method</th>
                        <th class="secondary-text text-center" width="20%">In Hands By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="shipping in allData.shipping_detail">
                        <td>{{shippping.order_id}}</td>
                        <td>{{shipping.shipping_by}}</td>
                        <td class="text-center">Pending</td>
                        <td class="text-center" ng-if="shipping.shipping_type_id == 0"></td>
                        <td class="text-center" ng-if="shipping.shipping_type_id == 1">UPS</td>
                        <td class="text-center" ng-if="shipping.shipping_type_id == 2">FEDEX</td>
                        <td ng-if="shipping.in_hands_by == '0000-00-00'" class="text-center"></td>
                        <td ng-if="shipping.in_hands_by != '0000-00-00'" class="text-center">{{shipping.in_hands_by}}</td>
                    </tr>                    
                </tbody>
            </table>
        </div>
        <div ng-repeat="design in allData.all_design">
        <!-- design1 -->
            <h2 class="mrg40-T">Design: {{design.design_name}}</h2>
            <div class="ms-responsive-table-wrapper">
                <table class="simple hover simple-tbl1">
                    <thead>
                        <tr>
                            <th class="secondary-text text-bold" width="25%">Position</th>
                            <th class="secondary-text text-bold" width="15%">Type</th>
                            <th class="secondary-text text-center text-bold" width="25%">Qty</th>
                            <th class="secondary-text text-center text-bold" width="15%">Price</th>
                            <th class="secondary-text text-center text-bold" width="20%">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="position in design.positions.order_design_position">
                            <td height="72">{{position.position_name}}</td>
                            <td>{{position.placement_type_name}}</td>
                            <td class="text-center">{{position.qnty}}</td>
                            <td class="text-center">{{position.price_id}}</td>
                            <td class="text-center" ng-if="position.position_image != ''"><img src="{{position.position_image}}" title="Position Image" alt="Position Image" height="40" width="40" /></td>
                            <td class="text-center" ng-if="position.position_image == ''"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="ms-responsive-table-wrapper">
                <table class="simple hover simple-tbl1">
                    <thead>
                        <tr>
                            <th class="secondary-text text-bold" width="40%">Garment/Item Description</th>
                            <th class="secondary-text text-center text-bold" width="10%">Color</th>
                            <th class="secondary-text text-center text-bold" width="20%">Size/Quantities</th>
                            <th class="secondary-text text-center text-bold" width="10%">Qty</th>
                            <th class="secondary-text text-center text-bold" width="10%">Unit Price</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr ng-repeat="product in design.products">
                            <td>{{product.product_name}}</td>
                            <td class="text-center">{{product.color_name}}</td>
                            <td class="text-center"><label ng-repeat="size in product.sizeData">{{size.size}}:({{size.qnty}})&nbsp;</label></td>
                            <td class="text-center">{{product.total_qnty}}</td>
                            <td class="text-center">{{product.total_price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div layout="row">
                <div layout="column" flex="50">
                    <md-card class="mrg10">
                        <md-card-content class="recap">
                            <div ng-repeat="position in design.positions.order_design_position">
                                <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                                    <div class="ng-binding"><b>Position : </b></div>
                                    <span class="ng-binding">{{position.position_name}}</span>
                                </div>
                                <div ng-if="position.discharge_qnty > 0" layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                                    <div class="ng-binding">Discharge Ink @ </div>
                                    <span class="ng-binding">{{allData.price_grid_data[0].discharge}}</span>
                                </div>

                                <div ng-if="position.foil_qnty > 0"  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                                    <div class="ng-binding">Foil @ </div>
                                    <span class="ng-binding">{{allData.price_grid_data[0].foil}}</span>
                                </div>

                                <div ng-if="position.ink_charge_qnty > 0" layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                                    <div class="ng-binding">Ink Charge @ </div>
                                    <span class="ng-binding">{{allData.price_grid_data[0].ink_changes}}</span>
                                </div>

                                <div ng-if="position.number_on_dark_qnty > 0" layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                                    <div class="ng-binding"># on Dark @ </div>
                                    <span class="ng-binding">{{allData.price_grid_data[0].number_on_dark}}</span>
                                </div>

                                <div ng-if="position.number_on_light_qnty > 0" layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                                    <div class="ng-binding"># on Light @ </div>
                                    <span class="ng-binding">{{allData.price_grid_data[0].number_on_light}}</span>
                                </div>
                            </div>
                            <div>&nbsp;</div>
                        </md-card-content>
                    </md-card>
                </div>
                <div layout="column" flex="50">
                    <md-card class="mrg10">
                        <md-card-content class="recap">
                            <div ng-repeat="product in design.products">
                                <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                                    <div class="ng-binding"><b>Product : </b></div>
                                    <span class="ng-binding">{{product.product_name}}</span>
                                </div>
                                <div ng-repeat="oitem in product.order_items" ng-if="oitem.selected > 0" layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                                    <div class="ng-binding">{{oitem.item}}</div>
                                    <span class="ng-binding">${{oitem.charge}}</span>
                                </div>
                            </div>
                            <div>&nbsp;</div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex="75" class="md-whiteframe-4dp mrg15-R h100">
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom class="client-profile-tab">
                        <!-----------------Payment History Tab-------------------->
                        <md-tab label="Payment History">
                            <div class="ms-responsive-table-wrapper">
                                <table class="simple hover simple-tbl1">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text" width="30%">Date</th>
                                            <th class="secondary-text" width="30%">Amount Paid</th>
                                            <th class="secondary-text" width="30%">Method Paid</th>
                                            <th class="secondary-text" width="10%">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        <tr ng-repeat="pmntHis in siData" class="cursor-p">
                                            <td>{{ pmntHis.payment_date  | date:"M/d/yyyy" }}</td>
                                            <td>${{ pmntHis.payment_amount }}</td>
                                            <td>{{ pmntHis.payment_method }}</td>
                                            <td class="text-center"><a href="#" ng-click="deleteHistory(pmntHis.payment_id)" class="icon icon-cancel font-19 f-red"></a></td>
                                        </tr>                    
                                    </tbody>
                                </table>
                            </div>                    
                        </md-tab>
                        <!-----------------Pay By Credit Card-------------------->
                        <md-tab label="Pay By Credit Card">
                            <div class="ms-responsive-table-wrapper">
                               <div class="pd15">
                                   <div layout="row">
                                       <div layout="column" flex="45">
                                            <div class="title" layout-padding><span class="basicInfoStyle">Credit Card Information</span></div>
                                            <div layout="row" layout-wrap="nowrap" layout-align="space-between start">
                                                <md-input-container flex="50">
                                                     <input placeholder="First Name On Card" name="First Name On Card" ng-model="company.creditFname">
                                                </md-input-container>
                                                <md-input-container flex="50">
                                                     <input placeholder="Last Name On Card" name="Last Name On Card" ng-model="company.creditLname">
                                                </md-input-container>
                                                <md-input-container flex="100">
                                                    <input placeholder="Credit Card Number" only-number="20" name="Credit Card Number" ng-model="company.creditCard">
                                                </md-input-container>
                                                <md-input-container flex="100">
                                                    <input placeholder="Amount" name="Amount" only-number="20" ng-model="company.amount">
                                                </md-input-container>
                                            </div>
                                            <div layout="row" layout-wrap="nowrap" layout-align="space-between start">
                                                <md-input-container flex="30">
                                                    <md-select ng-model="company.expMonth" placeholder="MM">
                                                        <md-option value="0">MM</md-option>
                                                        <md-option value="01">JAN</md-option>
                                                        <md-option value="02">FEB</md-option>
                                                        <md-option value="03">MAR</md-option>
                                                        <md-option value="04">APR</md-option>
                                                        <md-option value="05">MAY</md-option>
                                                        <md-option value="06">JUN</md-option>
                                                        <md-option value="07">JUL</md-option>
                                                        <md-option value="08">AUG</md-option>
                                                        <md-option value="09">SEP</md-option>
                                                        <md-option value="10">OCT</md-option>
                                                        <md-option value="11">NOV</md-option>
                                                        <md-option value="12">DEC</md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container flex=30 class="m-b-20">
                                                   <md-select ng-model="company.expYear" placeholder="YY">
                                                        <md-option value="0">YY</md-option>
                                                        <md-option value="16">16</md-option>
                                                        <md-option value="17">17</md-option>
                                                        <md-option value="18">18</md-option>
                                                        <md-option value="19">19</md-option>
                                                        <md-option value="20">20</md-option>
                                                        <md-option value="21">21</md-option>
                                                        <md-option value="22">22</md-option>
                                                        <md-option value="23">23</md-option>
                                                        <md-option value="24">24</md-option>
                                                        <md-option value="25">25</md-option>
                                                        <md-option value="26">26</md-option>
                                                        <md-option value="27">27</md-option>
                                                        <md-option value="28">28</md-option>
                                                        <md-option value="29">29</md-option>
                                                        <md-option value="30">30</md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container flex="30">
                                                    <input placeholder="CVV" name="CVV" ng-model="company.cvv">
                                                </md-input-container>
                                            </div>
                                            <md-checkbox  aria-label="Checkbox 1" ng-model="company.storeCard">Store Credit Card for Future Payments</md-checkbox>
                                       </div>
                                       <div flex="10">&nbsp;</div>
                                       <div layout="column" flex="45">
                                            <div class="title" layout-padding><span class="basicInfoStyle">Billing Address</span></div>
                                            <div layout="row" layout-wrap="nowrap" layout-align="space-between start">
                                                <md-input-container flex="75">
                                                    <input placeholder="Street Address" name="Street Address" ng-model="company.street">
                                                </md-input-container>
                                                <md-input-container flex="25">
                                                    <input placeholder="Suite" name="Suite" ng-model="company.suite">
                                                </md-input-container>
                                            </div>
                                            <div layout="row" layout-wrap="nowrap" layout-align="space-between start">
                                                <md-input-container flex="40">
                                                    <input placeholder="City" name="City" ng-model="company.city">
                                                </md-input-container>
                                                <md-input-container flex="30">
                                                    <md-select placeholder="State" name="State" aria-label="State" ng-model="company.state">
                                                        <md-option value="">
                                                            Select State
                                                        </md-option>
                                                        <md-option ng-repeat="state in states_all" value="{{state.code}}" >
                                                            {{state.name}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container flex="30">
                                                    <input placeholder="Zip" name="Zip" only-number="10" ng-model="company.zip">
                                                </md-input-container>
                                            </div>
                                            <div layout="row" layout-wrap="end center" layout-align="space-between start">&nbsp;</div>
                                            <md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row mrg75-T">
                                                <button type="button" class="md-primary md-hue-1 md-accent md-button md-ink-ripple" aria-label="Cancel"><span class="ng-scope">Cancel</span>
                                                </button>
                                                <button type="button" class="md-accent md-raised md-button md-ink-ripple" aria-label="Pay by Credit Card via Authorized.net" ng-click="pay_creditCard(company)"><span class="ng-scope">Pay</span></button>
                                            </md-dialog-actions>
                                       </div>
                                   </div>
                               </div>
                            </div> 
                        </md-tab>
                        <!-----------------Pay By Cash-------------------->
                        <md-tab label="Pay By Cash">
                            <div class="ms-responsive-table-wrapper">
                              <div class="pd15">
                                   <div layout="row">
                                       <div layout="column" flex="45">
                                            <div class="title" layout-padding><span class="basicInfoStyle">Amount Paid</span></div>
                                            <div layout="row" layout-wrap="nowrap" layout-align="space-between start">
                                                <md-input-container flex="30">
                                                     <input placeholder="$" name="$" ng-model="pay.cashAmount">
                                                </md-input-container>
                                            </div>
                                            <md-dialog-actions layout="row" class="layout-row">
                                                <button type="button" class="md-primary md-hue-1 md-accent md-button md-ink-ripple" aria-label="Cancel"><span class="ng-scope">Cancel</span>
                                                </button>
                                                <button type="button" class="md-accent md-raised md-button md-ink-ripple" aria-label="Pay Cash" ng-click="pay_cash(pay)"><span class="ng-scope">Pay</span></button>
                                            </md-dialog-actions>
                                       </div>
                                   </div>
                               </div>
                            </div> 
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
        <div class="m-r-15 side-bar h100" flex="25" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text class="text-left">Order Recap</md-card-title-text>
                </md-card-title>
                <md-card-content class="recap pd0">
                   <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Screens</div>
                        <span class="ng-binding">${{allData.order_data[0].screen_charge}}</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Press Setup</div>
                        <span class="ng-binding">${{allData.order_data[0].press_setup_charge}}</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Digitize</div>
                        <span class="ng-binding">${{allData.order_data[0].digitize_charge}}</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Art Work</div>
                        <span class="ng-binding">${{allData.order_data[0].artwork_charge}}</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Seperations</div>
                        <span class="ng-binding">${{allData.order_data[0].separations_charge}}</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Rush</div>
                        <span class="ng-binding">${{allData.order_data[0].rush_charge}}</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Distribution</div>
                        <span class="ng-binding">${{allData.order_data[0].distribution_charge}}</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Shipping</div>
                        <span class="ng-binding">${{allData.order_data[0].shipping_charge}}</span>
                    </div>
                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Discount</div>
                        <span class="ng-binding">${{allData.order_data[0].discount}}</span>
                    </div>

                    <!--<div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Lines Total</div>
                        <span class="ng-binding">${{allData.order_data[0].order_line_total}}</span>
                    </div>-->

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Order Total</div>
                        <span class="ng-binding">${{allData.order_data[0].order_total}}</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Tax Rate</div>
                        <span class="ng-binding">{{allData.order_data[0].tax_rate}}(%)</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Tax</div>
                        <span class="ng-binding">${{allData.order_data[0].tax}}</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Grand Total</div>
                        <span class="ng-binding">${{allData.order_data[0].grand_total}}</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Total Payments</div>
                        <span class="ng-binding">${{allData.order_data[0].total_payments}}</span>
                    </div>

                    <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                        <div class="ng-binding">Balance Due</div>
                        <span class="ng-binding">${{allData.order_data[0].balance_due}}</span>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row mrg15-T">
        <button type="button" class="bg-grey md-accent md-raised md-button md-ink-ripple" aria-label="Link to Pay" ng-click="vm.linktopay()"><span class="ng-scope">Link to Pay</span></button>
        <button type="button" class="bg-grey md-accent md-raised md-button md-ink-ripple" aria-label="Link to Pay" ng-click="print_pdf()"><span class="ng-scope">Download</span></button>
    </md-dialog-actions>
</div>