<div class="content stockkup-content-table-container">
    <div class="simple-table-container stokkup-main-tableview">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20>
                S&amp;S Orders
            </div>
            <div class="pull-right right-search-box">
                <div class="client-modal-title pull-right" ng-if="role_slug=='CA' || role_slug=='AM' || role_slug=='FM' || role_slug=='PU'">
                    <span class="cursor-p stokkup-btn-style1" ng-click="vm.openClientDialog($event)">ADD NEW CLIENT</span>
                </div>
                <div class="search-block pull-right">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class="top-srch-label">Search Clients...</label>
                        <input type="text" ng-model="name" ui-event="{change : 'search($event)'}" />
                    </md-input-container>
                </div> 
            </div>
        </div>
        
        <div class=" ms-responsive-table-wrapper">
            <div tasty-table bind-resource-callback="getResource" bind-init="init" bind-filters="filterBy" bind-reload="reloadCallback">
                <table class="dataTable row-border" >
                    <!-- <thead>

                        <tr>
                            <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Order ID</span>
                                </div>
                            </th>
                             <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Created Date</span>
                                </div>
                            </th>
                            <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Order Total</span>
                                </div>
                            </th>
                             <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Name</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title"></span>
                                </div>
                            </th>
                        </tr>
                    </thead> -->
                    <thead tasty-thead></thead>
                   <tbody >
                        <tr ng-repeat="order in rows">
                            <td class="">{{order.order_id}}</td>
                            <td ng-if="order.created_date != '0000-00-00'">{{order.created_date | date:"M/d/yyyy"}}</td>
                            <td ng-if="order.created_date == '0000-00-00'"></td>
                            <td class="">{{order.sales_total | currency : $ : 2}}</td>
                            <td class="">{{order.name}}</td>
                           
                            <td ng-if="order.order_sns_status == ''"><span class="stokkup-custom-btn1 stokkup-blue-btn md-button margin-0" ng-click="approveOrder(order.order_id,order.sns_shipping)">Approve</span></td>
                            <td ng-if="order.order_sns_status != ''"><span class="stokkup-custom-btn1 stokkup-blue-btn md-button margin-0" ng-click="approveOrder(order.order_id,order.sns_shipping)">Re-Approve</span></td>
                        </tr>
                    </tbody> 
                </table>
                <div tasty-pagination class="tasty-page"></div>
            </div>
        </div>
    </div>
</div>