<div class="order-info-page m-r-15 m-l-20 m-b-20 company-po-page">
    <div class="simple-table-container md-whiteframe-4dp m-t-20 m-b-20 m-r-15 pd15" >
        <table class="tbl-typ2">
            <tr>
                <td>
                    <div class="header-typ1">Boxing Details for Shipment #{{shipping_id}}</div>
                    <div layout="row" class="pd10">
                        <div flex="30" layout="column" class="pd10-R bdr1-R">
                            <div class="header-typ3">Box ID</div>
                            <div class="order-container" ms-scroll class="tbl-scroll-cntnr">
                                <div class="card-box cursor-p hover-grey pd10" layout="row" ng-repeat="box in shippingBoxes" ng-class="{activeAddress: box.id==shipping_box_id}" ng-click="select_box(box.id)">
                                    <div layout="column" flex="90">
                                        <div layout="row" flex="100" class="mrg5-B">
                                            <div layout="column" flex="50" class="mrg10-R">
                                                <div>Box ID</div>
                                                <div class="gray-text">{{ box.id }}</div>
                                            </div>
                                            <div layout="column" flex="50">
                                                <div>Number of Box</div>
                                                <div class="gray-text">{{ box.number_of_box }}</div>
                                            </div>
                                        </div>
                                        <div layout="row" flex="100" class="mrg5-B">
                                            <div layout="column" flex="50" class="mrg10-R">
                                                <div>Units Packaged</div>
                                                <div class="gray-text">{{ box.boxed_qnty }}</div>
                                            </div>
                                            <div layout="column" flex="50">
                                                <div>Tracking Number</div>
                                                <div class="gray-text">{{ box.tracking_number }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div layout="column" flex="10" class="align-M text-right" ng-click="delete_box(box.id)">
                                        <span class="icon icon-close f-red font-18"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div flex="70" layout="column" class="mrg10-L">
                            <div class="header-typ3">Box Details</div>
                            <div class="ms-responsive-table-wrapper" ms-scroll class="tbl-scroll-cntnr">
                                <table class="simple hover simple-tbl1 tbl-typ3">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text" width="10%">Box Item ID</th>
                                            <th class="secondary-text" width="10%">Size Group</th>
                                            <th class="secondary-text" width="10%">Product</th>
                                            <th class="secondary-text" width="10%">Product Color</th>
                                            <th class="secondary-text" width="10%">Size</th>
                                            <th class="secondary-text" width="10%">Boxed Qnty</th>
                                            <th class="secondary-text" width="10%">MD</th>
                                            <th class="secondary-text" width="10%">Spoil</th>
                                            <th class="secondary-text" width="10%">Actual</th>
                                            <th class="secondary-text" width="20%">Re-Allocate</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        <tr ng-repeat="item in box_items" class="cursor-p">
                                            <td>{{ item.box_item_id}}</td>
                                            <td>{{ item.size_group_name}}</td>
                                            <td>{{ item.product_name}}</td>
                                            <td>{{ item.color_name}}</td>
                                            <td>{{ item.size}}</td>
                                            <td>{{ item.boxed_qnty}}</td>
                                            <td>
                                                <md-input-container flex="100" class="mrg0-TB" aria-label="MD" >
                                                    <input name="md" aria-label="md" ng-model="item.md" ui-event="{ change : 'update_box_qty(item)'}" only-number>
                                                </md-input-container>
                                            </td>
                                            <td>
                                                <md-input-container flex="100" class="mrg0-TB" aria-label="Spoil">
                                                    <input name="spoil" aria-label="spoil" ng-model="item.spoil" ui-event="{ change : 'update_box_qty(item)'}" only-number>
                                                </md-input-container>
                                            </td>
                                            <td>{{ item.actual}}</td>
                                            <td>
                                                <md-select aria-label="shipping_box_id" ng-model="shipping_box_id" class="mrg6-TB" ng-change="reAllocate(shipping_box_id,item.box_item_id)">
                                                    <md-option ng-repeat="sbox in shippingBoxes" value="{{sbox.id}}">{{sbox.id}}</md-option>
                                                </md-select>
                                            </td>
                                        </tr>                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row">
        <button aria-label="Back" class="md-primary md-hue-1 md-accent md-button md-ink-ripple" type="button" ui-sref="app.shipping.shipmentdetails({id:shipping_id})"><span class="ng-scope">Back</span></button>
        <button type="button" class="md-accent md-raised md-button md-ink-ripple" aria-label="Save &amp; Print Labels" ui-sref="app.shipping.shipmentoverview({id:shipping_id})"><span class="ng-scope">Save &amp; Print Labels</span></button>
        <!-- <button type="button" class="md-accent md-raised md-button md-ink-ripple" aria-label="Save"><span class="ng-scope">Save</span></button> -->
    </md-dialog-actions>
</div>