<md-dialog class="task-dialog search-product-dialog" aria-label="New order" flex="80">
    <form name="orderForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Add Product</span>
                <md-button  ng-click="closeDialog()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="design-add-modal " layout-padding>
                <div layout="row" layout-align="space-between start">
                    <div class="h3">Filters</div>
                    <md-input-container class="md-block m-0" md-no-float flex="30">
                        <label>Vendor</label>
                        <md-select ng-model="vendor_id">
                            <md-option ng-repeat="vendor in allVendors" value="{{vendor.id}}" ng-selected="vendor.id == vendor_id">
                                {{vendor.name_company}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block m-0" md-no-float flex="30">
                        <label>Search</label>
                        <input ng-model="productSearch">
                    </md-input-container>
                    <md-button class="md-accent md-raised" ng-click="getProducts()" ng-disabled="productSearch == ''">Search</md-button>
                </div>
                <div layout="row" layout-align="space-between start">
                    <div layout="column" flex="20">
                        <div layout="column" class="f-box-1">
                            <div class="f-header">
                                <span layout="row" layout-align="space-between center">
                                    <span>PRODUCT CATEGORY</span>
                                    <button ng-if="toggle" ng-click="toggle = false">
                                        <md-icon md-font-icon="icon-menu-up"></md-icon>
                                    </button>
                                    <button ng-if="!toggle" ng-click="toggle = true">
                                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                                    </button>
                                </span>
                            </div>
                            <div ng-if="toggle" class="f-body scrollable"  ms-scroll>
                                <div layout="column" >
                                    <div ng-repeat="product in ::filterDialog.productCategory" class="h6 f-body-options-item" >
                                        {{product.category}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="column" class="f-box-1">
                            <div class="f-header">
                                <span layout="row" layout-align="space-between center">
                                    <span>COLOR</span>
                                    <button ng-if="color" ng-click="color = false">
                                        <md-icon md-font-icon="icon-menu-up"></md-icon>
                                    </button>
                                    <button ng-if="!color" ng-click="color = true">
                                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                                    </button>
                                </span>

                            </div>
                            <div ng-if="color" class="f-body scrollable"  ms-scroll>
                                <div layout="column" >
                                    <div ng-repeat="product in ::filterDialog.color" class="h6 f-body-options-item" >
                                        {{product.colorName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="column" class="f-box-1">
                            <div class="f-header">
                                <span layout="row" layout-align="space-between center">
                                    <span>VENDOR</span>
                                    <button ng-if="vendor" ng-click="vendor = false">
                                        <md-icon md-font-icon="icon-menu-up"></md-icon>
                                    </button>
                                    <button ng-if="!vendor" ng-click="vendor = true">
                                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                                    </button>
                                </span>
                            </div>
                            <div ng-if="vendor" class="f-body scrollable"  ms-scroll>
                                <div layout="column" >
                                    <div ng-repeat="product in ::filterDialog.vendor" class="h6 f-body-options-item" >
                                        {{product.vendorName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="column" class="f-box-1">
                            <div class="f-header">
                                <span layout="row" layout-align="space-between center">
                                    <span>FIT</span>
                                    <button ng-if="fit" ng-click="fit = false">
                                        <md-icon md-font-icon="icon-menu-up"></md-icon>
                                    </button>
                                    <button ng-if="!fit" ng-click="fit = true">
                                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                                    </button>
                                </span>
                            </div>
                            <div ng-if="fit" class="f-body scrollable"  ms-scroll>
                                <div layout="column" >
                                    <div ng-repeat="product in ::filterDialog.fit" class="h6 f-body-options-item" >
                                        {{product.fitNo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="column" class="f-box-1">
                            <div class="f-header">
                                <span layout="row" layout-align="space-between center">
                                    <span>FABRIC</span>
                                    <button ng-if="fabric" ng-click="fabric = false">
                                        <md-icon md-font-icon="icon-menu-up"></md-icon>
                                    </button>
                                    <button ng-if="!fabric" ng-click="fabric = true">
                                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                                    </button>
                                </span>
                            </div>
                            <div ng-if="fabric" class="f-body scrollable"  ms-scroll>
                                <div layout="column" >
                                    <div ng-repeat="product in ::filterDialog.fabric" class="h6 f-body-options-item" >
                                        {{product.fabricName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="column" class="f-box-1">
                            <div class="f-header">
                                <span layout="row" layout-align="space-between center">
                                    <span>SIZES</span>
                                    <button ng-if="size" ng-click="size = false">
                                        <md-icon md-font-icon="icon-menu-up"></md-icon>
                                    </button>
                                    <button ng-if="!size" ng-click="size = true">
                                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                                    </button>
                                </span>

                            </div>
                            <div ng-if="size" class="f-body scrollable"  ms-scroll>
                                <div layout="column" >
                                    <div ng-repeat="product in ::filterDialog.sizes" class="h6 f-body-options-item" >
                                        {{product.size}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout="row" flex="80" layout-wrap="nowrap" layout-align="start start">
                        <div  ng-repeat="product in products" class="filter-product-image-wrap" flex="20">
                            <div class="filter-product-image md-whiteframe-1dp"  ng-click="openSearchProductViewDialog($event,product.id,product.product_image,product.description,product.vendor_name)" layout="row" layout-align="center center">
                                <img src="https://www.ssactivewear.com/{{product.product_image}}" class="popup-image"><md-tooltip md-direction="bottom">{{product.name}}</md-tooltip></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog> 