<div class="order-info-page m-r-15 m-l-20 m-b-20">
    <div class="header "  layout="column">
        <div class="header-content realtive-positon" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <a class="link-back cursor-p" ui-sref="app.receiving">BACK TO RECEIVING</a>
            <h1 flex="4" class="font-500">Receiving Purchase Order #1234 for Company: </h1>
            <md-input-container md-no-float class="md-block" flex="3">
                <input placeholder="">
            </md-input-container>
        </div>
        <div class="order-information" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <div class="info-order" flex="75">
                <div class="title" layout-padding><span class="h2 text-semibold">Information</span></div>
                <md-card layout="row">
                    <md-card-content flex="80" layout="column">
                        <div layout="row" layout-wrap>
                            <div class="trans-box">
                                <div>PO Type</div>
                                <span class="font-14 chrome-weight">Purchase Order</span>
                            </div>
                            <div class="trans-box">
                                <div>Order Number</div>
                                <span class="font-14 chrome-weight">12345</span>
                            </div>
                            <div class="trans-box">
                                <div>Vendor</div>
                                <span class="font-14 chrome-weight">American Apparel</span>
                            </div>
                            <div class="trans-box">
                                <div>Main Contact</div>
                                <span class="font-14 chrome-weight">Joshi Goodman</span>
                            </div>
                            <div class="trans-box">
                                <div>Date Created</div>
                                <span class="font-14 chrome-weight">xx/xx/xxxx</span>
                            </div>
                            <div class="trans-box">
                                <div>Ship Date</div>
                                <span class="font-14 chrome-weight">xx/xx/xxxx</span>
                            </div>
                            <div class="trans-box">
                                <div>Receive Date</div>
                                <span class="font-14 chrome-weight">xx/xx/xxxx</span>
                            </div>
                        </div>
                    </md-card-content>
                    <div layout-align="end start"  flex="20" layout="row">
                        <md-button aria-label="Main Contact Options" class="md-icon-button" ng-click="vm.openReceivingInformationDialog($event,order.id)">
                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                        </md-button>
                    </div>
                </md-card>
            </div>
        </div>

        <div class="content order-info-page m-b-20">
            <div class="simple-table-container md-whiteframe-4dp">
                <div class="table-title paddingbottom-0" layout="row" layout-align="space-between center">
                    <div class="table-title-text h2 text-semibold" flex=20>
                        Products
                    </div>
                </div>
                <md-card layout="row">
                    <md-card-content flex="80" layout="column">
                        <div layout="row" layout-wrap>
                            <div class="trans-box">
                                <span class="font-14 chrome-weight">Product</span>
                                <div>Spring Shirts</div>
                            </div>
                            <div class="trans-box">
                                <span class="font-14 chrome-weight">SKU</span>
                                <div>####</div>
                            </div>
                            <div class="trans-box">
                                <span class="font-14 chrome-weight">Size Group</span>
                                <div>Mens</div>
                            </div>
                            <div class="trans-box">
                                <span class="font-14 chrome-weight">Color</span>
                                <div>Blue</div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card layout="row">
                    <md-card-content flex="80" layout="column">
                        <div layout="row" layout-wrap>
                            <div class="trans-box">
                                <span class="sizeColor">S</span>
                                <p class="font-14 chrome-weight fontStyle">Ordered &nbsp; &nbsp; &nbsp; 100</p>
                                <p class="font-14 chrome-weight fontStyle">Received &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">Defective &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">________________</p>
                                <p class="productYellow">2 Defective</p>
                                <p class="productRed">2 Units Short</p>
                            </div>
                            <div class="trans-box">
                                <span class="sizeColor">M</span>
                                <p class="font-14 chrome-weight fontStyle">Ordered &nbsp; &nbsp; &nbsp; 100</p>
                                <p class="font-14 chrome-weight fontStyle">Received &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">Defective &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">________________</p>
                                <p class="productYellow">2 Defective</p>
                                <p class="productRed">2 Units Short</p>
                            </div>
                            <div class="trans-box">
                                <span class="sizeColor">L</span>
                                <p class="font-14 chrome-weight fontStyle">Ordered &nbsp; &nbsp; &nbsp; 100</p>
                                <p class="font-14 chrome-weight fontStyle">Received &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">Defective &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">________________</p>
                                <p class="productYellow">2 Defective</p>
                                <p class="productRed">2 Units Short</p>
                            </div>
                            <div class="trans-box">
                                <span class="sizeColor">XL</span>
                                <p class="font-14 chrome-weight fontStyle">Ordered &nbsp; &nbsp; &nbsp; 100</p>
                                <p class="font-14 chrome-weight fontStyle">Received &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">Defective &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">________________</p>
                                <p class="productYellow">2 Defective</p>
                                <p class="productRed">2 Units Short</p>
                            </div>
                            <!-- <div class="trans-box" flex="80">
                                <p class="font-14 chrome-weight" flex="40">Order Line Total: 500</p>
                                <p class="font-14 chrome-weight" flex="40">Order Line Receiveds: 500</p>
                            </div> -->
                        </div>
                    </md-card-content>
                </md-card>
                <md-card layout="row" class="borderTopBottom">
                    <md-card-content flex="40" layout="column">
                        <div layout="row" layout-wrap class="marginProduct">
                            <p class="font-14 chrome-weight">Order Line Total: 500</p>
                        </div>
                    </md-card-content>
                    <md-card-content flex="40" layout="column">
                        <div layout="row" layout-wrap class="marginProduct">
                            <p class="font-14 chrome-weight">Order Line Received: 500</p>
                        </div>
                    </md-card-content>
                </md-card>

                <md-card layout="row">
                    <md-card-content flex="40" layout="column">
                        <div layout="row" layout-wrap class="marginProduct">
                            <p class="font-14 chrome-weight"> </p>
                        </div>
                    </md-card-content>
                </md-card>
                
                <md-card layout="row" >
                    <md-card-content flex="80" layout="column">
                        <div layout="row" layout-wrap>
                            <div class="trans-box">
                                <span class="font-14 chrome-weight">Product</span>
                                <div>Spring Shirts</div>
                            </div>
                            <div class="trans-box">
                                <span class="font-14 chrome-weight">SKU</span>
                                <div>####</div>
                            </div>
                            <div class="trans-box">
                                <span class="font-14 chrome-weight">Size Group</span>
                                <div>Mens</div>
                            </div>
                            <div class="trans-box">
                                <span class="font-14 chrome-weight">Color</span>
                                <div>Blue</div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card layout="row">
                    <md-card-content flex="80" layout="column">
                        <div layout="row" layout-wrap>
                            <div class="trans-box">
                                <span class="sizeColor">S</span>
                                <p class="font-14 chrome-weight fontStyle">Ordered &nbsp; &nbsp; &nbsp; 100</p>
                                <p class="font-14 chrome-weight fontStyle">Received &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">Defective &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">________________</p>
                                <p class="productYellow">2 Defective</p>
                                <p class="productRed">2 Units Short</p>
                            </div>
                            <div class="trans-box">
                                <span class="sizeColor">M</span>
                                <p class="font-14 chrome-weight fontStyle">Ordered &nbsp; &nbsp; &nbsp; 100</p>
                                <p class="font-14 chrome-weight fontStyle">Received &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">Defective &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">________________</p>
                                <p class="productYellow">2 Defective</p>
                                <p class="productRed">2 Units Short</p>
                            </div>
                            <div class="trans-box">
                                <span class="sizeColor">L</span>
                                <p class="font-14 chrome-weight fontStyle">Ordered &nbsp; &nbsp; &nbsp; 100</p>
                                <p class="font-14 chrome-weight fontStyle">Received &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">Defective &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">________________</p>
                                <p class="productYellow">2 Defective</p>
                                <p class="productRed">2 Units Short</p>
                            </div>
                            <div class="trans-box">
                                <span class="sizeColor">XL</span>
                                <p class="font-14 chrome-weight fontStyle">Ordered &nbsp; &nbsp; &nbsp; 100</p>
                                <p class="font-14 chrome-weight fontStyle">Received &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">Defective &nbsp; &nbsp; ____</p>
                                <p class="font-14 chrome-weight fontStyle">________________</p>
                                <p class="productYellow">2 Defective</p>
                                <p class="productRed">2 Units Short</p>
                            </div>
                            <!-- <div class="trans-box" flex="80">
                                <p class="font-14 chrome-weight" flex="40">Order Line Total: 500</p>
                                <p class="font-14 chrome-weight" flex="40">Order Line Receiveds: 500</p>
                            </div> -->
                        </div>
                    </md-card-content>
                </md-card>
                <md-card layout="row" class="borderTopBottom">
                    <md-card-content flex="40" layout="column">
                        <div layout="row" layout-wrap class="marginProduct">
                            <p class="font-14 chrome-weight">Order Line Total: 500</p>
                        </div>
                    </md-card-content>
                    <md-card-content flex="40" layout="column">
                        <div layout="row" layout-wrap class="marginProduct">
                            <p class="font-14 chrome-weight">Order Line Received: 500</p>
                        </div>
                    </md-card-content>
                </md-card>

                <md-card layout="row">
                    <md-card-content flex="40" layout="column">
                        <div layout="row" layout-wrap class="marginProduct">
                            <p class="font-14 chrome-weight"> </p>
                        </div>
                    </md-card-content>
                </md-card>

            </div>
        </div>

    </div>
</div>