<div class="content order-list-page puchase-order-page stockkup-content-table-container shad-btm">
   <div class="simple-table-container md-whiteframe-4dp stokkup-main-tableview">
      <div class="table-title h-70" layout="row" layout-align="space-between center">
         <div class="table-title-text" flex=80 class="cursor-p" >
            Receiving <a class="cursor-p" title="Go to Purchase order" ui-sref="app.purchaseOrder.companyPO({id:po_data.po_id})" style="color:#4773D6;font-weight:400;">Purchase Order #{{ po_data.po_id}}</a> for {{ po_data.client_company}}:
         </div>
         <div class="pull-right" flex=20>
            <a class="link-back cursor-p" ui-sref="app.receiving" style="color:#4773D6;font-weight:400;top:30px;right:30px;">BACK TO RECEIVING</a>
         </div>
         <!--  <md-icon md-font-icon="icon-filter-variant" flex="55" class="text-right m-r-30 "></md-icon>  -->
      </div>
   </div>
</div>

<div class="order-info-page m-r-15 m-l-20 m-b-20">
    <div class="header "  layout="column">
        <div class="order-information" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <div class="info-order" flex="100">
                <div class="title pad-0-L" layout-padding><span class="h2 pad-0-L font-title">Information</span></div>
                <div layout="row" class="divPO">
                    <div flex="100" layout="column">
                        <div layout="row" layout-wrap>
                            <div class="trans-box">
                             <div class="heading">PO Type</div>
                                <span class="chrome-weight font-14 subtitle">{{ po_data.po_type}}</span>
                            </div>
                            <div class="trans-box">
                                <div class="heading">Order Number</div>
                                <a class="cursor-p" title="Go to Order" ui-sref="app.order.order-info({id:po_data.order_id})"><span class="chrome-weight font-14 subtitle">#{{ po_data.order_id}}</span></a>
                            </div>
                            <div class="trans-box">
                                <div class="heading">Vendor</div>
                                <span class="chrome-weight font-14 subtitle">{{ po_data.name_company}}</span>
                            </div>
                            <div class="trans-box">
                                <div class="heading">Main Contact</div>
                                <span class="chrome-weight font-14 subtitle">{{ po_data.mainContact}}</span>
                            </div>
                            <div class="trans-box">
                                <div class="heading">Date Created</div>
                                <span class="chrome-weight font-14 subtitle">{{ po_data.date}}</span>
                            </div>
                            <div class="trans-box">
                                <div class="heading">Ship Date</div>
                                <span class="chrome-weight font-14 subtitle">{{ po_data.ship_date}}</span>
                            </div>
                            <div class="trans-box">
                                <div class="heading">Receive Date</div>
                                <span class="chrome-weight font-14 subtitle">{{ po_data.arrival_date}}</span>
                            </div>
                        </div>
                    </div>
<!--                     <div layout-align="end start"  flex="20" layout="row">
                        <md-button aria-label="Main Contact Options" class="md-icon-button" ng-click="vm.openReceivingInformationDialog($event,order.id)">
                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                        </md-button>
                    </div>
 -->                </div>
            </div>
        </div>
        
        <div class="title" layout-padding><span class="h2 font-title">Products</span></div>
        <div class="content order-info-page m-b-20">
            <div class="">
                <div ng-repeat="(key,line_item) in poline">
                    <div layout="row" class="divPO  m-b-20">
                        <div flex="100" layout="column">
                            <div layout="row" layout-wrap>
                                <div class="trans-box">
                                    <span class="font-14 chrome-weight heading">Product</span>
                                    <div class="subtitle">{{line_item.product.product_name}}</div>
                                </div>
                                <div class="trans-box">
                                    <span class="font-14 chrome-weight heading">SKU</span>
                                    <div class="subtitle">{{line_item.product.sku}}</div>
                                </div>
                                <div class="trans-box">
                                    <span class="font-14 chrome-weight heading">Size Group</span>
                                    <div class="subtitle">Mens</div>
                                </div>
                                <div class="trans-box">
                                    <span class="font-14 chrome-weight heading">Color</span>
                                    <div class="subtitle">{{line_item.product.product_color}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- <div style="background-color:#F6F7F8;height:30px;"></div> -->
                
                <div ng-class="{'disable-click': po_data.is_complete=='1'}" layout="row" ng-repeat="(key,line_item) in poline">
                    <div flex="100" layout="column">
                        <div layout="row" class="" flex=100 layout-wrap>
                            <div class="trans-box divPO m-b-20 m-15-L" ng-repeat="(key,line_data) in line_item.data" flex=15>
                                <span class="sizeColor heading">{{line_data.size}}</span>
                                <!-- <p class="font-14 chrome-weight subtitle" align="center">Ordered <span class="pull-right subtitle">{{line_data.qnty_ordered}}</span></p> -->
                                <p class="font-14 chrome-weight subtitle" align="center">Ordered<md-input-container flex=50>
                                    <input class="text-right subtitle" value="{{line_data.qnty_ordered}}" style="border:0" readonly>
                                    </md-input-container></p>
                                <p class="font-14 chrome-weight subtitle" align="center">Received<md-input-container flex=50>
                                        <input class="text-right subtitle" ng-model="line_data.qnty_purchased" name="qnty_purchased" only-number ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,line_data.id,line_data.qnty_ordered,\'received\',line_data.short)' }" aria-label="qnty_purchased">
                                    </md-input-container></p>
                                    <p class="font-14 chrome-weight subtitle" align="center">Defective<md-input-container flex=50>
                                        <input class="text-right subtitle" ng-model="line_data.short" only-number name="short"  ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,line_data.id,line_data.qnty_purchased,\'short\')' }" aria-label="short" class="subtitle">
                                    </md-input-container></p>
                                </p>
                                <hr style="border: 0;height: 1px;background-image: linear-gradient(to right, rgba(224, 225, 227, 1), rgba(224, 225, 227, 1), rgba(224, 225, 227, 1));">
                                <p class="productYellow">{{line_data.short}} Defective</p>
                                <p class="productRed">{{line_data.short_unit}} Units Short</p>

                            </div>


                        </div>
                    </div>
                </div>
                <!-- <div style="background-color:#F6F7F8;height:30px;"></div> -->
                <div layout="row" class="borderTopBottom divPO m-15-LR">
                    <div flex="25" layout="column">
                        <div layout="row" layout-wrap class="marginProduct">
                            <p class="font-14 chrome-weight subtitle">Order Line Total:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="heading">{{line_item.total_product}}</span></p>
                        </div>
                    </div>
                    <div flex="25" layout="column">
                        <div layout="row" layout-wrap class="marginProduct">
                            <p class="font-14 chrome-weight subtitle">Order Line Received:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="heading">{{line_item.total_received}}</span></p>
                        </div>
                    </div>
                    <div flex="25" layout="column">
                        <div layout="row" layout-wrap class="marginProduct">
                            <p class="font-14 chrome-weight subtitle">Order Line Defectives:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="heading">{{line_item.total_defective}}</span></p>
                        </div>
                    </div>
                    <div flex="25" layout="column">
                        <div layout="row" layout-wrap class="marginProduct">
                            <p class="font-14 chrome-weight subtitle">Order Line Remaining:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="heading">{{line_item.total_remains}}</span></p>
                        </div>
                    </div>
                </div>
                
                <div style="background-color:#F6F7F8;height:30px;"></div>
                <!-- <div layout="row">
                    <div flex="40" layout="column">
                        <div layout="row" layout-wrap class="marginProduct">
                            <p class="font-14 chrome-weight"> </p>
                        </div>
                    </div>
                </div>  -->
                
            </div>

            </div>
        </div>

    </div>
</div>