 
  <div class="row">
    <div class="col-sm-12">

      <form name="clientAddForm" class="form-validation stokkupForm" >
        
        <div class="panel panel-default col-sm-6 m-b nopad-form">
          <div class="panel-body">
            <div class="form-group ">
              
              <div class="panel-heading bg-white nopad-left">
                <h4>Add Client</h4>
              </div>
              <div class="input-group col-sm-12 m-b">
                  <label>Name <em class="text-muted"></em></label>
                  <input type="text" class="form-control" ng-maxlength="255" name="client_company"  ui-event="{ blur : 'CheckClient($event)' }" ng-model="client.client_company"  required>
                  <br>
                  <span style="color:#f44336" ng-show="clientAddForm.client_company.$error.maxlength">Please enter Name less then 255 characters.</span>
                  <span style="color:#f44336; display:none;" id="client_namecheck">Sorry this name Exist, Please choose different name.</span>
              </div>
              <div class="input-group col-sm-12 m-b">
                  <label>Type <em class="text-muted"></em></label>
                  <select class="form-control" name="client_companytype" data-ng-model="client.client_companytype"  required>
                    <option ng-repeat="item in Typelist.records" value="{{item.id}}">{{item.name}}</option>
                    
                  </select>
              </div>

              <div class="col-sm-6 m-b nopad-left">
                    <div class="panel-heading bg-white nopad-left">
                      <h4 >Main Contact</h4>
                    </div>
                    <div class="m-b">
                        <label>First <em class="text-muted"></em></label>
                        <input type="text" class="form-control" name="first_name" ng-model="client.contact.first_name" ng-pattern="/^[a-zA-Z]{2,255}$/"  required >
                        <span style="color:#f44336" ng-show="clientAddForm.first_name.$error.pattern">Please enter charcters only.</span>
                    </div>
                    <div class=" m-b">
                        <label>Last <em class="text-muted"></em></label>
                        <input type="text" class="form-control" name="last_name" ng-model="client.contact.last_name" ng-pattern="/^[a-zA-Z]{2,255}$/"  ng-model="client.contact.last_name" required >
                        <span style="color:#f44336" ng-show="clientAddForm.last_name.$error.pattern">Please enter charcters only.</span>
                    </div>
                    <div class="m-b">
                        <label>Phone <em class="text-muted"></em></label>
                        <input type="text" class="form-control" name="phone" ng-pattern="/^[0-9]{7,14}$/"  ng-model="client.contact.phone"  required >
                        <span style="color:#f44336" ng-show="clientAddForm.phone.$error.pattern">Please enter valid Phone Number.</span>
                    </div>
                    <div class=" m-b">
                        <label>Email<em class="text-muted"></em></label>
                        <input type="email" class="form-control" name="contact_email" ng-model="client.contact.email" required>
                             <span style="color:#f44336" ng-show="clientAddForm.contact_email.$error.email"> Not valid email!</span>
                    </div>
              </div>

              <div class="col-sm-6 m-b nopad-left">
                    <div class="panel-heading bg-white nopad-left">
                      <h4 >Main Address</h4>
                    </div>
                     <div class=" m-b">
                        <label>Address<em class="text-muted"></em></label>
                        <input type="text" class="form-control" name="address" ng-model="client.add.address" required>

                    </div>
                    <div class=" m-b">
                        <label>Street<em class="text-muted"></em></label>
                        <input type="text" class="form-control" ng-model="client.add.street" required>
                    </div>
                    <div class=" m-b">
                        <label>city <em class="text-muted"></em></label>
                        <input type="text" class="form-control" ng-model="client.add.city" required>
                    </div>
                    <div class=" m-b col-md-6 nopad-left">
                        <label>State <em class="text-muted"></em></label>
                        <input type="text" class="form-control" ng-pattern="/^[a-zA-Z]{1,4}$/" name="state" ng-model="client.add.state" required>
                        <span style="color:#f44336" ng-show="clientAddForm.state.$error.pattern">Please enter short state name.</span>
                    </div>
                    <div class=" m-b col-md-6 nopad-right">
                        <label>Zip <em class="text-muted"></em></label>
                        <input type="text" class="form-control" ng-model="client.add.postal_code" required>
                    </div>
               </div>
             </div>
          </div>
        <footer class="panel-footer text-right">
            <button  type="submit" class="btn btn-info" ng-click="SaveClient(client)"  ng-if="refurl != 'order'" ng-disabled="clientAddForm.$invalid">Submit</button>&nbsp;


            <button  type="submit" class="btn btn-info" ng-click="AddClientData(client)"  ng-if="refurl == 'order'" ng-disabled="clientAddForm.$invalid">Save</button>&nbsp;



            <button ui-sref="client.list" type="button"  ng-if="refurl != 'order'" class="btn btn-info">Cancel</button>&nbsp;


            <button class="btn btn-info" type="button" ng-click="closePopup('cancel')" ng-if="refurl == 'order'">Close</button>


        </footer>
          </div>
        
        </div>
        
      </form>
    </div>
    
  </div>
 
