
<div>
	<div class="modal-header">
	    <h3 class="modal-title">Distribution Address</h3>
	</div>
	<div class="modal-body">
		<div class="input-group col-sm-12 m-b">
            <label>Description<em class="text-muted"></em></label>
            <input type="text" class="form-control" ng-model="dist_address.description" required >
        </div>
        <div class="input-group col-sm-12 m-b">
            <label>ATTN<em class="text-muted"></em></label>
            <input type="text" class="form-control" ng-model="dist_address.attn"  >
        </div>
        <div class="input-group col-sm-12 m-b">
            <label>Address 1<em class="text-muted"></em></label>
            <input type="text" class="form-control" ng-model="dist_address.address"  >
        </div>
        <div class="input-group col-sm-12 m-b">
            <label>Address 2<em class="text-muted"></em></label>
            <input type="text" class="form-control" ng-model="dist_address.address2"  >
        </div>
    	<div class="input-group col-sm-12 m-b">
    		<div class="col-sm-4 m-b">
	    	<label>City<em class="text-muted"></em></label>
	    	<input type="text" class="form-control" ng-model="dist_address.city"  >
	    	</div>
	    	<div class="col-sm-4 m-b">
	    	<label>State<em class="text-muted"></em></label>
	    	<input type="text" class="form-control" ng-model="dist_address.state"  >
	    	</div>
	    	<div class="col-sm-4 m-b">
	    	<label>Zip<em class="text-muted"></em></label>
	    	<input type="text" class="form-control" ng-model="dist_address.zipcode"  >
	    	</div>
    	</div>
    	<div class="input-group col-sm-12 m-b">
            <label>Country<em class="text-muted"></em></label>
            <input type="text" class="form-control" ng-model="dist_address.country"  >
        </div>
        <div class="input-group col-sm-12 m-b">
            <label>Phone #:<em class="text-muted"></em></label>
            <input type="text" class="form-control" ng-model="dist_address.phone"  >
        </div>
    	
	</div>
	<div class="modal-footer">                  
		<button class="btn btn-warning" type="button" ng-click="ClosePopup()">Cancel</button>
	    <button class="btn btn-primary" ng-if="edit=='add'" ng-click="SaveDistAddress(dist_address)">Save</button>
	    <button class="btn btn-primary" ng-if="edit=='edit'" ng-click="UpdateDistAdress(dist_address,dist_address.id)">Update</button>
	</div>
</div>