
<md-dialog class="task-dialog search-product-view-dialog" aria-label="New order" flex="70">
    <form name="orderForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">{{product_name}}</span>
                <md-button  ng-click="vm.closeDialog()" class="close-stokkup-dialog">
                    <span>CLOSE</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="row" layout-wrap="nowrap"  layout-padding layout-align="space-between start">
                <div layout="column" flex="30">
                    <div class="md-whiteframe-1dp filter-product-image " layout="row" layout-align="center center">
                        <img src="{{product_image_display}}" class="popup-image"></img>
                    </div>

                    <div class="h5 p-t-30">Colors</div>
                    <div class="h5 p-t-10">
                            <span class="image-space"><a style="outline: medium none;" ng-hide="modelDisplay == ''" ng-click="changeColorPositionData(colorName,'colorFrontImage')">Front</a></span>
                            <span class="image-space"><a style="outline: medium none;" ng-hide="modelDisplay == ''" ng-click="changeColorPositionData(colorName,'colorSideImage')">Side</a></span>
                            <span class="image-space"><a style="outline: medium none;" ng-hide="modelDisplay == ''" ng-click="changeColorPositionData(colorName,'colorBackImage')">Back</a></span>
                            <span class="image-space"><a style="outline: medium none;" ng-hide="modelDisplay == ''" ng-click="changeModelImage(product_image_display_main)">Model</a></span>
                    </div>


                    <div layout="row" flex="100" layout-wrap="nowrap" layout-align="start start">

                         <div ng-repeat="(key,allData) in AllProductDetail"   flex="25" class="{{colorName == key ? 'active-color' : 'deactivate-color'}}">
                            <div class="md-whiteframe-1dp image-space"  layout="row" layout-align="center center" ng-click="changeColorData(allData.colorName,allData.colorFrontImage)">
                            <img src="https://www.ssactivewear.com/{{allData.colorSwatchImage}}"><md-tooltip md-direction="bottom">{{key}}</md-tooltip></img>
                            </div>
                         </div>


                    </div>
                </div>
                <div layout="column" flex="65" layout-padding>
                    <div layout="row" layout-align="space-between start" class="p-b-20">
                        <div layout="column" flex="55">
                            <div class="h4">Vendor</div>
                            <div class="h5 p-b-10  grey-color">{{vendor_name}}</div>
                            <div class="h4">Item Number</div>
                            <div class="h5  grey-color">{{product_id}}</div>

                         <!--    <div flex="100" layout="column">
                            <md-input-container class="width100">
                                <label>Size Group</label>
                                 <md-select ng-model="size_group_id">
                                    <md-option ng-repeat="misc_approval in miscData.size_group" value="{{misc_approval.id}}" ng-selected="size_group_id == misc_approval.id">
                                        {{misc_approval.value}}
                                                    </md-option>
                                                 </md-select>
                                            </md-input-container>
                            </div> -->


                            <div flex="100" layout="column">
                            <md-input-container class="width100">
                                <label>Warehouse</label>
                                    <md-select ng-model="warehouse" ng-change="updateWarehouse(warehouse)">
                                        <md-option value="IL" >Bolingbrook, IL</md-option>
                                        <md-option value="KS" >Olathe, KS</md-option>
                                        <md-option value="NJ" >Robbinsville, NJ</md-option>
                                        <md-option value="CA" >Santa Fe Springs, CA</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div class="box-typ1 scrollable" ms-scroll>
                                <table class="tbl-typ1">
                                    <thead>
                                        <tr>
                                            <th width="35%" class="pd5">Inventory</th>
                                            <th width="40%" class="pd5">Quantity</th>
                                            <th width="25%" class="pd5">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key,sizedata) in AllProductDetail[colorName].sizes">
                                            <td class="pd5">
                                                <table width="100%">
                                                    <tr>
                                                        <td width="70%" class="text-right color font-12">{{sizedata.sizeName}} :</td>
                                                        <td width="20%" class="text-semibold font-12">{{sizedata.inventory[warehouse]  ? sizedata.inventory[warehouse] : 0}}</td>
                                                       
                                                    </tr>
                                                </table>
                                            </td>
                                            <td class="pd5">
                                                <md-input-container class="md-block" flex-gt-sm >
                                                    <input aria-label="qnty" ng-model="sizedata.qnty" type="number"   ng-min="0" ng-max="{{sizedata.inventory[warehouse]  ? sizedata.inventory[warehouse] : 0}}" ng-class="{'red':orderForm.input.$invalid}" name="qnty_{{sizedata.sizeName}}" ng-change="findTotal(AllProductDetail[colorName].sizes,sizedata.inventory[warehouse])">
                                                </md-input-container>

                                            </td>
                                            <td>{{sizedata.customerPrice}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mrg20-T header-typ3">
                                <span>TOTAL Quantity :- {{AllProductDetail[colorName].total_qnty}}</span>
                                <br><br>
                                <span ng-show="!is_supply">TOTAL COST :- {{AllProductDetail[colorName].total}}</span>
                                <md-checkbox  aria-label="Checkbox 1" ng-model="is_supply">
                                    These products are supplied garments
                                </md-checkbox>
                            </div>
                          
                        </div> 
                        

                        <div layout="column" flex="40">
                            <div class="h4">Description</div>
                            <div class="h5  grey-color p-b-10" ng-bind-html="description"></div>
                            
                        </div>  

  
                    </div>
                    
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button class="md-accent md-raised" ng-click="addProduct(AllProductDetail[colorName].sizes,warehouse)" ng-disabled="orderForm.$invalid">{{operation}} Product</md-button>
        </md-dialog-actions>
    </form>
</md-dialog> 