
<md-dialog class="task-dialog search-product-view-dialog" aria-label="New order" flex="70">
    <form name="orderForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Product Name</span>
                <md-button  ng-click="vm.closeDialog()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="row" layout-wrap="nowrap"  layout-padding layout-align="space-between start">
                <div layout="column" flex="30">
                    <div class="md-whiteframe-1dp filter-product-image " layout="row" layout-align="center center">
                        <img src="{{product_image_display}}" class="popup-image"></img>
                    </div>

                  

                    <div class="h5 p-t-30">Colors</div>
                    <div class="h5 p-t-10">
                            <span class="image-space"><a style="outline: medium none;" ng-hide="modelDisplay == ''" ng-click="changeColorPositionData(colorName,'colorFrontImage')">Front</a></span>
                            <span class="image-space"><a style="outline: medium none;" ng-hide="modelDisplay == ''" ng-click="changeColorPositionData(colorName,'colorSideImage')">Side</a></span>
                            <span class="image-space"><a style="outline: medium none;" ng-hide="modelDisplay == ''" ng-click="changeColorPositionData(colorName,'colorBackImage')">Back</a></span>
                            <span class="image-space"><a style="outline: medium none;" ng-hide="modelDisplay == ''" ng-click="changeModelImage(product_image_display_main)">Model</a></span>
                    </div>


                    <div layout="row" flex="100" layout-wrap="nowrap" layout-align="start start">

                         <div ng-repeat="(key,allData) in AllProductDetail"   flex="25">
                            <div class="md-whiteframe-1dp image-space"  layout="row" layout-align="center center" ng-click="changeColorData(allData.colorName,allData.colorFrontImage)">
                            <img src="https://www.ssactivewear.com/{{allData.colorSwatchImage}}"><md-tooltip md-direction="bottom">{{key}}</md-tooltip></img>
                            </div>
                    </div>


                    </div>
                </div>
                <div layout="column" flex="65" layout-padding>
                    <div layout="row" layout-align="space-between start" class="p-b-20">
                        <div layout="column" flex="45">
                            <div class="h4">Vendor</div>
                            <div class="h5 p-b-10  grey-color">{{vendor_name}}</div>
                            <div class="h4">Item Number</div>

                            <div class="h5  grey-color">{{product_id}}</div>
                        </div> 
                        

                        <div layout="column" flex="45">
                            <div class="h4">Description</div>
                            <div class="h5  grey-color p-b-10" ng-bind-html="description"></div>
                            
                        </div>  

  
                    </div>
                    <div layout="column">
                        <div layout="row" layout-align="space-between center" flex="100">
                            <div layout="colunm" flex="20">
                                <div class="h4">Inventory Level</div>
                            </div>

                                <div ng-repeat="(key,sizedata) in AllProductDetail[colorName].sizes" layout="column" flex="15">
                                    <div class="h4 color font-19">{{sizedata.sizeName}}</div>
                                    <div class="h4 text-semibold font-19">{{sizedata.caseQty}}</div>
                                </div>

                        </div>
                        <div layout="row" layout-align="space-between center" flex="100">
                            <div layout="colunm" flex="20">
                                <div class="h4">Select Qty</div>
                            </div>
                            <div ng-repeat="(key,sizedata) in AllProductDetail[colorName].sizes" layout="column" flex="15">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>{{sizedata.sizeName}}</label>
                                    <input ng-model="ISize.qty">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="vm.closeDialog()" class="md-primary md-hue-1 md-accent ">Cancel</md-button>
            <md-button class="md-accent md-raised ">Add Product</md-button>
        </md-dialog-actions>
    </form>
</md-dialog> 