<div class="content stockkup-content-table-container">
    <div class="simple-table-container stokkup-main-tableview">
        <div class="table-title " layout="row" layout-align="space-between center">
        <div class="table-title-text" flex=20>
            Email Templates
        </div>
          
        </div>
        <div class="ms-responsive-table-wrapper priceGridTableContainer">
            <div class="order-container">
                <table class="dataTable row-border" id="priceGrid" dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Label</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Module SKU</span>
                                </div>
                            </th>
                        </tr>    
                    </thead>    
                   <tbody>
                        <tr class="cursor-p" ng-repeat="allTemplate_data in allTemplate">
                            <td class="" ui-sref="app.settings.template-info({id:allTemplate_data.id})">{{allTemplate_data.label}}</td>
                            <td class="" ui-sref="app.settings.template-info({id:allTemplate_data.id})">{{allTemplate_data.slug}}</td>
                        </tr>
                    </tbody> 
                </table>
            </div>
        </div>
    </div>
</div>