<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')"
                   hide-gt-sm aria-label="Toggle navigation" translate
                   translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
            <!-- <md-icon md-font-icon="icon-menu" class="icon"></md-icon> -->
        </md-button>

        

        <div class="toolbar-separator"></div>

        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent"
                              md-mode="indeterminate" md-diameter="64">
        </md-progress-circular>
    </div>

    <div layout="row" layout-align="start center">
        <md-menu-bar id="user-menu">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdOpenMenu()"
                           aria-label="User settings"
                           translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="assets/images/avatars/profile-avatar.png">
                            <!-- <md-icon md-font-icon ng-class="vm.userStatus.icon"
                                     ng-style="{'color': vm.userStatus.color }"
                                     class="icon status s16">
                            </md-icon> -->
                            <span class="stokkup-icondiv topheadicon"><span class="fa-stack"><i class="fa fa-circle"></i><i class="fa fa-check"></i></span></span>
                        </div>
                        <span class="username" hide-xs>{{vm.useremail}}</span>
                        <!-- <md-icon md-font-icon="icon-chevron-down"
                                 class="icon s16" hide-xs></md-icon> -->
                        <span class="stokkup-icondiv topheadicon"><i class="fa fa-angle-down"></i></span>
                    </div>
                </md-button>

                <md-menu-content width="4">
                    <md-menu-item class="md-indent" ui-sref="app.settings.userProfile">
                        <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
                        <md-button>My Profile</md-button>
                    </md-menu-item>
                    <md-menu-item class="md-indent" ng-show="vm.role_slug!='SU'" ui-sref="app.settings.companyProfile">
                        <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
                        <md-button>Company Profile</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-account-alert" class="icon"></md-icon>
                        <md-button style="cursor: default;">{{vm.role_title}}</md-button>
                    </md-menu-item>
                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                        <md-button ng-click="vm.logout()">Logout</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>

        <div class="toolbar-separator"></div>

     
    </div>
</div>