<md-dialog class="task-dialog authorizeNetDialog" >
<form name="integration_form" class="md-inline-form" novalidate>
    <div class="client-profile-page">
        <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between">
            <span class="title">AUTHORIZE.NET API INTEGRATION</span>
            <md-button  ng-click="closeDialog()" class="close-stokkup-dialog">
            <span>Cancel</span>
            </md-button>
        </div>
        </md-toolbar>
        <div ng-cloak>
            <md-card-content layout="column" class="box-shadow-0">
            <div layout="row" layout-wrap="nowrap" id="affiliateDialog" layout-padding layout-align="space-between start">
                <div layout="column"  flex="100">
                    <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="API url" name="api" ng-model="params.api" ui-event="">
                    </md-input-container>
                    <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="API username" name="username" ng-model="params.username" >
                    </md-input-container>
                    <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="API login *" name="login"  ng-model="params.login">
                    </md-input-container>
                    <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="API Password" type="password"  name="password" ng-model="params.password" >
                    </md-input-container>
                    <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="API transactionkey" name="transactionkey" ng-model="params.transactionkey" >
                    </md-input-container>
                    <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="API secretkey" name="secretkey" ng-model="params.secretkey">
                    </md-input-container>
                </div>
            </div>
            </md-card-content>
        </div>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button class="stokkup-custom-btn1 stokkup-blue-btn text-white pull-right" id="affiliateSaveBtn" ng-click="UpdateTableData(params,'authorize_detail','id',params.id,'authorize')">SAVE</md-button>
        </md-dialog-actions>
    </div>
</form>
</md-dialog>