.simple-table-container .table-title { padding: 0 24px;border-bottom: 1px solid #ddd;}
.table-title-text{font-weight: 600;}
.search-block {font-size: 14px;}
.search-block md-input-container {
    margin-bottom: 0;
}
.client-modal-title {
    text-align: right;
    font-size: 14px;
    color: #74B0F4;
}
.client-list-page .simple-table-container {
    background: #FFFFFF;
    margin: 20px;
}
.search-block md-input-container .md-errors-spacer{min-height: 10px;}
.client-live-nation md-card{min-height: 300px}

