<div class="content client-list-page">
    <div class="simple-table-container md-whiteframe-4dp">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20>
                Clients
            </div>
            <div class="search-block" flex=40>
                <md-input-container class="md-block" flex-gt-sm>
                    <input ng-model="vm.searchQuery" ng-change="vm.searchTable()" placeholder="Search">
                </md-input-container>
            </div>
            <div class="client-modal-title " flex=50>
                <span class="cursor-p" ng-click="vm.openClientDialog($event)">ADD NEW CLIENT</span>
            </div>
        </div>
        <div class="ms-responsive-table-wrapper">
            <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstanceCB" dt-options="vm.dtOptions">
                <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Client Name</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Main Contact</span>
                            </div>
                        </th>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Contact Phone</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Contact Email</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in ::vm.clients" ui-sref="app.client.profile({id:client.id})">
                        <td >{{ client.name}}</td>
                        <td>{{ client.contact}}</td>
                        <td>{{ client.phone}}</td>
                        <td>{{ client.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>