    <div class="client-profile-page">
    <div class="header header-bg-custom"  layout="column">
        <div class="header-content" layout="row" layout-align="start" layout-wrap flex>
                <!--  <img ng-src="{{company_info.color_url_photo}}" style="height: 100%; width: 100px;  margin-left: 15px; padding: 3px;"  alt=""  /> -->
                 <!-- <img ng-if="company_info.color_logo == ''" ng-src="{{NoImage}}" alt="No Image" style="height: 100%; width: 100px;  margin-left: 15px; padding: 3px;" > -->
            <h1 class="inner-page-heading">3RD PARTY SOFTWARE INTEGRATIONS</h1>
        </div>
    </div>

    <div class="full-row pull-left">
        
            <div ng-cloak>
                <md-content class="stokkup-custom-tabs">
                    <md-tabs md-dynamic-height md-border-bottom class="client-profile-tab">
                        <md-tab label="S&S Credentials">
                            <div ng-include src="'app/main/admin/views/s&scredentials'"></div>
                        </md-tab>
                    </md-tabs>
                </md-content>
        </div>
    </div>
</div>