<div class="content dashboard-page stockkup-content-table-container stockkup-content-table-container">
    <div class="header header-bg-custom"  layout="column">
        <div class="header-content" layout="row" layout-align="start" layout-wrap flex>
            <h1 class="inner-page-heading">S&S Inventory</h1>
        </div>
    </div>

    <div class="content">
        <div class="simple-table-container">
            <div class="table-title pd10" layout="row" layout-align="space-between center">
                <div class="table-title-text" flex=20 class="cursor-p" ng-click="vm.openaddDesignDialog($event)">
                    S&S Inventory
                </div>
                <!----------Filter Sidebar End-------->
                <div class="order-modal-title " layout="row" layout-align="end center" flex=11>
                    <span class="cursor-p" ng-click="checkSnsAuth()" >Import S&S Data</span>
                </div>
            </div>
            <div  class="ms-responsive-table-wrapper">
               <table class="simple">
                    <thead>
                        <tr>
                            <th>No Records Found</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
