<div class="content order-list-page">
    <div class="simple-table-container md-whiteframe-4dp">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20 class="cursor-p" ng-click="vm.openaddDesignDialog($event)">
                S&S Inventory
            </div>
            <!----------Filter Sidebar End-------->
            <div class="order-modal-title " layout="row" layout-align="end center" flex=11>
                <span class="cursor-p" ng-click="checkSnsAuth()" >Import S&S Data</span>
            </div>
        </div>
        <div  class="ms-responsive-table-wrapper">
           <table class="simple">
                <thead>
                    <tr>
                        <th>No Records Found</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div> 
</div>
