<div style="height: 500px" class="ship-order-screen">
    <md-content class="">
        <div layout="row" layout-wrap="nowrap" class="p-30">
            <div flex-xs flex-gt-xs="25" layout="column">
                <md-card class="custom-fullbox-shadow">
                    
                    <md-card-header layout-align="space-between center">
                        <md-card-header-text>
                            <span class="md-title">Disrbution Location Name</span>
                        </md-card-header-text>
                        
                        <md-menu ng-if="maincompcontact.id != '0' && allow_access==1">
                            <md-button aria-label="Main Contact Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="4"  ng-click="openEditPopup('client/views/forms/contact_form.html',maincompcontact,$event,'client_contact')">
                                <md-menu-item>
                                    <md-button>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        
                    </md-card-header>
                    
                    <md-card-content class="custom-desc-box">
                        
                        <div  layout-align="space-between center" layout="row" class="card-box ng-scope layout-align-space-between-center layout-row">
                            <div class="ng-binding global-text-style">Screens</div>
                            <span class="ng-binding global-heading-style">123</span>
                        </div>
                        
                        <div class="h5 text-semibold">Product Name:</div>
                        <span>Gilden 5000 - T-shirts, Different Product</span>
                        
                        <div class="h5 text-semibold">Size:</div>
                        <span>M: 10 L:39 XL: 128</span>
                        
                        <div class="h5 text-semibold">Color(s):</div>
                        <span>Blue, Green</span>
                        
                        <div class="h5 text-semibold">Method:</div>
                        <span>FedEx - Ground</span>
                        
                        <!--<div class="h5 text-semibold">Date Shipping:</div>-->
                        <md-input-container class="md-block date-input md-input-has-value">
                            <input placeholder="Date Shipping:"kendo-date-picker ng-model="" k-ng-model="" />
                        </md-input-container>
                        
                        <!--<div class="h5 text-semibold">SKU:</div>-->
                        <md-input-container flex="100" class="margin-0 m-b-20">
                            <input placeholder="SKU" name="SKU" ng-model="">
                        </md-input-container>
                        
                        <!--<div class="h5 text-semibold">Notes:</div>-->
                        <md-input-container flex="100" class="margin-0 m-b-20 md-icon-float">
                            <input placeholder="Notes" name="Notes" ng-model="">
                        </md-input-container>
                        
                    </md-card-content>
                    
                    
                </md-card>
            </div>
        </div>
    </md-content>
</div>