
<div class="content client-list-page stockkup-content-table-container">
    <div class="simple-table-container md-whiteframe-4dp stokkup-main-tableview">
        <div class="table-title bottom-shadow" layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=60>
               Screen Sets for Order <a class="cursor-p" title="Go to Order" ui-sref="app.order.order-info({id:ScreenSets[0].order_id})">#{{ScreenSets[0].order_id}}</a> for Client: <a class="cursor-p" title="Go to Client" ui-sref="app.client.profile({id:ScreenSets[0].client_id})">{{ScreenSets[0].client_company}}</a>
            </div>
            <div class="pull-right right-search-box">
                 <a class="pull-right common-header-links" ui-sref="app.art">BACK TO ART</a> 
            </div>
        </div>
    </div>
    <div class="inner-full-box mt-30">
        <div class="order-information m-b-45 pad0" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <div class="info-order m-r-30" flex="73" layout="column">
                <div class="title mrg10-B"><span class="stokkup-title-h4">Information</span></div>
                 <md-card layout="row">
                    <md-card-content flex="100" layout="column">
                        <div layout="row" layout-wrap>
                            <div class="trans-box">
                                <div>Client</div>
                                <span class="chrome-weight font-14">{{ScreenSets[0].client_company}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Order Name</div>
                                <span class="chrome-weight font-14">{{ScreenSets[0].order_name}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Order Date</div>
                                <span class="chrome-weight font-14">{{ScreenSets[0].created_date}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Client Contact</div>
                                <span class="chrome-weight font-14">{{ScreenSets[0].first_name}} {{ScreenSets[0].last_name}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Client Email</div>
                                <span class="chrome-weight font-14">{{ScreenSets[0].billing_email}}</span>
                            </div>

                            
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex="24" layout="column">
                <md-select ng-model="ScreenSets[0].approval" ng-change="UpdateTableField(ScreenSets[0].approval,ScreenSets[0].order_id)" aria-label="Approval Status">
                    <md-option value="1" ng-selected="{{ScreenSets[0].approval==1}}">Approved</md-option>
                    <md-option value="0" ng-selected="{{ScreenSets[0].approval==0}}">Pending</md-option>
                </md-select>
            </div>
        </div>

        <div class="screensetbox pad0" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <div class="info-order box-zerospace">
                <div class="title box-title m-b-20"><span class="stokkup-title-h4">Screen Set</span></div>
                <md-card layout="row" class="transparent-bg no-border">
                    <md-card-content layout="column" class="pos-relative box-zerospace pad-0">
                        <div layout="row" layout-wrap>
                            <ul class="handles screenset-list-struct" dnd-list="ScreenSets_new.data_all"  dnd-inserted="change_sort()">
                            <li ng-repeat="sets in ScreenSets_new.data_all"
                            dnd-draggable="sets"
                            dnd-moved="ScreenSets_new.data_all.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="ScreenSets_new.data_all.selected = sets"
                            ng-class="{'selected': ScreenSets_new.data_all.selected === sets}">
                            <div class="box-zerospace white-bg"><div class="title screenset-titlebox"><span class="stokkup-title-h4 light-300 font-16">{{ScreenSets[0].screen_set}}</span></div></div>
                            <dnd-nodrag>
                                <div flex=60 class="pull-left" layout-wrap layout="row">
                                <div class="trans-box">
                                    <div>Position</div>
                                    <span class="chrome-weight font-14">{{sets.position_name}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Number of Colors</div>
                                    <span class="chrome-weight font-14">{{sets.color_stitch_count}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Frame Size</div>
                                    <span class="chrome-weight font-14">{{sets.frame_size}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Width</div>
                                    <span class="chrome-weight font-14">{{sets.screen_width}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Number of Screens</div>
                                    <span class="chrome-weight font-14">{{sets.screen_total}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Lines Per Inch</div>
                                    <span class="chrome-weight font-14">{{sets.line_per_inch}}</span>
                                </div>
                                <div class="trans-box">
                                    <div>Height</div>
                                    <span class="chrome-weight font-14">{{sets.screen_height}}</span>
                                </div>
                                </div>
                                <div flex=20 class="pull-left">
                                    <md-card-content class="box-zerospace padding-10">
                                        <img   ng-src="{{sets.mokup_logo_url}}" alt="" class="screenset-img" />
                                    </md-card-content>
                                </div>
                                <div flex=20 class="pull-left mt-20 text-center">
                                    <md-button class="md-raised stokkup-custom-btn1 bg-grey mb-15" ng-click="vm.createNewScreen($event,sets.screen_id)">Edit Screen sets</md-button>
                                    <md-button class="md-raised md-primary stokkup-custom-btn1 stokkup-blue-btn" ui-sref="app.art.screensetView({id:sets.screen_id})">View Screen</md-button>
                                </div>

                                <div layout="row" ng-show="sets.screen_active==0">
                                    <div flex="80" layout="column">
                                    <div layout="row" layout-wrap>
                                    <h1 style="color:#cccccc; padding-left: 10px;"> Screen Set Not Yet Created </h1>
                                    </div>
                                    </div>
                                    <div flex="20" layout="column">
                                    <div layout="row" layout-wrap style="margin-top: 10px;">
                                    <div flex="25" class="text-right"><md-button class="md-raised md-primary" style="background-color: rgba(204, 204, 204, 1); color: #5e5e5e; " ng-click="vm.createNewScreen($event,sets.screen_id)">Create Screen Set</md-button></div>
                                    </div>
                                    </div>
                                </div>
                                <div class="pull-right" dnd-handle>
                                    <span class="icon icon-menu fs22"></span>
                                </div>
                            </dnd-nodrag>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card class="mockup-img-box" flex="30">
                    <md-card-header layout-align="space-between center">
                        <md-card-header-text>
                            <span class="md-title">Mockup Image</span>
                        </md-card-header-text>
                        <md-menu>
                            <md-button aria-label="Image Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item ng-click="ImagePopup('mokup_image','art','art',ScreenSets[0].mokup_image_url,'order_id',ScreenSets[0].order_id,ScreenSets[0].mokup_image,ScreenSets[0].order_id)" >
                                    <md-button>
                                        Change Image
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item ng-click="deleteImage('mokup_image','art','art',ScreenSets[0].mokup_image,'order_id',ScreenSets[0].order_id,ScreenSets[0].order_id)">
                                    <md-button>
                                        Remove Image
                                    </md-button>
                                </md-menu-item>

                            </md-menu-content>
                        </md-menu>
                    </md-card-header>
                    <md-card-content ng-click="ImagePopup('mokup_image','art','art',ScreenSets[0].mokup_image_url,'order_id',ScreenSets[0].order_id,ScreenSets[0].mokup_image,ScreenSets[0].order_id)" layout="column" layout-padding class="min-height">
                        <img   ng-src="{{ScreenSets[0].mokup_image_url}}" alt=""  class="popup-image"/>
                    </md-card-content>
                </md-card>
            </div>
       </div>
       <md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row">
        <button type="button" class="md-raised md-primary stokkup-custom-btn1 stokkup-blue-btn m-b-20" aria-label="Generate Art Approval Form" ng-click="openClientEmailPopup()"><span class="ng-scope">Art Approval</span></button>
        </md-dialog-actions>                 
    </div><!-- inner full box-->
</div><!-- main div section ends here -->