<div class="box bg-white">
  <div class="navbar navbar-header md-whiteframe-z1 no-radius" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
      <!-- brand -->
      <a class="navbar-brand">        
        <img src="images/logo-stokkup.png" alt=".">
        <!--
		<span class="hidden-folded m-l inline" ui-sref="app.dashboard">{{app.sitename}}</span>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
              width: 24px; height: 24px;">
            <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
            <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
            <path d="M 8 80 L 50 0 L 50 100 Z" fill="#f3f3f3"></path>
            <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(220, 220, 220, 0.6)"></path>
        </svg>
		-->

      </a>
      <!-- / brand -->
	  
	  <!-- Common tools -->
    <ul class="nav nav-sm navbar-tool pull-right" ng-hide="$state.current.data.child">
 <!--      <li>
        <a md-ink-ripple ng-click="app.search.show = true">
          <i class="mdi-action-search i-24"></i>
        </a>
      </li> -->
<!--       <li>
        <a md-ink-ripple data-toggle="modal" data-target="#user">
          <i class="mdi-navigation-more-vert i-24"></i>
        </a>
      </li> -->
      <li class="dropdown">
        <a md-ink-ripple data-toggle="dropdown">
         <i class="mdi-social-person-outline i-24"></i> 
        </a>
        <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color" ng-controller="AppCtrl">
          <li><a href>{{app.role_title}}</a></li>
          <li><a href>{{app.useremail}}</a></li>
          <li class="divider"></li>
          <li ><a ui-sref="access.lockme"><i class="icon mdi-action-exit-to-app i-20" style="margin-right:12px;"></i>Logout</a></li>
        </ul>
      </li>
    </ul>
    <div class="pull-right" ui-view="navbar@"></div>
  </div>
    <!-- Search form -->
    <div id="search" class="pos-abt w-full h-full" ng-show="app.search.show" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
      <div class="box">
        <div class="box-col w-56 text-center">
          <!-- hide search form -->
          <a md-ink-ripple class="navbar-item inline" ng-click="app.search.show=false; app.search.content=''"><i class="mdi-navigation-arrow-back i-24"></i></a>
        </div>
        <div class="box-col v-m">
          <!-- bind to app.search.content -->
          <input class="form-control input-lg no-bg no-border" placeholder="Search" ng-model="app.search.content">
        </div>
        <div class="box-col w-56 text-center">
          <a md-ink-ripple class="navbar-item inline"><i class="mdi-av-mic i-24"></i></a>
        </div>
      </div>
    </div>
    <!-- / -->
  </div>
  
  
</div>
