<div class="content client-list-page stockkup-content-table-container">
    <div class="simple-table-container stokkup-main-tableview">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20 ng-click="vm.openaddDesignDialog($event)">
                Finishing
            </div>
            <div class="pull-right right-search-box margin-0">
                <div class="search-block pull-right">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class="top-srch-label">Search Finishing...</label>
                        <input ng-model="name" ui-event="{ change : 'search($event)' }">
                    </md-input-container>
                </div> 
            </div>
        </div>

        <div class="ms-responsive-table-wrapper" ng-show="success==1">
            <div tasty-table bind-resource-callback="getResource" bind-init="init" bind-filters="filterBy" bind-reload="reloadCallback" >
                <table class="dataTable row-border">
                    
                    <thead tasty-thead></thead>
                    <tbody>
                        <tr  ng-repeat-start="row in rows"  >
                            
                            <td>{{ row.order_id}}</td>
                            <td>{{ row.name}}</td>
                            <td>{{ row.client_company}}</td>
                            
                            <td class="accor" ng-show="row.order_finishing.length > 0">
                                <button ng-if="row.expanded" ng-click="row.expanded = false"><md-icon md-font-icon="icon-minus"></md-icon></button>
                                <button ng-if="!row.expanded" ng-click="row.expanded = true"><md-icon md-font-icon="icon-plus"></md-icon></button>
                            </td>
                            <td  ng-show="row.order_finishing.length == 0">
                                &nbsp;
                            </td>
                            <td>
                                <md-select aria-label="status" ng-model="row.approval_id" flex="100"  class="margin-0 select-width font-16 font-weight" ng-change="updateOrderStatus('approval_id',row.approval_id,row.order_id)" ng-disabled="allow_access == '0'">
                                    <md-option ng-selected="row.approval_id==misc_approval.id" slug="{{misc_approval.slug}}" ng-repeat="misc_approval in miscData.approval" value={{misc_approval.id}}>{{misc_approval.value}}</md-option>
                                </md-select>
                            </td>
                        </tr>
                        <tr class="table-desc dev-rdetail-data"  ng-if="row.expanded" ng-repeat-end="">
                            <td colspan="8" class="collpas">
                                <table class="dataTable row-border hover" >
                                    <thead>
                                        <th>Design</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Finishing Item</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>EST Completion Time</th>
                                        <th>Done?</th>
                                        <th>Operation</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="finishing in row.order_finishing">
                                            <td class="cursor-p">{{finishing.design_name}}</td>
                                            <td class="cursor-p">{{finishing.product_name}}</td>
                                            <td class="cursor-p">{{finishing.qty}}</td>
                                            <td class="cursor-p">{{finishing.category_name}}</td>
                                            <td class="cursor-p">{{finishing.start_time}}</td>
                                            <td class="cursor-p">{{finishing.end_time}}</td>
                                            <td class="cursor-p">{{finishing.est}}</td>
                                            <td>
                                                <md-input-container flex=30 class="m-b-20 m-t-25">
                                                    <md-select ng-model="finishing.status" aria-label="r1" ng-change="changeStatus(finishing)" ng-disabled="allow_access == '0'">
                                                      <md-option ng-selected="{{finishing.status==1}}" value="1">
                                                        Yes
                                                       </md-option>
                                                       <md-option ng-selected="{{finishing.status==0}}" value="0">
                                                        No
                                                       </md-option>
                                                    </md-select>                                
                                                </md-input-container>
                                            </td>
                                            <td ng-show="allow_access == '1'" class="cursor-p"><a ng-click="vm.editFinishing($event,finishing)">EDIT</a></td>
                                            <td ng-show="allow_access == '0'" class="cursor-p"><a ng-click="vm.editFinishing($event,finishing)">VIEW</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>                    
                    </tbody>
                </table>
                <div tasty-pagination class="tasty-page"></div>
            </div>
        </div>
        <div  class="ms-responsive-table-wrapper" ng-show="success==0">
           <table class="dataTable row-border">
                <thead>
                    <tr>
                        <th>No Records Found</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
