<div class="content order-list-page custom-product-page">
    <div class="simple-table-container md-whiteframe-4dp">
        <div class="table-title " layout="row" layout-align="space-between center" flex="100">
            <div class="table-title-text" flex="20" class="cursor-p" >
                Custom Product
            </div>
            <div class="search-block" flex="25">
                <md-input-container class="md-block" flex-gt-sm>
                    <input ng-model="name" placeholder="Search" ui-event="{ change : 'search($event)' }">
                </md-input-container>
            </div>
             <div class="order-modal-title mrg25-L" layout="row" layout-align="center center" flex="35">
                <form name="uploadcsv" id="uploadcsv" action="api/public/product/uploadCSV" method="post" enctype="multipart/form-data" target="_self">
                    <div class="fileUpload">
                        <input type="file" name="file" id="file" class="upload" ng-model="file">
                        <md-tooltip md-direction="bottom">Upload CSV File</md-tooltip>
                        <input type="hidden" name="company_id" id="company_id" value="{{company_id}}">
                        <span>Upload CSV</span>
                    </div>
                    <a href="#" class="btn-typ-submit" ng-click="submitForm()">
                        <span class="icon icon-upload"></span>
                    </a>
                   </form>
                     <form name="downloadcsv" id="downloadcsv" action="api/public/product/downloadCSV" method="post" enctype="multipart/form-data">
                    
                        <a href="#" class="btn-typ-submit" ng-click="submitFormDownload()" class="btn-typ-submit">
                            <span class="icon icon-download"></span>
                            <md-tooltip md-direction="bottom">Download CSV Sample File</md-tooltip>
                        </a>
                   </form>
                </div>
             <div class="order-modal-title " layout="row" layout-align="end center" flex="20" >
                <span class="cursor-p" ui-sref="app.settings.custom-info({id:0})" >CREATE CUSTOM PRODUCT</span>
            </div>
        </div>
        <div class="ms-responsive-table-wrapper" ng-show="success==1">
            <div tasty-table bind-resource-callback="getResource" bind-init="init" bind-filters="filterBy" bind-reload="reloadCallback" >
                <table class="dataTable row-border hover">
                    
                    <thead tasty-thead class="cursor-p"></thead>
                    <tbody>
                        <tr  ng-repeat="row in rows">
                            <td ui-sref="app.settings.custom-info({id:row.id})"  class="cursor-p">{{ row.id}}</td>
                            <td ui-sref="app.settings.custom-info({id:row.id})"  class="cursor-p">{{ row.name}}</td>
                            <td ui-sref="app.settings.custom-info({id:row.id})"  class="cursor-p">{{ row.name_company}}</td>
                        </tr>                  
                    </tbody>
                </table>
                <div tasty-pagination class="tasty-page"></div>
            </div>
        </div>
        <div  class="ms-responsive-table-wrapper" ng-show="success==0">
           <table class="simple">
                <thead>
                    <tr>
                        <th>No Records Found</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>