<div class="content order-list-page custom-product-page">
    <div class="simple-table-container md-whiteframe-4dp">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20 class="cursor-p" >
                Custom Product
            </div>
           

            <div class="search-block" flex=30>
                <md-input-container class="md-block" flex-gt-sm>
                    <input ng-model="name" placeholder="Search" ui-event="{ change : 'search($event)' }">
                </md-input-container>
            </div>

             <div class="order-modal-title " layout="row" layout-align="end center" flex=11 >

            <form name="uploadcsv" id="uploadcsv" action="api/public/product/uploadCSV" method="post" enctype="multipart/form-data" target="_blank">
                <div class="fileUpload">
                    <input type="file" name="file" id="file" class="upload" ng-model="file">
                    <md-tooltip md-direction="bottom">Upload CSV File</md-tooltip>
                    <input type="hidden" name="company_id" id="company_id" value="{{company_id}}">
                    <span>Upload CSV</span>
                </div>
                <a href="#" class="btn-typ-submit" ng-click="submitForm()">
                    <span class="icon icon-upload"></span>
                </a>
               </form>
               
                </div>

             <div class="order-modal-title " layout="row" layout-align="end center" flex=11 >
                <span class="cursor-p" ng-click="vm.openCustomProductDialog($event,0)" >CREATE CUSTOM PRODUCT</span>
            </div>
        </div>
        <div class="ms-responsive-table-wrapper" ng-show="success==1">
            <div tasty-table bind-resource-callback="getResource" bind-init="init" bind-filters="filterBy" bind-reload="reloadCallback" >
                <table class="dataTable row-border hover">
                    
                    <thead tasty-thead></thead>
                    <tbody>
                        <tr  ng-repeat="row in rows"  >
                            <td ng-click="vm.openCustomProductDialog($event,row.id)"  class="cursor-p">{{ row.id}}</td>
                            <td>{{ row.name}}</td>
                        </tr>                  
                    </tbody>
                </table>
                <div tasty-pagination class="tasty-page"></div>
            </div>
        </div>
        <div  class="ms-responsive-table-wrapper" ng-show="success==0">
           <table class="simple">
                <thead>
                    <tr>
                        <th>No Records Found</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>