
  <div class="panel panel-default">
    <div class="panel-body b-b b-light">
<!--       Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/> -->
        <div class="col-sm-4 col-xs-6">
            <form>
                <input type="text"
                       placeholder="search"
                       class="form-control"
                       data-ng-model="searchKeywords"
                       data-ng-keyup="search()">
            </form>
        </div>
        <div class="col-sm-3 col-xs-6 filter-result-info">
            <span>
                Showing {{filteredPrice.length}} of {{price.length}} price
            </span>              
        </div>
    </div>

    <div ng-show="price.length > 0">

      <table class="table m-b-none">
        <thead>
          <tr>
              <th>Price Grid
                  <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('name')" data-ng-class="{active: row == 'name'}"></span>
                  <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-name')" data-ng-class="{active: row == '-name'}"></span>
              </th>
              <th data-hide="phone">
                  Status
              </th>
              <th data-hide="phone">
                  Operations
              </th>

          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="data in currentPagePrice" id="price_{{data.id}}">
              <td>{{data.name}}</td>
            
              <td ng-if="data.status == 1" ><span class="label bg-success" title="Active">Active</span></td>
              <td ng-if="data.status == 0" ><span class="label bg-danger" title="Deactive">Deactive</span></td>



              <td style="white-space: nowrap">

                <div class="buttons" ng-show="!rowform.$visible" aria-hidden="false">
                  <button class="btn btn-xs btn-info" ui-sref="setting.priceedit({ id: data.id })" tabindex="0">Edit</button>
                  <button class="btn btn-xs btn-danger" ng-click="delete(data.id)" tabindex="1">Delete</button>
                </div>
             </td>

          </tr>

           
         
        </tbody>
      </table>
      <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredPrice.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true">
                    </pagination>
                </div>
            </div>
        </footer>
    </div>

<div ng-show="price.length == 0">
        <div class="col-md-12">
            <h4>No Records found</h4>
        </div>
    </div>

   
  </div>


 