<div class="main-design-page m-r-15 m-l-20 m-b-20">
    <div class="header"  layout="column">
        
        <div class="order-information m-b-20" layout="row" layout-align="start" layout-wrap flex >
            <div class="info-order" flex="100">
                
                <md-card layout="row">
                    
                    <md-card-content flex="50" layout="column">
                        
                        <div class="table-title paddingbottom-0" layout="row" layout-align="space-between center">
                            <div class="table-title-text h2 text-semibold" flex=40>
                                <div class="title" layout-padding><span class="basicInfoStyle">COMPANY CAPABILITIES</span></div>
                            </div>
                        </div>

                        <div class="div-1000">
                          <md-button class="md-raised btn-width-315" ng-click="toggle()" ng-class="{on:btns.state}">SCREEN PRINTING</md-button>
                          <md-button class="md-raised btn-width-315">EMBROIDERING</md-button>
                          <md-button class="md-raised btn-width-315">PACKAGING</md-button>
                          <md-button class="md-raised btn-width-315">SHIPPING</md-button>
                          <md-button class="md-raised btn-width-315">ART WORK</md-button>
                        </div> 


                        <div class="table-title paddingbottom-0 pad-top-25" layout="row" layout-align="space-between center">
                            <div class="table-title-text h2 text-semibold" flex=40>
                                <div class="title" layout-padding><span class="basicInfoStyle">COMPANY WORKFLOW</span></div>
                            </div>
                        </div>

                        <label class="margin-left-15">What type of machines does your shop run?</label>

                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25 div-1000">
                            <input placeholder="Company Name" name="" ui-event="">
                            <div ng-messages=" " role="alert" multiple>
                                <div ng-message="required">
                                    <span>This field is required</span>
                                </div>
                            </div>
                        </md-input-container>

                        <label class="margin-left-15">What shifts does your shop run?</label>
                        <div class="div-1000">
                          <md-button class="md-raised btn-width-315" ng-click="toggle()" ng-class="{on:btns.state}">FIRST SHIFT</md-button>
                          <md-button class="md-raised btn-width-315">SECOND SHIFT</md-button>
                          <md-button class="md-raised btn-width-315">THIRD SHIFT</md-button>
                        </div> 

                        <label class="margin-left-15 pad-top-25">What shifts does your shop run?</label>
                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25 div-1000">
                            <input placeholder="Company Name" name="" ui-event="">
                            <div ng-messages=" " role="alert" multiple>
                                <div ng-message="required">
                                    <span>This field is required</span>
                                </div>
                            </div>
                        </md-input-container>

                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>