<md-dialog class="task-dialog ssActivewearDialog" >
    <div class="client-profile-page">
    <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">S&S API INTEGRATION</span>
                <md-button  ng-click="closeDialog()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
    <div ng-cloak>
    <md-card-content layout="column" class="box-shadow-0">
        <div layout="row" layout-wrap="nowrap" id="affiliateDialog" layout-padding layout-align="space-between start">
                <div layout="column"  flex="100">

                    <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                        <input placeholder="Username" name="username" ng-model="sns.username" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'ss_detail\',sns.id)' }">
                    </md-input-container>

                    <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                        <input placeholder="API Key" name="api_key" ng-model="sns.api_key" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'ss_detail\',sns.id)' }">
                    </md-input-container>

                 
                    <!-- <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                        <input placeholder="API Password" type="password" name="password" ng-model="sns.password" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'ss_detail\',sns.id)' }">
                    </md-input-container> -->

                </div>
                
            </div>
</div>
<!--     <md-button class="bg-blue float-right" id="affiliateSaveBtn" ng-click="cancel()">
            SAVE
    </md-button> -->
</md-dialog>