<md-dialog class="task-dialog" >
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Edit Notes</span>
                <md-button  ng-click="closeDialog()">
                    <span>Close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>

                <md-input-container class="md-block first-box m-b-30">
                    <input placeholder="Description" name="description" area-label=""  required ng-model="document_data.description">
                </md-input-container>

				<md-input-container class="upload-rel">
                    <md-button class="md-primary md-hue-1 md-accent upload" onclick="document.getElementById('myFileInput').click()" > UPLOAD</md-button>
                </md-input-container>

                <md-input-container class="md-block first-box">
                      <input type='file' area-label=""  style="display: none" data-ng-model="document_data.document_photo" id="myFileInput" onload="onLoad" base-sixty-four-input>
                </md-input-container>

                <div layout-wrap="nowrap" flex="50">
                    <md-card class="card ">
                        <div class="height-image">
                          
                          <img ng-if="showtcprofileimg == false && document_data.document_photo != ''" ng-src="{{document_data.document_photo_url}}" alt="Document File"  class="img-responsive" height="200px" width="200px"/> 
                          <img ng-if="showtcprofileimg == true" ng-src="data:{{document_data.document_photo.filetype}};base64, {{document_data.document_photo.base64}}"   alt="Document Uploaded" class="popup-image">

                        </div>
                    </md-card>
                </div>

              </div>
        </md-dialog-content>
         <md-dialog-actions layout="row" layout-align="end center">
                   <md-button ng-click="AddDocument(document_data)" class="md-primary md-hue-1 md-accent ">Save</md-button>
        </md-dialog-actions> 
    </form>
</md-dialog>