<md-dialog class="task-dialog" >
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Edit Blind Approval Text</span>
                <md-button  ng-click="closeDialog()" class="close-stokkup-dialog md-button">
                    <span>Close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>
                <md-input-container class="md-block first-box">
                    <input placeholder="Text here" name="blind_text" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'client\',\'client_id\',contact_arr.client_id,\'bindtext\')' }"  required ng-model="contact_arr.blind_text">
                </md-input-container>
              </div>
        </md-dialog-content>
<!--         <md-dialog-actions layout="row" layout-align="end center">
                   <md-button ng-click="closeDialog()" class="md-primary md-hue-1 md-accent ">Save</md-button>
        </md-dialog-actions> -->
    </form>
</md-dialog>