<md-dialog class="task-dialog" >
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Edit Company Info</span>
                <md-button  ng-click="closeDialog()" class="close-stokkup-dialog md-button">
                    <span>Close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>
                <div class="content-heading" layout-padding>
                    <span class="md-title">Company Information</span>
                </div>
                <md-input-container class="md-block first-box">
                    <input placeholder="Company Name *" name="client_company"  required ng-model="client.client_company">
                    <div ng-messages="clientForm.client_company.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <!---------      CLIENT TYPE      ---------------->
                <md-input-container>
                    <label>Type</label>
                    <md-select ng-model="client.client_companytype" name="client_companytype"  >
                        <md-option value="0">
                            Select Type
                        </md-option>
                        <md-option ng-repeat="type in ArrCleintType" ng-selected="{{client.type_id==type.id}}" value="{{type.id}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                <input  vs-google-autocomplete="options"
                        ng-model="address.name"
                        vs-street-number="address.components.streetNumber" 
                        vs-street="address.components.street"
                        vs-city="address.components.city"
                        vs-state="address.components.state"
                        vs-post-code="address.components.postCode"
                        type="text" 
                        name="address"
                        id="address"
                        aria-label="form-control" flex=70 tabindex="2">
                        <md-button tabindex="3"  class="md-accent md-raised api-focus border-radius-half" ng-click="GetAPIData(address.components)" flex=20 >Use it</md-button>
                </md-input-container>


                <md-input-container>
                    <input placeholder="Street Address" name="pl_address"  ng-model="client.pl_address"  >
                </md-input-container>
                <md-input-container>
                    <input placeholder="Suite" name="pl_suite"  ng-model="client.pl_suite"  >
                </md-input-container>
                <md-input-container>
                    <input placeholder="City"  name="pl_city" ng-model="client.pl_city"  >
                </md-input-container>

                <!---------      STATE      ---------------->
                <div layout="row" layout-wrap="nowrap" layout-align="space-between start">
                    <md-input-container flex=45>
                        <label>State</label>
                        <md-select ng-model="client.pl_state"  name="pl_state" >
                            <md-option value="0">
                                Select State
                            </md-option>
                            <md-option ng-repeat="state_val in states_all" id="{{state_val.id}}" ng-selected='{{state_val.id==client.state_id}}' value="{{state_val.id}}">
                                {{state_val.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="45">
                        <input placeholder="Zip Code" name="pl_pincode"  ng-model="client.pl_pincode"  >
                    </md-input-container>
                </div>

                <md-input-container>
                    <label>Billing Email *</label>
                    <input  type="email" name="billing_email" required ng-pattern="/^.+@.+\..+$/" ng-model="client.billing_email"  >
                    
                    <div ng-messages="clientForm.billing_email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span >This field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input placeholder="Company Phone *"  name="company_phone" ng-model="client.company_phone" required only-number ng-maxlength="10" ng-minlength="10">
                        <div ng-messages="clientForm.company_phone.$error" role="alert" multiple>
                            <div ng-message="required">
                                <span >This field is required</span>
                            </div>
                            <div ng-message="maxlength">
                                <span >Phone number must be have 10 digits.</span>
                            </div>
                            <div ng-message="minlength">
                                <span >Phone number must be have 10 digits.</span>
                            </div>
                        </div>
                </md-input-container>
                <md-input-container>
                    <input placeholder="Company Website URL"  name="company_url" ng-model="client.company_url" >
                </md-input-container>


                <md-input-container>
                    <label>Blind</label>
                    <md-select ng-model="client.is_blind" name="is_blind"  >
                       
                       <md-option value="0">No</md-option>
                       <md-option value="1">Yes</md-option>
                       
                    </md-select>
                </md-input-container> 



                <!---------      DISPOSITIONS      ---------------->
                <md-input-container>
                    <label>Deposition</label>
                    <md-select ng-model="client.client_desposition" name="client_desposition"  >
                        <md-option value="0">
                            Select Deposition
                        </md-option>
                        <md-option ng-repeat="disp in Arrdisposition" ng-selected='{{client.misc_id==disp.id}}' value="{{disp.id}}">
                            {{disp.value}}
                        </md-option>
                    </md-select>
                </md-input-container>  

                <md-input-container class="m-b-30">
                    <label>Account Managers</label>
                    <md-select ng-model="client.account_manager" name="account_manager">
                        <md-option value="0">
                            Select Account Manager
                        </md-option>
                        <md-option ng-repeat="usr in companyUsers" ng-selected='{{client.account_manager==usr.id}}' value="{{usr.id}}">
                            {{usr.name}}
                        </md-option>
                    </md-select>
                </md-input-container>  

                

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            
                   <md-button ng-click="SaveCompanyInfo(client)" ng-disabled="clientForm.$invalid || clientForm.$pristine" class="md-primary md-hue-1 md-accent ">Save</md-button>
<!--                    <md-button class="md-accent md-raised " ng-click="UpdateTableField(client)">Save</md-button>
            
        </md-dialog-actions>
    </form>
</md-dialog>