<md-dialog class="task-dialog" >
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Company Contact</span>
                <md-button  ng-click="closeDialog()" class="close-stokkup-dialog md-button">
                    <span>Close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>

                <md-input-container class="md-block first-box">
                    <input placeholder="First name *" name="first_name" required ng-model="params.first_name">
                    <div ng-messages="clientForm.first_name.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span >This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input placeholder="Last Name" name="last_name" ng-model="params.last_name"  >
                </md-input-container>
                <md-input-container>
                    <input placeholder="Location" name="location"  ng-model="params.location"  >
                </md-input-container>
                <md-input-container>
                    <input placeholder="Phone *" only-number ng-maxlength="10" ng-minlength="10" required  name="phone" ng-model="params.phone" >
                    <div ng-messages="clientForm.phone.$error" role="alert" multiple>
                        <div ng-message="maxlength">
                            <span>Phone number must be have 10 digits.</span>
                        </div>
                        <div ng-message="minlength">
                            <span>Phone number must be have 10 digits.</span>
                        </div>
                        <div ng-message="required">
                            <span >This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input placeholder="Email *"  name="email" ng-model="params.email" ng-pattern="/^.+@.+\..+$/" required  >
                    <div ng-messages="clientForm.email.$error" role="alert" multiple>
                        <div ng-message="pattern">
                            <span >Email must be a valid e-mail address</span>
                        </div>
                        <div ng-message="required">
                            <span >This field is required</span>
                        </div>
                    </div>

                </md-input-container>
              </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            
                  <!--  <md-button ng-click="closeDialog()" class="md-primary md-hue-1 md-accent ">Save</md-button> -->
                 <md-button class="md-accent md-raised " ng-show="flag=='add'" ng-disabled="clientForm.$invalid || clientForm.$pristine" ng-click="InsertTableData(params,'client_contact')">Save</md-button>

                 <md-button class="md-accent md-raised" ng-show="flag=='edit'" ng-disabled="clientForm.$invalid || clientForm.$pristine" ng-click="UpdateTableDataAll(params,'client_contact','id',params.id,'client_contact')">Update</md-button>
            
        </md-dialog-actions>
    </form>
</md-dialog>