<md-dialog class="task-dialog" >
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Edit Location</span>
                <md-button  ng-click="closeDialog()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>

                <md-input-container class="md-block first-box">
                    <input placeholder="Address" name="address" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'client_address\',\'id\',contact_arr.id,\'location\')' }"  required ng-model="contact_arr.address">
                </md-input-container>
                <md-input-container>
                    <input placeholder="City" name="city" ng-model="contact_arr.city" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'client_address\',\'id\',contact_arr.id,\'location\')' }" >
                </md-input-container>
                    <md-input-container class="m-b-20">
                        <label>State</label>
                        <md-select ng-model="contact_arr.state"  name="state"  ng-change='UpdateTableField("state",contact_arr.state,"client_address","id",contact_arr.id,"distribution")'>
                            <md-option ng-repeat="state_val in states_all" ng-selected='{{state_val.id==contact_arr.state}}' value="{{state_val.id}}">
                                {{state_val.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                <md-input-container>
                    <input placeholder="Zip Code"  name="postal_code" ng-model="contact_arr.postal_code" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'client_address\',\'id\',contact_arr.id,\'location\')' }" >
                </md-input-container>
                <md-input-container>
                    <input placeholder="Type"  name="type" ng-model="contact_arr.type" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'client_address\',\'id\',contact_arr.id,\'location\')' }" >
                </md-input-container>
              </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            
                   <md-button ng-click="closeDialog()" class="md-primary md-hue-1 md-accent ">Save</md-button>
<!--                    <md-button class="md-accent md-raised " ng-click="UpdateTableField(client)">Save</md-button>
 -->             
        </md-dialog-actions>
    </form>
</md-dialog>