<md-dialog class="task-dialog" >
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Client Location</span>
                <md-button  ng-click="closeDialog()" class="close-stokkup-dialog md-button">
                    <span>Close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>
                
                <md-input-container>
                    <input tabindex="2" vs-google-autocomplete="Gapi_options"
                        ng-model="Gapi_address.name"
                        vs-street-number="Gapi_address.components.streetNumber" 
                        vs-street="Gapi_address.components.street"
                        vs-city="Gapi_address.components.city"
                        vs-state="Gapi_address.components.state"
                        vs-post-code="Gapi_address.components.postCode"
                        type="text" 
                        name="Gapi_address"
                        id="Gapi_address"
                        aria-label="form-control" flex=70>
                        <md-button tabindex="3"  class="md-accent md-raised api-focus border-radius-half" ng-click="LocationAPI(Gapi_address.components)" flex=20 >Use it</md-button>
                </md-input-container>


                <md-input-container class="md-block first-box">
                    <input placeholder="Address *" name="address" required ng-model="params.address">
                    <div ng-messages="clientForm.address.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span >This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input placeholder="City" name="city" ng-model="params.city"  >
                </md-input-container>
                <md-input-container>
                    <label>State</label>
                    <md-select ng-model="params.state"  name="state"  >
                        <md-option value="0">
                                Select State
                        </md-option>
                        <md-option ng-repeat="state_val in all_scope.states_all" ng-selected='{{state_val.id==params.state}}' value="{{state_val.id}}">
                            {{state_val.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <input placeholder="Zip Code"  name="postal_code" ng-model="params.postal_code"  >
                </md-input-container>
                 <md-input-container class="m-b-20">
                    <label>Type</label>
                    <md-select ng-model="params.type"  name="type"  >
                        <md-option value="0">
                                Select Type
                        </md-option>
                        <md-option ng-repeat="type in all_scope.AddrTypeData" ng-selected='{{type.id==params.type}}' value="{{type.id}}">
                            {{type.value}}
                        </md-option>
                    </md-select>
                </md-input-container>
              </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            
                  <!--  <md-button ng-click="closeDialog()" class="md-primary md-hue-1 md-accent ">Save</md-button> -->
                 <md-button class="md-accent md-raised " ng-show="flag=='add'" ng-disabled="clientForm.$invalid || clientForm.$pristine" ng-click="InsertTableData(params,'client_address')" tabindex="3">Save</md-button>

                 <md-button class="md-accent md-raised" ng-show="flag=='edit'" ng-disabled="clientForm.$invalid || clientForm.$pristine" ng-click="UpdateTableDataAll(params,'client_address','id',params.id,'client_address')" tabindex="3">Update</md-button>
            
        </md-dialog-actions>


    </form>
</md-dialog>