<md-dialog class="task-dialog" >
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">client Notes</span>
                <md-button  ng-click="closeDialog()" class="close-stokkup-dialog md-button">
                    <span>Close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>
                <md-input-container class="md-block first-box">
                    <textarea placeholder="Note" name="client_notes" required ng-model="params.client_notes" rows="5"></textarea>
                    <div ng-messages="clientForm.phone.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span >This field is required</span>
                        </div>
                    </div>
                </md-input-container>
              </div>
        </md-dialog-content>
        
        <md-dialog-actions layout="row" layout-align="end center">
            
                  <!--  <md-button ng-click="closeDialog()" class="md-primary md-hue-1 md-accent ">Save</md-button> -->
                 <md-button class="md-accent md-raised " ng-show="flag=='add'" ng-disabled="clientForm.$invalid || clientForm.$pristine" ng-click="InsertTableData(params,'client_notes')">Save</md-button>

                 <md-button class="md-accent md-raised" ng-show="flag=='edit'" ng-disabled="clientForm.$invalid || clientForm.$pristine" ng-click="UpdateTableDataAll(params,'client_notes','note_id',params.note_id,'client_notes')">Update</md-button>
            
        </md-dialog-actions>

    </form>
</md-dialog>