<md-dialog class="task-dialog" >
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Edit Sales Details</span>
                <md-button  ng-click="closeDialog()" class="close-stokkup-dialog md-button">
                    <span>Close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>

                <md-input-container class="md-block first-box">
                    <input placeholder="Sales Website" name="salesweb" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'client\',\'client_id\',client.client_id,\'sales\')' }"  ng-model="salesDetails.salesweb">
                </md-input-container>

                <md-input-container class="md-block date-input m-b-30">
                    <input placeholder="Anniversary date" kendo-date-picker k-ng-model="dateObject2" name="anniversarydate" ng-model="salesDetails.anniversarydate"  ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'client\',\'client_id\',client.client_id,\'date\')' }"  >
                </md-input-container>

                <md-input-container class="m-b-30">
                    <label>Sales Person</label>
                    <md-select ng-model="salesDetails.salesperson" name="client_companytype"  ng-change='UpdateTableField("salesperson",salesDetails.salesperson,"client","client_id",client.client_id,"sales")'>
                        <md-option value="0">
                            Select Person
                        </md-option>
                        <md-option ng-repeat="staff in StaffList" ng-selected="{{salesDetails.salesperson==staff.id}}" value="{{staff.id}}">
                            {{staff.sales_name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="m-b-30">
                    <label>Default PriceGrid</label>
                    <md-select ng-model="salesDetails.salespricegrid" name="salespricegrid"  ng-change='UpdateTableField("salespricegrid",salesDetails.salespricegrid,"client","client_id",client.client_id,"sales")'>
                        <md-option value="0">
                            Select PriceGrid
                        </md-option>
                        <md-option ng-repeat="price in AllPriceGrid" ng-selected="{{salesDetails.salespricegrid==price.id}}" value="{{price.id}}">
                            {{price.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

              </div>
        </md-dialog-content>
<!--         <md-dialog-actions layout="row" layout-align="end center">
            
                   <md-button ng-click="closeDialog()" class="md-primary md-hue-1 md-accent ">Save</md-button>
<!--                    <md-button class="md-accent md-raised " ng-click="UpdateTableField(client)">Save</md-button>
            
        </md-dialog-actions> -->
    </form>
</md-dialog>