<md-dialog class="task-dialog" >
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Upload Tax Document</span>
                <md-button  ng-click="closeDialog()">
                    <span>Close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>
            	<md-input-container class="md-block first-box"></md-input-container>
				<md-input-container class="upload-rel">
                    <md-button class="md-primary md-hue-1 md-accent upload" onclick="document.getElementById('myFileInput').click()" > UPLOAD</md-button>
                     <input type='file' area-label=""  style="display: none" ng-model="client_tax.tax_document" id="myFileInput" onload="onLoad" base-sixty-four-input>
                </md-input-container>

                <div layout-wrap="nowrap" flex="50">
                    <md-card class="card ">
                        <div class="height-image">
                          <img ng-if="showtcprofileimg == false && client_tax.tax_document != '1'" ng-src="{{client_tax.tax_document_url}}" alt="Document File"  class="popup-image"/> 
                          <img ng-if="showtcprofileimg == true" ng-src="data:{{client_tax.tax_document.filetype}};base64, {{client_tax.tax_document.base64}}"   alt="Document Uploaded" class="popup-image">
                          <img ng-if="client_tax.tax_document == '1' && showtcprofileimg == false" ng-src="{{params.NoDocument}}" alt="No Document" class="popup-image" >

                        </div>
                    </md-card>
                </div>

              </div>
        </md-dialog-content>
         <md-dialog-actions layout="row" layout-align="end center">
                   <md-button ng-click="SaveTaxDoc(client_tax)" class="md-primary md-hue-1 md-accent ">Save</md-button>
        </md-dialog-actions> 
    </form>
</md-dialog>