<md-dialog class="task-dialog" >
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Edit Tax</span>
                <md-button  ng-click="closeDialog()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>

                <md-input-container class="md-block first-box">
                    <input placeholder="Tax ID" name="tax_id" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'client_\',\'client_id\',client.client_id,\'tax\')' }"  ng-model="client_tax.tax_id">
                </md-input-container>

                <md-input-container>
                    <input placeholder="Tax Rate" name="tax_rate" ng-model="client_tax.tax_rate"  ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'client\',\'client_id\',client.client_id,\'tax\')' }"  >
                </md-input-container>

                 <md-input-container>
                    <input placeholder="Tax Exempt" name="tax_exempt" ng-model="client_tax.tax_exempt"  ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'client\',\'client_id\',client.client_id,\'tax\')' }"  >
                </md-input-container>


              </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            
                   <md-button ng-click="closeDialog()" class="md-primary md-hue-1 md-accent ">Save</md-button>
<!--                    <md-button class="md-accent md-raised " ng-click="UpdateTableField(client)">Save</md-button>
 -->             
        </md-dialog-actions>
    </form>
</md-dialog>