<div class="panel panel-default shippingDetails">
	<div class="panel-body nopad-left nopad-right">
		<div class="container col-md-12">	
			<ul class="nav nav-tabs input-group col-sm-12">
                <li class="active">
                	<a href data-toggle="tab" data-target="#shippingOrders">Orders</a>
                </li>
                <li>
                	<a href data-toggle="tab" data-target="#shipOrder">Shipping Order</a>
                </li>
				<li>
					<a href data-toggle="tab" data-target="#shippingBoxes">Boxes</a>
				</li>
			  	<li>
			  		<a href data-toggle="tab" data-target="#shipRelOrders">Related Orders</a>
			  	</li>
            </ul>
            <!-- Tab Container -->

            <div class="tab-content clearfix"> 
            	<!-- Orders -->           	
                <div role="tabpanel" class="tab-pane active animated fadeIn" id="shippingOrders">
                	<div class="col-md-12">
                		<div class="panel-body nopad-left nopad-right">
                			<div class="col-md-4 panel panel-default nopad-form salesOrders">
                				<div class="col-md-12">
	                				<div class="col-md-12 nopad-form form-group formlabels">
	                					<label class="mainTitle">SALES ORDER</label>
	                				</div>
	                				<div class="col-md-12 nopad-form form-group">
	                					<div class="col-md-1 nopad-left smallPad"> </div>
	                					<div class="col-md-2 nopad-left smallPad">
	                						<label>Job#</label>
	                					</div>
	                					<div class="col-md-5 nopad-left smallPad">
	                						<label>Job Name</label>
	                					</div>
	                					<div class="col-md-2 nopad-left smallPad">
	                						<label>Ship by Date</label>
	                					</div>
	                					<div class="col-md-2 nopad-form"> </div>
	                				</div>
                                    <div class="salesItemsContent">
                                        <!-- Sales Fields -->
    	                				<div class="col-md-12 nopad-form form-group">
    	                					<div class="col-md-1 nopad-left smallPad">
    	                						<div class="sgpDetails btnCircle">
                                                  <a class="" tabindex="0" role="button" title="Move">
                                                    <i class="fa fa-check"></i>
                                                  </a>
                                                </div>
    	                					</div>
    	                					<div class="col-md-2 nopad-left smallPad">
    	                						<input type="text" class="form-control" />
    	                					</div>
    	                					<div class="col-md-5 nopad-left smallPad">
    	                						<input type="text" class="form-control" />
    	                					</div>
    	                					<div class="col-md-2 nopad-left smallPad">
    	                						<input type="text" class="form-control" />
    	                					</div>
    	                					<div class="col-md-2 nopad-form">
    	                						<input type="text" class="form-control" />
    	                					</div>
    	                				</div>
                                        <!-- / -->
                                    </div>
	                			</div>
                			</div>
                			<div class="col-md-8 nopad-right">
                				<div class="col-md-4 nopad-left">
                                    <div class="col-md-12 panel panel-default salesOrderItems">
                                        <div class="col-md-12 nopad-form form-group formlabels">
                                            <label class="mainTitle">SALES ORDER ITEMS</label>
                                        </div>
                                        <div class="col-md-12 nopad-form form-group">
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Size Group</label>
                                            </div>
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Product</label>
                                            </div>
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Qnty Ordered</label>
                                            </div>
                                            <div class="col-md-3 nopad-form pull-right text-center"> 
                                                <label>Qnty Remaining to Distribute</label>
                                            </div>
                                        </div>

                                        <!-- Sales Order Items Records -->
                                        <div class="salesItemsContent">
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-4 nopad-left smallPad">
                                                    <select class="form-control">
                                                        <option>Men's</option>
                                                        <option>Women's</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 nopad-form text-center">
                                                    <div class="sgpDetails btnCircle">
                                                      <a class="" tabindex="0" role="button" title="Move">
                                                        <i class="fa fa-plus"></i>
                                                      </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Second Row -->
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-5 nopad-left smallPad">
                                                    <select class="form-control">
                                                        <option>Men's</option>
                                                        <option>Women's</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="XS" />
                                                </div>
                                                <div class="col-md-2 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="2" />
                                                </div>
                                                <div class="col-md-2 nopad-form">
                                                    <input type="text" class="form-control" value="0" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / -->
                                    </div>
                                </div>
                				<div class="col-md-4 nopad-left">
                					<div class="col-md-12 panel panel-default relatedShipments">
                                        <div class="col-md-12 nopad-form form-group formlabels">
                                            <label class="mainTitle">Related Shipments</label>
                                        </div>
                                        <div class="col-md-12 nopad-form form-group">
                                            <div class="pull-right text-center"> 
                                                <button class="btn btn-default addButton">Add'I Shipment</button>
                                            </div>
                                        </div>

                                        <!-- Sales Order Items Records -->
                                        <div class="salesItemsContent">
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="Chubby Weiners" />
                                                </div>
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="" />
                                                </div>
                                            </div>
                                            <!-- Second Row -->
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="" />
                                                </div>
                                                <div class="col-md-3 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="" />
                                                </div>
                                                <div class="col-md-3 nopad-form">
                                                    <div class="sgpDetails btnCircle">
                                                      <a class="" tabindex="0" role="button" title="Move">
                                                        <i class="fa fa-arrow-right"></i>
                                                      </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / -->
                                    </div>
                				</div>
                				<div class="col-md-4 nopad-form">
                					<div class="col-md-12 panel panel-default selectedShipment">
                                        <div class="col-md-12 nopad-form form-group formlabels">
                                            <label class="mainTitle">Items in Selected Shipment</label>
                                        </div>
                                        <div class="col-md-12 nopad-form form-group">    
                                            <div class="col-md-3 nopad-form pull-right text-center"> 
                                                <label>Qnty Shipped</label>
                                            </div>                                     
                                            <div class="col-md-3 nopad-right pull-right smallPad">
                                                <label>Qnty Distribute</label>
                                            </div>
                                        </div>

                                        <!-- Sales Order Items Records -->
                                        <div class="salesItemsContent">
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-4 nopad-left smallPad">
                                                    <select class="form-control">
                                                        <option>Men's</option>
                                                        <option>Women's</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 nopad-form text-center">
                                                    <div class="sgpDetails disabled-sgpDetails btnCircle">
                                                      <a class="" tabindex="0" role="button">
                                                        <i class="fa fa-minus"></i>
                                                      </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Second Row -->
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-5 nopad-left smallPad">
                                                    <select class="form-control">
                                                        <option>Men's</option>
                                                        <option>Women's</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="XS" />
                                                </div>
                                                <div class="col-md-2 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="2" />
                                                </div>
                                                <div class="col-md-2 nopad-form">
                                                    <input type="text" class="form-control c-yellow" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / -->
                                    </div>
                				</div>
                			</div>
                		</div>
                	</div>
                </div>

                <!-- Shipping Order -->
                <div role="tabpanel" class="tab-pane animated fadeIn" id="shipOrder">
                	<div class="col-md-12">
                		<div class="panel-body nopad-left nopad-right">
                			Shipping Orders
                		</div>
                	</div>
                </div>

                <!-- Boxes -->
                <div role="tabpanel" class="tab-pane animated fadeIn" id="shippingBoxes">
                	<div class="col-md-12">
                		<div class="panel-body nopad-left nopad-right">
                			Boxes
                		</div>
                	</div>
                </div>

                <!-- Relational Order -->
                <div role="tabpanel" class="tab-pane animated fadeIn" id="shipRelOrders">
                	<div class="col-md-12">
                		<div class="panel-body nopad-left nopad-right">
                			Related Orders
                		</div>
                	</div>
                </div>
            </div>
            <!-- / -->
		</div>
	</div>
</div>