<div class="panel panel-default shippingDetails" id="shippingDetails">
	<div class="panel-body nopad-left nopad-right">
		<div class="container col-md-12">	
			<ul class="nav nav-tabs input-group col-sm-12">
                <li class="active">
                	<a href data-toggle="tab" data-target="#shippingOrders">Orders</a>
                </li>
                <li>
                	<a href data-toggle="tab" class="tab2" data-target="#shipOrder">Shipping Order</a>
                </li>
				<li>
					<a href data-toggle="tab" data-target="#shippingBoxes">Boxes</a>
				</li>
			  	<li>
			  		<a href data-toggle="tab" data-target="#shipRelOrders">Related Orders</a>
			  	</li>
            </ul>
            <!-- Tab Container -->

            <div class="tab-content clearfix"> 
            	<!-- Orders -->           	
                <div role="tabpanel" class="tab-pane active animated fadeIn" id="shippingOrders">
                	<div class="col-md-12">
                		<div class="panel-body nopad-left nopad-right">
                			<div class="col-md-4 panel panel-default nopad-form salesOrders">
                				<div class="col-md-12">
	                				<div class="col-md-12 nopad-form form-group formlabels">
	                					<label class="mainTitle">SALES ORDER</label>
	                				</div>
	                				<div class="col-md-12 nopad-form form-group">
	                					<div class="col-md-1 nopad-left smallPad"> </div>
	                					<div class="col-md-2 nopad-left smallPad">
	                						<label>Job#</label>
	                					</div>
	                					<div class="col-md-5 nopad-left smallPad">
	                						<label>Job Name</label>
	                					</div>
	                					<div class="col-md-2 nopad-left smallPad">
	                						<label>Ship by Date</label>
	                					</div>
	                					<div class="col-md-2 nopad-form"> </div>
	                				</div>
                                    <div class="salesItemsContent" ng-repeat="order in allorders">
                                        <!-- Sales Fields -->
    	                				<div class="col-md-12 nopad-form form-group">
    	                					<div class="col-md-1 nopad-left smallPad">
    	                						<div class="sgpDetails btnCircle">
                                                  <a class="" tabindex="0" role="button" title="Move" ui-sref="shipping.edit({id:shipping_id,order_id:order.id,client_id:order.client_id})">
                                                    <i class="fa fa-check"></i>
                                                  </a>
                                                </div>
    	                					</div>
    	                					<div class="col-md-2 nopad-left smallPad">
    	                						<input type="text" class="form-control" ng-model="order.id" onfocus="this.blur()"/>
    	                					</div>
    	                					<div class="col-md-5 nopad-left smallPad">
    	                						<input type="text" class="form-control" ng-model="order.job_name" onfocus="this.blur()"/>
    	                					</div>
    	                					<div class="col-md-2 nopad-left smallPad">
    	                						<input type="text" class="form-control" ng-model="order.ship_by" onfocus="this.blur()"/>
    	                					</div>
    	                					<div class="col-md-2 nopad-form">
    	                						<input type="text" class="form-control" ng-model="order.job_status" onfocus="this.blur()"/>
    	                					</div>
    	                				</div>
                                        <!-- / -->
                                    </div>
	                			</div>
                			</div>
                			<div class="col-md-8 nopad-right">
                				<div class="col-md-4 nopad-left">
                                    <div class="col-md-12 panel panel-default salesOrderItems">
                                        <div class="col-md-12 nopad-form form-group formlabels">
                                            <label class="mainTitle">SALES ORDER ITEMS</label>
                                        </div>
                                        <div class="col-md-12 nopad-form form-group">
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Size Group</label>
                                            </div>
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Product</label>
                                            </div>
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Qnty Ordered</label>
                                            </div>
                                            <div class="col-md-3 nopad-form pull-right text-center"> 
                                                <label>Qnty Remaining to Distribute</label>
                                            </div>
                                        </div>

                                        <!-- Sales Order Items Records -->
                                        <div class="salesItemsContent" ng-repeat="oitem in items">
                                            <div class="col-md-3 smallPad m-b nopad-left">
                                                <input type="text" class="form-control" ng-model="oitem.name" onfocus="this.blur()">
                                            </div>
                                            <div class="col-md-9 smallPad m-b nopad-right">
                                                <input type="text" class="form-control" ng-model="oitem.size_group_name" onfocus="this.blur()">
                                            </div>

                                            <!-- Second Row -->
                                            <div class="col-md-3 smallPad m-b nopad-left">
                                                <input type="text" class="form-control" ng-model="oitem.color_name" onfocus="this.blur()">
                                            </div>
                                            <div class="col-md-2 smallPad m-b nopad-left">
                                                <input type="text" class="form-control" ng-model="oitem.size" onfocus="this.blur()">
                                            </div>
                                            <div class="col-md-2 smallPad m-b nopad-left">
                                                <input type="text" class="form-control" ng-model="oitem.qnty" onfocus="this.blur()">
                                            </div>
                                            <div class="col-md-3 m-b nopad-form">
                                                <input type="text" class="form-control" ng-model="oitem.main_contact_person" onfocus="this.blur()">
                                            </div>
                                            <div class="col-md-2 nopad-form text-center">
                                                <div class="sgpDetails btnCircle">
                                                      <a class="" tabindex="0" role="button" title="Move" ng-click="add_item_to_distribute(oitem.id)">
                                                        <i class="fa fa-plus"></i>
                                                      </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / -->
                                    </div>
                                </div>
                				<div class="col-md-4 nopad-left">
                					<div class="col-md-12 panel panel-default relatedShipments">
                                        <div class="col-md-12 nopad-form form-group formlabels">
                                            <label class="mainTitle">Related Shipments</label>
                                        </div>
                                        <div class="col-md-12 nopad-form form-group">
                                            <div class="pull-right text-center" ng-click="openAddressPopup()"> 
                                                <button class="btn btn-default addButton">Add'I Shipment</button>
                                            </div>
                                        </div>

                                        <!-- Sales Order Items Records -->
                                        <div id="row_{{dist.id}}" class="salesItemsContent" ng-repeat="dist in distributed_address" ng-class="{distribution_active: dist.id==address_id}" ng-click="select_address(dist.id)">
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="dist.address" />
                                                </div>
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="" ng-model="dist.address2"/>
                                                </div>
                                            </div>
                                            <!-- Second Row -->
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="" ng-model="dist.city"/>
                                                </div>
                                                <div class="col-md-3 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="" ng-model="dist.state"/>
                                                </div>
                                                <div class="col-md-3 nopad-form">
                                                    <div class="sgpDetails btnCircle">
                                                      <a class="" tabindex="0" role="button" title="Move" ui-sref="shipping.edit({id:dist.shipping_id,order_id:dist.order_id,client_id:dist.client_id})">
                                                        <i class="fa fa-arrow-right"></i>
                                                      </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / -->
                                    </div>
                				</div>
                				<div class="col-md-4 nopad-form">
                					<div class="col-md-12 panel panel-default selectedShipment">
                                        <div class="col-md-12 nopad-form form-group formlabels">
                                            <label class="mainTitle">Items in Selected Shipment</label>
                                        </div>
                                        <div class="col-md-12 nopad-form form-group">    
                                            <div class="col-md-3 nopad-form pull-right text-center"> 
                                                <label>Qnty Shipped</label>
                                            </div>                                     
                                            <div class="col-md-3 nopad-right pull-right smallPad">
                                                <label>Qnty Distribute</label>
                                            </div>
                                        </div>

                                        <!-- Sales Order Items Records -->
                                        <div class="salesItemsContent" ng-repeat="item in distributed_items">
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-4 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.name" onfocus="this.blur()">
                                                </div>
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.size_group_name" onfocus="this.blur()">
                                                </div>
                                                <div class="col-md-2 nopad-form text-center">
                                                    <div class="sgpDetails disabled-sgpDetails btnCircle">
                                                      <a class="" tabindex="0" role="button" ng-click="remove_item_from_distribute(item.id)">
                                                        <i class="fa fa-minus"></i>
                                                      </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Second Row -->
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-5 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.color_name" onfocus="this.blur()">
                                                </div>
                                                <div class="col-md-3 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.size" onfocus="this.blur()"/>
                                                </div>
                                                <div class="col-md-2 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.qnty" ng-blur="updateDistributedQty(item.id,item.qnty)"/>
                                                </div>
                                                <div class="col-md-2 nopad-form">
                                                    <input type="text" class="form-control c-yellow" ng-model="item.shipped_qnty" ng-blur="updateShippedQnty(item.id,item.shipped_qnty)"/>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / -->
                                    </div>
                				</div>
                			</div>
                		</div>
                	</div>
                </div>

                <!-- Shipping Order -->
                <div role="tabpanel" class="tab-pane animated fadeIn" id="shipOrder">
                	<div class="col-md-12 nopad-form">
                        <div class="panel-body nopad-left nopad-right">
                            <!-- Left Section -->
                            <div class="col-md-3 panel nopad-form salesOrders">
                                <div class="col-md-12">
                                    <div class="col-md-12 nopad-form form-group">
                                        <label>Shipping ID</label>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <div class="col-md-4 nopad-left smallPad">
                                            <input type="text" class="form-control" ng-model="shipping.shipping_id" onfocus="this.blur()"/>
                                        </div>
                                        <div class="col-md-8 nopad-form">
                                            <select  ng-model="order.f_approval"  class="form-control" name="f_approval">
                                                <option ng-selected="shipping.f_approval==misc_approval.id" ng-repeat="misc_approval in miscData.approval" value={{misc_approval.id}}>{{misc_approval.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <label>Order ID</label>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <div class="col-md-4 nopad-left smallPad">
                                            <input type="text" class="form-control" ng-model="shipping.order_id" onfocus="this.blur()"/>
                                        </div>
                                        <div class="col-md-8 nopad-form">
                                            <input type="text" class="form-control" ng-model="shipping.job_name" onfocus="this.blur()"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <label>Client ID</label>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <div class="col-md-4 nopad-left smallPad">
                                            <input type="text" class="form-control" ng-model="shipping.client_id" onfocus="this.blur()"/>
                                        </div>
                                        <div class="col-md-8 nopad-form">
                                            <input type="text" class="form-control" ng-model="shipping.client_company" onfocus="this.blur()"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <label>Client Distribution ID</label>   
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <div class="col-md-4 nopad-left smallPad">
                                            <input type="text" class="form-control" ng-model="shipping.client_distribution_id" onfocus="this.blur()"/>
                                        </div>
                                        <div class="col-md-8 nopad-form">
                                            <input type="text" class="form-control" ng-model="shipping.description" onfocus="this.blur()"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <div class="col-md-4 nopad-left smallPad">
                                            <label>Boxing Type</label>
                                        </div>
                                        <div class="col-md-4 nopad-left smallPad">
                                            <label>Shipping By</label>
                                        </div>
                                        <div class="col-md-4 nopad-form">
                                            <label>In-Hands by</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <div class="col-md-4 nopad-left smallPad">
                                            <select  ng-model="shipping.f_approval"  class="form-control" name="boxing_type" ui-event="{ change : 'updateShippingAll($event,shipping.shipping_id,\'shipping\',\'id\')' }">
                                                <option ng-selected="shipping.boxing_type==0" value="0">Retail</option>
                                                <option ng-selected="shipping.boxing_type==1" value="1">Standard</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 nopad-left smallPad">
                                            <input type="text" class="form-control" ng-model="shipping.shipping_by" onfocus="this.blur()"/>
                                        </div>
                                        <div class="col-md-4 nopad-form">
                                            <input type="text" class="form-control" ng-model="shipping.in_hands_by" onfocus="this.blur()"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <div class="col-md-4 nopad-left smallPad">
                                            <label>Shipping Type</label>
                                        </div>
                                        <div class="col-md-4 nopad-left smallPad">
                                            <label>Date Shipped</label>
                                        </div>
                                        <div class="col-md-4 nopad-form">
                                            <label>Fully Shipped</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <div class="col-md-4 nopad-left smallPad">
                                            <select  ng-model="shipping.shipping_type"  class="form-control" name="shipping_type_id" ui-event="{ change : 'updateShippingAll($event,shipping.shipping_id,\'shipping\',\'id\')' }">
                                                <option ng-selected="shipping.shipping_type_id==type.id" ng-repeat="type in shipping_type" value={{type.id}}>{{type.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 nopad-left smallPad">
                                            <input type="text" class="form-control" ng-model="shipping.date_shipped" name="date_shipped" ui-event="{ change : 'updateShippingAll($event,shipping.shipping_id,\'shipping\',\'id\')' }"/>
                                        </div>
                                        <div class="col-md-4 nopad-form">
                                            <input type="text" class="form-control" ng-model="shipping.fully_shipped" onfocus="this.blur()"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <textarea class="form-control addressArea" rows="5" cols="46" >{{shipping.address}} {{shipping.address2}} {{shipping.city}} {{shipping.state}} {{shipping.zipcode}} {{shipping.country}}</textarea>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <label>SKUs</label>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <input type="text" class="form-control" ng-model="shipping.sku" onfocus="this.blur()"/>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <label>Note</label>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <textarea class="form-control notesArea" rows="3" cols="46" ng-model="shipping.shipping_note" name="shipping_note" ui-event="{ change : 'updateShippingAll($event,shipping.shipping_id,\'shipping\',\'id\')' }">{{shipping.note}}</textarea>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <label>Cost to ship</label>
                                    </div>
                                    <div class="col-md-12 nopad-form form-group">
                                        <input type="text" class="form-control" ng-model="shipping.cost_to_ship" name="cost_to_ship" ui-event="{ change : 'updateShippingAll($event,shipping.shipping_id,\'shipping\',\'id\')' }"/>
                                    </div>
                                </div>
                            </div>
                            <!-- Right Section -->
                            <div class="col-md-9 nopad-left salesOrders s-o-section">
                                <!-- Top Section -->
                                <div class="col-md-12 nopad-left">
                                    <div class="col-md-12 nopad-form form-group">
                                        <!-- Right Top Section -->
                                        <div class="col-md-4 nopad-left smallPad">
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Size Group</label>
                                            </div>
                                            <div class="col-md-9 nopad-left smallPad">
                                                <label>Product</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8 nopad-form">
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Product Color</label>
                                            </div>
                                            <div class="col-md-1 nopad-left smallPad">
                                                <label>Size</label>
                                            </div>
                                            <div class="col-md-1 nopad-left smallPad">
                                                <label>Distribute Qnty</label>
                                            </div>
                                            <div class="col-md-2 nopad-left smallPad">
                                                <label>Shipped Qnty</label>
                                            </div>
                                            <div class="col-md-1 nopad-left smallPad">
                                                <label>Boxed Qnty</label>
                                            </div>
                                            <div class="col-md-1 nopad-left smallPad">
                                                <label>Remaining to Box</label>
                                            </div>
                                            <div class="col-md-1 nopad-left smallPad">
                                                <label>Max Pack</label>
                                            </div>
                                            <div class="col-md-1 nopad-left smallPad">
                                                <label>Hoody?</label>
                                            </div>
                                            <div class="col-md-1 nopad-left smallPad"> </div>
                                        </div>
                                    </div>
                                    <!-- Fields -->
                                    <div class="panel panel-default panel-body SOD smallPad">
                                        <div class="col-md-12 smallPad form-group shipOrderFields" ng-repeat="item in shipping_items">
                                            <!-- Right Top Section -->
                                            <div class="col-md-4 nopad-left smallPad">
                                                <div class="col-md-3 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.size_group_name" onfocus="this.blur()"/>
                                                </div>
                                                <div class="col-md-9 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.product_name" onfocus="this.blur()"/>
                                                </div>
                                            </div>
                                            <div class="col-md-8 nopad-form">
                                                <div class="col-md-3 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.color_name" onfocus="this.blur()"/>
                                                </div>
                                                <div class="col-md-1 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.size" onfocus="this.blur()"/>
                                                </div>
                                                <div class="col-md-1 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.qnty" onfocus="this.blur()"/>
                                                </div>
                                                <div class="col-md-2 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.shipped_qnty" onfocus="this.blur()"/>
                                                </div>
                                                <div class="col-md-1 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.boxed_qnty" onfocus="this.blur()"/>
                                                </div>
                                                <div class="col-md-1 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.remaining_to_box" onfocus="this.blur()"/>
                                                </div>
                                                <div class="col-md-1 nopad-left smallPad">
                                                    <input type="text" class="form-control" name="max_pack" ng-model="item.max_pack" ui-event="{ change : 'updateShippingAll($event,item.id,\'distribution_detail\',\'id\')' }"/>
                                                </div>
                                                <div class="col-md-1 nopad-left smallPad" ui-event="{ change : 'updateShippingAll($event,item.id,\'distribution_detail\',\'id\')' }">
                                                    <select class="form-control" name="hoody" ng-model="item.hoody">
                                                        <option ng-selected="item.hoody == 0" value="0">No</option>
                                                        <option ng-selected="item.hoody == 1" value="1">Yes</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-1 nopad-left smallPad">
                                                    <div class="sgpDetails disabled-sgpDetails btnCircle">
                                                      <a class="" tabindex="0" role="button" ng-click="remove_item_from_distribute(item.id)">
                                                        <i class="fa fa-minus"></i>
                                                      </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                  
                                    </div>
                                    <!-- / -->
                                </div>

                                <!-- Bottom Section -->
                                <div class="col-md-12 nopad-left bottomBoxes">
                                    <div class="col-md-12 nopad-form form-group">
                                        <!-- Right Bottom Section -->
                                        <div class="col-md-5 nopad-left smallPad">
                                            <div class="col-md-2 nopad-left smallPad"></div>
                                            <div class="col-md-2 nopad-left smallPad">
                                                <label>Box ID</label>
                                            </div>
                                            <div class="col-md-2 nopad-left smallPad">
                                                <label>Units Packed</label>
                                            </div>
                                            <div class="col-md-3 text-center nopad-left smallPad">
                                                <label>Tracking#</label>
                                            </div>
                                            <div class="col-md-3 pull-right nopad-form">
                                                <button class="btn btn-default btn-block c-green" ng-click="create_box_shipment(shipping_items)">Box Shipment</button>
                                            </div>
                                        </div>
                                        <div class="col-md-1 nopad-left smallPad"> </div>
                                        <div class="col-md-6 nopad-form">
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Box Item ID</label>
                                            </div>
                                            <div class="col-md-2 nopad-left smallPad">
                                                <label>Size Group</label>
                                            </div>
                                            <div class="col-md-2 nopad-left smallPad">
                                                <label>Product</label>
                                            </div>
                                            <div class="col-md-2 nopad-left smallPad">
                                                <label>Color</label>
                                            </div>
                                            <div class="col-md-1 nopad-left smallPad">
                                                <label>Size</label>
                                            </div>
                                            <div class="col-md-2 nopad-form">
                                                <label>Boxed Qnty</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fields -->
                                    <div class="col-md-12 nopad-form form-group">
                                        <!-- Right Bottom Section Fields -->
                                        <div class="col-md-5 nopad-left smallPad">
                                            <div class="panel panel-default panel-body SOD smallPad">
                                                <div class="salesItemsContent col-md-12 form-group smallPad" ng-repeat="box in shipping_boxes" ng-class="{distribution_active: box.box_id==box_id}" ng-click="select_box(box.box_id)">
                                                    <div class="col-md-2 nopad-left smallPad">
                                                        <input type="text" class="form-control" ng-model="box.count" onfocus="this.blur()"/>
                                                    </div>
                                                    <div class="col-md-2 nopad-left smallPad">
                                                        <input type="text" class="form-control" ng-model="box.box_id" onfocus="this.blur()"/>
                                                    </div>
                                                    <div class="col-md-2 nopad-left smallPad">
                                                       <input type="text" class="form-control" ng-model="box.box_qnty" onfocus="this.blur()"/>
                                                    </div>
                                                    <div class="col-md-5 pull-right nopad-form smallPad">
                                                       <input type="text" class="form-control" name="tracking_number" ng-model="box.tracking_number" ui-event="{ change : 'updateShippingAll($event,box.box_id,\'shipping_box\',\'id\')' }"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 nopad-left smallPad"> </div>
                                        <div class="col-md-6 nopad-form">
                                            <div class="panel panel-default panel-body SOD smallPad">
                                                <div class="col-md-12 form-group smallPad" ng-repeat="bitem in boxing_items">
                                                    <div class="col-md-3 nopad-left smallPad">
                                                        <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.box_item_id"/>
                                                    </div>
                                                    <div class="col-md-2 nopad-left smallPad">
                                                        <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.size_group_name"/>
                                                    </div>
                                                    <div class="col-md-2 nopad-left smallPad">
                                                        <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.product_name"/>
                                                    </div>
                                                    <div class="col-md-2 text-center nopad-left smallPad">
                                                        <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.color_name"/>
                                                    </div>
                                                    <div class="col-md-1 nopad-left smallPad">
                                                        <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.size"/>
                                                    </div>
                                                    <div class="col-md-2 nopad-form">
                                                        <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.boxed_qnty"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Boxes -->
                <div role="tabpanel" class="tab-pane animated fadeIn" id="shippingBoxes">
                	<div class="col-md-12">
                        <div class="panel-body nopad-left nopad-right">
                    		<div class="col-md-12 nopad-form form-group">
                                <div class="col-md-3">
                                    <label>Box ID</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="col-md-4 nopad-form smallPad">
                                        <div class="col-md-4 nopad-left">
                                            <label>Box Item ID</label>
                                        </div>
                                        <div class="col-md-3 nopad-left">
                                            <label>Size Group</label>
                                        </div>
                                        <div class="col-md-5 nopad-form">
                                            <label>Product</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8 nopad-left smallPad">
                                        <div class="col-md-3 nopad-left">
                                            <label>Product Color</label>
                                        </div>
                                        <div class="col-md-1 nopad-left">
                                            <label>Size</label>
                                        </div>
                                        <div class="col-md-2 nopad-form">
                                            <label>Boxed Qnty</label>
                                        </div>
                                        <div class="col-md-1 nopad-left">
                                            <label>MD</label>
                                        </div>
                                        <div class="col-md-1 nopad-left">
                                            <label>Spoil</label>
                                        </div>
                                        <div class="col-md-2 nopad-left">
                                            <label>Actual</label>
                                        </div>
                                        <div class="col-md-2 nopad-left">
                                            <label>Re-Allocate to</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 nopad-form form-group">
                                <div class="col-md-3 nopad-left">
                                    <div class="panel panel-default salesOrders">
                                        <div class="col-md-12 nopad-form salesItemsContent" ng-repeat="box in shipping_boxes" ng-class="{distribution_active: box.box_id==box_id}" ng-click="select_box(box.box_id)">
                                            <div class="col-md-5 nopad-left smallPad">
                                                <input type="text" class="form-control" onfocus="this.blur()" ng-model="box.box_id"/>
                                            </div>
                                            <div class="col-md-6 nopad-left smallPad">
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="col-md-1 nopad-form">
                                                <div class="sgpDetails disabled-sgpDetails btnCircle">
                                                  <a class="" tabindex="0" role="button" ng-click="delete_box(box.box_id)">
                                                    <i class="fa fa-minus"></i>
                                                  </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-9 nopad-form panel panel-default salesOrders">
                                    <div class="col-md-12 nopad-form salesItemsContent" ng-repeat="bitem in boxing_items">
                                        <div class="col-md-4 nopad-right smallPad">
                                            <div class="col-md-4 nopad-left smallPad">
                                                <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.box_item_id"/>
                                            </div>
                                            <div class="col-md-3 nopad-left smallPad">
                                                <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.size_group_name"/>
                                            </div>
                                            <div class="col-md-5 nopad-left smallPad">
                                                <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.product_name"/>
                                            </div>
                                        </div>
                                        <div class="col-md-8 nopad-left smallPad">
                                            <div class="col-md-3 nopad-left smallPad">
                                                <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.color_name"/>
                                            </div>
                                            <div class="col-md-1 nopad-left smallPad">
                                                <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.size"/>
                                            </div>
                                            <div class="col-md-2 nopad-left smallPad">
                                                <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.boxed_qnty"/>
                                            </div>
                                            <div class="col-md-1 nopad-left smallPad">
                                                <input type="text" class="form-control" ng-model="bitem.md" ng-blur="update_box_qty(bitem)"/>
                                            </div>
                                            <div class="col-md-1 nopad-left smallPad">
                                                <input type="text" class="form-control" ng-model="bitem.spoil" ng-blur="update_box_qty(bitem)"/>
                                            </div>
                                            <div class="col-md-2 nopad-left smallPad">
                                                <input type="text" class="form-control" onfocus="this.blur()" ng-model="bitem.actual"/>
                                            </div>
                                            <div class="col-md-2 nopad-form">
                                                <select  ng-model="bitem.box_id"  class="form-control" name="box_id" ui-event="{ change : 'updateShippingAll($event,bitem.box_item_id,\'box_item_mapping\',\'id\')' }">>
                                                    <option ng-selected="bitem.box_id==allitem.id" ng-repeat="allitem in boxing_all_items" value={{allitem.id}}>{{allitem.id}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                	</div>
                </div>

                <!-- Relational Order -->
                <div role="tabpanel" class="tab-pane animated fadeIn" id="shipRelOrders">
                	<div class="col-md-12">
                		<div class="panel-body nopad-left nopad-right">
                			<div class="col-md-12 nopad-form form-group">
                                <div class="col-md-6">
                                    <div class="col-md-1 nopad-left"></div>
                                    <div class="col-md-2 nopad-left">
                                        <label>Shipping#</label>
                                    </div>
                                    <div class="col-md-5 nopad-left">
                                        <label>Job Name</label>
                                    </div>
                                    <div class="col-md-2 nopad-left">
                                        <label>Boxes</label>
                                    </div>
                                    <div class="col-md-2 nopad-form">
                                        <label>Pieces</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 nopad-form">
                                <div class="col-md-6 nopad-form panel panel-default salesOrders">
                                    <div class="col-md-12 nopad-form salesItemsContent">
                                        <div class="col-md-1 nopad-left">
                                            <div class="sgpDetails btnCircle">
                                              <a class="" tabindex="0" role="button" title="Move">
                                                <i class="fa fa-arrow-right"></i>
                                              </a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 nopad-left">
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="col-md-5 nopad-left">
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="col-md-2 nopad-left">
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="col-md-2 nopad-form">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                		</div>
                	</div>
                </div>
            </div>
            <!-- / -->
		</div>
	</div>
</div>