<div class="panel panel-default shippingDetails">
	<div class="panel-body nopad-left nopad-right">
		<div class="container col-md-12">	
			<ul class="nav nav-tabs input-group col-sm-12">
                <li class="active">
                	<a href data-toggle="tab" data-target="#shippingOrders">Orders</a>
                </li>
                <li>
                	<a href data-toggle="tab" class="tab2" data-target="#shipOrder">Shipping Order</a>
                </li>
				<li>
					<a href data-toggle="tab" data-target="#shippingBoxes">Boxes</a>
				</li>
			  	<li>
			  		<a href data-toggle="tab" data-target="#shipRelOrders">Related Orders</a>
			  	</li>
            </ul>
            <!-- Tab Container -->

            <div class="tab-content clearfix"> 
            	<!-- Orders -->           	
                <div role="tabpanel" class="tab-pane active animated fadeIn" id="shippingOrders">
                	<div class="col-md-12">
                		<div class="panel-body nopad-left nopad-right">
                			<div class="col-md-4 panel panel-default nopad-form salesOrders">
                				<div class="col-md-12">
	                				<div class="col-md-12 nopad-form form-group formlabels">
	                					<label class="mainTitle">SALES ORDER</label>
	                				</div>
	                				<div class="col-md-12 nopad-form form-group">
	                					<div class="col-md-1 nopad-left smallPad"> </div>
	                					<div class="col-md-2 nopad-left smallPad">
	                						<label>Job#</label>
	                					</div>
	                					<div class="col-md-5 nopad-left smallPad">
	                						<label>Job Name</label>
	                					</div>
	                					<div class="col-md-2 nopad-left smallPad">
	                						<label>Ship by Date</label>
	                					</div>
	                					<div class="col-md-2 nopad-form"> </div>
	                				</div>
                                    <div class="salesItemsContent" ng-repeat="order in allorders">
                                        <!-- Sales Fields -->
    	                				<div class="col-md-12 nopad-form form-group">
    	                					<div class="col-md-1 nopad-left smallPad">
    	                						<div class="sgpDetails btnCircle">
                                                  <a class="" tabindex="0" role="button" title="Move" ui-sref="shipping.edit({id:shipping_id,order_id:order.id,client_id:order.client_id})">
                                                    <i class="fa fa-check"></i>
                                                  </a>
                                                </div>
    	                					</div>
    	                					<div class="col-md-2 nopad-left smallPad">
    	                						<input type="text" class="form-control" ng-model="order.id" onfocus="this.blur()"/>
    	                					</div>
    	                					<div class="col-md-5 nopad-left smallPad">
    	                						<input type="text" class="form-control" ng-model="order.job_name" onfocus="this.blur()"/>
    	                					</div>
    	                					<div class="col-md-2 nopad-left smallPad">
    	                						<input type="text" class="form-control" ng-model="order.ship_by" onfocus="this.blur()"/>
    	                					</div>
    	                					<div class="col-md-2 nopad-form">
    	                						<input type="text" class="form-control" ng-model="order.job_status" onfocus="this.blur()"/>
    	                					</div>
    	                				</div>
                                        <!-- / -->
                                    </div>
	                			</div>
                			</div>
                			<div class="col-md-8 nopad-right">
                				<div class="col-md-4 nopad-left">
                                    <div class="col-md-12 panel panel-default salesOrderItems">
                                        <div class="col-md-12 nopad-form form-group formlabels">
                                            <label class="mainTitle">SALES ORDER ITEMS</label>
                                        </div>
                                        <div class="col-md-12 nopad-form form-group">
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Size Group</label>
                                            </div>
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Product</label>
                                            </div>
                                            <div class="col-md-3 nopad-left smallPad">
                                                <label>Qnty Ordered</label>
                                            </div>
                                            <div class="col-md-3 nopad-form pull-right text-center"> 
                                                <label>Qnty Remaining to Distribute</label>
                                            </div>
                                        </div>

                                        <!-- Sales Order Items Records -->
                                        <div class="salesItemsContent" ng-repeat="oitem in items">
                                            <div class="col-md-3 smallPad m-b nopad-left">
                                                <input type="text" class="form-control" ng-model="oitem.name" onfocus="this.blur()">
                                            </div>
                                            <div class="col-md-9 smallPad m-b nopad-right">
                                                <input type="text" class="form-control" ng-model="oitem.size_group_name" onfocus="this.blur()">
                                            </div>

                                            <!-- Second Row -->
                                            <div class="col-md-3 smallPad m-b nopad-left">
                                                <input type="text" class="form-control" ng-model="oitem.color_name" onfocus="this.blur()">
                                            </div>
                                            <div class="col-md-2 smallPad m-b nopad-left">
                                                <input type="text" class="form-control" ng-model="oitem.size" onfocus="this.blur()">
                                            </div>
                                            <div class="col-md-2 smallPad m-b nopad-left">
                                                <input type="text" class="form-control" ng-model="oitem.qnty" onfocus="this.blur()">
                                            </div>
                                            <div class="col-md-3 m-b nopad-form">
                                                <input type="text" class="form-control" ng-model="oitem.main_contact_person" onfocus="this.blur()">
                                            </div>
                                            <div class="col-md-2 nopad-form text-center">
                                                <div class="sgpDetails btnCircle">
                                                      <a class="" tabindex="0" role="button" title="Move" ng-click="add_item_to_distribute(oitem.id)">
                                                        <i class="fa fa-plus"></i>
                                                      </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / -->
                                    </div>
                                </div>
                				<div class="col-md-4 nopad-left">
                					<div class="col-md-12 panel panel-default relatedShipments">
                                        <div class="col-md-12 nopad-form form-group formlabels">
                                            <label class="mainTitle">Related Shipments</label>
                                        </div>
                                        <div class="col-md-12 nopad-form form-group">
                                            <div class="pull-right text-center" ng-click="openAddressPopup()"> 
                                                <button class="btn btn-default addButton">Add'I Shipment</button>
                                            </div>
                                        </div>

                                        <!-- Sales Order Items Records -->
                                        <div id="row_{{dist.id}}" class="salesItemsContent" ng-repeat="dist in distributed_address" ng-class="{distribution_active: dist.id==address_id}" ng-click="select_address(dist.id)">
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="dist.address" />
                                                </div>
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="" ng-model="dist.address2"/>
                                                </div>
                                            </div>
                                            <!-- Second Row -->
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="" ng-model="dist.city"/>
                                                </div>
                                                <div class="col-md-3 nopad-left smallPad">
                                                    <input type="text" class="form-control" value="" ng-model="dist.state"/>
                                                </div>
                                                <div class="col-md-3 nopad-form">
                                                    <div class="sgpDetails btnCircle">
                                                      <a class="" tabindex="0" role="button" title="Move" ui-sref="shipping.edit({id:dist.shipping_id,order_id:dist.order_id,client_id:dist.client_id})">
                                                        <i class="fa fa-arrow-right"></i>
                                                      </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / -->
                                    </div>
                				</div>
                				<div class="col-md-4 nopad-form">
                					<div class="col-md-12 panel panel-default selectedShipment">
                                        <div class="col-md-12 nopad-form form-group formlabels">
                                            <label class="mainTitle">Items in Selected Shipment</label>
                                        </div>
                                        <div class="col-md-12 nopad-form form-group">    
                                            <div class="col-md-3 nopad-form pull-right text-center"> 
                                                <label>Qnty Shipped</label>
                                            </div>                                     
                                            <div class="col-md-3 nopad-right pull-right smallPad">
                                                <label>Qnty Distribute</label>
                                            </div>
                                        </div>

                                        <!-- Sales Order Items Records -->
                                        <div class="salesItemsContent" ng-repeat="item in distributed_items">
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-4 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.name" onfocus="this.blur()">
                                                </div>
                                                <div class="col-md-6 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.size_group_name" onfocus="this.blur()">
                                                </div>
                                                <div class="col-md-2 nopad-form text-center">
                                                    <div class="sgpDetails disabled-sgpDetails btnCircle">
                                                      <a class="" tabindex="0" role="button" ng-click="remove_item_from_distribute(item.id)">
                                                        <i class="fa fa-minus"></i>
                                                      </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Second Row -->
                                            <div class="col-md-12 nopad-form form-group">
                                                <div class="col-md-5 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.color_name" onfocus="this.blur()">
                                                </div>
                                                <div class="col-md-3 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.size" onfocus="this.blur()"/>
                                                </div>
                                                <div class="col-md-2 nopad-left smallPad">
                                                    <input type="text" class="form-control" ng-model="item.qnty" ng-blur="updateDistributedQty(item.id,item.qnty)"/>
                                                </div>
                                                <div class="col-md-2 nopad-form">
                                                    <input type="text" class="form-control c-yellow" ng-model="item.shipped_qnty" ng-blur="updateShippedQnty(item.id,item.shipped_qnty)"/>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / -->
                                    </div>
                				</div>
                			</div>
                		</div>
                	</div>
                </div>

                <!-- Shipping Order -->
                <div role="tabpanel" class="tab-pane animated fadeIn" id="shipOrder">
                	<div class="col-md-12">
                		<div class="panel-body nopad-left nopad-right">
                			Shipping Orders
                		</div>
                	</div>
                </div>

                <!-- Boxes -->
                <div role="tabpanel" class="tab-pane animated fadeIn" id="shippingBoxes">
                	<div class="col-md-12">
                		<div class="panel-body nopad-left nopad-right">
                			Boxes
                		</div>
                	</div>
                </div>

                <!-- Relational Order -->
                <div role="tabpanel" class="tab-pane animated fadeIn" id="shipRelOrders">
                	<div class="col-md-12">
                		<div class="panel-body nopad-left nopad-right">
                			Related Orders
                		</div>
                	</div>
                </div>
            </div>
            <!-- / -->
		</div>
	</div>
</div>