<div class="content order-list-page">
    <div class="simple-table-container md-whiteframe-4dp">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20 class="cursor-p" ng-click="vm.openaddDesignDialog($event)">
                Orders
            </div>
            <div class="search-block" flex=40>
                <md-input-container class="md-block" flex-gt-sm>
                    <label> <md-icon md-font-icon="icon-magnify"></md-icon></label>
                    <input ng-model="filterBy.name" placeholder="Search by Job name or Company">
                </md-input-container>
            </div>
            <md-icon ng-click="vm.openRightMenu()" md-menu-origin md-font-icon="icon-filter-variant" class="cursor-p"> <md-tooltip md-delay="demo.delayTooltip">
              Filter By
            </md-tooltip></md-icon>   
            <!--Filter Sidebar Start-->
            <div class="filter-menu" >
                <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" layout="column">
                    <md-toolbar class=" filter-title">
                        <h1 class="md-toolbar-tools">Filter By</h1>
                    </md-toolbar>
                    <md-content class="flex-fix-bottom scrollable"  ms-scroll>
                        <div class="contant-filter filter-detail" >
                            <div layout="column" class="f-box-1">
                                <div class="f-header">
                                    <span>
                                        SALES REP 
                                        <button ng-if="vm.toggle" ng-click="vm.toggle = false">
                                            <md-icon md-font-icon="icon-menu-up"></md-icon>
                                        </button>
                                        <button ng-if="!vm.toggle" ng-click="vm.toggle = true">
                                            <md-icon md-font-icon="icon-menu-down"></md-icon>
                                        </button>
                                    </span>
                                    <md-divider ></md-divider>
                                </div>
                                <div ng-if="vm.toggle" class="f-body scrollable"  ms-scroll>
                                    <div layout="column" >
                                        <md-checkbox ng-repeat="check in ::vm.salesCheck" ng-model="check.name" aria-label="check.name">
                                            {{check.first_name}}&nbsp;{{check.last_name}}
                                        </md-checkbox>
                                    </div>
                                </div>
                            </div>
                            <!-- <div layout="column" class="f-box-2">
                                <div class="f-header">
                                    <span>
                                        SHIP DATE 
                                        <button ng-if="vm.shipdate" ng-click="vm.shipdate = false">
                                            <md-icon md-font-icon="icon-menu-up"></md-icon>
                                        </button>
                                        <button ng-if="!vm.shipdate" ng-click="vm.shipdate = true">
                                            <md-icon md-font-icon="icon-menu-down"></md-icon>
                                        </button>
                                    </span>
                                    <md-divider ></md-divider>
                                </div>
                                <div class="f-body"  ng-if="vm.shipdate">
                                    <div layout="column">
                                        <md-datepicker ng-model="vm.shipDate" md-placeholder="Date"></md-datepicker>
                                    </div>
                                </div>
                            </div> -->
                            <div layout="column" class="f-box-2">
                                <div class="f-header">
                                    <span>
                                        CREATE DATE  
                                        <button ng-if="vm.createdate" ng-click="vm.createdate = false">
                                            <md-icon md-font-icon="icon-menu-up"></md-icon>
                                        </button>
                                        <button ng-if="!vm.createdate" ng-click="vm.createdate = true">
                                            <md-icon md-font-icon="icon-menu-down"></md-icon>
                                        </button>
                                    </span>
                                    <md-divider ></md-divider>
                                </div>
                                <div class="f-body" ng-if="vm.createdate">
                                    <div layout="column" >
                                        <mdp-date-picker mdp-open-on-click name="dateFormat" mdp-placeholder="Date" mdp-format="DD/MM/YYYY" ng-model="vm.createDate" class="cursor-p">
                                        </mdp-date-picker>
                                    </div>
                                </div>
                            </div>
                            <div layout="column" class="f-box-1">
                                <div class="f-header">
                                    <span>
                                        COMPANY  
                                        <button ng-if="vm.companyfilter" ng-click="vm.companyfilter = false">
                                            <md-icon md-font-icon="icon-menu-up"></md-icon>
                                        </button>
                                        <button ng-if="!vm.companyfilter" ng-click="vm.companyfilter = true">
                                            <md-icon md-font-icon="icon-menu-down"></md-icon>
                                        </button>
                                    </span>
                                    <md-divider ></md-divider>
                                </div>
                                <div class="f-body scrollable"  ms-scroll ng-if="vm.companyfilter">
                                    <div layout="column" >
                                        <md-checkbox ng-repeat="check in ::vm.companyCheck" ng-model="check.client_company" aria-label="check.name">
                                            {{check.client_company}}
                                        </md-checkbox>

                                    </div>
                                </div>
                            </div>
                            <div layout="column" class="f-box-1">
                                <div class="f-header">
                                    <span>
                                        ORDER ID  
                                        <button ng-if="vm.orderfilter" ng-click="vm.orderfilter = false">
                                            <md-icon md-font-icon="icon-menu-up"></md-icon>
                                        </button>
                                        <button ng-if="!vm.orderfilter" ng-click="vm.orderfilter = true">
                                            <md-icon md-font-icon="icon-menu-down"></md-icon>
                                        </button>
                                    </span>
                                    <md-divider ></md-divider>
                                </div>
                                <div class="f-body scrollable"  ms-scroll ng-if="vm.orderfilter">
                                    <div layout="column" >
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>
                                                <md-icon md-font-icon="icon-magnify"></md-icon>
                                            </label>
                                            <input ng-model="vm.searchOrder" >
                                        </md-input-container>
                                        <md-button  ng-repeat="orderId in ::vm.ordersId">
                                            {{orderId.id}}
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                            <div layout="column" class="f-box-2">
                                <div class="f-header">
                                    <span>
                                        DATE RANGE 
                                        <button ng-if="vm.datefilter" ng-click="vm.datefilter = false">
                                            <md-icon md-font-icon="icon-menu-up"></md-icon>
                                        </button>
                                        <button ng-if="!vm.datefilter" ng-click="vm.datefilter = true">
                                            <md-icon md-font-icon="icon-menu-down"></md-icon>
                                        </button>
                                    </span>
                                    <md-divider ></md-divider>
                                </div>
                                <div class="f-body" ng-if="vm.datefilter">
                                    <div layout="column" >
                                        <label class="f-14">FROM</label>
                                        <mdp-date-picker mdp-open-on-click  name="dateFormat" mdp-placeholder="Date" mdp-format="DD/MM/YYYY" ng-model="vm.rangeFrom">
                                        </mdp-date-picker>
                                    </div>
                                    <label class="f-14">TO</label>
                                    <mdp-date-picker mdp-open-on-click  name="dateFormat" mdp-placeholder="Date" mdp-format="DD/MM/YYYY" ng-model="vm.rangeTo">
                                    </mdp-date-picker>
                                </div>
                        </div>
                        </div>
                    </md-content>
                    <div class="filter-footer" layout="row">
                        <md-button class="md-accent md-raised md-btn-block md-button md-default-theme md-ink-ripple"  flex="50">                                      
                            APPLY FILTERS
                        </md-button>
                        <md-button ng-click="vm.resetFilter()" class="md-accent md-raised md-btn-block md-button md-default-theme md-ink-ripple bg-grey" flex="50">                                      
                            RESET FILTERS
                        </md-button>

                    </div>
                </md-sidenav>
            </div>
            <!----------Filter Sidebar End-------->
            <div class="order-modal-title " layout="row" layout-align="end center"flex=11 >
                <span class="cursor-p" ng-click="vm.openOrderDialog($event)" >CREATE NEW ORDER</span>
            </div>
        </div>
        <div class="ms-responsive-table-wrapper">
            <div tasty-table bind-resource-callback="getResource" bind-init="init" bind-filters="filterBy" bind-reload="reloadCallback" >
                <table class="dataTable row-border hover">
                    <!-- <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Order ID</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Order Name</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Company</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Approval</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Date Created</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Sales Rep</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Ship Date</span>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </thead> -->
                    <thead tasty-thead></thead>
                    <tbody>
                        <tr ng-repeat="row in rows" class="cursor-p" >
                            <td ui-sref="app.order.order-info({id:row.id})">{{ row.id}}</td>
                            <td>{{ row.name}}</td>
                            <td>{{ row.client_company}}</td>
                            <td>{{ row.approval}}</td>
                            <td>{{ row.created_date | date:"M/d/yyyy" }}</td>
                            <td>{{ row.first_name}} &nbsp; {{ row.last_name}}</td>
                            <td>{{ row.date_shipped}}</td>
                            <td class="accor details-control" >
                                <button class="dev-rdetail" ng-click="row.expanded = !row.expanded">
                                    <md-icon ng-if="!row.expanded" md-font-icon="icon-plus"></md-icon>
                                    <md-icon ng-if="row.expanded" md-font-icon="icon-minus"></md-icon>
                                </button>
                                <div class="dev-rdetail-data" style="display: none;">
                                    <table class="dataTable row-border hover" >
                                        <thead>
                                            <th>Design Name</th>
                                            <th>Postion Name</th>
                                            <th>SKU</th>
                                            <th>Product Name</th>
                                            <th>Ship Date</th>
                                            <th>Status</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{row.desc.DesignName}}</td>
                                                <td>{{ row.desc.PostionName}}<md-tooltip md-direction="bottom">Front & Back</md-tooltip></td>
                                                <td>{{ row.desc.SKU}}</td>
                                                <td>{{ row.desc.ProductName}}</td>
                                                <td>{{ row.desc.ShipDate}}</td>
                                                <td colspan="3" class="text-center font-small mdslider"><label class="slider">{{ row.desc.Status}} </label>
                                                    <md-slider flex ng-model="row.desc.statusValue" min="0" max="100"   aria-label="blue" id="blue-slider" class="md-primary blue-color">
                                                    </md-slider>
                                                </td>                        
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>                    
                    </tbody>
                </table>
                <div tasty-pagination class="tasty-page"></div>
            </div>
        </div>
    </div>
</div>
