.ms-navigation .ms-navigation-node .ms-navigation-item > .ms-navigation-button {
    color: #000000;
}
.ms-navigation .ms-navigation-node .ms-navigation-item > .ms-navigation-button .icon {
    color: #000000;
    margin: 0 16px 0 0;
}
.order-list-page{
    .dataTables_wrapper .top {
        padding: 0;
    }
    .simple-table-container{ 
        background: #ffffff none repeat scroll 0 0;
        margin: 20px;
        .table-title {
            border-bottom: 1px solid #dddddd;
            padding: 0 24px;
            .search-block {
                .md-errors-spacer {
                    min-height: 10px;
                }
            }
            .layout-row{

            }

            .order-modal-title {
                span {
                    color: #74b0f4;
                    font-size: 14px;
                    text-align: right;
                }
            }

        }
    }
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        display: none;
    }
}
.filter-title {
    background: rgba(158, 158, 158, 0.2) !important;
    padding: 0px;
    text-align: center;
    color: #000 !important;
}
.f-header{
    padding-top: 10px;
    text-align: right;
    span {
        color: #039be5;
        font-size: 10px;
    }
}
.f-body {
/*    height: 173px;
    overflow-y: scroll;*/
    padding: 10px 20px;
    width: 95%;

}


.order-list-page{
    .md-open-menu-container{
        .contant-filter{
            padding: 0;




        }
    }
}
.f-box-2{
    .f-body{
        padding: 5px 5px;
        height: auto;
        overflow: hidden;
        md-datepicker .md-datepicker-input-container {
            margin-bottom: 13px;
            margin-left: 0;
            margin-top: 10px;
            width: 100%;
        }
        .md-default-theme .md-datepicker-input-container, .md-datepicker-input-container {
            border-bottom-color: #cccccc;
            border-width: 3px;
        }
        .md-datepicker-button{display: none}
    }
}
.f-box-1{
    md-input-container{
        margin: 0;
    }
    .md-button{
        margin: 0;
        text-align: left;
    }
}
.contant-filter {

    padding: 0;
    md-button{
        margin: 0
    }
    md-checkbox {
        font-size: 13px;
    }
}
.contant-filter .md-accent.md-raised.md-button.md-default-theme.md-ink-ripple.md-button {
    margin: 0;
}

md-icon.margin-intial{
    margin: initial;
}
.table-desc{
    .collpas {
        padding: 0 !important;
        th{background: #ccc; padding: 5px 10px 5px 24px !important}
    }
    td{background: #eee;padding: 0 24px!important}


}
md-slider.blue-color.md-default-theme .md-track, md-slider.blue-color .md-track {
    background-color: #aed7f2;
}
md-slider.blue-color.md-default-theme.md-primary .md-track.md-track-fill, md-slider.blue-color.md-primary .md-track.md-track-fill {
    background-color: #039be5;
}
md-slider.blue-color.md-default-theme.md-primary .md-thumb::after, md-slider.blue-color.md-primary .md-thumb::after {
    background-color: #039be5;
    border-color: #039be5;
}

md-slider.blue-color .md-track-container {
    height: 7px;
}
md-slider.blue-color .md-thumb::after{
    top:7px;
}
.md-btn-block { margin: 0; width: 100%; border-radius: 0;}
.flex-fix-bottom{
    flex: 1   
}
.f-14{font-size: 14px}
.m-l-20{margin-left:  20px !important;}
.m-r-15{margin-right: 15px !important}
.m-r-10{margin-right: 10px !important}
.m-l-15{margin-left: 15px !important}
.m-b-20{margin-bottom: 20px !important}
.right-m-0{margin-right: 0!important}
.font-18{font-size: 18px}
.h2.text-semibold {font-size: 17px !important;}
.bg-grey{background: #ccc;color: #fff;width: 187px;}
.m-r-0{margin-right: 0 !important}
.border-grey{border:1px solid #ccc;}
.pad0{padding: 0 !important;}
.p-b-10{padding-bottom: 10px !important}     
.p-b-20{padding-bottom: 20px !important}     
.grey-color{color:#ccc;}
.p-l-20{padding-left: 20px}
.font-19{font-size: 19px !important}
.font-14{font-size: 14px !important}
.trans{background-color: transparent !important}
.p-t-30{padding-top: 30px !important}
.p-t-20{padding-top: 20px !important}
.bg-green{background:#01b096 !important}
.back-white{background: #fff !important}
.col-green{color: #01b096 !important}
.m-t-20{margin-top: 20px !important}
.border-none{border: none !important}
.margin-0{margin: 0px !important}
.pad-10-15{padding: 10px 15px;}
.width100{width: 100% !important}
.pad-r{ padding-right: 42px;}
.p-l-20{padding-left: 20px}
.font-19{font-size: 19px !important}
.font-58{font-size: 58 !important}
.p-t-17{padding-top: 27px !important; }
.width-btn-small{width: 124px !important}
.chrome .mar-left{margin-left: -35px;}
.margin-bootom15{margin-bottom: 15px}
.m-r-30 {margin-right: 30px;}
.text-center.font-small.mdslider.pad-0 {padding: 0 !important;}
.font-16{font-size: 16px}
.min-height{min-height: 150px;}
.color-b-grey{color: #767676 !important}
.font-weight{font-weight: 300 !important}
.m-b-0{margin-bottom: 0 !important}
.p-b-0{padding-bottom:  0 !important}
.m-l-10{margin-left: 10px !important}
.m-t-neg{margin-top: -25px !important}
.m-t-10{margin-top: 10px !important}
.p-l-0{padding-left: 0px !important}
.pad-30{padding: 30px !important}
.border-l-r{border-left: none !important;border-right: none !important ;}
.font-56{font-size: 56px !important}
.m-neg-14{margin-top: -14px}
.color-black{color: #000}
.font-500{font-weight: 500 !important}
.color-white{color: #fff !important}
.mar-t-0{margin-top: 0px !important}
.mar-b-0{margin-bottom:0px !important }

.layout-row > .flex-27, .layout-row > .flex-27 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    max-width: 27%;
    max-height: 100%;
  box-sizing: border-box;}
.color {
    color: #777777;
}
.width-text{width: 177px;}
.width-500 {width: 500px;}
.chrome .chrome-weight{font-weight: 300 !important}
a:hover{text-decoration: none;}
table thead th{
      color: #767676 !important;
    font-weight: unset !important;
}

.safari .table-title{padding: 8px;}
.filter-detail mdp-date-picker md-input-container .md-errors-spacer {
    float: right;
    min-height: 0;
    min-width: 1px;
}
.filter-detail mdp-date-picker md-input-container {
    width: 100%;
    margin-bottom: 0;
}
.filter-detail mdp-date-picker md-input-container.md-default-theme .md-input{
    cursor: pointer;
}