<div class="order-info-page company-po-page stockkup-content-table-container ship-order-screen">
    <div class="simple-table-container stokkup-main-tableview m-b-30">
        <div class="table-title  layout-align-space-between-center layout-row bottom-shadow m-b-20" layout="row" layout-align="space-between center">
            <div class="table-title-text flex-70">
              Box Management Screen for <a class="cursor-p" title="Go to Order">Order #117</a> for <a class="cursor-p" title="Go to Order">Company Name</a>
            </div>
        </div>
     </div><!--simple table container box ends here -->

     <div class="inner-full-box">

        <md-card class="m-0 location">
            <md-card-header layout-align="space-between center">
                <md-card-header-text>
                    <span class="md-title text-center"><a class="cursor-p" title="Location"># Distribution Locations</a> | Total QTY of the order</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>

        <md-content class="">
            <div layout="row" layout-wrap="nowrap" class="p-30 layout-align-center-center">

                <a href="#" class="box-mang pad20-R"><i class="fa fa-angle-left" role="button"></i></a>

                <div flex-xs flex-gt-xs="33" layout="column">
                    <md-card class="custom-fullbox-shadow">
                        <md-card-header layout-align="space-between center">
                            <md-card-header-text>
                                <span class="md-title">Distribution Location Name</span>
                            </md-card-header-text>

                            <md-menu  ng-show="allow_access==1">
                                <md-button aria-label="Company Contact Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                    <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>
                                <md-menu-content width="4" ng-click="vm.openaddDesignDialog($event,design.id)">
                                    <md-menu-item>
                                        <md-button>
                                            Edit
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>

                        </md-card-header>

                        <md-card-content class="custom-desc-box">

                            <div layout="row" flex="100">
                                <div layout-align="space-between left" class="shp-code" layout="column" flex="50">
                                    <p>Shipment # 1/23</p>
                                </div>

                                <div layout-align="space-between" class="shp-code" layout="column" flex="50">
                                    <p class="text-right">Total Qty: 122</p>
                                </div>

                            </div>

                            <div class="h5 text-semibold first">Product Name:</div>
                            <span>Gilden 5000 - T-shirts, Different Product</span>

                            <div class="h5 text-semibold">Size:</div>
                            <span>M: 10 L:39 XL: 128</span>

                            <div class="h5 text-semibold">Color(s):</div>
                            <span>Blue, Green</span>

                            <!--<div class="h5 text-semibold">Method:</div>-->
                            <md-input-container class="md-block date-input md-input-has-value">
                                <label>Method:</label>
                                <md-select ng-model="topping">
                                  <md-optgroup label="Method 1">
                                    <md-option>Method 1</md-option>
                                    <md-option>Method 1</md-option>
                                    <md-option>Method 1</md-option>
                                  </md-optgroup>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block date-input md-input-has-value">
                                <input placeholder="Date Shipping:"kendo-date-picker  />
                            </md-input-container>

                            <!--<div class="h5 text-semibold">SKU:</div>-->
                            <md-input-container flex="100" class="md-block margin-0 m-b-20">
                                <input placeholder="SKU" name="SKU">
                            </md-input-container>

                            <!--<div class="h5 text-semibold">Notes:</div>-->
                            <md-input-container flex="100" class="md-block margin-0 m-b-20 md-icon-float">
                                <input placeholder="Notes" name="Notes">
                            </md-input-container>

                            <div flex=100 class="p-t-30 md-block status-chk">
                                <md-checkbox aria-label="Checkbox 1">Status: Pedning</md-checkbox>
                            </div>

                        </md-card-content>

                    </md-card>
                </div>

                <div flex-xs flex-gt-xs="33" layout="column">
                    <md-card class="custom-fullbox-shadow">
                        <md-card-header layout-align="space-between center">
                            <md-card-header-text>
                                <span class="md-title">Distribution Location Name</span>
                            </md-card-header-text>

                            <md-menu  ng-show="allow_access==1">
                                <md-button aria-label="Company Contact Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                    <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>
                                <md-menu-content width="4" ng-click="vm.openaddDesignDialog($event,design.id)">
                                    <md-menu-item>
                                        <md-button>
                                            Edit
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>

                        </md-card-header>

                        <md-card-content class="custom-desc-box">

                            <div layout="row" flex="100">
                                <div layout-align="space-between left" class="shp-code" layout="column" flex="50">
                                    <p>Shipment # 1/23</p>
                                </div>

                                <div layout-align="space-between" class="shp-code" layout="column" flex="50">
                                    <p class="text-right">Total Qty: 122</p>
                                </div>

                            </div>

                            <div class="h5 text-semibold first">Product Name:</div>
                            <span>Gilden 5000 - T-shirts, Different Product</span>

                            <div class="h5 text-semibold">Size:</div>
                            <span>M: 10 L:39 XL: 128</span>

                            <div class="h5 text-semibold">Color(s):</div>
                            <span>Blue, Green</span>

                            <!--<div class="h5 text-semibold">Method:</div>-->
                            <md-input-container class="md-block date-input md-input-has-value">
                                <label>Method:</label>
                                <md-select ng-model="topping">
                                  <md-optgroup label="Method 1">
                                    <md-option>Method 1</md-option>
                                    <md-option>Method 1</md-option>
                                    <md-option>Method 1</md-option>
                                  </md-optgroup>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block date-input md-input-has-value">
                                <input placeholder="Date Shipping:"kendo-date-picker  />
                            </md-input-container>

                            <!--<div class="h5 text-semibold">SKU:</div>-->
                            <md-input-container flex="100" class="md-block margin-0 m-b-20">
                                <input placeholder="SKU" name="SKU">
                            </md-input-container>

                            <!--<div class="h5 text-semibold">Notes:</div>-->
                            <md-input-container flex="100" class="md-block margin-0 m-b-20 md-icon-float">
                                <input placeholder="Notes" name="Notes">
                            </md-input-container>

                            <div flex=100 class="p-t-30 md-block status-chk">
                                <md-checkbox aria-label="Checkbox 1">Status: Pedning</md-checkbox>
                            </div>

                        </md-card-content>

                    </md-card>
                </div>

                <a href="#" class="box-mang pad20-L"><i class="fa fa-angle-right" role="button"></i></a>


            </div>
        </md-content>

        <md-card  flex="100" class="mrg15-B">
            <md-card-header layout="row"  layout-align="space-between center" flex="100" class="layout-align-space-between-center text-center">
                <md-card-header-text>
                    <span class="md-title">Number of Units: <mark>122</mark></span>
                    <span class="md-title">Number of Units Boxed: <mark>82</mark></span>
                </md-card-header-text>
            </md-card-header>
        </md-card>

        <div layout="column" flex="50" class="box-zerospace m-b-20">
            <md-card class="m-0" flex="100">
                <md-card-content class="recap">
                    <md-checkbox aria-label="Checkbox 1" class="remaining-text"  flex="100" layout="row">
                        <div layout="column" flex="35">
                            <strong>Product Name:</strong> Women's Basic Polo - 532089
                        </div>

                        <div layout="column" flex="15">
                            <strong>Size:</strong> S
                        </div>

                        <div layout="column" flex="20">
                            <strong>Color:</strong> White
                        </div>

                        <div layout="column" flex="15">
                            <strong>Remaning:</strong> 10
                        </div>

                        <div layout="column" flex="15">
                            <strong>Boxed: </strong> 123
                        </div>
                    </md-checkbox>
                </md-card-content>
            </md-card>
        </div>

        <div layout="column" flex="50" class="box-zerospace m-b-20">
            <md-card class="m-0" flex="100">
                <md-card-content class="recap">
                    <md-checkbox aria-label="Checkbox 1" class="remaining-text"  flex="100" layout="row">
                        <div layout="column" flex="35">
                            <strong>Product Name:</strong> Women's Basic Polo - 532089
                        </div>

                        <div layout="column" flex="15">
                            <strong>Size:</strong> S
                        </div>

                        <div layout="column" flex="20">
                            <strong>Color:</strong> White
                        </div>

                        <div layout="column" flex="15">
                            <strong>Remaning:</strong> 10
                        </div>

                        <div layout="column" flex="15">
                            <strong>Boxed: </strong> 123
                        </div>
                    </md-checkbox>
                </md-card-content>
            </md-card>
        </div>

        <div layout="column" flex="50" class="box-zerospace m-b-20">
            <md-card class="m-0" flex="100">
                <md-card-content class="recap">
                    <md-checkbox aria-label="Checkbox 1" class="remaining-text"  flex="100" layout="row">
                        <div layout="column" flex="35">
                            <strong>Product Name:</strong> Women's Basic Polo - 532089
                        </div>

                        <div layout="column" flex="15">
                            <strong>Size:</strong> S
                        </div>

                        <div layout="column" flex="20">
                            <strong>Color:</strong> White
                        </div>

                        <div layout="column" flex="15">
                            <strong>Remaning:</strong> 10
                        </div>

                        <div layout="column" flex="15">
                            <strong>Boxed: </strong> 123
                        </div>
                    </md-checkbox>
                </md-card-content>
            </md-card>
        </div>

        <div layout="column" flex="50" class="box-zerospace m-b-20">
            <md-card class="m-0" flex="100">
                <md-card-content class="recap">
                    <md-checkbox aria-label="Checkbox 1" class="remaining-text"  flex="100" layout="row">
                        <div layout="column" flex="35">
                            <strong>Product Name:</strong> Women's Basic Polo - 532089
                        </div>

                        <div layout="column" flex="15">
                            <strong>Size:</strong> S
                        </div>

                        <div layout="column" flex="20">
                            <strong>Color:</strong> White
                        </div>

                        <div layout="column" flex="15">
                            <strong>Remaning:</strong> 10
                        </div>

                        <div layout="column" flex="15">
                            <strong>Boxed: </strong> 123
                        </div>
                    </md-checkbox>
                </md-card-content>
            </md-card>
        </div>

        <div class="ship_order_btn layout-align-center-center total-btn">
            <a href="javascript:;" class="stokkup-custom-btn1 stokkup-blue-btn text-white m-r-30 m-b-20 m-t-20">Auto - Add All - Large</a>
            <a href="javascript:;" class="stokkup-custom-btn1 stokkup-blue-btn text-white m-r-30 m-b-20 m-t-20">Add Box</a>
        </div>

        <md-content class="">
            <div layout="row" layout-wrap="nowrap" class="p-30 boxes">
                <div flex-xs flex-gt-xs="33" layout="column">
                    <md-card class="custom-fullbox-shadow">

                        <md-card-header layout-align="space-between center">
                            <md-card-header-text>
                                <span class="md-title">Box ID: 1</span>
                            </md-card-header-text>

                            <div class="delete-box"><a href="javascript">X</a></div>

                            <md-menu  ng-show="allow_access==1">
                                <md-button aria-label="Company Contact Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                    <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>
                                <md-menu-content width="4" ng-click="vm.openaddDesignDialog($event,design.id)">
                                    <md-menu-item>
                                        <md-button>
                                            Edit
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>

                        </md-card-header>

                        <md-card-content class="custom-desc-box">

                            <div layout="row" flex="100">
                                <div layout-align="space-between left" class="shp-code" layout="column" flex="50">
                                    <p>Status: Shipped</p>
                                </div>
                            </div>

                            <div class="h5 text-semibold first">Product Name:</div>
                            <span>Gilden 5000 - T-shirts, Different Product</span>

                            <div class="h5 text-semibold">Size:</div>
                            <span>M: 10 L:39 XL: 128</span>

                            <div class="h5 text-semibold">Color(s):</div>
                            <span>Blue</span>

                            <md-input-container flex="100" class="md-block m-b-20">
                                <input placeholder="Missing" name="Missing">
                            </md-input-container>

                            <md-input-container flex="100" class="md-block margin-0 m-b-20">
                                <input placeholder="Spoiled" name="Spoiled">
                            </md-input-container>

                            <!--<div class="h5 text-semibold">Method:</div>-->
                            <md-input-container class="md-block date-input md-input-has-value m-t-0">
                                <label>Box Type</label>
                                <md-select ng-model="topping">
                                  <md-optgroup label="Method 1">
                                    <md-option>Method 1</md-option>
                                    <md-option>Method 1</md-option>
                                    <md-option>Method 1</md-option>
                                  </md-optgroup>
                                </md-select>
                            </md-input-container>

                            <div class="h5 text-semibold p-t-0">Tracking Number</div>
                            <span>1234567890</span>

                            <div layout="row" flex="100" class="m-t-20">
                                <div layout-align="space-between left" class="shp-code" layout="column" flex="50">
                                    <md-input-container flex="100" class="md-block margin-0 m-b-20 units">
                                        <input placeholder="Units" name="Units">
                                    </md-input-container>
                                </div>

                                <div layout-align="space-between" class="mark-select text-right " layout="column" flex="50">
                                    <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </div>

                            </div>

                        </md-card-content>


                    </md-card>
                </div>
            </div>
        </md-content>


    </div>

</div><!--ship-order-screen ends here -->
