table.dataTable thead th .table-header .column-title {
    display: block;
    font-weight: 400 !important;
    white-space: nowrap;
}
.receving .dataTables_wrapper .bottom .right{display: none}
.input-margin md-input-container {
    margin: 0;
}