<md-dialog class="task-dialog ssActivewearDialog" >
    <form name="integration_form" class="md-inline-form" novalidate>
        <div class="client-profile-page">
            <md-toolbar class="md-accent md-hue-2">
                <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                    <span class="title">UPS API INTEGRATION</span>
                    <md-button    ng-click="closeDialog()" class="close-stokkup-dialog">
                        <span>close</span>
                    </md-button>
                </div>
            </md-toolbar>
            <div ng-cloak>
                <md-dialog-content ms-scroll>
                    <div layout="row" layout-wrap="nowrap" layout-padding layout-align="space-between start" class="popup-stokkup-modal">
                        <div layout="column"  flex="100" class="p-0 pt-15">
                            <md-input-container class="md-block">
                                <input placeholder="License Key" name="api" class="stop"  ng-model="params.api" >
                            </md-input-container>
                            <md-input-container class="md-block">
                                <input placeholder="Access UserName *" type="text" name="username" ng-model="params.username" >
                            </md-input-container>
                            <md-input-container class="md-block">
                                <input placeholder="Account Password" type="password" name="password"   ng-model="params.password" >
                            </md-input-container>
                            <md-input-container class="md-block">
                                <input placeholder="Account Number" name="account_number" class="stop"  ng-model="params.account_number">
                            </md-input-container>
                            <md-input-container layout="row">
                                <label class="selectbox-label">Test Mode</label>
                                <md-select name="is_live" ng-model="params.is_live" flex="100" >
                                    <md-option ng-selected="params.is_live==1" value="1">
                                        Yes
                                    </md-option>
                                    <md-option ng-selected="params.is_live==0" value="0">
                                        No
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </md-dialog-content>
            </div>
            <md-dialog-actions layout="row" layout-align="end center">
            <md-button class="stokkup-custom-btn1 stokkup-blue-btn text-white pull-right" id="affiliateSaveBtn" ng-click="UpdateTableData(params,'ups_detail','id',params.id,'ups')">
                SAVE
            </md-button>
        </md-dialog-actions>
        </div>
    </form>
</md-dialog>