<div class="col-md-12 nopad-form">
                                

                <div class="form-group col-md-6 nopad-form" >
                   <div class="form-group col-md-12 nopad-form" ng-repeat="art_data in screen_arts">
                    <div class="form-group col-md-3 nopad-left">
                        <label>Description </label>
                        <input type="text"  disabled="disabled"  class="form-control" ng-model="art_data.wp_desc">
                   </div>
                   <div class="form-group col-md-3 nopad-left">
                        <label>Placement </label>
                        <input type="text"  disabled="disabled"  class="form-control" ng-model="art_data.wp_placement">
                   </div>
                   <div class="form-group col-md-3 nopad-left">
                        <label>Position </label>
                        <input type="text"  disabled="disabled"  class="form-control" ng-model="art_data.wp_position">
                   </div>
                   <div class=" form-group col-md-2 sgpDetails btnCircle">
                      <label>Check Artwork Image </label>
                    <a title="Check Artwork Image"  role="button" ng-click="swipe_image(art_data.wp_image)" tabindex="0" class="" >
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                   </div>
                   </div>

                </div>

                 <div class="form-group col-md-3 nopad-form">
                 <div class="form-group col-sm-8">
                    <label>Selected Art Work </label>
                 </div>
                    <div class="form-group col-sm-8 m-b panel panel-default" style="height:200px;">
                        <img  ng-if="art_work_image" ng-src="{{art_work_image}}" style="width:100%; height:100%; padding:5px;" alt="" class="img-responsive" />
                    </div>
                 </div>
                 <div class="form-group col-md-3 nopad-form">
                 <div class="form-group col-sm-8">
                    <label>Rip File </label>
                 </div>
                  <div class="form-group col-sm-8 m-b panel panel-default" onclick="document.getElementById('mokup').click(); return false" style="height:200px;">
                        <img  ng-if="art_position[0].mokup_display_image" ng-src="{{art_position[0].mokup_display_image}}" style="width:100%; height:100%; padding:5px;" alt="" class="img-responsive" />
                    </div>
                 </div>

        </div>