<div class="col-md-12 nopad-form">
                                

                <div class="form-group col-md-6 nopad-form">
                    
                    <div class="form-group col-md-3 nopad-left">
                        <label>Description </label>
                        <input type="text"  disabled="disabled"  class="form-control" ng-model="screen_garments[0].wp_desc">
                   </div>
                   <div class="form-group col-md-3 nopad-left">
                        <label>Placement </label>
                        <input type="text"  disabled="disabled"  class="form-control" ng-model="screen_garments[0].wp_placement">
                   </div>
                   <div class="form-group col-md-3 nopad-left">
                        <label>Position </label>
                        <input type="text"  disabled="disabled"  class="form-control" ng-model="screen_garments[0].wp_position">
                   </div>


                </div>

                 <div class="form-group col-md-3 nopad-form">Image</div>
                 <div class="form-group col-md-3 nopad-form">Rip File</div>

        </div>