<div class="col-md-12 nopad-form">
                                

                <div class="form-group col-md-3 nopad-form">
                    
                    <div class="form-group col-md-4 nopad-left">
                        <label>Screen Sets </label>
                        <input type="text" class="form-control" >
                   </div>
                   <div class="form-group col-md-4 nopad-left">
                        <label>Screen Count </label>
                        <input type="text" class="form-control" >
                   </div>
                   <div class="form-group col-md-4 nopad-left">
                        <label>Colors </label>
                        <input type="text" class="form-control" >
                   </div>

                   <div class="form-group col-md-4 nopad-left">
                        <label>Screen Sets </label>
                        <select class="form-control" ng-model="workproof.wp_position">
                            <option value="">Select Position</option>
                            <option ng-repeat="position in wp_position" value="{{position.id}}"  ng-selected="{{position.id==workproof.wp_position}}">{{position.value}}
                            </option>
                        </select>
                   </div>
                   <div class="form-group col-md-4 nopad-left">
                        <label>Screen Sets </label>
                        <input type="text" class="form-control" >
                   </div>
                   <div class="form-group col-md-4 nopad-left">
                        <label>Screen Sets </label>
                        <input type="text" class="form-control" >
                   </div>


                    <div class="form-group col-md-4 nopad-left">
                        <label>Height </label>
                        <input type="text" class="form-control" >
                   </div>
                   <div class="form-group col-md-4 nopad-left">
                        <label>Width </label>
                        <input type="text" class="form-control" >
                   </div>
                   <div class="form-group col-md-4 nopad-left">
                        <label>Total Qnty</label>
                        <input type="text" class="form-control" >
                   </div>


                      <div class="form-group col-md-4 nopad-left">
                        <label>ArtWork Complete </label>
                        <input type="text" class="form-control" >
                   </div>
                   <div class="form-group col-md-4 nopad-left">
                        <label>Reuse Screen for Multiple group- color change </label>
                        <input type="text" class="form-control" >
                   </div>
                   <div class="form-group col-md-4 nopad-left">
                        <label>Schedule Date</label>
                        <input type="text" class="form-control" >
                   </div>

                </div>

                 <div class="form-group col-md-9 nopad-form">
                   <div class="form-group col-md-12 nopad-right">
                        <div class="right-group col-md-1 nopad-right">
                            <label>Color Name</label>
                        </div>
                         <div class="form-group col-md-1 nopad-right">
                            <label>Pantom/ Thread Color</label>
                        </div>
                         <div class="form-group col-md-1 nopad-right">
                            <label>Inq Type</label>
                        </div>
                        <div class="form-group col-md-1 nopad-right">
                            <label>Stroke</label>
                        </div>
                        <div class="form-group col-md-1 nopad-right">
                            <label>Squeege</label>
                        </div>
                        <div class="form-group col-md-1 nopad-right">
                            <label>Mesh Thread count</label>
                        </div>
                        <div class="form-group col-md-1 nopad-right">
                            <label>Head Location</label>
                        </div>
                        <div class="form-group col-md-1 nopad-right">
                            <label>Position Type</label>
                        </div>
                        <div class="form-group col-md-3 nopad-right">
                            <label>Note</label>
                        </div>

                   </div>
                   <div class="form-group col-md-12 nopad-right">
                        <div class="form-group col-md-1 nopad-form">
                            <input type="text" class="form-control" >
                        </div>
                         <div class="form-group col-md-1 nopad-form">
                            <input type="text" class="form-control" >
                        </div>
                         <div class="form-group col-md-1 nopad-form">
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group col-md-1 nopad-form">
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group col-md-1 nopad-form">
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group col-md-1 nopad-form">
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group col-md-1 nopad-form">
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group col-md-1 nopad-form">
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group col-md-3 nopad-form">
                            <input type="text" class="form-control" >
                        </div>
                        <div class="form-group col-md-1 nopad-right">
                            <button title="Delete" class="btn btn-xs btn-danger addButton c-dgreen" tabindex="0">X</button>
                        </div>
                   </div>
                </div>

        </div>