<div class="col-md-12 nopad-form">
                                <!-- POSITION TAB TITLE -->
                                        <div class="col-md-10 nopad-form">                                        
                                            <div class="form-group col-md-1 nopad-form">
                                                <label>Size Group</label>
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <label>Product color</label>
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <label>Description</label>                          
                                            </div>
                                             <div class="form-group col-md-1 nopad-form">
                                                <label>Position</label>                          
                                            </div>
                                             <div class="form-group col-md-4 nopad-right">
                                                <label>Placement</label>                          
                                            </div>
                                            <div class="form-group col-md-2 nopad-form">
                                                <div class="form-group col-md-3 nopad-form">
                                                    <label>Image</label>                          
                                                </div>
                                                 <div class="form-group col-md-9 nopad-form">
                                                    <label>Type</label>                          
                                                </div>
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <label>Screenset</label>                          
                                            </div>
                                        </div>

        
                                    <!-- POSITION TAB FIELDS -->
                                    <div class="" ng-repeat="(key,art_data) in art_worklist" id="{{art_data.id}}">
                                        <div class="col-md-10 nopad-form">                                        
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control" ng-model="art_data.size_group_id" name="size_group"  placeholder="Size Group" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control" ng-model="art_data.product_color" name="product_color"  placeholder="Color" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control" ng-model="art_data.wp_desc" name="group_qnty"  placeholder="description" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control" ng-model="art_data.wp_position" name="group_qnty"  placeholder="Poition" />
                                            </div>
                                            <div class="form-group col-md-4 nopad-right">
                                               {{art_data.placement_name}}
                                            </div>
                                            <div class="form-group col-md-2 nopad-form">
                                                <div class=" col-md-3 nopad-form">
                                                    <div class=" col-md-12 nopad-form">
                                                        <button title="Edit" ng-click="swipe_image(art_data.wp_image_display)" type="button" class="btn btn-default addButton c-dgreen" >
                                                            <i class="glyphicon glyphicon-search"></i> 
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class=" col-md-9 nopad-form">
                                                    <input type="text" class="form-control" value="Art Work Screen" name="type" placeholder="Type" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control" ng-model="art_data.screen_set" name="screen_set"  placeholder="Screen Set" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-right">
                                                <div class="form-group col-md-6 nopad-right">
    	                                            <button title="Edit" ng-click="artworkproof_popup(art_data.id);" type="button" class="btn btn-default addButton c-dgreen" >
                                                        <i class="fa fa-edit"></i> 
                                                    </button>
                                                </div>
                                                <div class="form-group col-md-6 nopad-right">
                                                  <button title="Delete" ng-click="remove_data(art_data.id,'artjob_artworkproof');" class="btn btn-xs btn-danger addButton form-control c-dgreen" tabindex="0">X</button>
                                                </div>
                                            </div>
                                             

                                        </div>

                                    </div>

                                    <div class="positionTab_content col-md-3" title="Upload Mokup Image" style="cursor:pointer;">
                                        <div class="form-group col-sm-8 m-b panel panel-default" onclick="document.getElementById('mokup').click(); return false" style="height:200px;">
                                        <img  ng-src="{{mokup_display_image}}" style="width:100%; height:100%; padding:5px;" alt="" class="img-responsive" />
                                        </div>
                                         <div class="form-group col-sm-3 m-b" style="height:200px;">
                                            <input type='file' id="mokup" style="display:none;" data-ng-model="art_position[0].mokup_image" base-sixty-four-input>

                                            <button ng-click="SaveImage(art_position[0].mokup_image,'mokup_image','art','art-mokup','art/{{art_id}}','art_id',art_id);" type="button" class="btn btn-info">Save</button>
                                        </div>

                                    </div>
                            
                                </div>