 <div class="panel-body">
 <div class="col-md-12 nopad-form">
              <div class="form-group col-sm-12 m-b nopad-left">
                <div class="col-sm-12 m-b nopad-left">
                  <label>Client <em class="text-muted"></em></label>
                  <input type="text" disabled="disabled" class="form-control" ng-model="workproof.client_company"  >
                </div>
                <div class="col-md-6 m-b nopad-left">
                  <label>Size Group <em class="text-muted"></em></label>
                  <input type="text" disabled="disabled"  class="form-control" ng-model="workproof.size_group_id"  >
                </div>
                <div class=" col-md-6 m-b nopad-left">
                  <label>Order<em class="text-muted"></em></label>
                  <input type="text" disabled="disabled"  class="form-control" ng-model="workproof.job_name" >
                </div>
              </div>
              <div class="form-group col-sm-12 m-b nopad-left">
	                <div class="col-md-6 m-b nopad-left">
	                  <label>Product <em class="text-muted"></em></label>
	                  <input type="text" disabled="disabled"  class="form-control" ng-model="workproof.product_name"  >
	                </div>
	                <div class="col-md-6 m-b nopad-left">
	                  <label>Garment Color<em class="text-muted"></em></label>
	                  <input type="text" disabled="disabled"  class="form-control" ng-model="workproof.product_color"  >
	                </div>
	                <div class=" col-md-6 m-b nopad-left">
	                  <label>Position <em class="text-muted"></em></label>
	                  <select class="form-control" ng-model="workproof.wp_position">
	                    <option value="">Select Position</option>
	                    <option ng-repeat="position in wp_position" value="{{position.id}}"  ng-selected="{{position.id==workproof.wp_position}}">{{position.value}}</option>
	                  </select>
	                </div>
	                <div class="col-md-6 m-b nopad-left">
	                  <label>Screen Sets <em class="text-muted"></em></label>
	                  <select class="form-control" ng-model="workproof.wp_screen">
	                    <option value="">Select Screen</option>
	                    <option ng-repeat="screen in artjobscreen_list" value="{{screen.id}}"  ng-selected="{{screen.id==workproof.wp_screen}}">{{screen.screen_set}}</option>
	                  </select>
	                </div>
	                <div class=" col-md-6 m-b nopad-left">
	                  <label>Placement<em class="text-muted"></em></label><br>
	                <style type="text/css">
	                	.md-check input:checked + i::before { background-color: black !important; }
	                </style>
											   				
						<div class="col-md-1 chkBoxes nopad-left" style="width:auto;" ng-repeat="(key,Screens) in get_artworkproof_placement[0].proof_placementvalue">
                        <label class="md-check" style="height:25px; margin-bottom: 0px;">
                            <input type="checkbox" name="placement"  checklist-model="workproof.wp_placement"  checklist-value="get_artworkproof_placement[0].proof_placementvalue[key]"  class="has-value">
                            <i class="c-default"></i>
                            {{get_artworkproof_placement[0].placement_name[key]}}
                        </label>
                    	</div>
											               
	                </div>
	              </div>
              </div>
               <div class="form-group col-sm-12 m-b nopad-left">
	              <div class="form-group col-sm-6 m-b nopad-right">
	                <label>LOGO <em class="text-muted"></em></label>
	                <div class="form-group col-sm-12 m-b panel panel-default" style="height:200px;"> </div>
	              </div>
	              <div class="form-group col-sm-6 m-b nopad-right">
		                <div class="form-group col-sm-12 m-b nopad-right">
			                <label>Image Type <em class="text-muted"></em></label><br>
			                <input class="form-group" selected="selected" checked="checked" type="radio"> Art work Proof
		                </div>
		                <div class="form-group col-sm-12 m-b nopad-right">
			                <label>Image Description <em class="text-muted"></em></label>
			                <textarea class="form-group" cols="22" rows="5" ng-model="workproof.wp_desc"></textarea>
		               </div>
	              </div>

	              
              </div>

              <div class="input-group col-sm-12 m-b form-buttons">
                <button  type="submit" class="btn btn-info" ng-click="SaveArtWorkProof(workproof)" ng-disabled="staffForm.$invalid">Save</button>
                &nbsp;
                <button ng-click="ClosePopup();" type="button" class="btn btn-info">Cancel</button>
                &nbsp; 
              </div>
            </div></div>