
                                <div class="col-md-12 nopad-form">
                                    <div class="col-md-12 nopad-left">
                                        <div class="form-group">
                                        <!-- Orderline Tab Title -->
                                            <div class="col-md-12 nopad-form">                      
                                                <div class="col-md-4 nopad-form">
                                                    <div class="form-group col-md-4">
                                                        <label>Size Group / <br />Product Color</label>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>Product / <br />Product Vendor</label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-7 nopad-form">
                                                    <div class="form-group col-md-7 nopad-form">
                                                        <label>---------------------------------------------Size / Qnty-----------------------------------------------------------</label>
                                                    </div>
                                                    <div class="form-group col-md-1 nopad-form">
                                                       <label> Qnty / Client Supply </label>
                                                    </div>

                                                </div>
                                                <div class="form-group col-md-1 nopad-form">
                                                </div>

                                            </div>
                                            <!-- Orderline Tab Fields -->
                                    <div class=" col-md-12 nopad-form">
                                            <div class="orderLineTabScroll formFields" ng-repeat="(key,order_line) in art_orderline.line_array">
                                                <!-- First ROW OrderLine -->
                                                <div class="col-md-12 nopad-form">
                                                    <div class="cols col-md-4  nopad-form">
                                                        <div class="form-group col-md-4 nopad-form">
                                                            <input  type="text" class="form-control"  ng-model="order_line.size_group_id" readonly="" />
                                                        </div>
                                                        <div class="form-group col-md-4 nopad-form">
                                                            <input type="text" class="form-control"  ng-model="order_line.product_name" readonly="" />
                                                        </div>
                                                        <div class="form-group col-md-4 nopad-left">
                                                            <div class="form-control"> Set Group </div>
                                                        </div>

                                                        <div class="form-group col-md-4 nopad-form">
                                                            <input  type="text" class="form-control"  ng-model="order_line.product_color" readonly="" />
                                                        </div>
                                                        <div class="form-group col-md-4 nopad-form">
                                                            <input  class="form-control"  ng-model="order_line.name_company" readonly="" />
                                                        </div>

                                                        <div class="form-group col-md-3 nopad-form">

                                                            <select class="form-control ng-pristine ng-valid ng-touched" id="art_group_{{order_line.line_id}}" tabindex="0" aria-invalid="false" style="">
                                                               <option ng-repeat="groups in artjobgroup_list" value="{{groups.id}}">{{groups.group_name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-1 nopad-form">
                                                            <div class="sgpDetails btnCircle" title="Assign group" style="cursor:pointer;">
                                                                <i class="fa fa-arrow-circle-right"  ui-event="{ click : 'Asign_group_order(order_line.line_id)' }"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cols col-md-7  nopad-form">
                                                            <div class="form-group col-md-1 nopad-form" ng-repeat="(s_key,i) in getNumber(7)  track by $index">
                                                            	<div class="form-group col-md-6 nopad-form">
                                                               		<input type="text" class="form-control c-green" onfocus="this.blur()" ng-model="art_orderline.line_array[key].size_array[s_key].size"/>
                                                                </div>
                                                            	<div class="form-group col-md-6 nopad-form">
                                                                	<input type="text" class="form-control" onfocus="this.blur()" ng-model="art_orderline.line_array[key].size_array[s_key].qnty" />
                                                                </div>
                                                                <div class="form-group col-md-12 nopad-form">
                                                                 	
                                                                 	<select class="form-control ng-pristine ng-valid ng-touched" ui-event="{ blur : 'UpdateField_field($event,art_orderline.line_array[key].size_array[s_key].sizeid,\'purchase_detail\',\'get_groupdata\')' }" ng-model="art_orderline.line_array[key].size_array[s_key].art_group" tabindex="0" name="art_group" aria-invalid="false" style="">

		                                                            <option 
		                                                            	ng-repeat="groups in artjobgroup_list" 
		                                                            	ng-selected="{{groups.id==art_orderline.line_array[key].size_array[s_key].art_group}}" 
		                                                            	
		                                                            	value="{{groups.id}}">
		                                                            	{{groups.group_name}}
		                                                            </option>

                                                                </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-2 nopad-form">

                                                            	<div class="form-group col-md-6 nopad-form">
                                                                	<input type="text" class="form-control" ng-model="order_line.ordline_qnty" />
                                                                </div>
                                                                <div class="col-md-7 smallPad nopad-form" >
                                                                <select class="form-control ng-pristine ng-valid ng-touched" ng-model="order_line.client_supplied" tabindex="0" aria-invalid="false" style="">
                                                                    <option ng-selected="{{order_line.client_supplied==1}}" >Yes</option>
                                                                    <option ng-selected="{{order_line.client_supplied==0}}" >No</option>
                                                                </select>
                                                           		 </div>

                                                            </div>

                                                    </div>
                                                    <div class="col-md-1 nopad-form">
                                                        <div class="form-group col-md-12 nopad-form artworkButton">
                                                        	<div class="col-md-5 smallPad nopad-form" >
	                                                            <button ng-click="create_artworkproof(order_line.line_id);" type="button" class="btn btn-default addButton c-dgreen">
	                                                              <i class="fa fa-plus"></i> 
	                                                            </button>
                                                            </div>
                                                            <div class="col-md-12 smallPad nopad-form" >
                                                            	<span>Artwork Proof</span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <!-- Second ROW -->
                                                <!-- / -->
                                        

                                            </div>
                                            </div>
   
                                        </div>
                                  
                                    </div>
                                    
                                </div>  
                                <!-- POP UP on Orderline Tab Page -->
                                
                            