<div class="orderTab_scroll" class="col-md-12 nopad-form">
                                <!-- POSITION TAB TITLE -->
                                        <div class="col-md-10 nopad-form">                                        
                                            <div class="form-group col-md-1 nopad-left">
                                                <label>Group Name</label>
                                            </div>
                                            <div class="form-group col-md-1 nopad-left">
                                                <label>Group Qnty</label>
                                            </div>

                                            <div class="form-group col-md-6 nopad-left">
                                                <label>Screen Sets Apply</label>                          
                                            </div>
                                        </div>

                                            <div class="form-group col-md-2 nopad-left">
                                                <div class="form-group col-md-8 nopad-left artworkButton">
                                                    <button type="button" class="btn btn-default addButton c-dgreen" ng-click="create_screen('artjob_ordergroup')">
                                                      <i class="fa fa-plus"></i> 
                                                    </button>
                                                <span>Create Group</span>
                                               </div>
                                            </div>
                                        
        
                                    <!-- POSITION TAB FIELDS -->
                                    <div class="positionTab_content" ng-repeat="(key,group_data) in artjobgroup_list">
                                        <div class="col-md-10 nopad-form">                                        
                                            <div class="form-group col-md-1 nopad-left">
                                                <input type="text" class="form-control" ng-model="group_data.group_name" name="group_name" ui-event="{ blur : 'UpdateField_field($event,group_data.id,\'artjob_ordergroup\')' }" placeholder="Group Name" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-left">
                                                <input type="text" class="form-control" ng-model="group_data.group_qnty" name="group_qnty" ui-event="{ blur : 'UpdateField_field($event,group_data.id,\'artjob_ordergroup\')' }" placeholder="Group Count" />
                                            </div>
                   <style type="text/css">
	                .md-check input:checked + i::before { background-color: black !important; }
	                </style>
                                            <div class="form-group col-md-8 nopad-left">
											   				
											                    <div class="form-group col-md-1 chkBoxes nopad-left" style="width:auto;" ng-repeat="Screens in artjobscreen_list">
											                       <label class="md-check" style="height:25px;">
											                            <input type="checkbox" name="screen_array" ui-event="{ blur : 'UpdateField_orderscreen(group_data.screen_array,group_data.id,\'artjob_ordergroup\')' }"  checklist-model="group_data.screen_array" checklist-value="Screens.id"  class="has-value">
											                            <i class="c-default"></i>
											                            {{Screens.screen_set}}
											                         </label>
											                    </div>
											               
                                            </div>
                                        </div>

                                        <div class="col-md-2 nopad-left">
                                            
                                            <div class="sgpDetails btnCircle">
                                              <a class="" tabindex="0" role="button" title="Go To Screen">
                                                <i class="fa fa-arrow-circle-right"></i>
                                              </a>
                                            </div>
                            
                                        </div>
                                    </div>
                            
                                </div>