<div class="orderTab_scroll" class="col-md-12 nopad-form">
                                <!-- POSITION TAB TITLE -->
                                        <div class="col-md-3 nopad-form">                                        
                                            <div class="form-group col-md-4 nopad-left">
                                                <label>Screen Sets</label>
                                            </div>
                                            <div class="form-group col-md-4 nopad-left">
                                                <label>Graphic size</label>
                                            </div>

                                            <div class="form-group col-md-4 nopad-left">
                                                <label>Screen Count</label>                          
                                            </div>
                                        </div>
                                         <div class="col-md-4 nopad-left">
                                            <div class="form-group col-md-3 nopad-left">
                                                <label>Art Dept. Complete</label>
                                            </div>
                                            <div class="form-group col-md-3 nopad-left">
                                              <label>Screen Created</label>
                                            </div>
                                            <div class="form-group col-md-3 nopad-left">
                                              <label>Date Created</label>
                                            </div>
                                             <div class="form-group col-md-3 nopad-left">
                                              <label>Position</label>
                                            </div>
                                        </div>
                                        
        
                                    <!-- POSITION TAB FIELDS -->
                                    <div class="positionTab_content" ng-repeat="(key,order_position) in art_position">
                                        <input type="hidden" class="col-md-1"  ng-model="order_position.order_id" ng-value="order_position.order_id"/>
                                        <numeric_tag input-value="123" input-name="wks.name"/>
                                      
                                        <div class="col-md-3 nopad-form">                                        
                                            <div class="form-group col-md-4 nopad-left">
                                                <input type="text" class="form-control" ng-model="order_position.position_id" placeholder="Position" />
                                            </div>
                                            <div class="form-group col-md-4 nopad-left">
                                                <input type="text" class="form-control" ng-model="order_position.description" placeholder="Description" />
                                            </div>
                                            <div class="form-group col-md-4 nopad-left">
                                                <input type="text" class="form-control" ng-model="order_position.placement_type" placeholder="Placement Type" />
                                            </div>
                                        </div>

                                        <div class="col-md-4 nopad-left">
                                            <div class="form-group col-md-3 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.dtg_size" placeholder="Dtg Size" />
                                            </div>
                                            <div class="form-group col-md-3 nopad-form">
                                                <input type="text" class="form-control" ng-model="order_position.dtg_on" placeholder="Dtg On" />
                                            </div>
                                            <div class="form-group col-md-3 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.dtg_size" placeholder="Dtg Size" />
                                            </div>
                                            <div class="form-group col-md-3 nopad-form">
                                                <input type="text" class="form-control" ng-model="order_position.dtg_on" placeholder="Dtg On" />
                                            </div>
                                        </div>

                                        

                                        <div class="col-md-2 nopad-left">
                                            
                                            <div class="sgpDetails btnCircle">
                                              <a class="" tabindex="0" role="button" title="Go To Screen">
                                                <i class="fa fa-arrow-circle-right"></i>
                                              </a>
                                            </div>
                            
                                        </div>
                                    </div>
                            
                                </div>