
  <div class="panel panel-default">
    <div class="panel-body b-b b-light">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>

     

    </div>

    <div>

      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="10" ng-controller="miscListCtrl">
        <thead>
          <tr>
              <th data-toggle="true">id</th>
              <th data-toggle="true">Approval / Order Sequence</th>
               <th data-toggle="true">Art Type</th>
              <th data-toggle="true">Boxing Type</th>
              <th data-toggle="true">Charge Apply</th>
              <th data-toggle="true">Color Group</th>
              <th data-toggle="true">Direct to Garment</th>
              <th data-toggle="true">Dir. to Garment Sz.</th>
              <th data-toggle="true">Disposition</th>
              <th data-toggle="true">Graphic Size</th>
              <th data-toggle="true">Level</th>
              <th data-toggle="true">Yes No</th>
              <th data-toggle="true">PO Status</th>
              <th data-toggle="true">Address Type</th> 
              
             
          </tr>
        </thead>
        <tbody>

          <tr data-ng-repeat="i in range">
              <td>{{i}}</td>
              
              <td><a editable-text="miscData.approval[i].value" onaftersave="updateUser(miscData.approval[i].value,miscData.approval[i].id)">{{miscData.approval[i].value}}</a></td>

               <td><a editable-text="miscData.art_type[i].value" onaftersave="updateUser(miscData.art_type[i].value,miscData.art_type[i].id)">{{miscData.art_type[i].value}}</a></td>


                <td><a editable-text="miscData.boxing_type[i].value" onaftersave="updateUser(miscData.boxing_type[i].value,miscData.boxing_type[i].id)">{{miscData.boxing_type[i].value}}</a></td>


                <td><a editable-text="miscData.charges_apply[i].value" onaftersave="updateUser(miscData.charges_apply[i].value,miscData.charges_apply[i].id)">{{miscData.charges_apply[i].value}}</a></td>


                <td><a editable-text="miscData.color_group[i].value" onaftersave="updateUser(miscData.color_group[i].value,miscData.color_group[i].id)">{{miscData.color_group[i].value}}</a></td>


                <td><a editable-text="miscData.direct_to_garment[i].value" onaftersave="updateUser(miscData.direct_to_garment[i].value,miscData.direct_to_garment[i].id)">{{miscData.direct_to_garment[i].value}}</a></td>


                <td><a editable-text="miscData.dir_to_garment_sz[i].value" onaftersave="updateUser(miscData.dir_to_garment_sz[i].value,miscData.dir_to_garment_sz[i].id)">{{miscData.dir_to_garment_sz[i].value}}</a></td>


                 <td><a editable-text="miscData.disposition[i].value" onaftersave="updateUser(miscData.disposition[i].value,miscData.disposition[i].id)">{{miscData.disposition[i].value}}</a></td>

                  <td><a editable-text="miscData.graphic_size[i].value" onaftersave="updateUser(miscData.graphic_size[i].value,miscData.graphic_size[i].id)">{{miscData.graphic_size[i].value}}</a></td>


                  <td><a editable-text="miscData.level[i].value" onaftersave="updateUser(miscData.level[i].value,miscData.level[i].id)">{{miscData.level[i].value}}</a></td>

                   <td><a editable-text="miscData.yesno[i].value" onaftersave="updateUser(miscData.yesno[i].value,miscData.yesno[i].id)">{{miscData.yesno[i].value}}</a></td>

                    <td><a editable-text="miscData.po_status[i].value" onaftersave="updateUser(miscData.po_status[i].value,miscData.po_status[i].id)">{{miscData.po_status[i].value}}</a></td>

                    <td><a editable-text="miscData.address_type[i].value" onaftersave="updateUser(miscData.address_type[i].value,miscData.address_type[i].id)">{{miscData.address_type[i].value}}</a></td>


         </tr>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="12" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>



   
  </div>


 