 
  <div class="row">
    <div class="col-sm-12">

      <form name="productForm" class="form-validation" ng-submit="saveProduct()">
        
        <div class="panel panel-default">
         <input type="hidden" ng-model="product.id" value="{{product.id}}">
          <div class="panel-body">

			<!-- Left Side -->
			<div class="col-sm-6 nopad-form">
				<!-- Form Fields Left Side -->
				<div class="col-sm-8">
					<div class="form-group col-sm-12 m-b">
						<label>Product Description<em class="text-muted"></em></label>
						<textarea rows="5" class="form-control" ng-model="product.description" required></textarea>
					</div>

					<div class="form-group col-sm-6 m-b">
						<label>Vendor<em class="text-muted"></em></label>
						<select class="form-control" ng-model="product.vendor_id" required>
							<option ng-selected="product.vendor_id==data.id" ng-repeat="data in vendors" value={{data.id}}>{{data.name_company}}</option>
						</select>
					</div>  
					
					<div class="form-group col-sm-6 m-b">
						<label>Vendor SKU<em class="text-muted"></em></label>
						<input type="text" class="form-control" ng-model="product.vendor_sku">
					</div>

					<div class="form-group col-sm-6 m-b">
						<label>Brand<em class="text-muted"></em></label>
						<input type="text" class="form-control" ng-model="product.brand">
					</div>

					<div class="form-group col-sm-12 m-b">
						<label>Garment / Product Name<em class="text-muted"></em></label>
						<input type="text" class="form-control" ng-model="product.name">
					</div>

					<div class="form-group col-sm-12 m-b">
						<label>Status</label>
						<select class="form-control" ng-model="product.status" required>
							<option value="1">Yes</option>
							<option value="0">No</option>                    
						</select>
					</div>

					<div class="form-group col-sm-12 m-b">
						<label>Note<em class="text-muted"></em></label>
						<textarea rows="5" class="form-control" ng-model="product.note"></textarea>
					</div>
				</div>
				<!-- / -->
				<!-- Form Fields Right Side Upload Image -->
				<div class="col-sm-4">
					<div class="form-group col-sm-12 m-b">
						<input type="file" title="Upload Profile Picture"  data-ui-file-upload  onchange="angular.element(this).scope().setFiles(this)">
						<img  ng-if="product.photo" ng-src="{{product.all_url_photo}}" width="100" height="100">
					</div>
				</div>
				<!-- / -->
				<div class="form-group col-sm-12 m-b">
					<ul class="nav nav-tabs">
						<li class="active">
						  <a href data-toggle="tab" data-target="#tab1">Pricing</a>
						</li>
						<li>
						  <a href data-toggle="tab" data-target="#tab2">Size/Colors</a>
						</li>
						<li>
						  <a href data-toggle="tab" data-target="#tab3">Other Vendor Data</a>
						</li>

						<li>
						  <a href data-toggle="tab" data-target="#tab4">S & S Specific Data</a>
						</li>
					</ul>

					<div class="tab-content p b-a no-b-t bg-white m-b-md">
						<div role="tabpanel" class="tab-pane animated fadeIn active" id="tab1"></div>
						<div role="tabpanel" class="tab-pane animated fadeIn" id="tab2"></div>
						<div role="tabpanel" class="tab-pane animated fadeIn" id="tab3"></div>	
						<div role="tabpanel" class="tab-pane animated fadeIn" id="tab4"></div>
					</div>
				</div>
			</div>		
		</div>
		<!-- / -->
          <footer class="panel-footer text-right">
            <button  type="submit" class="btn btn-info" ng-disabled="productForm.$invalid">Submit</button>
            <button ui-sref="product.list" type="button"  class="btn btn-info">Cancel</button>
          </footer>
        </div>
      </form>
    </div>
    
  </div>
 
