<div class="order-info-page m-r-15 m-l-20 m-b-20 company-po-page view-notes">
    <div class="header "  layout="column" >
        <div class="header-content realtive-positon" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <a class="link-back" ui-sref="app.art.screensetView({id:screenset_id})">BACK TO SCREENSET</a>
            <h2 flex="4" class="font-500">Notes for Screenset #{{screenset_id}}</h2>
<!--             <md-input-container md-no-float class="md-block" flex="3">
                <input placeholder="">
            </md-input-container> -->
        </div>
    </div>
    <div class="simple-table-container md-whiteframe-4dp m-b-20 m-r-15" >
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text h2 text-semibold" flex=20>
                Notes
            </div>
            <div class="search-block" flex=40>
                <md-input-container class="md-block" flex-gt-sm>
                    <input ng-model="name" placeholder="Search" ui-event="{ change : 'search($event)' }">
                </md-input-container>
            </div>
            <div class="order-modal-title " layout="row" layout-align="end center"flex=11 >
                <md-button class="dark-bg chrome-weight" ng-click="openInsertPopup('art/dialogs/notes/addNote.html',$event)">
                    ADD NEW
                </md-button>
            </div>
        </div>
           <div class="ms-responsive-table-wrapper" ng-show="success==1">
                <div tasty-table bind-resource-callback="getResource" bind-init="init"  bind-filters="filterBy" bind-reload="reloadCallback" >
                    <table class="dataTable row-border hover">
                        <thead tasty-thead></thead>
                        <tbody >
                            <tr ng-repeat="(key,note) in rows">
                                <td class="">{{note.note_date}}</td>
                                <td class="">{{note.note_title}}</td>
                                <td class="">{{note.note}}</td>
                                <td>
                                    <md-menu>
                                        <md-button aria-label="Main Contact Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>
                                        <md-menu-content width="4" >
                                            <md-menu-item ng-click="openEditPopup('art/dialogs/notes/editNote.html',note,$event)">
                                                <md-button>
                                                    Edit Note
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item  ng-click="RemoveEditPopup(note.id)">
                                                <md-button>
                                                    Remove Note
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                    <div tasty-pagination class="tasty-page"></div>
                </div>
            </div>
            <div  class="ms-responsive-table-wrapper" ng-show="success==0">
               <table class="simple">
                    <thead>
                        <tr>
                            <th>No Records Found</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="p-23 border-t-grey">
            </div>
        </div>
    </div>
</div>

