<div class="main-design-page m-r-15 m-l-20 m-b-20">
    <div class="header"  layout="column">
        <div class="header-content" layout="row" layout-align="start" layout-wrap flex layout-padding>
        </div>
        <div class="order-information m-b-20" layout="row" layout-align="start" layout-wrap flex >
            <div class="info-order" flex="100">
                
                <md-card layout="row">
                    
                    <md-card-content flex="50" layout="column">
                        
                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                            <input placeholder="Company Name" name="" ui-event="">
                            <div ng-messages=" " role="alert" multiple>
                                <div ng-message="required">
                                    <span>This field is required</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block first-box settings-margin-0">
                            <input placeholder="Address" name="" ui-event="">
                            <div ng-messages=" " role="alert" multiple>
                                <div ng-message="required">
                                    <span>This field is required</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block first-box settings-margin-0">
                            <input placeholder="Phone Number" name="" ui-event="">
                            <div ng-messages=" " role="alert" multiple>
                                <div ng-message="required">
                                    <span>This field is required</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                            <input placeholder="Email Address" name="" ui-event="">
                            <div ng-messages=" " role="alert" multiple>
                                <div ng-message="required">
                                    <span>This field is required</span>
                                </div>
                            </div>                        
                         </md-input-container>

              <!--            <div class="title" layout-padding>
                            <span class="basicInfoStyle">CHANGE PASSWORD</span>
                        </div>       -->
                        
                      </div>

                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>