
<md-dialog class="task-dialog search-product-view-dialog" aria-label="New order" flex="70">
    <form name="orderForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">{{product_name}}</span>
                <md-button  ng-click="cancel()" class="close-stokkup-dialog">
                    <span>CLOSE</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="row" layout-wrap="nowrap"  layout-padding layout-align="space-between start">
                <div layout="column" flex="30">
                    <div class="md-whiteframe-1dp filter-product-image " layout="row" layout-align="center center">
                        <img  ng-if="product_image" ng-src="{{product_image_url}}" class="product-popup-image" />
                       <img  ng-if="product_image == ''" ng-src="{{NoImage}}" alt="No Image" class="product-popup-image" />
                    </div>

                    <div class="h5 p-t-30">Colors</div>
                   
                  <!--  <div class="h5 p-t-10">
                            <span class="image-space"><a style="outline: medium none;" ng-hide="modelDisplay == ''" ng-click="changeModelImage(product_image_display_main,product_image_main)">Model</a></span>
                    </div> -->

                     <div layout="row" flex="100" layout-wrap="nowrap" layout-align="start start">

                     <div ng-repeat="(keyColor,colorsdata) in productColorSize"   flex="25" class="{{color_id == keyColor ? 'active-color' : 'deactivate-color'}}"> 
                        <div class="md-whiteframe-1dp image-space"  layout="row" layout-align="center center" ng-click="changeColor(keyColor,colorsdata.color_front_image_url_photo,colorsdata.color_front_image)">
                        <img  ng-if="colorsdata.color_front_image" ng-src="{{colorsdata.color_front_image_url_photo}}" class="popup-image" /><md-tooltip md-direction="bottom">{{colorsdata.color_name}}</md-tooltip></img>
                        <img  ng-if="colorsdata.color_front_image == ''" ng-src="{{NoImage}}" alt="No Image" class="popup-image" /><md-tooltip md-direction="bottom">{{colorsdata.color_name}}</md-tooltip></img>
                        </div>
                     </div>


                     </div>
                </div>
                <div layout="column" flex="65" layout-padding>
                    <div layout="row" layout-align="space-between start" class="p-b-20">
                        <div layout="column" flex="55">
                            <div class="h4">Vendor</div>
                            <div class="h5 p-b-10  grey-color">{{vendor_name}}</div>
                            <div class="h4">Item Number</div>
                            <div class="h5  grey-color">{{product_id}}</div>

                       


                         <div class="box-typ1 scrollable" ms-scroll>
                                <table class="tbl-typ1">
                                    <thead>
                                        <tr>
                                            <th width="35%" class="pd5">Inventory</th>
                                            <th width="40%" class="pd5">Quantity</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key,all_size) in sizeAll">
                                            <td class="pd5">
                                                <table width="100%">
                                                    <tr>
                                                        <td width="70%" class="text-right color font-12">{{all_size.sizeName}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td class="pd5">
                                                <md-input-container class="md-block" flex-gt-sm >
                                                    <input aria-label="qnty" ng-model="all_size.qnty"  type="number" ng-min="0" ng-class="{'red':orderForm.input.$invalid}" >
                                                </md-input-container>

                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="mrg20-T header-typ3">
                                    <md-checkbox  aria-label="Checkbox 1" ng-model="is_supply">
                                        These products are supplied garments
                                    </md-checkbox>
                            </div>
                       </div> 

                        <div layout="column" flex="40">
                            <div class="h4">Description</div>
                            <div class="h5  grey-color p-b-10" ng-bind-html="description"></div>
                        </div>  
                    </div>
                    
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button  aria-label="add" class="md-accent md-raised " ng-click="addProduct(sizeAll,product_id,is_supply,size_group_id)" ng-disabled="orderForm.$invalid">{{operation}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog> 