<md-dialog class="task-dialog designadd-dialog" aria-label="New order">
    <form name="orderForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Add Custom Product</span>
                <md-button  ng-click="vm.closeDialog()">
                    <span><md-icon md-font-icon="icon-close"></md-icon></span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="design-add-modal " layout-padding>

               
                <div flex="20">
                            <md-input-container class="width100">
                                <label>Product</label>
                                 <md-select ng-model="product_id" ng-change="changeProduct(product.id,0)">
                                    <md-option ng-repeat="data in allProduct" value="{{data.id}}" >
                                        {{data.name}}
                                    </md-option>
                                 </md-select>
                            </md-input-container>
                </div>

                <div flex="20">
                            <md-input-container class="width100">
                                <label>Color</label>
                                 <md-select ng-model="product.color_id" ng-change="changeProduct(product.id,product.color_id)">
                                
                                    <md-option ng-repeat="(keyColor,colorsdata) in productColorSize" value="{{keyColor}}" >
                                        {{colorsdata.color_name}}
                                    </md-option>
                                 </md-select>
                            </md-input-container>
                </div>

               
                <div layout="row">

                    <md-input-container class="md-block m-r-15 mp-b-0" flex-gt-sm flex="15" ng-repeat="(key,all_size) in sizeAll.size_data">
                        <label class="font-14">{{all_size.sizeName}}</label>
                        <input placeholder="" ng-init="all_size.qnty='0'" ng-model="all_size.qnty">
                    </md-input-container>
                                       
                </div>
               
                <md-checkbox  aria-label="Checkbox 1" ng-model="product.is_supply">
                    These products are supplied garments
                </md-checkbox>
                         
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="vm.closeDialog()" class="md-primary md-hue-1 md-accent ">Cancel</md-button>
            <md-button class="md-accent md-raised " ng-click="addProduct(sizeAll.size_data,product.id,product.description,product.is_supply)" ng-disabled="orderForm.$invalid">ADD</md-button>
        </md-dialog-actions>
    </form>
</md-dialog> 