<md-dialog class="task-dialog" >
<div class="client-profile-page">
<md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between"> <span class="title">Link To Pay</span>
        <md-button  ng-click="cancel()"> <span>Cancel</span> </md-button>
    </div>
</md-toolbar>
<div ng-cloak>
    <md-input-container class="md-block first-box margin-0" flex-gt-sm>
        <input name="test" ng-model="attn">
    </md-input-container>
    <!--<md-input-container ng-show="attn12 != null" class="md-block first-box margin-0" flex-gt-sm>
        <input name="test12" ng-model="attn12">
    </md-input-container>-->
</div>
<md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row">
    <div class="md-ripple-container" style=""></div>
    </button>
    
    <button type="button" class="md-accent md-raised md-button md-ink-ripple" clipboard supported="supported" text="attn" on-copied="success()" on-error="fail(err)" aria-label="Copy"><span class="ng-scope">Copy</span></button>
</md-dialog-actions>
<div ng-cloak ng-show="attn12 != null">
    <md-input-container class="md-block first-box margin-0" flex-gt-sm>
        <input name="test12" ng-model="attn12">
    </md-input-container>
</div>
<md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row" ng-show="attn12 != null">
    <div class="md-ripple-container" style=""></div>
    </button>
    
    <button type="button" class="md-accent md-raised md-button md-ink-ripple" clipboard supported="supported" text="attn12" on-copied="success()" on-error="fail(err)" aria-label="Copy"><span class="ng-scope">Copy</span></button>
</md-dialog-actions>
</md-dialog>
