<md-dialog >


<md-toolbar class="md-accent md-hue-2">
                <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                    <span class="title">Add Machine</span>
                    <md-button  ng-click="closeDialog()">
                        <span>Cancel</span>
                    </md-button>
                </div>
            </md-toolbar>
<div class="inner-full-box"  ng-class="params.PositionDetail[0].rush_job==1 ?'rush-box':''">
    <div flex=100 class="pull-left full-row">
        <div flex=40 class="pull-left white-bg p-25 full-row">
        <div class="scorecard">


            <div class="card-details text-capitalize">
                <div class="pull-left full-row mb-20">
                    <span class="pull-left">Machine Assigned To:</span>
                    <span class="pull-right text-right">{{params.PositionDetail[0].machine_name}}</span>
                </div>
                <div class="pull-left full-row mb-20">
                    <span class="pull-left">Impressions</span>
                    <span class="pull-right text-right">{{params.GetRuntimeData.getOrderImpression}}</span>
                </div>
                <div class="pull-left full-row mb-20">
                    <span class="pull-left">Setup Time:</span>
                    <span class="pull-right text-right">{{params.GetRuntimeData.setup_time}}</span>
                </div>
                <div class="pull-left full-row mb-20">
                    <span class="pull-left">Run Speed:</span>
                    <span class="pull-right text-right">{{params.GetRuntimeData.run_speed}}</span>
                </div>
                <div class="pull-left full-row mb-20">
                    <span class="pull-left">Run Time:</span>
                    <span class="pull-right text-right">{{params.GetRuntimeData.run_time}}</span>
                </div>
                <div class="pull-left full-row mb-20">
                    <span class="pull-left">Total Time:</span>
                    <span class="pull-right text-right">{{params.GetRuntimeData.total_time}}</span>
                </div>

            </div>
        </div>
        </div>
        <div flex=60 class="pull-left full-row">
                <div class="full-row pull-left">
                    <md-tabs md-dynamic-height md-border-bottom class="client-profile-tab">
                    <!---Screen Sets Tab-->
                        <md-tab label="Iph" ng-click="getTab('wait')"></md-tab>
                        <md-tab label="Factor" ng-click="getTab('progress')"></md-tab>
                    </md-tabs>
                </div>  
            </div>
    </div>
</div>


</md-dialog>
