<md-dialog >
<md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between">
        <span class="title">Add Machine</span>
        <md-button ng-click="closeDialog()">
            <span>Cancel</span>
        </md-button>
    </div>
</md-toolbar>
<div class="inner-full-box">
    <div flex=100 class="pull-left full-row">
        <div flex=30 class="pull-left white-bg p-25 full-row">
        <form name="machine_form" class="md-inline-form" novalidate>
        <div class="scorecard">
            <div class="card-details text-capitalize">
                <div class="pull-left full-row">
                        <md-input-container class="md-block first-box">
                            <input placeholder="Machine Name *" name="machine_name" required  ng-model="machine.machine_name">
                            <div ng-messages="machine_form.machine_name.$error" role="alert" multiple>
                                <div ng-message="required" class="red-alert-msge">
                                    <span>This field is required</span>
                                </div>
                            </div>
                        </md-input-container>
                          

                    </div>
                <div class="pull-left full-row">
                        <md-input-container class="md-block first-box">
                            <input ng-model="machine.setup_time" name="setup_time" required placeholder="Setup Time(in minutes) *"  valid-number> 
                            <div ng-messages="machine_form.setup_time.$error" role="alert" multiple>
                                <div ng-message="required" class="red-alert-msge">
                                    <span>This field is required</span>
                                </div>
                            </div> 
                        </md-input-container>
                        
                    </div>
                <div class="pull-left full-row">
                        <md-input-container class="md-block first-box">
                            <input placeholder="Macihne Type" ng-model="machine.machine_type_text">
                        </md-input-container>
                    </div>
                <div class="pull-left full-row">
                        <md-input-container class="md-block first-box">
                            <input placeholder="Run Rate(in %) *" name="run_rate" ng-model="machine.run_rate" required valid-number>
                             <div ng-messages="machine_form.run_rate.$error" role="alert" multiple>
                                <div ng-message="required" class="red-alert-msge">
                                    <span>This field is required</span>
                                </div>
                            </div> 
                        </md-input-container>
                        
                    </div>
                <div class="pull-left full-row">
                        <md-input-container class="md-block first-box">
                            <input placeholder="Color/Head Count" ng-model="machine.color_count" valid-number>
                        </md-input-container>
                    </div>
                <div class="pull-left full-row">
                        <md-input-container class="md-block first-box">
                            <input placeholder="Max Screen Width *" name="screen_width" ng-model="machine.screen_width" required valid-number>
                             <div ng-messages="machine_form.screen_width.$error" role="alert" multiple>
                                <div ng-message="required" class="red-alert-msge">
                                    <span>This field is required</span>
                                </div>
                            </div>  
                        </md-input-container>
                       
                    </div>
                <div class="pull-left full-row">
                        <md-input-container class="md-block first-box">
                            <input placeholder="Max Screen Height *" name="screen_height" ng-model="machine.screen_height" required valid-number>
                            <div ng-messages="machine_form.screen_height.$error" role="alert" multiple>
                                <div ng-message="required" class="red-alert-msge">
                                    <span>This field is required</span>
                                </div>
                            </div> 
                        </md-input-container>
                         
                    </div>
                <div class="pull-left full-row">
                        <md-button  ng-show="allow_access==1" class="bg-blue float-right" id="affiliateSaveBtn" ng-disabled="machine_form.$invalid || machine_form.$pristine" ng-click="UpdateMachineData(machine,alliphData,allfactorData)">
                                SAVE
                        </md-button>
                    </div>
            </div>
        </div>
        </form>
        </div>
        <div flex=70 class="pull-left full-row">
                <div class="full-row pull-left">
                    <md-tabs md-dynamic-height md-border-bottom class="client-profile-tab">
                    <!---Screen Sets Tab-->
                        <md-tab label="Iph" ng-click="getTab('wait')">
                            <md-card-content flex="80" layout="column"  >
                                <div class="attribute-box m-b-30">
                                    <table class="tbl-typ1">
                                        <tr>
                                            <th flex="50">Position Color</th>
                                            <th flex="50">IPH</th>
                                             <th class="text-center" flex=15>
                                                        <a href="#" class="add-attributes" ui-event="{ click : 'addIPHData()'}"><span class="icon icon-plus"></span></a>
                                                    </th>
                                        </tr>
                                        <tr ng-repeat="(key,iph) in alliphData">
                                            <td class="">
                                                <md-input-container  class="md-icon-float md-default-theme md-input-invalid">
                                                <input valid-number type="text" required class="ng-pristine md-input ng-empty ng-invalid ng-invalid-required ng-touched" aria-label="Color" aria-invalid="false" ng-model="iph.pos_no"  >
                                                </md-input-container>
                                            </td>
                                            <td class="">
                                                <md-input-container class="md-icon-float md-default-theme md-input-invalid">
                                                <input valid-number type="text" required class="ng-pristine md-input ng-empty ng-invalid ng-invalid-required ng-touched" aria-label="Color" aria-invalid="false" ng-model="iph.value" >
                                                </md-input-container>
                                                
                                            </td>
                                            
                                            <td class="text-center">
                                                <a href="#" class="remove-size remove-attrribute" ng-click="remove_IPH($index,iph.id)"><span class="icon icon-close"></span></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </md-card-content>
                        </md-tab>
                        <md-tab label="Factor" ng-click="getTab('progress')">
                             <md-card-content flex="80" layout="column"  >
                                <div class="attribute-box m-b-30">
                                    <table class="tbl-typ1">
                                        <tr>
                                            <th flex=15>Order Size</th>
                                            <th flex=15>Factor</th>
                                            <th class="text-center" flex=15>
                                                <a href="#" class="add-attributes" ui-event="{ click : 'addOSData()'}"><span class="icon icon-plus"></span></a>
                                            </th>
                                        </tr>
                                        <tr ng-repeat="(key,factorData) in allfactorData">
                                            <td class="">
                                                <md-input-container flex="100" class="md-icon-float flex-100 md-default-theme md-input-invalid">
                                                    <input valid-number type="text" required class="ng-pristine md-input ng-empty ng-invalid ng-invalid-required ng-touched" aria-label="Color" aria-invalid="false" ng-model="factorData.order_size">
                                                </md-input-container>
                                            </td>
                                            <td class="">
                                                <md-input-container flex="100" class="md-icon-float flex-100 md-default-theme md-input-invalid">
                                                    <input valid-number type="text" required class="ng-pristine md-input ng-empty ng-invalid ng-invalid-required ng-touched" aria-label="Color" aria-invalid="false" ng-model="factorData.factor" >
                                                </md-input-container>
                                            </td>
                                            
                                            <td class="text-center">
                                                <a href="#" class="remove-size remove-attrribute" ng-click="remove_OS($index,factorData.id)"><span class="icon icon-close"></span></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </md-card-content>
                        </md-tab>
                    </md-tabs>
                </div>  
            </div>
    </div>
</div>

</md-dialog>
