<div class="panel-body">
<div class="col-md-12 nopad-form" >
 <label>Select Art</label><hr>
</div>
    <div class="col-md-12 nopad-form">
	    <div class="col-md-3 nopad-left col-sm-3 m-b"  ng-repeat="(key,art_image) in art_worklist" title="Select for Placement" >
	        <div class="form-group col-sm-12 m-b panel panel-default" style="height:120px;" ng-click="save_art_placement('artwork_id',art_image.id,placemet_id,'purchase_placement')">
		        <img  ng-if="art_image.wp_image_display" ng-src="{{art_image.wp_image_display}}" style="width:100%; height:100%; padding:5px;" alt="" class="img-responsive" />
	        
	       	</div>
	     </div>  
    </div>
</div>