
<div class="row">
  <div class="col-sm-12">
    <form name="staffForm" class="form-validation stokkupForm client-form" ng-submit="saveStaff()">
      <div class="panel panel-default">
        <div class="panel-body">
<div class="col-sm-12 m-b">
    <button  type="button" ui-sref="purchase.po({id:po_id})" class="btn btn-info topNavButtons">Company PO</button>
    <button  type="button" ui-sref="purchase.sg({id:po_id})" class="btn btn-info topNavButtons">Supplied Garments</button>
    <button  type="button" ui-sref="purchase.cp({id:po_id})" class="btn btn-info topNavButtons active">Contract Prints</button>
    <button  type="button" ui-sref="purchase.ce({id:po_id})" class="btn btn-info topNavButtons">Contract Embrodiery</button>    
    </div>
            <div class="col-sm-12 m-b">
              <div class="col-sm-2 m-b">
                    <label>Purchase OrderId <em class="text-muted"></em></label>
                    <input type="text" disabled="" class="form-control" ng-model="ArrPo.po_id"  >
                  </div>
                  <div class="col-sm-2 m-b">
                    <label>Client<em class="text-muted"></em></label>
                    <input type="text" disabled="" class="form-control" ng-model="ArrPo.arrival_date"  >
                  </div>
                  <div class="col-sm-2 m-b">
                    <label>Job<em class="text-muted"></em></label>
                    <input type="text" disabled="" class="form-control" ng-model="ArrPo.job_name"  >
                  </div>
                  <div class="col-sm-2 m-b">
                    <label>Created for date<em class="text-muted"></em></label>
                    <input type="text"  ui-event="{ blur : 'UpdateField_order($event)' }" name="created_for_date" class="form-control" ng-model="ArrPo.created_for_date"  >
                  </div>
                  <div class="col-sm-2 m-b">
                    <label>Product to vendor Arrival<em class="text-muted"></em></label>
                    <input type="text"  ui-event="{ blur : 'UpdateField_order($event)' }" name="vendor_arrival_date" class="form-control" ng-model="ArrPo.vendor_arrival_date"  >
                  </div>
                  <div class="col-sm-2 m-b">
                    <label>Vendor deadline<em class="text-muted"></em></label>
                    <input type="text"  ui-event="{ blur : 'UpdateField_order($event)' }" name="vendor_deadline" class="form-control" ng-model="ArrPo.vendor_deadline"  >
                  </div>
                  <div class="col-sm-2 m-b">
                    <label>Vendor<em class="text-muted"></em></label>
                    <input type="text" disabled="" class="form-control" ng-model="ArrPo.name_company"  >
                  </div>
                  <div class="col-sm-2 m-b">
                    <label>Contact<em class="text-muted"></em></label>
                    <input type="text" disabled="" class="form-control" ng-model="ArrPo.first_name"  >
                  </div>
            </div>

          <div class="col-sm-6 m-b  panel panel-default">

        
            <div class="col-sm-12 nopad-form">
                  <div class="form-group col-sm-2 ">
                      <label>Location <em class="text-muted" ></em></label>
                  </div>
                  <div class="form-group col-sm-2 m-b">
                      <label>Instruction <em class="text-muted"></em></label>
                  </div>
                  <div class="form-group col-sm-2 m-b">
                      <label>Color <em class="text-muted"></em></label>
                  </div>
                  <div class="form-group col-sm-2 m-b">
                      <label>Qnty <em class="text-muted"></em></label>
                  </div>
                  <div class="form-group col-sm-2 m-b">
                      <label>Price <em class="text-muted"></em></label>
                  </div>
                  <div class="form-group col-sm-2 m-b">
                      <label>Total <em class="text-muted"></em></label>
                  </div>
                </div>
             
             <div class="col-sm-12 nopad-form" ng-repeat="(key,poline) in ArrPoLine">
              
              <div class="col-md-2 nopad-left smallPad ">
                <div class="form-group">
                <input type="text" class="form-control" ng-model="poline.location" name="location"  ui-event="{ blur : 'UpdateField_detail($event,poline.id)' }" >
                </div>
              </div>
              <div class="col-md-2 nopad-left smallPad ">
                <div class="form-group">
                <input type="text" class="form-control" ng-model="poline.instruction" name="instruction"   ui-event="{ blur : 'UpdateField_detail($event,poline.id)' }" >
                </div>
              </div>
              <div class="col-md-2 nopad-left smallPad ">
                <div class="form-group">
                <input type="text" class="form-control" ng-model="poline.color"  >
                </div>
              </div>
              <div class="col-md-2 nopad-left smallPad ">
                <div class="form-group">
                <input type="text" class="form-control"  ui-event="{ blur : 'EditOrderLine(poline)' }"  ng-model="poline.qnty" >
                </div>
              </div>
              <div class="col-md-2 nopad-left smallPad ">
                <div class="form-group">
                <input type="text" class="form-control" ui-event="{ blur : 'EditOrderLine(poline)' }" ng-model="poline.unit_price" >
                </div>
              </div>
              <div class="col-md-2 nopad-left smallPad ">
                <div class="form-group">
                <input type="text" class="form-control" disabled="" ng-model="poline.line_total" >
                </div>
              </div>
              
              <!-- <div class="input-group col-sm-5 m-b"> <br>
                <button  type="submit" class="btn btn-info" ng-click="SaveCleintDetails(main)" ng-disabled="staffForm.$invalid">Submit</button>
                &nbsp;
                <button ui-sref="client.list" type="button"  class="btn btn-info">Cancel</button>
                &nbsp; </div> -->
            </div>

          </div>

          <!-- RIGHT SIDE FORM -->
          <div class="form-group col-sm-6 m-b">
            <ul class="nav nav-tabs input-group col-sm-12">
              <li class="active"> <a href data-toggle="tab" data-target="#tab10">Placement1</a> </li>
              <li> <a href data-toggle="tab" data-target="#tab11">Placement2</a> </li>
              <li> <a href data-toggle="tab" data-target="#tab12">Placement3</a> </li>
              <li> <a href data-toggle="tab" data-target="#tab13">Placement4</a> </li>
              <li> <a href data-toggle="tab" data-target="#tab14">Garments</a> </li>

            </ul>
            <div class="tab-content p b-a no-b-t bg-white m-b-md">
              <div role="tabpanel" class="tab-pane active animated fadeIn" id="tab10">
                    <div class="col-md-4 nopad-left m-b">                
                      <div class="form-group">
                        <label>Location<em class="text-muted"></em></label>
                        <input type="text" class="form-control" >
                      </div>
                    </div>
                    <div class="col-sm-12 nopad-form">
                        <div class="col-sm-6 nopad-form">
                            <div class="form-group col-sm-12 m-b panel panel-default" style="height:375px;"> </div>
                            <div class="col-md-8 nopad-left m-b">                
                              <div class="form-group">
                                <label>Art Id<em class="text-muted"></em></label>
                                <input type="text" class="form-control" >
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Ink Type<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Mesh<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Color<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div ng-repeat="i in getNumber(12)  track by $index" class="col-sm-12 nopad-form" >
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"    >
                                  </div>
                                </div>
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"  >
                                  </div>
                                </div>
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"   >
                                  </div>
                                </div>
                            </div>

                         </div>
                    </div>                
              </div>
              <div role="tabpanel" class="tab-pane animated fadeIn" id="tab11"> <div class="col-md-4 nopad-left m-b">                
                      <div class="form-group">
                        <label>Location<em class="text-muted"></em></label>
                        <input type="text" class="form-control"  >
                      </div>
                    </div>
                    <div class="col-sm-12 nopad-form">
                        <div class="col-sm-6 nopad-form">
                            <div class="form-group col-sm-12 m-b panel panel-default" style="height:375px;"> </div>
                            <div class="col-md-8 nopad-left m-b">                
                              <div class="form-group">
                                <label>Art Id<em class="text-muted"></em></label>
                                <input type="text" class="form-control" >
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Ink Type<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Mesh<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Color<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div ng-repeat="i in getNumber(12)  track by $index" class="col-sm-12 nopad-form" >
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"    >
                                  </div>
                                </div>
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"  >
                                  </div>
                                </div>
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"   >
                                  </div>
                                </div>
                            </div>

                         </div>
                    </div> </div>
              <div role="tabpanel" class="tab-pane animated fadeIn" id="tab12"> 
                    <div class="col-md-4 nopad-left m-b">                
                      <div class="form-group">
                        <label>Location<em class="text-muted"></em></label>
                        <input type="text" class="form-control" >
                      </div>
                    </div>
                    <div class="col-sm-12 nopad-form">
                        <div class="col-sm-6 nopad-form">
                            <div class="form-group col-sm-12 m-b panel panel-default" style="height:375px;"> </div>
                            <div class="col-md-8 nopad-left m-b">                
                              <div class="form-group">
                                <label>Art Id<em class="text-muted"></em></label>
                                <input type="text" class="form-control" >
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Ink Type<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Mesh<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Color<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div ng-repeat="i in getNumber(12)  track by $index" class="col-sm-12 nopad-form" >
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"    >
                                  </div>
                                </div>
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"  >
                                  </div>
                                </div>
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"   >
                                  </div>
                                </div>
                            </div>

                         </div>
                    </div> 
               </div>
              <div role="tabpanel" class="tab-pane animated fadeIn" id="tab13"> <div class="col-md-4 nopad-left m-b">                
                      <div class="form-group">
                        <label>Location<em class="text-muted"></em></label>
                        <input type="text" class="form-control"  >
                      </div>
                    </div>
                    <div class="col-sm-12 nopad-form">
                        <div class="col-sm-6 nopad-form">
                            <div class="form-group col-sm-12 m-b panel panel-default" style="height:375px;"> </div>
                            <div class="col-md-8 nopad-left m-b">                
                              <div class="form-group">
                                <label>Art Id<em class="text-muted"></em></label>
                                <input type="text" class="form-control" >
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Ink Type<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Mesh<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div class="col-md-4 nopad-left smallPad">                
                              <div class="form-group">
                                <label>Color<em class="text-muted"></em></label>
                              </div>
                            </div>
                            <div ng-repeat="i in getNumber(12)  track by $index" class="col-sm-12 nopad-form" >
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"    >
                                  </div>
                                </div>
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"  >
                                  </div>
                                </div>
                                <div class="col-md-4 nopad-left smallPad">                
                                  <div class="form-group">
                                    <input type="text" class="form-control"   >
                                  </div>
                                </div>
                            </div>

                         </div>
                    </div> </div>
              <div role="tabpanel" class="tab-pane animated fadeIn" id="tab14">Working</div>
              
            </div>
          </div>
          <div>&nbsp;</div>
                    <div class="col-md-2 nopad-left">                
                      <div class="form-group">
                        <label>Vendor ship charge<em class="text-muted"></em></label>
                        <input type="text" class="form-control" ui-event="{ blur : 'vendorshipcharte($event)' }"  ng-model="ArrPo.vendor_charge"  >
                      </div>
                    </div>
                    <div class="col-md-1 nopad-left f-r">                
                      <div class="form-group">
                        <label>Total Amount<em class="text-muted"></em></label>
                        <input type="text" disabled="" class="form-control" ng-model="ordered.total_amount"  >
                      </div>
                    </div>
                    <div class="col-md-2 nopad-left smallPad">                
                      <div class="form-group">
                        <label>Bill To 3rd Party<em class="text-muted"></em></label>
                        <textarea cols="30"  ui-event="{ blur : 'UpdateField_order($event)' }"  name="vendor_party_bill" ng-model="ArrPo.vendor_party_bill"  rows="8"></textarea>
                      </div>
                    </div>
                    <div class="col-md-2 nopad-left smallPad">                
                      <div class="form-group">
                        <label>Ship to<em class="text-muted"></em></label>
                        <textarea cols="30"  ui-event="{ blur : 'UpdateField_order($event)' }"  name="ship_to" ng-model="ArrPo.ship_to"  rows="8"></textarea>
                      </div>
                    </div>
                    <div class="col-md-2 nopad-left smallPad">                
                      <div class="form-group">
                        <label>Vendor Instruction<em class="text-muted"></em></label>
                        <textarea cols="40"  ui-event="{ blur : 'UpdateField_order($event)' }"  name="vendor_instruction"  ng-model="ArrPo.vendor_instruction"  rows="8"></textarea>
                      </div>
                    </div>
          <div class="form-group col-sm-12 m-b"></div>
          <!-- RIGHT SIDE FORM -->
        </div>
      </div>
    </form>
  </div>
</div>
