
<div class="row">
    <div class="col-sm-6 m-b">
          <button  type="button" ui-sref="purchase.po({id:po_id})" class="btn btn-info topNavButtons active">Company PO</button>
          <!-- <button  type="button" ui-sref="purchase.sg({id:po_id})" class="btn btn-info topNavButtons">Supplied Garments</button>
          <button  type="button" ui-sref="purchase.cp({id:po_id})" class="btn btn-info topNavButtons">Contract Prints</button>
          <button  type="button" ui-sref="purchase.ce({id:po_id})" class="btn btn-info topNavButtons">Contract Embrodiery</button> -->    
    </div>
    <div class="col-sm-2 m-b">
      <button class="btn m-v-xs btn-sm btn-dark">PO#  <b class="badge m-l-xs">{{po_id}}</b></button>
    </div>
    <div class="col-sm-2 m-b">
      <button class="btn m-v-xs btn-sm btn-dark">JOB#  <b class="badge m-l-xs">{{order_id}}</b></button>    
    </div>
    
    <div class="form-group col-sm-12 m-b">
        <ul class="nav nav-tabs input-group col-sm-12">
          <li class="active"> <a href data-toggle="tab" data-target="#tab01">Details</a> </li>
          <li> <a href data-toggle="tab" data-target="#tab02">Receiving Details</a> </li>
        </ul>
     <div class="tab-content p b-a no-b-t bg-white m-b-md">
      <div class="tab-pane active animated fadeIn" id="tab01">
        <form name="staffForm" class="form-validation stokkupForm client-form" ng-submit="saveStaff()">
            <div class="col-sm-12 m-b nopad-form">
              <div class="col-sm-2 m-b nopad-left">
                <div class="form-group">
                  <label>Vendor <em class="text-muted"></em></label>

                   <select class="form-control" ng-model="ArrPo.vendor_id" name="vendor_id" ui-event="{ change : 'UpdateField_order($event)' }">
                    <option ng-repeat="item in list_vendors" value="{{item.id}}"   ng-selected="{{ArrPo.vendor_id==item.id}}">{{item.name_company}}</option>
                  </select>

                </div>
              </div>
              <div class="col-sm-2 m-b">
                <div class="form-group">
                  <label>Contact <em class="text-muted"></em></label>

                   <select class="form-control" id="vendor_contact_id" ng-model="ArrPo.vendor_contact_id" name="vendor_contact_id" ui-event="{ change : 'UpdateField_order($event)' }">
                    <option value="">Select Type</option>
                    <option ng-repeat="item in AllContacts" value="{{item.id}}"   ng-selected="{{ArrPo.vendor_contact_id==item.id}}">{{item.first_name}}{{item.last_name}}</option>
                  </select>

                  <!-- <input type="text" class="form-control" ng-model="ArrPo.first_name"> -->
                </div>
              </div>
              <div class="col-sm-2 m-b">
                <div class="form-group">
                  <label>Job <em class="text-muted"></em></label>
                  <input type="text" class="form-control" ng-model="ArrPo.job_name">
                </div>
              </div>

              <div class="col-sm-2 m-b" ng-controller="DatepickerDemoCtrl">
                    <label>ShipDate<em class="text-muted"></em></label>
                     <p class="input-group">
                        <input  ui-event="{ blur : 'UpdateField_order($event)' }" name="ship_date"  type="text" class="form-control"  datepicker-popup="yyyy-MM-dd" ng-model="ArrPo.ship_date"   is-open="opened" datepicker-options="dateOptions"   close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
              </div>

              <div class="col-sm-2 m-b" ng-controller="DatepickerDemoCtrl">
                    <label>In Hand Date<em class="text-muted"></em></label>
                     <p class="input-group">
                        <input  ui-event="{ blur : 'UpdateField_order($event)' }" name="hand_date"  type="text" class="form-control"  datepicker-popup="yyyy-MM-dd" ng-model="ArrPo.hand_date"   is-open="opened" datepicker-options="dateOptions"   close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
              </div>
              <div class="col-sm-2 m-b" ng-controller="DatepickerDemoCtrl">
                    <label>Arrival Date <em class="text-muted"></em></label>
                     <p class="input-group">
                        <input  ui-event="{ blur : 'UpdateField_order($event)' }" name="arrival_date"  type="text" class="form-control"  datepicker-popup="yyyy-MM-dd" ng-model="ArrPo.arrival_date"   is-open="opened" datepicker-options="dateOptions"   close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
              </div>
            </div>

          <div class="col-sm-6 m-b tab-pane panel cultural_po_details panel-default">
            <!-- Cultural Details Titles -->
            <div class="col-md-12 nopad-form">
              <div class="form-group">
                <div class="col-md-2 nopad-left smallPad ">
                  <label>Item <em class="text-muted"></em></label>                  
                </div>
                <div class="col-md-2 nopad-left smallPad ">
                  <label>Size Grp <em class="text-muted"></em></label>
                </div>
                <div class="col-md-1 nopad-left smallPad ">
                  <label>Color <em class="text-muted"></em></label>
                </div>
                <div class="col-md-1 nopad-left smallPad ">
                  <label>Size <em class="text-muted"></em></label>
                </div>
                <div class=" col-md-1 nopad-left smallPad ">
                  <label>Qnty <em class="text-muted"></em></label>
                </div>
                <div class="col-md-1 nopad-left smallPad ">
                  <label>Qnty Ordered<em class="text-muted"></em></label>
                </div>
                <div class=" col-md-1 nopad-left smallPad ">
                  <label>Unit Price <em class="text-muted"></em></label>
                </div>
                <div class="col-md-1 nopad-left smallPad ">
                  <label>Vendor<em class="text-muted"></em></label>
                </div>
                <div class=" col-md-1 nopad-left smallPad ">
                  <label>Line Total <em class="text-muted"></em></label>
                </div>
                <div class=" col-md-1 nopad-form"></div>
              </div>
            </div>

            <!-- Cultural Details Fields -->
            <div class="col-sm-12 nopad-form" ng-repeat="(key,poline) in ArrPoLine">
              <div class="col-md-2 nopad-left smallPad ">
                <div class="form-group">
                  <input type="text" disabled="" class="form-control" ng-model="poline.job_name"  >
                </div>
              </div>
              <div class="col-md-2 nopad-left smallPad ">
                <div class="form-group">
                  <input type="text" disabled="" class="form-control" ng-model="poline.size_group"  >
                </div>
              </div>
              <div class="col-md-1 nopad-left smallPad ">
                <div class="form-group">
                  <input type="text" disabled="" class="form-control" ng-model="poline.color"  >
                </div>
              </div>
              <div class="col-md-1 nopad-left smallPad ">
                <div class="form-group">
                  <input type="text" disabled="" class="form-control" ng-model="poline.size"  >
                </div>
              </div>
              <div class=" col-md-1 nopad-left smallPad ">
                <div class="form-group">
                  <input type="text" disabled="" class="form-control" ng-model="poline.qnty" >
                </div>
              </div>
              <div class="col-md-1 nopad-left smallPad ">
                <div class="form-group">
                  <input type="text" ui-event="{ blur : 'EditOrderLine(poline)' }" class="form-control c-green" ng-model="poline.qnty_ordered" >
                </div>
              </div>
              <div class="col-md-1 nopad-left smallPad ">
                <div class="form-group">
                  <input type="text" class="form-control"  ui-event="{ blur : 'EditOrderLine(poline)' }" ng-model="poline.unit_price" >
                </div>
              </div>
              <div class="col-md-1 nopad-left smallPad ">
                <div class="form-group">
                  <input type="text" disabled="" class="form-control" ng-model="poline.name_company" >
                </div>
              </div>
              <div class=" col-md-1 nopad-left smallPad ">
                <div class="form-group">
                  <input type="text" class="form-control" disabled="" ng-model="poline.line_total" >
                </div>
              </div>
              <div class=" col-md-1 nopad-left smallPad ">
                <!--label><em class="text-muted"></em></label-->
                <i class="mdi-navigation-arrow-forward text-lg m-t-sm" title="Unassign" ng-click="ChangeOrderStatus(poline.id,0,po_id)"></i>
              </div>

              <!-- <div class="input-group col-sm-5 m-b"> <br>
                <button  type="submit" class="btn btn-info" ng-click="SaveCleintDetails(main)" ng-disabled="staffForm.$invalid">Submit</button>
                &nbsp;
                <button ui-sref="client.list" type="button"  class="btn btn-info">Cancel</button>
                &nbsp; </div> -->
            </div>
          </div>

          <!-- RIGHT SIDE FORM -->
          <div class="form-group col-sm-6 m-b">
            <ul class="nav nav-tabs input-group col-sm-12">
              <li class="active"> <a href data-toggle="tab" data-target="#tab10">Webportal</a> </li>
              <li> <a href data-toggle="tab" data-target="#tab11">Unassigned</a> </li>
              <li> <a href data-toggle="tab" data-target="#tab12">Drop ship Instruction</a> </li>
              <li> <a href data-toggle="tab" data-target="#tab13">Notes</a> </li>
            </ul>
            <div class="tab-content b-a no-b-t bg-white m-b-md">
              <div role="tabpanel" class="tab-pane active animated fadeIn" id="tab10">
                
                 <!-- <iframe ng-src="{{currentPOUrl}}" height="500" width="100%"> Please wait...</iframe>  -->
              </div>
              <div role="tabpanel" class="tab-pane animated fadeIn cultural_unassigned" id="tab11">
                <div class="col-md-12 nopad-form">
                  <div class="form-group col-md-1 nopad-left smallPad "></div>
                  <div class="form-group col-md-11 nopad-form">
                    <div class="col-md-3 nopad-left smallPad ">
                      <label>Item <em class="text-muted"></em></label>
                    </div>
                    <div class="col-md-3 nopad-left smallPad ">
                      <label>Size Grp <em class="text-muted"></em></label>
                    </div>
                    <div class="col-md-2 nopad-left smallPad ">
                      <label>Color <em class="text-muted"></em></label>
                    </div>
                    <div class="col-md-1 nopad-left smallPad ">
                      <label>Size <em class="text-muted"></em></label>
                    </div>
                    <div class="col-md-1 nopad-left smallPad ">
                      <label>Qnty <em class="text-muted"></em></label>
                    </div>
                    <div class="col-md-2 nopad-left smallPad ">
                      <label>Vendor<em class="text-muted"></em></label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 nopad-form" ng-repeat="(key,unassign) in ArrUnassign">
                  <div class="col-md-1 nopad-left smallPad ">
                    <!--label><em class="text-muted"></em></label-->
                    <i class="mdi-navigation-arrow-back text-lg m-t-sm pull-left" title="assign" ng-click="ChangeOrderStatus(unassign.id,1,po_id)"></i>
                  </div>
                  <div class="col-md-11 nopad-form">
                    <div class="col-md-3 nopad-left smallPad ">
                      <div class="form-group">
                        <input type="text" disabled="" class="form-control" ng-model="unassign.job_name"  >
                      </div>
                    </div>
                    <div class="col-md-3 nopad-left smallPad ">
                      <div class="form-group">
                        <input type="text" disabled="" class="form-control" ng-model="unassign.size_group"  >
                      </div>
                    </div>
                    <div class="col-md-2 nopad-left smallPad ">                
                      <div class="form-group">
                        <input type="text" disabled="" class="form-control" ng-model="unassign.color"  >
                      </div>
                    </div>
                    <div class="col-md-1 nopad-left smallPad ">                
                      <div class="form-group">
                        <input type="text" disabled="" class="form-control" ng-model="unassign.size"  >
                      </div>
                    </div>
                    <div class=" col-md-1 nopad-left smallPad ">
                      <div class="form-group">
                        <input type="text" disabled="" class="form-control" ng-model="unassign.qnty" >
                      </div>
                    </div>
                    <div class="col-md-2 nopad-left smallPad ">
                      <div class="form-group">
                        <input type="text" disabled="" class="form-control" ng-model="unassign.name_company" >
                      </div>
                    </div>
                  </div>
                  
                  <!-- <div class="input-group col-sm-5 m-b"> <br>
                    <button  type="submit" class="btn btn-info" ng-click="SaveCleintDetails(main)" ng-disabled="staffForm.$invalid">Submit</button>
                    &nbsp;
                    <button ui-sref="client.list" type="button"  class="btn btn-info">Cancel</button>
                    &nbsp; </div> -->
                </div>
              </div>
              <div role="tabpanel" class="tab-pane col-sm-12 m-b animated fadeIn" id="tab12">
               <label>Shipt to Block<em class="text-muted"></em></label><br>
              <textarea cols="40" ui-event="{ blur : 'shipttoblock($event,order_id)' }" ng-model="ArrPo.shipt_block"  rows="8"></textarea>
              </div>

              <div role="tabpanel" class="tab-pane col-sm-12 m-b animated fadeIn" id="tab13">
                <div class="form-group col-md-12 nopad-form tabTitle m-b">
                  <div class="col-md-2 nopad-left">Date</div>
                  <div class="col-md-2 nopad-left">Note</div>
                 
                </div>
                <div ng-repeat="po_note in AllNotesData" class="col-md-12 nopad-form tab_client_details">                      
                  <div class="form-group col-md-12 nopad-form m-b">
                    <div class="col-md-2 nopad-left">
                      <input type="text" class="form-control" disabled="" ng-model="po_note.note_date">
                    </div>
                    <div class="col-md-8 nopad-left">
                      <input type="text" class="form-control" ui-event="{ blur : 'Updatenotes($event,po_note.id)' }"  ng-model="po_note.note">
                    </div>
                    <div class="col-md-1 nopad-form">
                      <button type="button" ng-click="removeNotes($index,po_note.id)" class="btn btn-default addButton">
                      <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>                      
                </div> 
                <div class="col-md-12 nopad-form m-b">
                    <button type="button" ng-click="addNotes()" class="btn btn-default addButton">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div> 
              </div>
            </div>
          </div>
          <div>&nbsp;</div>
                    
                    <div class="col-md-2 nopad-left">                
                      <div class="form-group">
                        <label>Vendor ship charge<em class="text-muted"></em></label>
                        <input type="text" class="form-control" ui-event="{ blur : 'vendorshipcharte($event)' }"  ng-model="ArrPo.vendor_charge"  >
                      </div>
                    </div>
                    <div class="col-md-1 nopad-left f-r">                
                      <div class="form-group">
                        <label>Total Amount<em class="text-muted"></em></label>
                        <input type="text" disabled="" class="form-control" ng-model="ordered.total_amount"  >
                      </div>
                    </div>

          <div class="form-group col-sm-12 m-b"></div>
          <!-- RIGHT SIDE FORM -->
        </form>
      </div>
     
      <! --- ************ Second Tab data ************------>
      <div class="tab-pane animated fadeIn" id="tab02">

        <form name="staffForm" class="form-validation stokkupForm client-form" ng-submit="saveStaff()">
          <div class="panel panel-default">
            <div class="panel-body">
           
                <div class="col-sm-12 m-b">
                  <div class="col-sm-2 m-b">
                    <label>PO Id <em class="text-muted"></em></label>
                    <input type="text" disabled="" class="form-control" ng-model="po_id"  >
                  </div>
                  <div class="col-sm-2 m-b">
                    <label>Vendor <em class="text-muted"></em></label>
                    
                   <select class="form-control" ng-model="ArrPo.vendor_id" name="vendor_id" ui-event="{ change : 'UpdateField_order($event)' }">
                    <option value="">Select Type</option>
                    <option ng-repeat="item in list_vendors" value="{{item.id}}"   ng-selected="{{ArrPo.vendor_id==item.id}}">{{item.name_company}}</option>
                  </select>

                  </div>
                  
                  <div class="col-sm-2 m-b" ng-controller="DatepickerDemoCtrl">
                    <label>Arrival Date <em class="text-muted"></em></label>
                     <p class="input-group">
                        <input  ui-event="{ blur : 'UpdateField_order($event)' }" name="arrival_date"  type="text" class="form-control"  datepicker-popup="yyyy-MM-dd" ng-model="ArrPo.arrival_date"   is-open="opened" datepicker-options="dateOptions"   close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
                  </div>

                  <div class="col-sm-2 m-b">
                    <label>Complete<em class="text-muted"></em></label>
                    <input type="text" class="form-control" ng-model="ArrPo.complete"  >
                  </div>
                </div>

              <div class="col-sm-6 m-b tab-pane  panel panel-default cultural_po_details">
              
              <div class="col-md-12 nopad-right">
              <div class="form-group nopad-form">
                <div class="col-md-1 nopad-left smallPad ">
                  <label>Item <em class="text-muted"></em></label>                  
                </div>
                <div class="col-md-1 nopad-left smallPad ">
                  <label>Size Grp <em class="text-muted"></em></label>
                </div>
                <div class="col-md-1 nopad-left smallPad ">
                  <label>Color <em class="text-muted"></em></label>
                </div>
                <div class="col-md-1 nopad-left smallPad ">
                  <label>Size <em class="text-muted"></em></label>
                </div>
                <div class=" col-md-1 nopad-left smallPad ">
                  <label>Qnty <em class="text-muted"></em></label>
                </div>
                <div class="col-md-2 nopad-left smallPad ">
                  <label>Qnty Ordered<em class="text-muted"></em></label>
                </div>
                <div class=" col-md-2 nopad-left smallPad ">
                  <label>Total Received <em class="text-muted"></em></label>
                </div>
                <div class="col-md-1 nopad-left smallPad ">
                  <label>short<em class="text-muted"></em></label>
                </div>
                <div class=" col-md-1 nopad-left smallPad ">
                  <label>Over <em class="text-muted"></em></label>
                </div>
                <div class=" col-md-1 nopad-form"></div>
              </div>
            </div>

                <div class="form-group nopad-form col-sm-12 m-b" ng-repeat="(key,poline) in ArrPoLine">
                  <div class="col-md-1 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" ng-model="poline.job_name"  >
                  </div>
                  <div class="col-md-1 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" ng-model="poline.size_group"  >
                  </div>
                  <div class="col-md-1 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" ng-model="poline.color"  >
                  </div>
                  <div class="col-md-1 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" ng-model="poline.size"  >
                  </div>
                  <div class=" col-md-1 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" ng-model="poline.qnty" >
                  </div>
                  <div class="col-md-2 nopad-left smallPad ">
                    <input type="text" class="form-control" disabled="" ng-model="poline.qnty_ordered" >
                  </div>
                  <div class=" col-md-2 nopad-left smallPad ">
                    <input type="text" class="form-control" disabled="" ng-model="poline.total_qnty" >
                  </div>
                  <div class="col-md-1 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" disabled="" ng-model="poline.short" >
                  </div>
                  <div class=" col-md-1 nopad-left smallPad ">
                    <input type="text" class="form-control" disabled="" ng-model="poline.over" >
                   
                  </div>
                    <div class=" col-md-1 nopad-left smallPad ">
                     <i class="mdi-navigation-arrow-forward text-lg m-t-sm pull-left" title="Unassign" ng-click="Receive_order(poline)"></i>
                    </div>

                  <!-- <div class="input-group col-sm-5 m-b"> <br>
                    <button  type="submit" class="btn btn-info" ng-click="SaveCleintDetails(main)" ng-disabled="staffForm.$invalid">Submit</button>
                    &nbsp;
                    <button ui-sref="client.list" type="button"  class="btn btn-info">Cancel</button>
                    &nbsp; </div> -->
                </div>
                
              </div>


              <!-- RIGHT SIDE FORM -->
              <div class="form-group col-sm-6 m-b tab-pane cultural_po_details panel panel-default">

                <div class="col-md-12 nopad-right">
              <div class="form-group nopad-form">
                <div class="col-md-1 nopad-left smallPad ">
                  <label>Qnty Received <em class="text-muted"></em></label>                  
                </div>
                <div class="col-md-2 nopad-left smallPad ">
                  <label>Item <em class="text-muted"></em></label>
                </div>
                <div class="col-md-2 nopad-left smallPad ">
                  <label>Size Group <em class="text-muted"></em></label>
                </div>
                <div class="col-md-1 nopad-left smallPad ">
                  <label>Color <em class="text-muted"></em></label>
                </div>
                <div class=" col-md-1 nopad-left smallPad ">
                  <label>Size <em class="text-muted"></em></label>
                </div>
                <div class="col-md-2 nopad-left smallPad ">
                  <label>Vendor<em class="text-muted"></em></label>
                </div>
                <div class=" col-md-2 nopad-left smallPad ">
                  <label>Time <em class="text-muted"></em></label>
                </div>
                <div class=" col-md-1 nopad-form"></div>
              </div>
            </div>


                <div class="form-group col-sm-12 m-b nopad-form" ng-repeat="(key,received_data) in received_line">
           
                  <div class="col-md-1 nopad-left smallPad ">
                    <input type="text" class="form-control" ui-event="{ blur : 'updateReceiveData($event,received_data.pr_id,received_data.poline_id)' }" ng-model="received_data.qnty_received"  >
                  </div>
                  <div class="col-md-2 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" ng-model="received_data.job_name"  >
                  </div>
                  <div class="col-md-2 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" ng-model="received_data.size_group"  >
                  </div>
                  <div class="col-md-1 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" ng-model="received_data.color"  >
                  </div>
                  <div class=" col-md-1 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" ng-model="received_data.size" >
                  </div>

                  <div class="col-md-2 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" ng-model="received_data.name_company" >
                  </div>
                  <div class="col-md-2 nopad-left smallPad ">
                    <input type="text" disabled="" class="form-control" ng-model="received_data.date" >
                  </div>
                   <div class="col-md-1 nopad-left smallPad ">
                    <i class="mdi-content-clear text-lg m-t-sm pull-left" title="remove" ng-click="RemoveReceiveLine(received_data.pr_id,received_data.poline_id)"></i>
                  </div>

                  <!-- <div class="input-group col-sm-5 m-b"> <br>
                    <button  type="submit" class="btn btn-info" ng-click="SaveCleintDetails(main)" ng-disabled="staffForm.$invalid">Submit</button>
                    &nbsp;
                    <button ui-sref="client.list" type="button"  class="btn btn-info">Cancel</button>
                    &nbsp; </div> -->
                </div>
                 
                 
                  
                </div>
                <div style="clear:both;">&nbsp;</div>
                <div class="col-md-2 nopad-left">
                    <label>Ordered <em class="text-muted"></em></label>
                    <input type="text" disabled="" class="form-control" ng-model="ordered.ordered"  >
                  </div>
                  <div class="col-md-1 nopad-left">
                    <label>Received <em class="text-muted"></em></label>
                    <input type="text" disabled="" class="form-control" ng-model="received"  >
                  </div>

              </div>
              
              <div class="form-group col-sm-12 m-b"></div>
              <!-- RIGHT SIDE FORM -->
            </div>
          </div>
        </form>
      
      </div>
    </div>
    </div>
    
</div>
