<md-dialog class="task-dialog order-dialog" aria-label="New Custom Product">
    <form name="customProductForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Create New Custom Product</span>
                <md-button  ng-click="cancel()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap"  layout-padding>
                <md-input-container class="md-block first-box" flex-gt-sm>
               
                    <input placeholder="Product Name" ng-model="productName"  ui-event="{ change : 'updateProduct(\'name\',productId,productName,\'products\',\'id\')' }">
                </md-input-container>


                 <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="product_description"  rows="5" md-select-on-focus  ui-event="{ change : 'updateProduct(\'description\',productId,product_description,\'products\',\'id\')' }"></textarea>
                </md-input-container>

                 

               <div class="attribute-box">
                    <table class="tbl-typ1">
                        <tr>
                            <th width="40%">Color</th>
                            <th width="40%">Size</th>
                            <th width="20%" class="text-center">
                                <a href="#" class="add-attributes" ui-event="{ click : 'addcolorsize(productId,0,0)'}"><span class="icon icon-plus"></span></a>
                            </th>
                        </tr>
                        <tr ng-repeat="(keyColor,colorsdata) in productColorSize">
                            <td class="align-T">
                                <md-input-container flex="100" class="md-icon-float flex-100 md-default-theme md-input-invalid">
                                    <input type="text" required="" class="ng-pristine md-input ng-empty ng-invalid ng-invalid-required ng-touched" aria-label="Color" aria-invalid="false" ng-model="colorsdata.color_name" ui-event="{ change : 'updateProduct(\'name\',keyColor,colorsdata.color_name,\'color\',\'id\')' }">
                                </md-input-container>
                            </td>
                            <td>
                                <div class="size-attribute" ng-repeat="(key,all_size) in colorsdata.size_data">
                                    <md-input-container flex="100" class="display-block md-icon-float flex-100 md-default-theme md-input-invalid">
                                        <input type="text" required="" class="size-txtbox ng-pristine md-input ng-empty ng-invalid ng-invalid-required ng-touched" aria-label="Size" aria-invalid="false" ng-model="all_size.sizeName" ui-event="{ change : 'updateProduct(\'name\',all_size.size_id,all_size.sizeName,\'product_size\',\'id\')' }">
                                        <a href="#" class="add-size" ng-click="addcolorsize(productId,all_size.color_id,0)" ng-show="key==0"><span class="icon icon-plus"></span></a>
                                        <a href="#" class="remove-size" ng-click="removeColorSize(productId,all_size.color_id,all_size.size_id)" ng-show="key!=0"><span class="icon icon-close"></span></a>
                                    </md-input-container>
                                </div>
                               
                            </td>
                            <td class="text-center">
                                <a href="#" class="remove-size remove-attrribute" ng-click="removeColorSize(productId,keyColor,0)"><span class="icon icon-close"></span></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
         


        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
                    <md-button ng-click="cancel()" class="md-primary md-hue-1 md-accent ">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>