<md-dialog class="task-dialog" >
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Add New Client</span>
                <md-button  ng-click="vm.closeDialog()" class="close-stokkup-dialog">
                    <span>Close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>
                <div class="content-heading" layout-padding>
                    <span class="md-title">Company Information</span>
                </div>
                <md-input-container class="md-block first-box">
                    <input placeholder="Company Name *" name="client_company" required ng-model="vm.client.client_company">
                    <div ng-messages="clientForm.client_company.$error" role="alert" multiple>
                        <div ng-message="required" class="red-alert-msge">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="m-b-20">
                    <label>Type</label>
                    <md-select ng-model="vm.client.client_companytype">
                        <md-option value="0">
                            Select Type
                        </md-option>
                        <md-option ng-repeat="type in vm.ArrCleintType" value="{{type.id}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <input placeholder="Street Address" ng-model="vm.client.pl_address">
                </md-input-container>
                <md-input-container>
                    <input placeholder="Suite" ng-model="vm.client.pl_suite">
                </md-input-container>
                <md-input-container>
                    <input placeholder="City" ng-model="vm.client.pl_city">
                </md-input-container>
                <div layout="row" layout-wrap="nowrap" layout-align="space-between start">
                    <md-input-container flex=45 class="m-b-20">
                        <label>State</label>
                        <md-select ng-model="vm.client.pl_state">
                            <md-option value="0">
                                Select State
                            </md-option>
                            <md-option ng-repeat="state_val in vm.states_all" value="{{state_val.id}}">
                                {{state_val.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="45">
                        <input placeholder="Zip Code" ng-model="vm.client.pl_pincode">
                    </md-input-container>
                </div>

                <md-input-container>
                    <label>Billing Email *</label>
                    <input requiredname="email" type="email" name="email" required ng-pattern="/^.+@.+\..+$/" ng-model="vm.client.billing_email">
                    
                    <div ng-messages="clientForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span >This field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <input placeholder="Company Phone" ng-model="vm.client.company_phone">
                </md-input-container>
                <md-input-container>
                    <input placeholder="Company Website URL" ng-model="vm.client.company_url">
                </md-input-container>
                <md-input-container class="">
                    <label>Desposition</label>
                    <md-select ng-model="vm.client.client_desposition">
                        <md-option value="0">
                            Select Desposition
                        </md-option>
                        <md-option ng-repeat="disp in vm.Arrdisposition" value="{{disp.id}}">
                            {{disp.value}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div class="content-heading" layout-padding >
                    <span class="md-title">Main Contact Information</span>
                </div>
                <md-input-container class="first-box">
                    <input placeholder="First Name" ng-model="vm.client.first_name">
                </md-input-container>
                <md-input-container>
                    <input placeholder="Last Name" ng-model="vm.client.last_name">
                </md-input-container>
                <md-input-container>
                    <input placeholder="Location " ng-model="vm.client.location">
                </md-input-container>
                <md-input-container>
                    <input placeholder="Phone " ng-model="vm.client.phone">
                </md-input-container>
                <md-input-container>
                    <input placeholder="Email" ng-pattern="/^.+@.+\..+$/" name="email_main" ng-model="vm.client.email">

                    <div ng-messages="clientForm.email_main.$error" role="alert" multiple>
                        <div ng-message="pattern">
                            <span >Must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>
                <div class="content-heading" layout-padding >
                    <span class="md-title">Sales Information</span>
                </div>
                <md-input-container class="first-box">
                    <input placeholder="Sales Web" ng-model="vm.client.salesweb">
                </md-input-container>
                <md-input-container class="md-block date-input m-b-30">
                    <input placeholder="Anniversary date" kendo-date-picker k-ng-model="dateObject2" ng-model="vm.client.anniversarydate"   >
                </md-input-container>
                <md-input-container class="m-b-10">
                    <label>Sales Person</label>
                    <md-select ng-model="vm.client.salesperson">
                        <md-option value="0">
                            Select Person
                        </md-option>
                        <md-option ng-repeat="staff in vm.StaffList"  value="{{staff.id}}">
                            {{staff.label}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="m-b-30">
                    <label>Default PriceGrid *</label>
                    <md-select ng-model="vm.client.salespricegrid" name="salespricegrid" required>
                        <md-option value="">
                            Select PriceGrid
                        </md-option>
                        <md-option ng-repeat="price in AllPriceGrid" value="{{price.id}}">
                            {{price.name}}
                        </md-option>
                    </md-select>
                     <div ng-messages="clientForm.salespricegrid.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>

               
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            
                    <!-- <md-button ng-click="vm.closeDialog()" class="md-primary md-hue-1 md-accent ">Cancel</md-button> -->
                    <md-button class="md-accent md-raised " ng-disabled="clientForm.$invalid || clientForm.$pristine" ng-click="vm.addNewClient(vm.client)">Save</md-button>
             
        </md-dialog-actions>
    </form>
</md-dialog>