<md-dialog class="task-dialog" aria-label="New Client">
    <form name="clientForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Add New Client</span>
                <md-button  ng-click="vm.closeDialog()">
                    <span  >Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>
                <div class="content-heading" layout-padding>
                    <span class="md-title">Company Information</span>
                </div>
                <md-input-container class="md-block first-box" flex-gt-sm>
                    <label>Company Name</label>
                    <input>
                </md-input-container>
                <md-input-container class="m-b-20">
                    <label>Type</label>
                    <md-select ng-model="ctrl.userState">
                        <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">
                            {{state.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <input placeholder="Street Address">
                </md-input-container>
                <md-input-container>
                    <input placeholder="Suite">
                </md-input-container>
                <md-input-container>
                    <input placeholder="City">
                </md-input-container>
                <div layout="row" layout-wrap="nowrap" layout-align="space-between start">
                    <md-input-container flex=45 class="m-b-20">
                        <label>State</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="45">
                        <input placeholder="Zip Code">
                    </md-input-container>
                </div>
                <md-input-container>
                    <label>Billing Email</label>
                    <input requiredname="email">
                    <div ng-messages="projectForm.clientName.$error">
                        <div ng-message="required">Please enter the email biling address.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input placeholder="Company Phone">
                </md-input-container>
                <md-input-container>
                    <input placeholder="Company Website URL">
                </md-input-container>
                <md-input-container class="m-b-20">
                    <label>Disposition</label>
                    <md-select ng-model="ctrl.userState">
                        <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">
                            {{state.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="upload-rel">
                    <input placeholder="vdfgg/fsdhi/gvdjg">
                    <md-button class="md-primary md-hue-1 md-accent upload">Upload</md-button>
                </md-input-container>
                <div layout-wrap="nowrap" flex="50">
                    <md-card flex="50" class="card ">
                        <div class="height-image">
                            <md-card-title>
                                <md-card-title-text layout-align="start end">
                                    <span class="md-headline">Logo Preview</span>
                                </md-card-title-text>
                            </md-card-title>
                        </div>
                        <md-button class="md-primary md-hue-1 md-accent btn-small">Delete</md-button>
                    </md-card>

                </div>
                <div class="content-heading" layout-padding>
                    <span class="md-title">Main Contact Information</span>
                </div>
                <md-input-container class="first-box">
                    <input placeholder="First Name">
                </md-input-container>
                <md-input-container>
                    <input placeholder="Last Name">
                </md-input-container>
                <md-input-container>
                    <input placeholder="Phone ">
                </md-input-container>
                <md-input-container>
                    <input placeholder="Email" name="email">
                </md-input-container>
                <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                    <md-button class="md-primary md-hue-1 md-accent ">Cancel</md-button>
                    <md-button class="md-accent md-raised ">Save</md-button>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
        </md-dialog-actions>
    </form>
</md-dialog>