    <div class="content order-info-page m-b-20">
        <div class="simple-table-container md-whiteframe-4dp">
            <div class="table-title paddingbottom-0" layout="row" layout-align="space-between center">
                <div class="table-title-text" flex=20>COMPANY EMPLOYEES</div>
                <div class="order-modal-title " layout="row" layout-align="end center" flex=11 >
                    <span class="cursor-p stokkup-btn-style1 pull-left" ng-click="vm.openAddEmployeeDialog($event)">ADD NEW</span>
                </div>
            </div>
            <div class=" ms-responsive-table-wrapper ">
                <table class="simple" >
                    <thead>

                        <tr>
                            <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Employee Name</span>
                                </div>
                            </th>
                             <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Employee Email</span>
                                </div>
                            </th>
                            <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Employee Permission Level</span>
                                </div>
                            </th>
                             <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Action</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                   <tbody >
                        <tr  ng-repeat="user in users_data" class="ng-scope">
                            <td class="">{{user.name}}</td>
                            <td class="">{{user.email}}</td>
                            <td class="">{{user.title}}</td>
                            <td ng-if="user.status==1">Active</td>
                            <td ng-if="user.status==0">Inactive</td>
                            <td ng-show="role_slug=='CA' || role_slug=='FM'" class=""> 
                                <md-menu>
                                    <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4"> 
                                        <md-menu-item>
                                            <md-button ng-click="openEditEmployeeDialog($event,user.id)">
                                                Edit Employee
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="vm.resetUserPasswordDialog($event,user.id)">
                                                Reset Employee Password
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="RemoveFields('users','id',user.id,'users')">
                                                Delete Employee
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>



                    </tbody> 
                </table>
         
            </div>
        </div>
    </div>