
  <div class="row">
    <div class="col-sm-6">
    
      <form  class="form-validation" name="companyForm">
       

        <div class="panel panel-default">
          <div class="panel-heading bg-white">
            <span class="font-bold">Create Company</span>
             <button class="btn btn-default m-b-lg pull-right" ui-sref="company.list">Cancel</button>
          </div>
          <div class="panel-body">
          <div class="form-group">
              <label>Full Name<span class="aestric_required"> *</span></label>

              <input type="text" class="form-control" data-ng-model="company.name"  required >
            </div>


            <div class="form-group">
              <label>Address</label>

              <input type="text" class="form-control col-md-6 m-b" data-ng-model="company.address" placeholder="Address">
              <input type="text" class="form-control col-md-6 m-b" data-ng-model="company.city" placeholder="City">
              <input type="text" class="form-control col-md-6 m-b" data-ng-model="company.state" placeholder="State">
              <input type="text" class="form-control col-md-6 m-b" data-ng-model="company.country" placeholder="Country">
              <input type="text" class="form-control col-md-6 m-b" data-ng-model="company.zip" placeholder="Zip Code">
            </div>



            <div class="form-group">
              <label>Photo</label>

               <img  ng-if="company.company_logo" ng-src="{{company.company_url_photo}}" alt="" height="100" width="100" class="img-responsive"/> 
            
                <input type='file' data-ng-model="company.company_logo" base-sixty-four-input>
            </div>


           

             <div class="form-group">
              <label>URL</label>
              <input type="text" class="form-control col-md-6 m-b" data-ng-model="company.url" placeholder="URL">
            </div>



            <div class="form-group">
              <label>Username<span class="aestric_required"> *</span><em class="text-muted">(allow 'a-z,A-Z,0-9', 4-20 length)</em></label>
                      <input 
                          type="text" 
                          class="form-control" 
                          name="user_name"
                          data-ng-model="company.user_name" 
                          ng-pattern="/^[a-zA-Z0-9]{4,20}$/" 
                          required >

                          <span style="color:#f44336" ng-show="companyForm.user_name.$error.pattern">
                                    This Field Should Contain 4-20 Numeric/characters</span>
            </div>
            <div class="form-group">
              <label>Email<span class="aestric_required"> *</span></label>
              <input 
                  type="email" 
                  name="comp_email"
                  id="comp_email"
                  class="form-control" 
                  data-ng-model="company.email" 
                  
                  required >

       <span id="err_email" class="help-inline" style="color:red;font-size:10px; display:none;">Email is Exists</span>
            </div>



              <div class="row">
              <div class="col-sm-6 m-b">
                <label>Enter password<span class="aestric_required"> *</span></label>
                <input type="password" class="form-control" name="company.password" ng-model="company.password" required >   
              </div>
              <div class="col-sm-6 m-b">
                <label>Confirm password<span class="aestric_required"> *</span></label>
                <input type="password" class="form-control" name="confirm_password" required ng-model="confirm_password" ui-validate=" '$value==company.password' " ui-validate-watch=" 'password' ">
                <span ng-show='form.confirm_password.$error.validator'>Passwords do not match!</span>
              </div>
            </div>
        <div class="row">

              <div class="col-sm-12 m-b">
               <label>Status</label>
                  <label class="ui-switch ui-switch-md bg-info m-t-xs">
                    <input type="checkbox" ng-model="company.status" ng-true-value="'1'" ng-false-value="'0'" name="status">
                    <i></i>
                  </label>
                </div>
                </div>
          </div>
           <footer class="panel-footer text-right">
          
            <button type="submit"  ng-if="CurrentController=='companyAddCtrl'"  ng-click="addcompany(company)"  class="btn btn-info">Add</button>
            <button type="submit"  ng-if="CurrentController=='companyEditCtrl'" ng-click="editcompany(company)" class="btn btn-info">Save</button>
          </footer>
        </div>
      </form>
    </div>
    
  </div>
  </div>
  
