<div class="row">
    <div class="col-sm-12">
        <form name="mainForm" class="form-validation client_order_form">
            <div class="panel panel-default">
                <input type="hidden" ng-model="order.id">
                <div class="panel-body">
                    <div class="col-sm-12 m-b nopad-form">
                        <div class="col-sm-12 m-b"></div>
                        
                        <div class="col-md-10 nopad-form">
                            
                            <div class="form-group col-md-12 m-b nopad-form">
                                <div class="col-md-2 m-b nopad-left">
                                    <label>Job Name <em class="text-muted"></em></label>
                                    <input  class="form-control" ng-model="art_position[0].job_name" name="job_name" >
                                        
                                </div>
                                <div class="col-md-2 m-b">
                                    <label>Sales Total<em class="text-muted"></em></label>
                                    <input  class="form-control" ng-model="art_position[0].grand_total" name="sales_total" >
                                </div>

                               
                            </div>
                        </div>
                        
                       
                        <ul class="nav nav-tabs input-group col-sm-12">
                            <li ><a href data-toggle="tab" data-target="#tab1">Position</a></li>
                            <li> <a href data-toggle="tab" data-target="#tab2" class="tab4" ui-event="{ click : 'openTab(\'orderline\')' }">Screen Sets</a> </li>
                            <li> <a href data-toggle="tab" data-target="#tab3" ui-event="{ click : 'openTab(\'distribution\')' }">Order Group</a> </li>
                            <li class="active"> <a href data-toggle="tab" data-target="#tab4" ui-event="{ click : 'openTab(\'notes\')' }">Order line</a> </li>
                            <li> <a href data-toggle="tab" data-target="#tab5" class="tab5" ui-event="{ click : 'openTab(\'purchaseorder\')' }">Art Work</a> </li>
                            <li> <a href data-toggle="tab" data-target="#tab6">Note</a> </li>
                        </ul>
                        <div class="tab-content p b-a no-b-t bg-white m-b-md">
                            <!-- POSITION TAB START -->
                            <div role="tabpanel" class="tab-pane  animated fadeIn" id="tab1">
                                <div class="orderTab_scroll" class="col-md-12 nopad-form">
                                <!-- POSITION TAB TITLE -->
                                    <div class="positionTab_content">                    
                                        <div class="col-md-3 nopad-form">                                        
                                            <div class="form-group col-md-3 nopad-left">
                                                <label>Position</label>
                                            </div>
                                            <div class="form-group col-md-6 nopad-left">
                                                <label>Description</label>
                                            </div>

                                            <div class="form-group col-md-3 nopad-left">
                                                <label>Placement Type</label>                          
                                            </div>
                                        </div>
                                         <div class="col-md-1 nopad-left">
                                            <div class="form-group col-md-6 nopad-left">
                                                <label>DtG Size</label>
                                            </div>
                                            <div class="form-group col-md-6 nopad-left">
                                              <label>DtG On</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 nopad-left">
                                            <div class="form-group col-md-1">
                                                <label>Stitch/ Color Count</label>
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label>Qnty</label>
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label class="rotateText"><span>Discharge</span></label>
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label class="rotateText"><span>Speciality</span></label>
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label class="rotateText"><span>Foil</span></label>
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label class="rotateText"><span>Ink Charge</span></label>
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label class="rotateText"><span>Number on Dark</span></label>
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label class="rotateText"><span>Number on Light</span></label>
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label class="rotateText"><span>Oversize<span></label>
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label class="rotateText"><span>Oversize Screen(s)</span></label>
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label class="rotateText"><span>Press Setup</span></label>
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label class="rotateText"><span>Screen Fee(s)</span></label>
                                            </div>
                                        </div>
                                       
                                    </div>

                                    <!-- POSITION TAB FIELDS -->
                                    <div class="positionTab_content" ng-repeat="(key,order_position) in art_position">
                                        <input type="hidden" class="col-md-1"  ng-model="order_position.order_id" ng-value="order_position.order_id"/>
                                        <numeric_tag input-value="123" input-name="wks.name"/>
                                      
                                        <div class="col-md-3 nopad-form">                                        
                                            <div class="form-group col-md-3 nopad-left">
                                                <input type="text" class="form-control" ng-model="order_position.position_id" placeholder="Position" />
                                            </div>
                                            <div class="form-group col-md-6 nopad-left">
                                                <input type="text" class="form-control" ng-model="order_position.description" placeholder="Description" />
                                            </div>
                                            <div class="form-group col-md-3 nopad-left">
                                                <input type="text" class="form-control" ng-model="order_position.placement_type" placeholder="Placement Type" />
                                            </div>
                                        </div>

                                        <div class="col-md-1 nopad-left">
                                            <div class="form-group col-md-6 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.dtg_size" placeholder="Dtg Size" />
                                            </div>
                                            <div class="form-group col-md-6 nopad-form">
                                                <input type="text" class="form-control" ng-model="order_position.dtg_on" placeholder="Dtg On" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 nopad-left">
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.color_stitch_count" placeholder="Stitch Count" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control" ng-model="order_position.qnty"/>
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.discharge_qnty" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.speciality_qnty" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.foil_qnty" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.ink_charge_qnty" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.number_on_dark_qnty" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.number_on_light_qnty" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form"> 
                                                <input type="text" class="form-control"  ng-model="order_position.oversize" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.oversize_screens_qnty" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.press_setup_qnty" />
                                            </div>
                                            <div class="form-group col-md-1 nopad-form">
                                                <input type="text" class="form-control"  ng-model="order_position.screen_fees_qnty" />
                                            </div>
                                            
                                        </div>

                                        <div class="col-md-2 nopad-left">
                                            
                                            <div class="form-group col-md-8 nopad-left artworkButton">
                                                <button type="button" class="btn btn-default addButton c-dgreen">
                                                  <i class="fa fa-plus"></i> 
                                                </button>
                                                <span>Artwork</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                            
                                </div>
                            </div>
                            <!-- POSITION TAB END -->
                           
                            <!-- SCREEN SETS START -->
                            <div role="tabpanel" class="tab-pane  animated fadeIn orderNoteTab" id="tab2">
                                Screen 
                            </div>
                            <!-- SCREEN SETS END -->

                            <!-- ORDER GROUP TAB -->
                            <div role="tabpanel" class="tab-pane animated fadeIn tab2Ol" id="tab3"></div>
                            <!-- ORDERGROUP TAB -->

                            <!-- ORDERLINE TAB START -->
                            <div role="tabpanel" class="tab-pane active animated fadeIn tab2Ol" id="tab4">
                                <div class="col-md-12 nopad-form">
                                    <div class="col-md-12 nopad-left">
                                        <div class="form-group">
                                        <!-- Orderline Tab Title -->
                                            <div class="">                      
                                                <div class="cols col-1">
                                                    <div class="form-group">
                                                        <label>Size Group / <br />Product Color</label>
                                                    </div>
                                                    <div class="form-group secondContainer">
                                                        <label>Product / <br />Product Vendor</label>
                                                    </div>
                                                </div>
                                                <div class="cols col-2">
                                                    <div class="form-group">
                                                        <label>----------------------------------------------------------------Size / Qnty-----------------------------------------------------------</label>
                                                    </div>
                                                    <div class="form-group col-md-1">
                                                       <label> Qnty / Client Supply </label>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Orderline Tab Fields -->
                                            <div class="orderLineTabScroll formFields" ng-repeat="(key,order_line) in art_orderline.line_array">
                                                <!-- First ROW OrderLine -->
                                                <div class="col-md-12 nopad-form">
                                                    <div class="cols col-1">
                                                        <div class="form-group">
                                                            <input  type="text" class="form-control"  ng-model="order_line.size_group_id" readonly="" />
                                                        </div>
                                                        <div class="form-group secondContainer">
                                                            <input type="text" class="form-control"  ng-model="order_line.product_color" readonly="" />
                                                        </div>
                                                        <div class="col-md-1 nopad-left smallPad"></div>
                                                        <div class="form-group">
                                                            <label> Set Group </label>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="cols col-2">
                                                        <span ng-repeat="(s_key,i) in getNumber(7)  track by $index">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control c-green"  ng-model="art_orderline.line_array[key].size_array[s_key].size"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"  ng-model="art_orderline.line_array[key].size_array[s_key].qnty" />
                                                            </div>
                                                        </span>
                                                        <span>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"  />
                                                            </div>
                                                        </span>
                                                     <div class="col-md-2 nopad-left smallPad"></div>
                                                    <div class="col-md-2 nopad-left">
                                                        <div class="nopad-left artworkButton">
                                                            <button type="button" class="btn btn-default addButton c-dgreen">
                                                              <i class="fa fa-plus"></i> 
                                                            </button>
                                                            <span>Artwork Proof</span>
                                                        </div>
                                                      </div>

                                                    </div>

                                                </div>

                                                <!-- Second ROW -->
                                                <div class="col-md-12 nopad-form">
                                                    <div class="cols col-1">
                                                       <div class="form-group">
                                                            <input  type="text" class="form-control"  ng-model="order_line.product_name" readonly="" />
                                                        </div>
                                                         <div class="form-group">
                                                            <input  class="form-control"  ng-model="order_line.name_company" readonly="" />
                                                        </div>
                                                        <div class="col-md-1 nopad-left smallPad"></div>
                                                        <div class="col-md-3 smallPad nopad-left" style="width:98px !important;">
                                                            <select class="form-control ng-pristine ng-valid ng-touched" tabindex="0" aria-invalid="false" style="">
                                                               
                                                            </select>
                                                        </div>

                                                        <div class="col-md-1 nopad-left smallPad">
                                                            <div class="sgpDetails btnCircle">
                                                              <a class="" tabindex="0" role="button" title="Go To">
                                                                <i class="fa fa-arrow-circle-right"></i>
                                                              </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="cols col-2">
                                                        <span ng-repeat="(a_key,i) in getNumber(7)  track by $index">
                                                           <div class="col-md-3 smallPad nopad-left" style="width:98px !important;">
                                                                <select class="form-control ng-pristine ng-valid ng-touched" ng-model="order_line.client_supplied" tabindex="0" aria-invalid="false" style="">
                                                                   
                                                                </select>
                                                            </div>
                                                            
                                                        </span>
                                                         <span>
                                                           <div class="col-md-3 smallPad nopad-left" style="width:85px !important;">
                                                                <select class="form-control ng-pristine ng-valid ng-touched" ng-model="order_line.client_supplied" tabindex="0" aria-invalid="false" style="">
                                                                    
                                                                </select>
                                                            </div>
                                                            
                                                        </span>
                                                    </div>

                                                </div>
                                                <!-- / -->
                                        

                                            </div>

   
                                        </div>
                                  
                                    </div>
                                    
                                </div>  
                                <!-- POP UP on Orderline Tab Page -->
                                
                            </div>
                            <!-- ORDERLINE TAB END -->

                            <!-- ART WORK TAB START -->
                            <div role="tabpanel" class="tab-pane  animated fadeIn orderPOTab" id="tab5">
                                Order Group
                            </div>
                            <!-- ART WORK TAB END -->

                            <!-- NOTES TAB START -->
                            <div role="tabpanel" class="tab-pane  animated fadeIn orderPOTab" id="tab6">
                                <div class="col-md-12 nopad-form">
                                <label>Client note for Art Approval</label>
                                </div>
                                <div class="col-md-12 nopad-form">
                                <textarea class="form-group" cols="50" name="notes" ui-event="{ blur : 'UpdateField_detail($event,art_position[0].art_id)' }" rows="10" ng-model="art_position[0].notes"></textarea>
                                </div>
                            </div>
                            <!-- NOTES TAB END -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
