<div class="row">
    <div class="col-sm-12">
        <form name="mainForm" class="form-validation client_order_form">
            <div class="panel panel-default">
                <input type="hidden" ng-model="order.id">
                <div class="panel-body">
                                <div class="col-md-5 nopad-right smallPad"></div>
                                <div class="col-md-3 nopad-right smallPad">
                                    <button title="Go to ArtListing" ui-sref="art.job({id: screen_detail[0].art_id})" type="button" class="btn btn-info" tabindex="0">Art Detail</button>
                                    <button title="Go to ScreenListing" ui-sref="art.screenlist({art_id:'',company_id:company_id})" type="button" class="btn active btn-info" tabindex="0">Screen List</button>
                                    <button title="Go to ScreenListing" type="button" class="btn btn-info" tabindex="0">#{{screen_detail[0].order_id}}</button>
                                </div>
                    <div class="col-sm-12 m-b nopad-form">
                        <div class="col-sm-12 m-b"></div>
                        

                       
                        <ul class="nav nav-tabs input-group col-sm-12">
                            <li class="active"><a href data-toggle="tab" data-target="#tab1">Screen Set Detail</a></li>
                            <li> <a href data-toggle="tab" data-target="#tab2" class="tab4" >Screen Art</a> </li>
                            <li> <a href data-toggle="tab" data-target="#tab3" >Screen Garments</a> </li>
                            <li > <a href data-toggle="tab" data-target="#tab4" >Screen Note</a> </li>
                        </ul>
                        <div class="tab-content p b-a no-b-t bg-white m-b-md">
                            <!-- POSITION TAB START -->
                            <div role="tabpanel" class="tab-pane active animated fadeIn" id="tab1">
                                 <div ng-include="'views/front/art/screen/screen_detail.html'"></div>
                            </div>
                            <!-- POSITION TAB END -->
                           
                            <!-- SCREEN SETS START -->
                            <div role="tabpanel" class="tab-pane  animated fadeIn orderNoteTab" id="tab2">
                                <div ng-include="'views/front/art/screen/screen_art.html'"></div>
                            </div>
                            <!-- SCREEN SETS END -->

                            <!-- ORDER GROUP TAB -->
                            <div role="tabpanel" class="tab-pane animated fadeIn tab2Ol" id="tab3">
                                <div ng-include="'views/front/art/screen/screen_garment.html'"></div>
                            </div>
                            <!-- ORDERGROUP TAB -->

                            <!-- ORDERLINE TAB START -->
                            <div role="tabpanel" class="tab-pane animated fadeIn tab2Ol" id="tab4">
                                <div ng-include="'views/front/art/screen/screen_note.html'"></div>
                            </div>
                            <!-- ORDERLINE TAB END -->

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
