<div class="stockkup-content-table-container ship-order-screen distrbution-company">
    <div class="simple-table-container stokkup-main-tableview">
        <div class="table-title  layout-align-space-between-center layout-row bottom-shadow" layout="row" layout-align="space-between center">
            <div class="table-title-text flex-70">
              Distrubution for ABX <a class="cursor-p" title="Go to Order">#123</a> for Company: <a class="cursor-p" title="Go to Order">XYZ</a>
            </div>
            <div class="pull-right right-search-box">
                <a class="pull-right common-header-links">BACK TO ORDER INFO</a>
            </div>
        </div>
     </div>


    <md-content>
        <div layout="row" layout-wrap="nowrap" class="p-20">
            <div flex-xs flex-gt-xs="25" layout="column">
                <md-card class="custom-fullbox-shadow text-center">
                    <md-card-header layout-align="space-between center">
                        <md-card-header-text>
                            <span class="md-title f-24 ">ALL Locations</span>
                        </md-card-header-text>
                    </md-card-header>

                    <md-card-content class="custom-desc-box">
                        <h3 class="title">100/200</h3>
                        <a href="javascript:;" class="stokkup-custom-btn1 stokkup-blue-btn text-white ">Export CSV</a>
                    </md-card-content>
                </md-card>
            </div>

            <div flex-xs flex-gt-xs="50" layout="column" class="pd30-LR layout-align-center-center">
                <div class="distri-box">
                    <a href="#" class="box-mang dist-next-prev left"><i class="fa fa-angle-left" role="button"></i></a>
                    <div flex-xs flex-gt-xs="50" layout="column" class="layout-align-center-center">
                        <md-card class="custom-fullbox-shadow text-center active">
                            <md-card-header layout-align="space-between center">
                                <md-card-header-text>
                                    <span class="md-title ">Disrbution Location Name</span>
                                    <span class="sub-title">Address: 11 E Hubbard St Chicago IL 60611</span>
                                </md-card-header-text>
                            </md-card-header>

                            <md-card-content class="custom-desc-box">
                                <h3 class="title f-24">Total: 123</h3>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div flex-xs flex-gt-xs="50" layout="column" class="layout-align-center-center">
                        <md-card class="custom-fullbox-shadow text-center">
                            <md-card-header layout-align="space-between center">
                                <md-card-header-text>
                                    <span class="md-title ">Disrbution Location Name</span>
                                    <span class="sub-title">Address: 11 E Hubbard St Chicago IL 60611</span>
                                </md-card-header-text>
                            </md-card-header>

                            <md-card-content class="custom-desc-box">
                                <h3 class="title f-24">Total: 123</h3>
                            </md-card-content>
                        </md-card>
                    </div>
                    <a href="#" class="box-mang dist-next-prev right"><i class="fa fa-angle-right" role="button"></i></a>
                </div>
            </div>

            <div flex-xs flex-gt-xs="25" layout="column" class="layout-padding pull-right layout-align-center-center">
                <div class="">
                    <md-button  class="pull-right full-width-box stokkup-custom-btn1 stokkup-blue-btn orderscreen-infobtns" ng-click="vm.openaddDistributionDialog($event)">
                    ADD EXSTING LOCATION
                    </md-button>
                    <md-button  class="full-width-box stokkup-custom-btn1 stokkup-blue-btn orderscreen-infobtns pull-right " >
                    ADD NEW LOCATION
                    </md-button>
                </div>
            </div>

        </div>
    </md-content>

    <md-content class="product-select">
        <div layout="row" layout-wrap="nowrap" class="p-20">
            <div layout="column" flex="50" class="box-zerospace m-b-10">
                <md-card class="m-0" flex="100">
                    <md-card-content class="recap">
                        <md-checkbox aria-label="Checkbox 1" class="remaining-text"  flex="100" layout="row">
                            <div layout="column" flex="35">
                                <strong>Product Name:</strong> Women's Basic Polo - 532089
                            </div>

                            <div layout="column" flex="15">
                                <strong>Size:</strong> S
                            </div>

                            <div layout="column" flex="20">
                                <strong>Color:</strong> White
                            </div>

                            <div layout="column" flex="15">
                                <strong>Remaning:</strong> 10
                            </div>

                            <div layout="column" flex="15">
                                <strong>Distributed: </strong> 123
                            </div>
                        </md-checkbox>
                    </md-card-content>
                </md-card>
            </div>

            <div layout="column" flex="50" class="box-zerospace m-b-10">
                <md-card class="m-0" flex="100">
                    <md-card-content class="recap">
                        <md-checkbox aria-label="Checkbox 1" class="remaining-text"  flex="100" layout="row">
                            <div layout="column" flex="35">
                                <strong>Product Name:</strong> Women's Basic Polo - 532089
                            </div>

                            <div layout="column" flex="15">
                                <strong>Size:</strong> S
                            </div>

                            <div layout="column" flex="20">
                                <strong>Color:</strong> White
                            </div>

                            <div layout="column" flex="15">
                                <strong>Remaning:</strong> 10
                            </div>

                            <div layout="column" flex="15">
                                <strong>Distributed: </strong> 123
                            </div>
                        </md-checkbox>
                    </md-card-content>
                </md-card>
            </div>

            <div layout="column" flex="50" class="box-zerospace m-b-10">
                <md-card class="m-0" flex="100">
                    <md-card-content class="recap">
                        <md-checkbox aria-label="Checkbox 1" class="remaining-text"  flex="100" layout="row">
                            <div layout="column" flex="35">
                                <strong>Product Name:</strong> Women's Basic Polo - 532089
                            </div>

                            <div layout="column" flex="15">
                                <strong>Size:</strong> S
                            </div>

                            <div layout="column" flex="20">
                                <strong>Color:</strong> White
                            </div>

                            <div layout="column" flex="15">
                                <strong>Remaning:</strong> 10
                            </div>

                            <div layout="column" flex="15">
                                <strong>Distributed: </strong> 123
                            </div>
                        </md-checkbox>
                    </md-card-content>
                </md-card>
            </div>

            <div layout="column" flex="50" class="box-zerospace m-b-10">
                <md-card class="m-0" flex="100">
                    <md-card-content class="recap">
                        <md-checkbox aria-label="Checkbox 1" class="remaining-text"  flex="100" layout="row">
                            <div layout="column" flex="35">
                                <strong>Product Name:</strong> Women's Basic Polo - 532089
                            </div>

                            <div layout="column" flex="15">
                                <strong>Size:</strong> S
                            </div>

                            <div layout="column" flex="20">
                                <strong>Color:</strong> White
                            </div>

                            <div layout="column" flex="15">
                                <strong>Remaning:</strong> 10
                            </div>

                            <div layout="column" flex="15">
                                <strong>Distributed: </strong> 123
                            </div>
                        </md-checkbox>
                    </md-card-content>
                </md-card>
            </div>

        </div>
    </md-content>

    <div class="ms-responsive-table-wrapper distri-record white-bg">
        <div>
            <table class="simple hover simple-tbl1">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>QTY</th>
                        <th>Location Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gilden 5000</td>
                        <td>M</td>
                        <td>Blue</td>
                        <td>
                            <md-input-container class="m-0">
                                <input value="123">
                            </md-input-container>
                        </td>
                        <td>Location</td>
                    </tr>

                    <tr>
                        <td>Gilden 5000</td>
                        <td>M</td>
                        <td>Blue</td>
                        <td>
                            <md-input-container class="m-0">
                                <input value="123">
                            </md-input-container>
                        </td>
                        <td>Location</td>
                    </tr>

                    <tr>
                        <td>Gilden 5000</td>
                        <td>M</td>
                        <td>Blue</td>
                        <td>
                            <md-input-container class="m-0">
                                <input value="123">
                            </md-input-container>
                        </td>
                        <td>Location</td>
                    </tr>

                    <tr>
                        <td>Gilden 5000</td>
                        <td>M</td>
                        <td>Blue</td>
                        <td>
                            <md-input-container class="m-0">
                                <input value="123">
                            </md-input-container>
                        </td>
                        <td>Location</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div layout="row" layout-wrap="nowrap" class="layout-align-center-center shipping-select">
        <md-input-container class="m-15-LR">
          <label>Shipping Type</label>
          <md-select ng-model="shipping_type">
            <md-option value="1">One</md-option>
            <md-option value="2">Two</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="m-15-LR">
          <label>Shipping Meathod</label>
          <md-select ng-model="shipping_Meathod">
            <md-option value="1">One</md-option>
            <md-option value="2">Two</md-option>
          </md-select>
        </md-input-container>

    </div>

</div>
