<div class="stockkup-content-table-container ship-order-screen distrbution-company">
    <div class="simple-table-container stokkup-main-tableview">
        <div class="table-title  layout-align-space-between-center layout-row bottom-shadow" layout="row" layout-align="space-between center">
            <div class="table-title-text flex-70">
              Distrubution for ABX <a class="cursor-p" title="Go to Order" ui-sref="app.order.order-info({id:order.display_number})">#{{order.display_number}}</a> for Company: <a class="cursor-p" title="Go to Order" ui-sref="app.client.profile({id:order.client_display_number})">{{order.client_company}}</a>
            </div>
            <div class="pull-right right-search-box">
                <a class="pull-right common-header-links" ui-sref="app.order.order-info({id:order.display_number})">BACK TO ORDER INFO</a>
            </div>
        </div>
     </div>


    <md-content>
        <div layout="row" layout-wrap="nowrap" class="p-20">
            <div flex-xs flex-gt-xs="25" layout="column" class="distri-box">
                <md-card class="custom-fullbox-shadow text-center cursor-p" ng-class="{'active': all_address_selcted!='0'}" ng-click="getAllLocation()">
                    <md-card-header layout-align="space-between center">
                        <md-card-header-text>
                            <span class="md-title f-24 ">ALL Locations</span>
                        </md-card-header-text>
                    </md-card-header>

                    <md-card-content class="custom-desc-box">
                        <h3 class="title">{{total_shipped_qnty}}/{{total_order_qty}}</h3>
                        <a href="javascript:;" class="stokkup-custom-btn1 stokkup-blue-btn text-white ">Export CSV</a>
                    </md-card-content>
                </md-card>
            </div>

            <div flex-xs flex-gt-xs="50" layout="column" class="pd30-LR layout-align-center-center">
                <div class="distri-box">
                    <a href="#" class="box-mang dist-next-prev left" ng-click="getPage('backward')"><i class="fa fa-angle-left" role="button"></i></a>
                    <div ng-repeat="dist in distributionData" flex-xs flex-gt-xs="50" layout="column" class="layout-align-center-center" ng-click="getProductByAddress(dist.id)">
                        <md-card class="custom-fullbox-shadow text-center cursor-p" ng-class="{'active': dist.is_selected>0}">
                            <md-card-header layout-align="space-between center">
                                <md-card-header-text>
                                    <span class="md-title ">{{dist.description}}</span>
                                    <span class="sub-title">{{dist.full_address}}</span>
                                </md-card-header-text>
                            </md-card-header>

                            <md-card-content class="custom-desc-box">
                                <h3 class="title f-24">Total: {{dist.addressTotalProducts}}</h3>
                            </md-card-content>
                        </md-card>
                    </div>
                    <a href="#" class="box-mang dist-next-prev right" ng-click="getPage('forward')"><i class="fa fa-angle-right" role="button"></i></a>
                </div>
            </div>

            <div flex-xs flex-gt-xs="25" layout="column" class="layout-padding pull-right layout-align-center-center">
                <div class="">
                    <md-button  class="pull-right full-width-box stokkup-custom-btn1 stokkup-blue-btn orderscreen-infobtns" ng-click="vm.openaddExistingLocatioDilog($event)">
                    ADD EXSTING LOCATION
                    </md-button>
                    <md-button  class="full-width-box stokkup-custom-btn1 stokkup-blue-btn orderscreen-infobtns pull-right " ng-click="openInsertPopup('client/views/forms/distribution_form.html',$event,'client_distaddress')"  ng-show="allow_access==1">
                    ADD NEW LOCATION
                    </md-button>
                </div>
            </div>

        </div>
    </md-content>

    <md-content class="product-select">
        <div layout="row" layout-wrap="nowrap" class="p-20 distribution_scroll scrollable" ms-scroll>
            <div layout="column" flex="50" class="box-zerospace m-b-10" ng-repeat="(key,product) in orderProducts">
                <md-card class="m-0" flex="100">
                    <md-card-content class="recap">
                        <md-checkbox aria-label="Checkbox 1" class="remaining-text"  flex="100" layout="row" ng-click="toggle(product.id, selectedSizes, key, product)" ng-model="product.selected">
                            <div layout="column" flex="35">
                                <strong>Product Name:</strong> {{product.product_name}}
                            </div>

                            <div layout="column" flex="15">
                                <strong>Size:</strong> {{product.size}}
                            </div>

                            <div layout="column" flex="20">
                                <strong>Color:</strong> {{product.color_name}}
                            </div>

                            <div layout="column" flex="15">
                                <strong>Remaning:</strong> {{product.remaining_qnty}}
                            </div>

                            <div layout="column" flex="15" ng-init="product.distributed_qnty = product.distributed_qnty == null ? '0' : product.distributed_qnty">
                                <strong>Distributed: </strong> {{product.distributed_qnty}}
                            </div>
                        </md-checkbox>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-content>

    <div class="ms-responsive-table-wrapper distri-record white-bg shipping-select" ng-if="addressProducts.length > 0">
        <div>
            <table class="simple hover simple-tbl1">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>QTY</th>
                        <th>Location Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,product) in addressProducts">
                        <td>{{product.product_name}}</td>
                        <td>{{product.size}}</td>
                        <td>{{product.color_name}}</td>
                        <td>
                            <md-input-container class="m-0" ng-init="product.distributed_qnty = product.distributed_qnty == null ? '0' : product.distributed_qnty">
                                <input aria-label="true" ng-model="product.distributed_qnty" ui-event="{ change : 'allocateDistQty(key,product)' }">
                            </md-input-container>
                        </td>
                        <td ng-if="location == ''">{{product.description}}</td>
                        <td ng-if="location != ''">{{location}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div layout="row" layout-wrap="nowrap" class="layout-align-center-center shipping-select" ng-if="address_id > 0">
        <md-input-container class="m-15-LR">
          <label>Shipping Type</label>
          <md-select ng-model="distributionData[address_id].shipping_type_id" ng-change="updateShippingType(distributionData[address_id].shipping_type_id)">
            <md-option ng-selected="distributionData[address_id].shipping_type_id == stype.id" value="{{stype.id}}" ng-repeat="stype in shippingType">{{stype.name}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="m-15-LR">
          <label>Shipping Method</label>
          <md-select ng-model="distributionData[address_id].shipping_method_id" ng-change="updateShippingMethod(distributionData[address_id].shipping_method_id)">
            <md-option ng-selected="distributionData[address_id].shipping_method_id == smethod.id" value="{{smethod.id}}" ng-repeat="smethod in shippingMethod">{{smethod.method_name}}</md-option>
          </md-select>
        </md-input-container>

    </div>

</div>
