<md-dialog class="task-dialog designadd-dialog" aria-label="New order">
    <form name="orderForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">{{vm.title}}</span>
                <md-button  ng-click="cancel()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="design-add-modal " layout-padding>
                <md-input-container class="md-block first-box" flex-gt-sm>
                    <input placeholder="Design Name" flex="80" ng-model="design.design_name">
                </md-input-container>

                 <md-input-container class="md-block first-box" flex-gt-sm>
                    <input placeholder="Colors" flex="80" ng-model="design.colors_count" valid-number>
                </md-input-container>

                <div class="content-heading">
                    <span class="md-title">Dates</span>
                </div>
                <div>
                    <span class="grey-color">
                        In Hands By
                    </span>
                </div>
                <div class="date-input">
                    <input kendo-date-picker id="hands_date" ng-model="design.hands_date" k-ng-model="dateObject" placeholder="Dates"/>
                </div>
                <div>
                    <span class="grey-color">
                        Shipped Date
                    </span>
                </div>
               <div class="date-input">
                    <input kendo-date-picker ng-model="design.shipping_date" k-ng-model="dateObject1" placeholder="Dates"/>
                </div>
                <div>
                    <span class="grey-color">
                        Start Date
                    </span>
                </div>
                <div class="date-input">
                    <input kendo-date-picker ng-model="design.start_date" k-ng-model="dateObject2" placeholder="Dates"/>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="cancel()" class="md-primary md-hue-1 md-accent ">Cancel</md-button>
            <md-button class="md-accent md-raised " ng-click="saveDesign(design)">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog> 