<md-dialog class="task-dialog designadd-dialog" aria-label="New order">
    <form name="orderForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">{{vm.title}}</span>
                <md-button  ng-click="cancel()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="design-add-modal " layout-padding>
                <md-input-container class="md-block first-box" flex-gt-sm>
                    <input placeholder="Design Name" flex="80" ng-model="design.design_name">
                </md-input-container>
                <div class="content-heading">
                    <span class="md-title">Colors</span>
                </div>

             


                <div layout="row" layout-wrap layout-align="space-between center">
                    
                    <div flex="30">  
                        <md-autocomplete
                            ng-disabled="isDisabled"
                            md-no-cache="noCache"
                            md-selected-item=""
                            md-search-text-change=""
                            md-search-text="design.front_color_name"
                            md-selected-item-change="change_color(item.id,'front_color_id')"
                            md-items="item in querySearch(design.front_color_name)"
                            md-item-text="item.name"
                            md-min-length="1"
                            placeholder="Search Front Color"
                            <md-item-template>
                            <span md-highlight-text="allcolor.id" md-highlight-flags="^i">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                            No Color found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>

                    <div flex="30">  
                        <md-autocomplete
                            ng-disabled="isDisabled"
                            md-no-cache="noCache"
                            md-selected-item=""
                            md-search-text-change=""
                            md-search-text="design.side_right_color_name"
                            md-selected-item-change="change_color(item.id,'side_right_color_id')"
                            md-items="item in querySearch(design.side_right_color_name)"
                            md-item-text="item.name"
                            md-min-length="1"
                            placeholder="Search Side Right Color"
                            <md-item-template>
                            <span md-highlight-text="allcolor.id" md-highlight-flags="^i">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                            No Color found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>

                    <div flex="30">  
                        <md-autocomplete
                            ng-disabled="isDisabled"
                            md-no-cache="noCache"
                            md-selected-item=""
                            md-search-text-change=""
                            md-search-text="design.top_color_name"
                            md-selected-item-change="change_color(item.id,'top_color_id')"
                            md-items="item in querySearch(design.top_color_name)"
                            md-item-text="item.name"
                            md-min-length="1"
                            placeholder="Search Top Color"
                            <md-item-template>
                            <span md-highlight-text="allcolor.id" md-highlight-flags="^i">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                            No Color found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>

                    <div flex="30">  
                        <md-autocomplete
                            ng-disabled="isDisabled"
                            md-no-cache="noCache"
                            md-selected-item=""
                            md-search-text-change=""
                            md-search-text="design.back_color_name"
                            md-selected-item-change="change_color(item.id,'back_color_id')"
                            md-items="item in querySearch(design.back_color_name)"
                            md-item-text="item.name"
                            md-min-length="1"
                            placeholder="Search Back Color"
                            <md-item-template>
                            <span md-highlight-text="allcolor.id" md-highlight-flags="^i">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                            No Color found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>


                    <div flex="30">  
                        <md-autocomplete
                            ng-disabled="isDisabled"
                            md-no-cache="noCache"
                            md-selected-item=""
                            md-search-text-change=""
                            md-search-text="design.side_left_color_name"
                            md-selected-item-change="change_color(item.id,'side_left_color_id')"
                            md-items="item in querySearch(design.side_left_color_name)"
                            md-item-text="item.name"
                            md-min-length="1"
                            placeholder="Search Side Left Color"
                            <md-item-template>
                            <span md-highlight-text="allcolor.id" md-highlight-flags="^i">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                            No Color found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>

                     <div flex="30">  
                        <md-autocomplete
                            ng-disabled="isDisabled"
                            md-no-cache="noCache"
                            md-selected-item=""
                            md-search-text-change=""
                            md-search-text="design.bottom_color_name"
                            md-selected-item-change="change_color(item.id,'bottom_color_id')"
                            md-items="item in querySearch(design.bottom_color_name)"
                            md-item-text="item.name"
                            md-min-length="1"
                            placeholder="Search Bottom Color"
                            <md-item-template>
                            <span md-highlight-text="allcolor.id" md-highlight-flags="^i">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                            No Color found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
  <!--
                   



                     <div flex="30">  
                        <md-input-container class="md-block first-box" flex-gt-sm>
                            <label>Bottom</label>
                                <md-select ng-model="design.bottom_color_id">
                                    <md-option ng-repeat="color in allColor" value="{{color.id}}">
                                        {{color.name}}
                                    </md-option>
                                </md-select>
                        </md-input-container>
                    </div> -->

                </div>
                <div class="content-heading">
                    <span class="md-title">Dates</span>
                </div>
                <div>
                    <span class="grey-color">
                        In Hans By
                    </span>
                </div>
                <div class="date-input">
                    <input kendo-date-picker ng-model="vm.createDate1" k-ng-model="dateObject" placeholder="Dates"/>
                </div>
                <div>
                    <span class="grey-color">
                        Shipped Date
                    </span>
                </div>
               <div class="date-input">
                    <input kendo-date-picker ng-model="createDate2" k-ng-model="dateObject1" placeholder="Dates"/>
                </div>
                <div>
                    <span class="grey-color">
                        Start Date
                    </span>
                </div>
                <div class="date-input">
                    <input kendo-date-picker ng-model="vm.createDate3" k-ng-model="dateObject2" placeholder="Dates"/>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="cancel()" class="md-primary md-hue-1 md-accent ">Cancel</md-button>
            <md-button class="md-accent md-raised " ng-click="saveDesign(design)">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog> 