<md-dialog class="task-dialog" >
    <form name="passwordform" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Change Password</span>
                <md-button  ng-click="closeDialog()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>
                <md-input-container class="md-block first-box">
                    <input placeholder="Old Password*" name="" type="password" required ng-model="data.password" >
                    <div ng-messages="passwordform.password.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block first-box">
                    <input placeholder="New Password*" name="" required type="password" ng-model="data.new_password" >
                    <div ng-messages="passwordform.new_password.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block first-box">
                    <input placeholder="Confirm Password*" name="" type="password" required ng-model="data.confirm_password">
                    <div ng-messages="passwordform.confirm_password.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>                
               
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            
                    <md-button class="md-accent md-raised " ng-disabled="passwordform.$invalid" ng-click="changePassword(data)">Save</md-button>
             
        </md-dialog-actions>
    </form>
</md-dialog>