<style>

        .handles {
            padding-left: 0px !important;
        }
        .handles li {
            list-style: none;
             padding-bottom: 10px !important;
        }
        .fs22 {
            cursor: move;
        }
        li.disabled {
            opacity: 0.5;
        }
        li.highlight {
            background: #FEE25F;
        }

        li.sortable-placeholder {
            border: 1px dashed #CCC;
            background: none;
        }
    </style>

<div class="content client-list-page stockkup-content-table-container">
    <div class="simple-table-container md-whiteframe-4dp stokkup-main-tableview">
        <div class="table-title bottom-shadow" layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=60>
               Screen Sets for Order <a class="cursor-p" title="Go to Order" ui-sref="app.order.order-info({id:ScreenSets[0].order_id})">#{{ScreenSets[0].order_id}}</a> for Client: <a class="cursor-p" title="Go to Client" ui-sref="app.client.profile({id:ScreenSets[0].client_id})">{{ScreenSets[0].client_company}}</a>
            </div>
            <div class="pull-right right-search-box">
                 <a class="pull-right common-header-links" ui-sref="app.art.orderView({id:ScreenSets[0].order_id})">BACK TO SCREENSET</a> 
            </div>
        </div>
    </div>

    <div class="inner-full-box mt-30">
        <div class="order-information m-b-45 pad0" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <div class="info-order m-r-30" flex="73" layout="column">
                <div class="title mrg10-B"><span class="stokkup-title-h4">Information</span></div>
                <md-card layout="row">
                    <md-card-content flex="100" layout="column">
                        <div layout="row" layout-wrap>
                            <div class="trans-box">
                                <div>Client</div>
                                <span class="chrome-weight font-14">{{ScreenSets[0].client_company}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Order Name</div>
                                <span class="chrome-weight font-14">{{ScreenSets[0].order_name}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Order Date</div>
                                <span class="chrome-weight font-14">{{ScreenSets[0].created_date}}</span>
                            </div>
                            <div class="trans-box">
                                <div>Contact</div>
                                <span class="chrome-weight font-14">{{ScreenSets[0].first_name}} {{ScreenSets[0].last_name}}</span>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <!-- approval status block -->
            <div flex="24" layout="column">
                <div class="title mrg10-B"><span class="h2 text-semibold">Approval Status</span></div>
                <md-select ng-model="ScreenSets[0].approval" ng-change="UpdateTableField(ScreenSets[0].approval)" aria-label="Approval Status">
                    <md-option value="1" ng-selected="{{ScreenSets[0].approval==1}}">Approved</md-option>
                    <md-option value="0" ng-selected="{{ScreenSets[0].approval==0}}">Pending</md-option>
                </md-select>
            </div>
            <!-- approval status block ends -->
        </div>

        <div class="screensetbox pad0" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <div class="info-order box-zerospace">
                <div class="title box-title m-b-20"><span class="stokkup-title-h4">{{ScreenSets[0].screen_set}}</span></div>
                <md-card layout="row" class="transparent-bg no-border">
                    <md-card-content layout="column" class="pos-relative box-zerospace pad-0">
                        <div layout="row" layout-wrap>
                            <ul class="handles screenset-list-struct" dnd-list="ScreenSets_new.data_all"  dnd-inserted="change_sort()">
                                <li ng-repeat="colorsinf in ScreenSets_new.data_all"
                                    dnd-draggable="colorsinf"
                                    dnd-moved="ScreenSets_new.data_all.splice($index, 1)"
                                    dnd-effect-allowed="move"
                                    dnd-selected="ScreenSets_new.data_all.selected = colorsinf"
                                    ng-class="{'selected': ScreenSets_new.data_all.selected === colorsinf}">
                                    <dnd-nodrag>
                                        <div class="header-typ1">{{colorsinf.color_name}}</div>
                                        <div ng-show="colorsinf.is_complete==1" layout-wrap layout="row">
                                            <div flex=100  class="pull-left" layout-wrap layout="row">
                                                <!--content box starts here -->
                                                <div flex=75 class="pull-left" layout-wrap layout="row">
                                                    <div class="trans-box">
                                                        <div>Pantone/Thread Color</div>
                                                        <span class="chrome-weight font-14">{{ colorsinf.thread_display}}</span>
                                                    </div>
                                                    <div class="trans-box">
                                                        <div>Mesh/Thread Count</div>
                                                        <span class="chrome-weight font-14">{{colorsinf.mesh_thread_count}}</span>
                                                    </div>
                                                    <div class="trans-box">
                                                        <div>Stroke</div>
                                                        <span class="chrome-weight font-14">{{colorsinf.stroke}}</span>
                                                    </div>
                                                    <div class="trans-box">
                                                        <div>Ink Type</div>
                                                        <span class="chrome-weight font-14">{{colorsinf.inq}}</span>
                                                    </div>
                                                    <div class="trans-box">
                                                        <div>Head Location</div>
                                                        <span class="chrome-weight font-14">{{colorsinf.head_location}}</span>
                                                    </div>
                                                    <div class="trans-box">
                                                        <div>Squeegee</div>
                                                        <span class="chrome-weight font-14">{{colorsinf.squeegee}}</span>
                                                    </div>
                                                </div>


                                                <div flex=95 class="pull-left" layout="column" ng-show="colorsinf.is_complete==0">
                                                    <div layout="row" layout-wrap>
                                                        <span class="stokkup-title-h4">Screen Details Not Yet Entered</span>
                                                    </div>
                                                </div>
                                                <div flex=95 layout="column" ng-show="colorsinf.is_complete==null">
                                                    <div layout="row" layout-wrap>
                                                        <span class="stokkup-title-h4">No color assigned for this Screen set</span>
                                                    </div>
                                                </div>
                                                <div flex=20 layout="row" ng-show="colorsinf.is_complete==0 || colorsinf.is_complete==1" class="mt-20 text-center">
                                                    <div  class="text-center"><md-button class="md-raised md-primary stokkup-custom-btn1 stokkup-blue-btn" ng-click="UpdateColorScreen($event,colorsinf)">Edit Screen Detail</md-button></div>
                                                </div>
                                                <div flex=5 layout="row" class="dragiconscenter"><span class="icon icon-menu fs22"></span></div>
                                                <!--content box ends here -->
                                            </div>
                                        </div>            
                                    </dnd-nodrag>
                                </li>
                            </ul>        
                        </div>
                    </md-card-content>
                </md-card>    
            </div>
        </div>

        <div layout="row" layout="nowrap" class="p-b-20 screen-bottom">
            <md-card class="m-b-20 " flex="30">
            <md-card-header layout-align="space-between center">
                <md-card-header-text>
                    <span class="md-title">Screenset Image</span>
                </md-card-header-text>

                <md-menu>
                    <md-button aria-label="Logo Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-click="ImagePopup('mokup_logo','art','artjob_screensets',ScreenSets[0].mokup_logo_url,'id',ScreenSets[0].screen_id,ScreenSets[0].mokup_logo,ScreenSets[0].order_id)" >
                            <md-button>
                                Change Logo
                            </md-button>
                        </md-menu-item>

                        <md-menu-item ng-click="deleteImage('mokup_logo','art','artjob_screensets',ScreenSets[0].mokup_logo,'id',ScreenSets[0].screen_id,ScreenSets[0].order_id)">
                            <md-button>
                                Remove Logo
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>
            </md-card-header>
                <md-card-content ng-click="ImagePopup('mokup_logo','art','artjob_screensets',ScreenSets[0].mokup_logo_url,'id',ScreenSets[0].screen_id,ScreenSets[0].mokup_logo,ScreenSets[0].order_id)" layout="column" layout-padding class="min-height">
                    <img  ng-src="{{ScreenSets[0].mokup_logo_url}}" alt=""  class="popup-image"/>
                </md-card-content>
            </md-card>

            <md-card class="m-b-20 m-l-20" style="height: 50% !important;" flex="30">
                <md-card-title>
                    <md-card-title-text class="text-left">Notes</md-card-title-text>
                </md-card-title>
                <md-card-content  layout="column" layout-padding class="min-height" layout-align="start center">
                    <div layout="row" layout-wrap flex="60" class="width-text">
                        <span class="font-50 mrg-auto">{{ScreenSets[0].note_total}}</span>
                    </div>
                    <div class="text-center pad0"><span class="font-18">Total Notes</span></div>
                </md-card-content>
                <md-divider ></md-divider>
                <div layout="row" layout-wrap class="text-right" layout-align="end end" layout-padding>
                    <a class="font-14 chrome-weight" ui-sref="app.art.notes({id:ScreenSets[0].screen_id})">View Notes</a>
                </div>
            </md-card>
        </div>

        <div class="pull-right">
            <md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row">
                <button type="button" class="md-raised md-primary stokkup-custom-btn1 stokkup-blue-btn m-b-20" aria-label="Generate Art Approval Form" ng-click="printPdf()"><span class="ng-scope">GENERATE PRESS INSTRUCTIONS</span></button>
            </md-dialog-actions>
        </div>
    </div>
</div>