
<!-- Background video -->
  <video autoplay  poster="images/login_bg/bg_vid.jpg" id="bgvid" loop>
    <!--source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm"-->
    <source src="images/login_bg/video1.mp4" type="video/mp4">
  </video>
  <!-- End -->

  
  
  <div class="center-block w-xxl w-auto-xs p-v-md" id="loginCtrl">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <img alt="STOKKUP" src="images/logo-stokkup-login.png">
        
      </div>
    </div>
 
    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b text-sm">
        <flash:messages class="login-flash"></flash:messages>
      </div>
      <form name="loginform" name="loginForm" class="form-horizontal form-validation" data-ng-submit="dosignin()">
        <div class="md-form-group float-label">
          <!-- <input type="email" class="md-input" ng-model="user.email" required> -->
          <input type="username" name="username" class="md-input" ng-model="user.username"  ng-required="true">

          <label>User Name <span style="color:#f44336" ng-show="loginform.username.$error.required">
                                    *</span></label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" name="password" class="md-input" ng-model="user.password" ng-required="true">
      
          <label>Password<span style="color:#f44336" ng-show="loginform.password.$error.required">
                                    *</span></label>
        </div>      
  <!--       <div class="m-b-md">        
          <label class="md-check">
            <input type="checkbox"><i class="indigo"></i> Keep me signed in
          </label>
        </div> -->
        <button md-ink-ripple type="submit" class="md-btn md-raised indigo-button btn-block p-h-md">Sign in</button>
      </form>
    </div>

<!--     <div class="p-v-lg text-center">
      <div class="m-b"><button ui-sref="access.forgot-password" class="md-btn">Forgot password?</button></div>
      <div>Do not have an account? <button ui-sref="access.signup" class="md-btn">Create an account</button></div>
    </div> -->
  </div>
