  <div class="center-block w-xxl w-auto-xs p-v-md" id="loginCtrl">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <img alt="STOKKUP" src="images/logo-stokkup-login.png">
        
      </div>
    </div>
 <flash:messages></flash:messages>
    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b text-sm">
        Sign in with your {{app.sitename}} Account
      </div>
      <form name="form" name="loginForm" class="form-horizontal form-validation" data-ng-submit="dosignin()">
        <div class="md-form-group float-label">
          <!-- <input type="email" class="md-input" ng-model="user.email" required> -->
          <input type="username" class="md-input" ng-model="user.username" required>
          <label>User Name</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="user.password" required>
          <label>Password</label>
        </div>      
  <!--       <div class="m-b-md">        
          <label class="md-check">
            <input type="checkbox"><i class="indigo"></i> Keep me signed in
          </label>
        </div> -->
        <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md">Sign in</button>
      </form>
    </div>

<!--     <div class="p-v-lg text-center">
      <div class="m-b"><button ui-sref="access.forgot-password" class="md-btn">Forgot password?</button></div>
      <div>Do not have an account? <button ui-sref="access.signup" class="md-btn">Create an account</button></div>
    </div> -->
  </div>
