<div class="order-info-page">
    <div class="header"  layout="column">
        <div class="header-content" layout="row" layout-align="start" layout-wrap flex layout-padding>

            <h1 flex="4">Demo Order  548 for Company: </h1>
            <md-input-container md-no-float class="md-block" flex="3">
                <input placeholder="">
            </md-input-container>
        </div>
        <div class="order-information" layout="row" layout-align="start" layout-wrap flex layout-padding>
            <div class="info-order" flex="80">
                <div class="title" layout-padding><span class="h4 text-semibold">Information</span></div>
                <md-card layout="row">

                    <md-card-content flex="80" layout="column">
                        <div layout="row" layout-wrap>
                            <div class="trans-box">
                                <div>Customer PO</div>
                                <span>######</span>
                            </div>
                            <div class="trans-box">
                                <div>Sales</div>
                                <span>Keval Baxi</span>
                            </div>
                            <div class="trans-box">
                                <div>Blind</div>
                                <span>Yes</span>
                            </div>
                            <div class="trans-box">
                                <div>Account Manager</div>
                                <span>Nancy McPhee</span>
                            </div>
                            <div class="trans-box">

                                <div>Main Contact</div>
                                <span>Joshi Goodman</span>
                            </div>
                            <div class="trans-box">
                                <div>Price Grid</div>
                                <span>ABC Grid</span>
                            </div>
                            
                        </div>
                    </md-card-content>
                    <div layout-align="end start"  flex="20" layout="row">

                        <md-menu>
                            <md-button aria-label="Main Contact Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button>
                                        Main Contact Options
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                </md-card>

            </div>
            <div classs="" flex="20">
                <md-button  class="bg-grey" >
                    CONFIRM PRICING
                               
                            </md-button>
                <md-button  class="bg-grey" >
                    EMAIL
                               
                            </md-button>
                <md-button  class="bg-grey" >
                    PRINT
                               
                            </md-button>
                <md-button  class="bg-grey" >
                   ASSIGN/SPLIT AFFILIATE
                               
                            </md-button>
            </div>

        </div>
    </div>
    
    
    <div class="content order-info-page">
    <div class="simple-table-container md-whiteframe-4dp">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20>
                Design
            </div>
           
            
            <div class="order-modal-title " layout="row" layout-align="end center"flex=11 >
                <md-button class="dark-bg">
                    CONFIRM PRICING
            </md-button>
            </div>
        </div>
        <div class="ms-responsive-table-wrapper">
            <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstanceCB" dt-options="vm.dtOptions"  dt-columns="showCase.dtColumns">
                
               <thead>
                                <th>ID</th>
                                <th>Design Name</th>
                                <th>Total Qty</th>
                                <th>Total # of Colors</th>
                                <th>Status</th>
                                <th></th>
                                
                                </thead>
                                <tbody>
                                    <tr ng-repeat="design in ::vm.designs">
                                        <td>{{ design.id}}</td>
                                        <td>{{ design.designName}}  
                                <md-tooltip md-direction="bottom">
                                    Front & Back
                                </md-tooltip>
                        </td>
                        <td>{{ design.total}}</td>
                        <td>{{ design.totalcolor}}</td>
                       
                        <td>{{ design.status}}
                <md-slider flex ng-model="color.blue" min="0" max="255" aria-label="blue" id="blue-slider" class="md-primary blue-color">
                </md-slider>
             
                </td> 
                <td class="text-right"> 
                                    <md-menu>
                                        <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button>
                                                    Edit Contact
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button>
                                                    Delete Contact
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button>
                                                    Set As Main Contact
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    </td>
                </tr>
                </tbody> 
            </table>
        </div>
    </div>
</div>
    <div class="content order-info-page page-2" layout="row">
    <div class="simple-table-container md-whiteframe-4dp" flex="80">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20>
                Purchase Order
            </div>
                         </div>
        <div class="ms-responsive-table-wrapper">
            <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstanceCB" dt-options="vm.dtOptions"  dt-columns="showCase.dtColumns">
                
               <thead>
                                <th>PO #</th>
                                <th>PO Type</th>
                                <th>Client Name</th>
                                <th>Vendor/Affiliate</th>
                                <th>Date Created</th>
                                <th></th>
                                
                                </thead>
                                <tbody>
                                    <tr ng-repeat="puchase in ::vm.purchases">
                                        <td>{{ puchase.poid}}</td>
                                        <td>{{ puchase.potype}}  
                               
                        </td>
                        <td>{{ puchase.clientName}}</td>
                        <td>{{ puchase.vendor}}</td>
                       
                        <td>{{ puchase.dateCreated}}
                
                </td> 
                <td class="text-right"> 
                    <a>VIEW PO</a>
                                    </td>
                </tr>
                </tbody> 
            </table>
        </div>
    </div>
        <div class="" flex="20">
            <md-card>
                                    
                                    <md-card-title>
                                        <md-card-title-text>
                                            Package Information
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <div class="card-box" layout="row" layout-align="space-between center">
                                <div>Foil</div>
                                <span>4</span>
                            </div>
                                        <div class="card-box" layout="row" layout-align="space-between center">
                                <div>Over Size Screens</div>
                                <span>5</span>
                            </div>
                                        <div class="card-box" layout="row" layout-align="space-between center">
                                <div>SKU</div>
                                <span>2</span>
                            </div>
                                        <div class="card-box" layout="row" layout-align="space-between center">
                                <div>Poly Bagging</div>
                                <span>5</span>
                            </div>
                                        <div class="card-box" layout="row" layout-align="space-between center">
                                <div>Hang Tag</div>
                                <span>1</span>
                            </div>
                                        <div class="card-box" layout="row" layout-align="space-between center">
                                <div>Inside Tagging</div>
                                <span>4</span>
                            </div>
                                    </md-card-content>
                                </md-card>
        </div>
</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   