.trans-box {
    md-input-container{
        margin: 0
    }
    padding: 13px;
    width: 25%;
    > div {
        font-size: 14px;
    }
    > span{

        color: #cccccc;
        font-size: 12px;

    }
}
.bg-grey{
    background: #ccc;
    color: #fff;
    
    width: 187px;
}
.info-order {
    padding: 0;
.layout-row.md-default-theme {
    margin: 0;
}
.f-52 {
    font-size: 39px !important; 
}
.m-r-0{margin-right: 0 !important}
    
}
.order-info-page {
    .dataTables_length{
        display: none;
    }
    .dataTables_filter{
        display: none
    }
    .bottom{
        .left{display: none;}
        .right{display: none;}
        
    }
    .top{
        display: none;
    }
   
}
button.dark-bg {
    background: #999;
    span{
        color: #fff !important;
            font-size: 12px;
    }
}
.content.order-info-page {
     margin: 10px;
     td{
        padding: 0 24px !important;
    }
   
}
.margin{margin: 10px}


  


.m-l-20{margin-left:  20px !important;
        md-card{
        margin: 0 8px;
        .card-box {
    padding: 10px 0;
}
        
    }
 
       
}
  .m-l-20 md-card-title {
    background: #eeeeee none repeat scroll 0 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
     padding: 10px 6px;
}
.text-left {
    text-align: left !important;
}
.m-r-15{margin-right: 15px !important}
.m-b-20{margin-bottom: 20px !important}
.h2.semibold.f-52 {
    font-size: 39px;
}
.m-l-20 md-card {
    margin: 0;
}
.right-m-0{
    margin-right: 0!important
}
.footer{background: #fff}