<md-dialog class="task-dialog order-dialog" aria-label="New order">
    <form name="orderForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Email: INVOICE PDF</span>
                <md-button  ng-click="cancel()" class="close-stokkup-dialog">
                    <span>close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll class="email-dialog">
           <!--  <div layout="column" layout-wrap="nowrap" class="order-add-modal m-b-20 email-from-box" layout-padding>
                <span class="stokkup-title-h4 email-heads">From : {{email}}</span>
            </div> -->

            <div layout="column" layout-wrap="nowrap" class="order-add-modal m-t-15 m-b-20" layout-padding>
                <md-input-container class="first-box">
                    <label for="mailadd">Subject<span class="stokkup-req-fields">*</span></label>
                    <input  id="mailadd" ng-model="subject">
                    
                </md-input-container>
            </div>


            <div layout="column" layout-wrap="nowrap" class="order-add-modal m-t-15 m-b-20" layout-padding>
                <md-input-container class="first-box">
                    <label for="mailadd">Email Address<span class="stokkup-req-fields">*</span></label>
                    <input  id="mailadd" ng-model="allCompany[0].billing_email">
                    <span class="mail-add-note m-t-10">Use commas to separate multiple addresses</span>
                </md-input-container>
            </div>

            <div layout="column" layout-wrap="nowrap" class="order-add-modal" layout-padding>
                <md-input-container class="md-block md-default-theme" style="height: auto;">
                    <label for="input_44">Message</label>
                    <textarea  md-select-on-focus="" rows="1" ng-model="mailMessage" class="email-txtarea ng-pristine ng-valid md-input ng-empty ng-touched" id="input_44" aria-invalid="false"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
                    <!-- <md-button ng-click="cancel()" class="md-primary md-hue-1 md-accent ">Cancel</md-button> -->
                    <md-button class="stokkup-custom-btn1 stokkup-blue-btn md-button" ng-click="sendMail(allCompany[0].billing_email,mailMessage,subject)">send</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>