<md-dialog class="task-dialog addEmployeeDialog" >
<form name="laborform" class="md-inline-form" novalidate>
    <div class="client-profile-page">
    <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Edit Shift</span>
                <md-button  ng-click="closeDialog()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
    <div ng-cloak>
    <md-card-content layout="column" class="box-shadow-0" ng-class="{'disable-click': all_scope.allow_access==0}">

     


        <div layout="row" layout-wrap>


             <div class="div-1000" id="custChkboxes1">
                                <div class="customChkbox md-raised" ng-repeat="DaysAll in params.DisplayDays">
                                     <input type="checkbox"  ng-checked="params.AllDays.indexOf(DaysAll.id) > -1"   value="{{DaysAll.id}}" id="{{DaysAll.id}}"  />
                                    <label for="{{DaysAll.id}}" class="form-control">{{DaysAll.name}}</label>
                                </div>
                           

             </div>

                <md-input-container class="md-block first-box settings-margin-0 margin-top-25 width-400">
                    <input placeholder="Shift Name *" required name="shift_name"  ng-model="params.shift_name">
                     <div ng-messages="laborform.shift_name.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>

               
                           

        </div>
    </md-card-content>
       
    </div>
</div>
<table> 
    <tr>
        <td class="p-16 td-500">
        
            <md-button class="bg-blue float-right" ng-show="flag=='add' && all_scope.allow_access==1" ng-disabled="laborform.$invalid" ng-click="InsertTableData(params,'labor')">
                    SAVE
            </md-button>

             <md-button class="bg-blue float-right"  ng-show="flag=='edit' && all_scope.allow_access==1"  ng-disabled="laborform.$invalid" ng-click="UpdateTableDataAll(params,'labor','id',params.id,'labor')">
                    UPDATE
            </md-button>

            
        </td>  
    </tr>
</table>
</form>
</md-dialog>