<div class="main-design-page m-r-15 m-l-20 m-b-20">
    <div class="header"  layout="column">
        <div class="header-content" layout="row" layout-align="start" layout-wrap flex layout-padding>
        </div>
        <div class="order-information m-b-20" layout="row" layout-align="start" layout-wrap flex >
            <div class="info-order" flex="100">
                
                <md-card layout="row">
                    
                    <md-card-content flex="50" layout="column">
                        <div class="title" layout-padding><span class="basicInfoStyle">BASIC INFORMATION</span></div>   
                        
                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                            <input placeholder="Name" name="name" ng-model="company.name" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'users\',\'id\',company.id,\'company\')' }">
                        </md-input-container>

                        <md-input-container class="md-block first-box settings-margin-0">
                            <input placeholder="Email Address" name="email" ng-model="company.email" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'users\',\'id\',company.id,\'company\')' }">
                        </md-input-container>

                        <md-input-container class="md-block first-box settings-margin-0">
                            <input placeholder="Phone Number" name="phone" ng-model="company.phone" ui-event="{ change : 'UpdateTableField($event.target.name,$event.target.value,\'users\',\'id\',company.id,\'company\')' }">
                        </md-input-container>

                         <div class="title" layout-padding><span class="basicInfoStyle">PASSWORD</span></div>   

                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                            <input placeholder="Password" type="password" value="*****" >
                         </md-input-container> 

              <!--            <div class="title" layout-padding>
                            <span class="basicInfoStyle">CHANGE PASSWORD</span>
                        </div>       -->
                        <div class="title" layout-padding>
                            <button class="edgePadding basicInfoStyle" ng-click="vm.openChangePasswordialog($event)" >
                                CHANGE PASSWORD
                            </button>
                        </div>

                        
                      </div>

                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>