<md-dialog class="task-dialog affiliate-dialog information-dialog" aria-label="New order">
    <form name="orderForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Information</span>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll class="m-t-10">
            
            <div layout="column" layout-wrap="nowrap" class=" p-l-0" layout-padding>
                <md-input-container class="margin-0 p-l-0" layout="row">
                    <label  class="font-14 p-l-0">Sales</label>
                    <md-select ng-model="order_data.sales_id" flex="100"  class="select-width font-16 font-weight"  >
                        <md-option  ng-repeat="staff in staffList" value="{{staff.id}}">
                            {{staff.first_name}}&nbsp;{{staff.last_name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="column" layout-wrap="nowrap" class="p-l-0" layout-padding>
                <md-input-container class="margin-0 p-l-0" layout="row">
                    <label  class="font-14 p-l-0">Blind</label>
                    <md-select ng-model="order_data.is_blind" flex="100"  class="select-width font-16 font-weight"  >
                        <md-option value="0">No</md-option>
                        <md-option value="1">Yes</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column" layout-wrap="nowrap" class="p-l-0 " layout-padding>
                <md-input-container class="margin-0 p-l-0" layout="row">
                    <label  class="font-14 p-l-0">Account Manager</label>
                    <md-select ng-model="order_data.account_manager_id" flex="100"  class="select-width font-16 font-weight"  >
                        <md-option  ng-repeat="user in brandCoList" value="{{user.id}}">
                            {{user.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            
            <div layout="column" layout-wrap="nowrap" class="p-l-0 " layout-padding>
                <md-input-container class="margin-0 p-l-0" layout="row">
                    <label  class="font-14 p-l-0">Price Grid</label>
                    <md-select ng-model="order_data.price_id" flex="100"  class="select-width font-16 font-weight"  >
                        <md-option  ng-repeat="data in allGrid" value="{{data.id}}">
                            {{data.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="cancel()" class="md-primary md-hue-1 md-accent ">Cancel</md-button>
            <md-button ng-click="saveOrderInfo(order_data)" class="md-accent md-raised">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog> 