<div class="main-design-page">
    <div class="header"  layout="column">

        <div class="inner-full-box m-t-10">
            <div class="content client-list-page stockkup-content-table-container">
    <div class="simple-table-container md-whiteframe-4dp stokkup-main-tableview">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20>
                <!-- Clients -->
            </div>
            <div class="pull-right right-search-box">
                <div class="client-modal-title pull-right" ng-if="role_slug=='CA' || role_slug=='AM' || role_slug=='FM' || role_slug=='PU' || role_slug=='SM'">
                    <span class="cursor-p stokkup-btn-style1" ng-click="vm.openClientDialog($event)">Add New</span>
                </div>
            </div>
        </div>
        <div class="ms-responsive-table-wrapper" ng-show="success==1">
            <div tasty-table bind-resource-callback="getResource" bind-init="init"  bind-filters="filterBy" bind-reload="reloadCallback" >
                 <table class="dataTable row-border">
                    <thead tasty-thead></thead>
                    <tbody>

                        <tr ng-repeat="client in rows" >
                            <td ui-sref="app.client.profile({id:client.display_number})" class="cursor-p">{{ client.display_number }}</td>
                            <td ui-sref="app.client.profile({id:client.display_number})" class="cursor-p">{{ client.client_company }}</td>
                            <td>{{ client.first_name }} {{client.last_name}}</td>
                            <td>{{ client.phone }}</td>
                            <td>{{ client.email }}</td>

                            <td ng-show="role_slug=='SM' && allow_access==1 && client.login_id==user_id"> 
                                <md-menu>
                                    <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4"> 
                                        <md-menu-item >
                                            <md-button ng-click="delete_client($event,client.client_id)">
                                                Remove Client
                                            </md-button>
                                        </md-menu-item>                                      
                                    </md-menu-content>
                                </md-menu>
                            </td>
                             <td ng-show="role_slug!='SM' && allow_access==1"> 
                                <md-menu>
                                    <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4"> 
                                        <md-menu-item >
                                            <md-button ng-click="delete_client($event,client.client_id)">
                                                Remove Client
                                            </md-button>
                                        </md-menu-item>                                      
                                    </md-menu-content>
                                </md-menu>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <div tasty-pagination class="tasty-page"></div>
            </div>
        </div>
        <div  class="ms-responsive-table-wrapper" ng-show="success==0">
           <table class="simple">
                <thead>
                    <tr>
                        <th>No Records Found</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

        </div>
    </div>
</div>