<md-dialog class="task-dialog createPriceGridDialog" >
    <div class="client-profile-page">
    <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">ADD EMPLOYEE</span>
                <md-button  ng-click="cancel()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
    <div ng-cloak>
        <md-content>
                <label class="priceGridTr">Permission Role</label>
                <md-input-container flex=30 class="m-b-20 m-t-25">
                    <label class="state-label-color">State</label>
                    <md-select ng-model="">
                        <md-option value="0">Select Role</md-option>
                        <md-option>Super Admin</md-option>
                        <md-option>Brand Coordinator</md-option>
                        <md-option>Art Team</md-option>
                    </md-select>
                </md-input-container>

                <label class="priceGridTr">Name</label>
                <md-input-container class="first-box settings-margin-0 margin-top-25 font-13-priceGrid">
                    <input placeholder="Name" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
        </md-content>
    </div>
</div>
<table> 
    <tr>
        <td class="p-16">
            <md-button class="bg-blue" ng-click=" ">
                    SAVE
            </md-button>
        </td>  
    </tr>
</table>
</md-dialog>