<md-dialog class="task-dialog qbActivewearDialog" >
    <form name="integration_form" class="md-inline-form" novalidate>
        <div class="client-profile-page">
            <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Quickbook API INTEGRATION</span>
                <md-button  ng-click="closeDialog()" class="close-stokkup-dialog">
                <span>close</span>
                </md-button>
            </div>
            </md-toolbar>
            <div ng-cloak>
                <md-dialog-content ms-scroll>
                <div layout="row" layout-wrap="nowrap" layout-padding layout-align="space-between start" class="popup-stokkup-modal">
                    <div layout="column"  flex="100" class="p-0 pt-15">
                        <md-input-container class="md-block">
                        <input placeholder="Consumer Key" name="consumer_key" ng-model="params.consumer_key">
                        </md-input-container>
                        <md-input-container class="md-block">
                        <input placeholder="Consumer Secret Key" name="consumer_secret_key" ng-model="params.consumer_secret_key" >
                        </md-input-container>
                        
<!--                         <md-input-container>
                            <label class="selectbox-label">Test Mode</label>
                            <md-select name="is_sandbox" ng-model="params.is_sandbox" flex="100" >
                                <md-option ng-selected="params.is_sandbox==1" value="1">
                                    Yes
                                </md-option>
                                <md-option ng-selected="params.is_sandbox==0" value="0">
                                    No
                                </md-option>
                            </md-select>
                        </md-input-container> -->
                        
                    </div>
                </div>
                </md-dialog-content>
            </div>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button class="stokkup-custom-btn1 stokkup-blue-btn text-white pull-right" id="affiliateSaveBtn" ng-click="UpdateTableData(params,'quickbook_detail','id',params.id,'quickbook')">
                SAVE
                </md-button>
            </md-dialog-actions> 
    </form>
        </div>
    </form>
</md-dialog>