<md-dialog class="task-dialog addEmployeeDialog" >
<form name="employeeform" class="md-inline-form" novalidate>

    <div class="client-profile-page">
    <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Edit Employee</span>
                <md-button  ng-click="closeDialog()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
    <div ng-cloak>
    <md-card-content layout="column" class="box-shadow-0">
        <div layout="row" layout-wrap>
                <md-input-container flex=30 class="m-b-20 m-l-10 width-400">
                    <label class="state-label-color">Permission Role</label>
                    <md-select ng-model="users.role_id" name="role" aria-label="Permission Role">
                     <md-option value="" >
                        Select Role
                       </md-option>
                      <md-option ng-repeat="role in rolelist" ng-selected="{{users.role_id==role.id}}" value="{{role.id}}" >
                        {{role.title}}
                       </md-option>
                    </md-select> 
                           
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25 width-400">
                    <input placeholder="Name" name="name"  ng-model="users.name" required>
                    <div ng-messages="employeeform.name.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                 <md-input-container class="md-block first-box settings-margin-0 margin-top-25 width-400">
                    <input placeholder="Email" name="email" required ng-model="users.email">
                    <div ng-messages="employeeform.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span >This field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Email must be a valid e-mail address</span>
                        </div>
                    </div> 
                </md-input-container>

        </div>
    </md-card-content>
       
    </div>
</div>
<table> 
    <tr>
        <td class="p-16 td-500">
            <md-button class="bg-blue float-right" ng-disabled="employeeform.$invalid" ng-click="SaveRecords(users)">
                    SAVE
            </md-button>
        </td>  
    </tr>
</table>
</form>
</md-dialog>