
    <div class="client-profile-page">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom class="client-profile-tab">
                <!-----------------Charges Tab-------------------->
                <md-tab label="Charges">
                    <div ng-include src="'app/main/settings/views/priceGrid/priceGrid_charges.html'"></div>
                </md-tab>
                <!-----------------Charges List Tab-------------------->
                <md-tab label="Charges List">
                    <div ng-include src="'app/main/settings/views/priceGrid/priceGrid_chargesList.html'"></div>
                </md-tab>
                <!-----------------Screen Printing Primary Tab-------------------->
                <md-tab label="Screen Printing Primary">
                    <div ng-include src="'app/main/settings/views/priceGrid/priceGrid_screenPrintingPrimary.html'"></div>
                </md-tab>
                <!-----------------Screen Printing Secondary Tab-------------------->
                <md-tab label="Screen Printing Secondary">
                    <div ng-include src="'app/main/settings/views/priceGrid/priceGrid_screenPrintingSecondary.html'"></div>
                </md-tab>
                <!-----------------Embroidery Tab-------------------->
                <md-tab label="Embroidery">
                    <div ng-include src="'app/main/settings/views/priceGrid/priceGrid_embroidery.html'"></div>
                </md-tab>
                <!-----------------Direct to Garment Tab-------------------->
                <md-tab label="Direct to Garment">
                    <div ng-include src="'app/main/settings/views/priceGrid/priceGrid_directToGarment.html'"></div>
                </md-tab>
                <!-----------------Garment Markup Tab-------------------->
                <md-tab label="Garment Markup">
                    <div ng-include src="'app/main/settings/views/priceGrid/priceGrid_garmentMarkup.html'"></div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
