
                    <md-content class="md-padding">
                        <div class="simple-table-container md-whiteframe-4dp">
                            <div class="table-title padding-panelTitle" layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=40>
                                    <label class="priceGridTr">Price Increase by %</label>
                                    <md-input-container class="first-box settings-margin-0 margin-top-25 font-13-priceGrid">
                                        <input placeholder="" name="" ui-event="" valid-number aria-label="a">
                                    </md-input-container>
                                </div>
                                <div class="table-title-text" flex=40>
                                    <label class="priceGridTr">Price Increase by amount</label>
                                    <md-input-container class="first-box settings-margin-0 margin-top-25 font-13-priceGrid">
                                        <input placeholder="" name="" ui-event="" valid-number aria-label="a">
                                    </md-input-container>
                                </div>
                            </div>
                            <md-card layout="row">
                            <md-card-content layout="column" class="box-shadow-0">
                                <div layout="row" layout-wrap>
                                    <div class="trans-box">
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Discharge" name="" ui-event="" valid-number aria-label="Discharge" ng-model="price.discharge">
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Speciality" name="" ui-event="" valid-number aria-label="Speciality" ng-model="price.specialty">
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Color Matching" name="" ui-event="" valid-number aria-label="Color Matching" ng-model="price.color_matching">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Embroidered Names" name="" ui-event="" valid-number aria-label="Embroidered Names" ng-model="price.embroidered_names">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Shipping Charge" name="" ui-event="" valid-number aria-label="Shipping Charge" ng-model="price.shipping_charge">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="trans-box">
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Foil" name="" ui-event="" valid-number aria-label="Foil" ng-model="price.foil">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Folding" name="" ui-event="" valid-number aria-label="Folding" ng-model="price.folding">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Hang Tag" name="" ui-event="" valid-number aria-label="Hang Tag" ng-model="price.hang_tag">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Ink Changes" name="" ui-event="" valid-number aria-label="Ink Changes" ng-model="price.ink_changes">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="trans-box">
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Numbers on Dark" name="" ui-event="" valid-number aria-label="Numbers on Dark" ng-model="price.number_on_dark">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Numbers on Light" name="" ui-event="" valid-number aria-label="Numbers on Light" ng-model="price.number_on_light">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Oversize" name="" ui-event="" valid-number aria-label="Oversize" ng-model="price.over_size">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Oversize Screens" name="" ui-event="" valid-number aria-label="Oversize Screens" ng-model="price.over_size_screens">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="trans-box">
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Poly Bagging" name="" ui-event="" valid-number aria-label="Poly Bagging" ng-model="price.poly_bagging">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Press Setup" name="" ui-event="" valid-number aria-label="Press Setup" ng-model="price.press_setup">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Printed Name" name="" ui-event="" valid-number aria-label="Printed Name" ng-model="price.printed_names">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                                            <input placeholder="Screen Fees" name="" ui-event="" valid-number aria-label="Screen Fees" ng-model="price.screen_fees">
                                            <div ng-messages=" " role="alert" multiple>
                                                <div ng-message="required">
                                                    <span>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <!-- <div class="trans-box" flex="80">
                                        <p class="font-14 chrome-weight" flex="40">Order Line Total: 500</p>
                                        <p class="font-14 chrome-weight" flex="40">Order Line Receiveds: 500</p>
                                    </div> -->
                                </div>
                            </md-card-content>
</md-card>
                                
                            </div>
                    </md-content>
                
                <div class="float-right">
                    <md-button class="bg-blue" ng-click=" ">
                            SAVE
                    </md-button>
                </div>