    <div class="content order-info-page m-b-20">
        <div class="simple-table-container md-whiteframe-4dp">
            <div class="pd15-TLR paddingbottom-0" layout="row" layout-align="space-between center">
                <div class="table-title-text h2 text-semibold" flex=20>
                    <div class="title"><span class="basicInfoStyle">COMPANY PRICE GRIDS</span></div>
                </div>
                <!-- 
                  <div class="order-modal-title " layout="row" layout-align="end end" flex="35" >

                        <form name="uploadPricecsv" id="uploadPricecsv" action="api/public/admin/uploadPricingCSV" method="post" enctype="multipart/form-data" target="_blank" class="width-auto">
                        <div class="fileUpload">
                            <input type="file" name="file" id="file" class="upload" ng-model="file">
                            <md-tooltip md-direction="bottom">Upload CSV File</md-tooltip>
                            <input type="hidden" name="company_id" id="company_id" value="{{company_id}}">
                            <span>Upload CSV</span>
                        </div>
                        <a href="#" class="btn-typ-submit" ng-click="submitPriceForm()">
                            <span class="icon icon-upload"></span>
                        </a>
                       </form>
                        <form name="downloadPricecsv" id="downloadPricecsv" action="api/public/admin/downloadPricegridCSV" method="post" enctype="multipart/form-data" class="mrg10-L width-auto">
                            <a href="#" class="btn-typ-submit" ng-click="submitPriceGridDownload()" class="btn-typ-submit">
                                <span class="icon icon-download"></span>
                                <md-tooltip md-direction="bottom">Download CSV Sample File</md-tooltip>
                            </a>
                       </form>


                            <form style="border: 4px solid #a1a1a1;margin-top: 15px;padding: 10px;" action="api/public/admin/uploadPricingCSV" class="form-horizontal" method="post" enctype="multipart/form-data">

                                        <input type="file" name="import_file" />

                                        <button class="btn btn-primary">Import File</button>

                                    </form>
               
                </div>  -->
               
            </div>
            <div class="ms-responsive-table-wrapper priceGridTableContainer pd15-LR">
                <div class="font-13 text-bold mrg10-T">Price Grid Name</div>
                <div class="order-container" ms-scroll>
                    <table class="simple row-border hover" id="priceGrid" dt-options="vm.dtOptions">
                       <tbody>
                            <tr class="cursor-p" ng-repeat="price_data in price">
                                <td class="" ui-sref="app.settings.price-info({id:price_data.id})">{{price_data.name}}</td>
                                <td class="text-right "> 
                                    <md-menu>
                                        <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-click="updateTableField('is_delete','0','price_grid','id',price_data.id)">
                                                    Delete Price Grid
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>
    </div>