
                    <md-content class="md-padding">
                        <div class="simple-table-container md-whiteframe-4dp">
                            <div class="table-title padding-panelTitle" layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=40>
                                    <label class="priceGridTr">Price Increase by %   </label>
                                    <md-input-container class="first-box settings-margin-0 margin-top-25 font-13-priceGrid">
                                        <input placeholder="" name="" ui-event="" valid-number aria-label="a">
                                        
                                    </md-input-container>
                                </div>
                                <div class="table-title-text" flex=40>
                                    <label class="priceGridTr">Price Increase by amount   </label>
                                    <md-input-container class="first-box settings-margin-0 margin-top-25 font-13-priceGrid">
                                        <input placeholder="" name="" ui-event="" valid-number aria-label="a">
                                       
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="ms-responsive-table-wrapper innertab-scroll">
                                <table class="simple" id="directToGarment">
                    <thead>
                        <tr>
                            <th class="secondary-text pricewidth-10 pricePad-10 pricePad-10">
                                <div class="table-header">
                                    <span class="column-title">Low Range</span>
                                </div>
                            </th>
                            <th class="secondary-text pricewidth-10 pricePad-10">
                                <div class="table-header">
                                    <span class="column-title">High Range</span>
                                </div>
                            </th>
                            <th class="secondary-text pricewidth-10 pricePad-10">
                                <div class="table-header">
                                    <span class="column-title">4*4 Light</span>
                                </div>
                            </th>
                            <th class="secondary-text pricewidth-10 pricePad-10">
                                <div class="table-header">
                                    <span class="column-title">4*4 Dark</span>
                                </div>
                            </th>
                            <th class="secondary-text pricewidth-10 pricePad-10">
                                <div class="table-header">
                                    <span class="column-title">6*6 Light</span>
                                </div>
                            </th>
                            <th class="secondary-text pricewidth-10 pricePad-10">
                                <div class="table-header">
                                    <span class="column-title">6*6 Dark</span>
                                </div>
                            </th>
                            <th class="secondary-text pricewidth-10 pricePad-10">
                                <div class="table-header">
                                    <span class="column-title">10*10 Light</span>
                                </div>
                            </th>
                            <th class="secondary-text pricewidth-10 pricePad-10">
                                <div class="table-header">
                                    <span class="column-title">10*10 Dark</span>
                                </div>
                            </th>
                            <th class="secondary-text pricewidth-10 pricePad-10">
                                <div class="table-header">
                                    <span class="column-title">12*12 Light</span>
                                </div>
                            </th>
                            <th class="secondary-text pricewidth-10 pricePad-10">
                                <div class="table-header">
                                    <span class="column-title">12*12 Dark</span>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d_garment in allGarment">
                            <td class="pricewidth-10">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" valid-number aria-label="a" ng-model="d_garment.range_low">
                                  
                                </md-input-container>
                            </td>
                            <td class="pricewidth-10">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" valid-number aria-label="a" ng-model="d_garment.range_high">
                                   
                                </md-input-container>
                            </td>
                            <td class="pricewidth-10">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" valid-number aria-label="a" ng-model="d_garment.pricing_1c">
                                   
                                </md-input-container>
                            </td>
                            <td class="pricewidth-10">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" valid-number aria-label="a" ng-model="d_garment.pricing_2c">
                                   
                                </md-input-container>
                            </td>
                            <td class="pricewidth-10">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" valid-number aria-label="a" ng-model="d_garment.pricing_3c">
                                   
                                </md-input-container>
                            </td>
                            <td class="pricewidth-10">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" valid-number aria-label="a" ng-model="d_garment.pricing_4c">
                                   
                                </md-input-container>
                            </td>
                            <td class="pricewidth-10">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" valid-number aria-label="a" ng-model="d_garment.pricing_5c">
                                   
                                </md-input-container>
                            </td>
                            <td class="pricewidth-10">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" valid-number aria-label="a" ng-model="d_garment.pricing_6c">
                                   
                                </md-input-container>
                            </td>
                            <td class="pricewidth-10">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" valid-number aria-label="a" ng-model="d_garment.pricing_7c">
                                   
                                </md-input-container>
                            </td>
                            <td class="pricewidth-10">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" valid-number aria-label="a" ng-model="d_garment.pricing_8c">
                                   
                                </md-input-container>
                            </td>
                            <td class="pricewidth-10">
                                <i class="icon icon-close" ></i>
                            </td>
                        </tr>   
                                           
                    </tbody>
                </table>
                                <table> 
                                    <tr>
                                        <td class="p-16">
                                            <md-button class="bg-blue" ng-click=" ">
                                                    ADD
                                            </md-button>
                                        </td>                                        
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </md-content>
                
                <div class="float-right">
                    <md-button class="bg-blue" ng-click=" ">
                            SAVE
                    </md-button>
                </div>