
                    <md-content class="md-padding">
                        <div class="simple-table-container md-whiteframe-4dp">
                            <div class="table-title padding-panelTitle" layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=40>
                                    <label class="priceGridTr">Price Increase by %   </label>
                                    <md-input-container class="first-box settings-margin-0 margin-top-25 font-13-priceGrid">
                                        <input placeholder="" name="" ui-event="" aria-label="a" valid-number>
                                    </md-input-container>
                                </div>
                                <div class="table-title-text" flex=40>
                                    <label class="priceGridTr">Price Increase by amount   </label>
                                    <md-input-container class="first-box settings-margin-0 margin-top-25 font-13-priceGrid">
                                        <input placeholder="" name="" ui-event="" aria-label="a" valid-number>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="ms-responsive-table-wrapper innertab-scroll">
                                <table class="simple" id="chargesList">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Item</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Charge</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Time</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Available to</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="price_grid in allPriceGrid">
                            <td class="pricewidth-20">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" aria-label="a" ng-model="price_grid.item">
                                </md-input-container>
                            </td>
                            <td class="pricewidth-20">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" aria-label="a" ng-model="price_grid.charge" valid-number>
                                </md-input-container>
                            </td>
                            <td class="pricewidth-20">
                                <md-input-container class="md-block first-box settings-margin-0">
                                    <input placeholder=" " name="" ui-event="" aria-label="a" ng-model="price_grid.time" valid-number>
                                </md-input-container>
                            </td>
                            <td>
                                <md-checkbox ng-checked="" ng-click="" ng-model="price_grid.is_per_line">
                                    per Line
                                </md-checkbox>
                                <md-checkbox ng-checked="" ng-click="" ng-model="price_grid.is_per_order">
                                    per Order
                                </md-checkbox>
                                <md-checkbox ng-checked="" ng-click="" ng-model="price_grid.is_per_screen_set">
                                    per Screen Set
                                </md-checkbox>
                            </td>
                        </tr>     
                                                       
                    </tbody>
                </table>
                                <table> 
                                    <tr>
                                        <td class="p-16">
                                            <md-button class="bg-blue" ng-click=" " aria-label="a">
                                                    ADD
                                            </md-button>
                                        </td>  
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </md-content>
                
                <div class="float-right">
                    <md-button class="bg-blue" ng-click=" ">
                            SAVE
                    </md-button>
                </div>