
    <md-content class="md-padding">
            <!-- <div class="table-title " layout="row" layout-align="space-between center">
                <div class="table-title-text" flex=20>
                    Art
                </div>
            </div> -->
            <div class="ms-responsive-table-wrapper innertab-scroll height-75">
                <table class="simple">
                    <tbody>
                        <tr>
                            <td>
                                <label class="priceGridTr">Price Increase by %   </label>
                                <md-input-container class="first-box settings-margin-0 margin-top-25">
                                    <input placeholder="Name" name="" ui-event="">
                                    <div ng-messages=" " role="alert" multiple>
                                        <div ng-message="required">
                                            <span>This field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </td>
                            <td>
                                <label class="priceGridTr">Price Increase by amount   </label>
                                <md-input-container class="first-box settings-margin-0 margin-top-25">
                                    <input placeholder="Name" name="" ui-event="">
                                    <div ng-messages=" " role="alert" multiple>
                                        <div ng-message="required">
                                            <span>This field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </td>
                        </tr> 
                    </tbody>
                </table>
            <!--     <table> 
                    <tr>
                        <td class="p-16"><a href="">ADD NEW</a></td>                                                
                    </tr>
                </table> -->
            </div>

            <div class="ms-responsive-table-wrapper innertab-scroll">
                                <table class="simple">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Item</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Charge</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Time</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Available to</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pricewidth-20">
                                                <md-input-container class="md-block first-box settings-margin-0">
                                                    <input placeholder=" " name="" ui-event="">
                                                    <div ng-messages=" " role="alert" multiple>
                                                        <div ng-message="required">
                                                            <span>This field is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td class="pricewidth-20">
                                                <md-input-container class="md-block first-box settings-margin-0">
                                                    <input placeholder=" " name="" ui-event="">
                                                    <div ng-messages=" " role="alert" multiple>
                                                        <div ng-message="required">
                                                            <span>This field is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td class="pricewidth-20">
                                                <md-input-container class="md-block first-box settings-margin-0">
                                                    <input placeholder=" " name="" ui-event="">
                                                    <div ng-messages=" " role="alert" multiple>
                                                        <div ng-message="required">
                                                            <span>This field is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>     
                                        <tr>
                                            <td class="pricewidth-20">
                                                <md-input-container class="md-block first-box settings-margin-0">
                                                    <input placeholder=" " name="" ui-event="">
                                                    <div ng-messages=" " role="alert" multiple>
                                                        <div ng-message="required">
                                                            <span>This field is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td class="pricewidth-20">
                                                <md-input-container class="md-block first-box settings-margin-0">
                                                    <input placeholder=" " name="" ui-event="">
                                                    <div ng-messages=" " role="alert" multiple>
                                                        <div ng-message="required">
                                                            <span>This field is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td class="pricewidth-20">
                                                <md-input-container class="md-block first-box settings-margin-0">
                                                    <input placeholder=" " name="" ui-event="">
                                                    <div ng-messages=" " role="alert" multiple>
                                                        <div ng-message="required">
                                                            <span>This field is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td>
                                            
                                            </td>
                                        </tr>     
                                        <tr>
                                            <td class="pricewidth-20">
                                                <md-input-container class="md-block first-box settings-margin-0">
                                                    <input placeholder=" " name="" ui-event="">
                                                    <div ng-messages=" " role="alert" multiple>
                                                        <div ng-message="required">
                                                            <span>This field is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td class="pricewidth-20">
                                                <md-input-container class="md-block first-box settings-margin-0">
                                                    <input placeholder=" " name="" ui-event="">
                                                    <div ng-messages=" " role="alert" multiple>
                                                        <div ng-message="required">
                                                            <span>This field is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td class="pricewidth-20">
                                                <md-input-container class="md-block first-box settings-margin-0">
                                                    <input placeholder=" " name="" ui-event="">
                                                    <div ng-messages=" " role="alert" multiple>
                                                        <div ng-message="required">
                                                            <span>This field is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </td>
                                            <td>
                                            
                                            </td>
                                        </tr>                                   
                                    </tbody>
                                </table>
                                <table> 
                                    <tr>
                                        <td class="p-16"><a href="javascript:;" ng-click="vm.editCompanyConatct($event,'add','client_contact','contact_form','id',contact.id)">ADD NEW</a></td>                                                
                                    </tr>
                                </table>
                            </div>
                        </div>

    
    </md-content>
<!-- <div class="order-modal-title " layout="row" layout-align="end center" flex=11 >
        
    </div> -->
    <!-- <a class="link-back cursor-p createPriceGridLink" ng-click="">SAVE</a> -->