
                    <md-content class="md-padding">
                        <div class="simple-table-container md-whiteframe-4dp">
                            <div class="table-title padding-panelTitle" layout="row" layout-align="space-between center">
                                <div class="table-title-text" flex=40>
                                    <label class="priceGridTr">Price Increase by %   </label>
                                    <md-input-container class="first-box settings-margin-0 margin-top-25 font-13-priceGrid">
                                        <input placeholder="" name="" ui-event="">
                                        <div ng-messages=" " role="alert" multiple>
                                            <div ng-message="required">
                                                <span>This field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="table-title-text" flex=40>
                                    <label class="priceGridTr">Price Increase by %   </label>
                                    <md-input-container class="first-box settings-margin-0 margin-top-25 font-13-priceGrid">
                                        <input placeholder="" name="" ui-event="">
                                        <div ng-messages=" " role="alert" multiple>
                                            <div ng-message="required">
                                                <span>This field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                            <md-card layout="row">
    <md-card-content layout="column" class="box-shadow-0">
        <div layout="row" layout-wrap>
            <div class="trans-box">
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Discharge" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Speciality" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Color Matching" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Embroidered Names" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Shipping Charge" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div class="trans-box">
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Foil" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Folding" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Hang Tag" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Ink Changes" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div class="trans-box">
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Numbers on Dark" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Numbers on Light" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Oversize" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Oversize Screens" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div class="trans-box">
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Poly Bagging" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Press Setup" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Printed Name" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block first-box settings-margin-0 margin-top-25">
                    <input placeholder="Screen Fees" name="" ui-event="">
                    <div ng-messages=" " role="alert" multiple>
                        <div ng-message="required">
                            <span>This field is required</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <!-- <div class="trans-box" flex="80">
                <p class="font-14 chrome-weight" flex="40">Order Line Total: 500</p>
                <p class="font-14 chrome-weight" flex="40">Order Line Receiveds: 500</p>
            </div> -->
        </div>
    </md-card-content>
</md-card>
                                
                            </div>
                    </md-content>
                
                <div class="float-right">
                    <md-button class="bg-blue" ng-click=" ">
                            SAVE
                    </md-button>
                </div>