<div class="content order-list-page puchase-order-page stockkup-content-table-container">
    <div class="simple-table-container md-whiteframe-4dp stokkup-main-tableview">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" flex=20 class="cursor-p" >
                Shipping
            </div>
            <div class="pull-right right-search-box">
                <div class="search-block pull-right">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class="top-srch-label">Search Orders...</label>
                        <input ng-model="name" ui-event="{ change : 'search($event)' }">
                    </md-input-container>
                </div>
                <div class="search-block pull-right">
                    <md-input-container class="md-block">
                        <md-select ng-model="status" flex="100" ng-change="getStatus(status)">
                            <md-option value="">All Status</md-option>
                            <md-option value="1">Not Shipped</md-option>
                            <md-option value="2">Partially Shipped</md-option>
                            <md-option value="3">Completed</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
           <!--  <md-icon md-font-icon="icon-filter-variant" flex="55" class="text-right m-r-30 "></md-icon>  -->
        </div>
        <div class="ms-responsive-table-wrapper" ng-show="success==1">
            <div tasty-table bind-resource-callback="getResource" bind-init="init"  bind-filters="filterBy" bind-reload="reloadCallback" >
                 <table class="dataTable row-border hover">

                    <thead tasty-thead></thead>
                    <tbody>
                        <tr ng-repeat="shipping in rows">
                            <td>{{ shipping.display_number}}</td>
                            <td>{{ shipping.client_company}}</td>
                            <!-- <td>
                                <md-select aria-label="status" ng-model="wait.approval_id" flex="100"  class="margin-0 select-width font-16 font-weight" ng-change="updateOrderStatus('approval_id',wait.approval_id,wait.id)" ng-disabled="allow_access == '0' && wait.login_id!=user_id">
                                <md-option ng-selected="wait.approval_id==misc_approval.id" slug="{{misc_approval.slug}}" ng-repeat="misc_approval in miscData.approval" value={{misc_approval.id}}>{{misc_approval.value}}</md-option>
                            </md-select>
                            </td> -->
                            <td>{{shipping.distributed}}/{{shipping.total}}</td>
                            <td ng-if="shipping.shipping_status == '1'">Not Shipped</td>
                            <td ng-if="shipping.shipping_status == '2'">Partially Shipped</td>
                            <td ng-if="shipping.shipping_status == '3'">Completed</td>
                            <td ng-show="allow_access==1 || shipping.login_id==user_id" class="text-center cursor-p" ui-sref="app.shipping.orderwaitship({id:shipping.display_number})">SHIP</td>
                            <td ng-show="allow_access==0" class="text-center cursor-p">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <div tasty-pagination class="tasty-page"></div>
            </div>
        </div>
        <div  class="ms-responsive-table-wrapper" ng-show="success==0">
           <table class="simple">
                <thead>
                    <tr>
                        <th>No Records Found</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>