<div class="content client-list-page stockkup-content-table-container">
    <div class="tab-view-page simple-table-container stokkup-main-tableview">
        <md-content class="shipping-custom-tab transparent-bg">
            <md-tabs md-dynamic-height md-border-bottom class="client-profile-tab">
                <div class="table-title white-bg bottom-shadow" flex=100 layout="row" layout-align="space-between center">
                    <div class="table-title-text" class="cursor-p">Shipping</div>
                    <!-- <div class="pull-right right-search-box srch-small">
                        <div class="search-block pull-right" ng-show="currentTab == 'wait'" ng-controller="shippingController">
                            <md-input-container class="md-block" flex-gt-sm>
                               <label class="top-srch-label"></label>
                                <input ng-model="name" placeholder="Search Shipping..." ui-event="{ change : 'search($event)' }">
                            </md-input-container>
                        </div>
                        <div class="search-block pull-right" ng-show="currentTab == 'progress'" ng-controller="shippingProgressController">
                            <md-input-container class="md-block" flex-gt-sm>
                               <label class="top-srch-label">Search Shipping...</label>
                                <input ng-model="name" ui-event="{ change : 'search($event)' }">
                            </md-input-container>
                        </div>
                        <div class="search-block pull-right" ng-show="currentTab == 'shipped'" ng-controller="shippingShippedController">
                            <md-input-container class="md-block" flex-gt-sm>
                               <label class="top-srch-label">Search Shipping...</label>
                                <input ng-model="name" ui-event="{ change : 'search($event)' }">
                            </md-input-container>
                        </div> 
                    </div> -->
                </div>
                <!---Order Waiting to Ship Tab-->
                <div ng-controller="shippingController">
                    <md-tab label="Orders Waiting to Ship" ng-click="getTab('wait')">
                        <div class="fixe-top-tabs">
                            <div layout="row" layout-align="space-between right" class="art-search-cntnr">
                                <div class="search-block pd15-L srchstickyright" flex=25>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <!-- <label> <md-icon md-font-icon="icon-magnify"></md-icon></label> -->
                                        <input ng-model="name" placeholder="Search Orders..." ui-event="{ change : 'search($event)' }">
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="ms-responsive-table-wrapper">
                                <div ng-show="success==1" tasty-table bind-resource-callback="getResource" bind-init="init" bind-filters="filterBy" bind-reload="reloadCallback">
                                    <table class="dataTable row-border">
                                        <thead tasty-thead></thead>
                                        <tbody>
                                            <tr ng-repeat="wait in rows">
                                                <td>{{ wait.display_number}}</td>
                                                <td>{{ wait.client_company}}</td>
                                                <td>0/{{ wait.total}}</td>
                                                <td ng-show="allow_access==1" class="text-center cursor-p" ui-sref="app.shipping.orderwaitship({id:wait.display_number})"><a>SHIP</a></td>
                                                <td ng-show="allow_access==0" class="text-center cursor-p"><a>SHIP</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div tasty-pagination class="tasty-page"></div>
                                </div>
                                <div  class="ms-responsive-table-wrapper" ng-show="success==0">
                                    <table class="dataTable row-border">
                                        <thead>
                                            <tr>
                                                <th>No Records Found</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>                 
                    </md-tab>
                </div>
                <!---Order In Progress Tab-->
                <div ng-controller="shippingProgressController">
                    <md-tab label="Orders In Process" ng-click="getTab('progress')">
                        <div layout="row" layout-align="space-between right" class="art-search-cntnr">
                            <div class="search-block pd15-L srchstickyright" flex=25>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <!-- <label> <md-icon md-font-icon="icon-magnify"></md-icon></label> -->
                                    <input ng-model="name" placeholder="Search Orders..." ui-event="{ change : 'search($event)' }">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="ms-responsive-table-wrapper">
                            <div ng-show="success==1" tasty-table bind-resource-callback="getResource" bind-init="init" bind-filters="filterBy" bind-reload="reloadCallback">
                                <table class="dataTable row-border">
                                    <thead tasty-thead></thead>
                                    <tbody> 
                                        <tr ng-repeat="progress in rows">
                                            <td>{{ progress.display_number}}</td>
                                            <td>{{ progress.client_company}}</td>
                                            <td>{{ progress.distributed}}/{{ progress.total}}</td>
                                            <td ng-show="allow_access==1" class="text-center cursor-p" ui-sref="app.shipping.orderwaitship({id:progress.display_number})"><a>SHIP</a></td>
                                            <td ng-show="allow_access==0" class="text-center cursor-p"><a>SHIP</a></td>
                                        </tr>                    
                                    </tbody>
                                </table>
                                <div tasty-pagination class="tasty-page"></div>
                            </div>
                            <div  class="ms-responsive-table-wrapper" ng-show="success==0">
                               <table class="dataTable row-border">
                                    <thead>
                                        <tr>
                                            <th>No Records Found</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </md-tab>
                </div>
                <!---Shipped Orders Tab-->
                <div ng-controller="shippingShippedController">
                    <md-tab label="Shipped Orders" ng-click="getTab('shipped')">
                        <div layout="row" layout-align="space-between right" class="art-search-cntnr">
                            <div class="search-block pd15-L srchstickyright" flex=25>
                                <md-input-container class="md-block" flex-gt-sm>
                                   <!--  <label> <md-icon md-font-icon="icon-magnify"></md-icon></label> -->
                                    <input ng-model="name" placeholder="Search Orders..." ui-event="{ change : 'search($event)' }">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="ms-responsive-table-wrapper">
                            <div ng-show="success==1" tasty-table bind-resource-callback="getResource" bind-init="init" bind-filters="filterBy" bind-reload="reloadCallback">
                                <table class="dataTable row-border">
                                    <thead tasty-thead></thead>
                                    <tbody> 
                                        <tr ng-repeat-start="row in rows">
                                            <td>{{ row.display_number}}</td>
                                            <td>{{ row.client_company}}</td>
                                            <td>{{ row.distributed}}/{{ row.total}}</td>
                                            <td class="accor" ng-show="row.shipping_data.length > 0">
                                                <button ng-if="row.expanded" ng-click="row.expanded = false"><md-icon md-font-icon="icon-minus"></md-icon></button>
                                                <button ng-if="!row.expanded" ng-click="row.expanded = true"><md-icon md-font-icon="icon-plus"></md-icon></button>
                                            </td>
                                            <td ng-if="row.shipping_created == '0'" class="text-center cursor-p" ui-sref="app.shipping.orderwaitship({id:row.display_number})"><a>SHIP</a></td>
                                        </tr>
                                        <tr class="table-desc dev-rdetail-data"  ng-if="row.expanded" ng-repeat-end="">
                                            <td colspan="8" class="collpas">
                                                <table class="dataTable row-border hover">
                                                    <thead>
                                                        <th>Shipping Id</th>
                                                        <th>Job Name</th>
                                                        <th>Shipping By</th>
                                                        <th>In Hands By</th>
                                                        <th>&nbsp;</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="data in row.shipping_data">
                                                            <td>{{data.display_number}}</td>
                                                            <td>{{row.name}}</td>
                                                            <td ng-if="data.shipping_by != '0000-00-00'">{{ data.shipping_by | date:"M/d/yyyy" }}</td>
                                                            <td ng-if="data.shipping_by == '0000-00-00'"></td>
                                                            <td ng-if="data.in_hands_by != '0000-00-00'">{{ data.in_hands_by | date:"M/d/yyyy" }}</td>
                                                            <td ng-if="data.in_hands_by == '0000-00-00'"></td>
                                                            <td class="text-center" ui-sref="app.shipping.shipmentoverview({id:data.id})"><a>SHIPMENT OVERVIEW</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>               
                                    </tbody>
                                </table>
                                <div tasty-pagination class="tasty-page"></div>
                            </div>
                            <div  class="ms-responsive-table-wrapper" ng-show="success==0">
                               <table class="dataTable row-border">
                                    <thead>
                                        <tr>
                                            <th>No Records Found</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </md-tab>
                </div>
            </md-tabs>
        </md-content>
    </div> 
</div>