<div class="content order-list-page">
    <div class="simple-table-container md-whiteframe-4dp">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text pd15-TB" flex=100 class="cursor-p">Shipping</div>
        </div>
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom class="client-profile-tab">
                    <!-----------------Order Waiting to Ship Tab-------------------->
                    <md-tab label="Order Waiting to Ship">
                        <div layout="row" layout-align="space-between right" class="art-search-cntnr">
                            <div class="search-block pd15-L" flex=25>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label> <md-icon md-font-icon="icon-magnify"></md-icon></label>
                                    <input ng-model="vm.searchQuery" >
                                </md-input-container>
                            </div>
                        </div>
                        <div class="ms-responsive-table-wrapper">
                            <table class="simple hover simple-tbl1">
                                <thead>
                                    <tr>
                                        <th class="secondary-text" width="20%">Order ID</th>
                                        <th class="secondary-text" width="30%">Client Name</th>
                                        <th class="secondary-text" width="20%">PO #</th>
                                        <th class="secondary-text" width="15%">Status</th>
                                        <th class="secondary-text text-center" width="15%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr ng-repeat="ows in ::vm.ows" class="cursor-p">
                                        <td>{{ ows.orderId}}</td>
                                        <td>{{ ows.clientName}}</td>
                                        <td>{{ ows.po}}</td>
                                        <td>{{ ows.status}}</td>
                                        <td class="text-center" ui-sref="app.shipping.orderwaitship"><a>SHIP</a></td>
                                    </tr>                    
                                </tbody>
                            </table>
                        </div>                    
                    </md-tab>
                    <!-----------------Order In Progress Tab-------------------->
                    <md-tab label="Order In Progress Set">
                        <div layout="row" layout-align="space-between right" class="art-search-cntnr">
                            <div class="search-block pd15-L" flex=25>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label> <md-icon md-font-icon="icon-magnify"></md-icon></label>
                                    <input ng-model="vm.searchQuery" >
                                </md-input-container>
                            </div>
                        </div>
                        <div class="ms-responsive-table-wrapper">
                            <table class="simple hover simple-tbl1">
                                <thead>
                                    <tr>
                                        <th class="secondary-text" width="20%">Order ID</th>
                                        <th class="secondary-text" width="30%">Client Name</th>
                                        <th class="secondary-text" width="20%">PO #</th>
                                        <th class="secondary-text" width="15%">Status</th>
                                        <th class="secondary-text text-center" width="15%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr ng-repeat="oip in ::vm.oip" class="cursor-p">
                                        <td>{{ oip.orderId}}</td>
                                        <td>{{ oip.clientName}}</td>
                                        <td>{{ oip.po}}</td>
                                        <td>{{ oip.status}}</td>
                                        <td class="text-center" ui-sref="app.shipping.orderwaitship"><a>SHIP</a></td>
                                    </tr>                    
                                </tbody>
                            </table>
                        </div> 
                    </md-tab>
                    <!-----------------Shipped Orders Tab-------------------->
                    <md-tab label="Shipped Orders">
                        <div layout="row" layout-align="space-between right" class="art-search-cntnr">
                            <div class="search-block pd15-L" flex=25>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label> <md-icon md-font-icon="icon-magnify"></md-icon></label>
                                    <input ng-model="vm.searchQuery" >
                                </md-input-container>
                            </div>
                        </div>
                        <div class="ms-responsive-table-wrapper">
                            <table class="simple hover simple-tbl1">
                                <thead>
                                    <tr>
                                        <th class="secondary-text" width="20%">Order ID</th>
                                        <th class="secondary-text" width="30%">Client Name</th>
                                        <th class="secondary-text" width="15%">PO #</th>
                                        <th class="secondary-text" width="15%">Status</th>
                                        <th class="secondary-text text-center" width="20%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr ng-repeat="oip in ::vm.oip" class="cursor-p">
                                        <td>{{ oip.orderId}}</td>
                                        <td>{{ oip.clientName}}</td>
                                        <td>{{ oip.po}}</td>
                                        <td>{{ oip.status}}</td>
                                        <td class="text-center" ui-sref="app.shipping.shipmentoverview"><a>SHIPMENT OVERVIEW</a></td>
                                    </tr>                    
                                </tbody>
                            </table>
                        </div> 
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div> 
</div>
