table.dataTable tbody td:first-child {
    padding-left: 24px !important;
}
.content.order-info-page td {
    padding: 8px !important;
}
.affilaite-po md-slider {
    display: block;
    height: 48px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0;
    position: relative;
    width: 66%;
}
.m-l-30{margin-left: 30px !important;}