 
  <div class="row">
    <div class="col-sm-12">

      <form name="noteForm" class="form-validation" ng-submit="saveNote(notesDetail)">
        
        <div class="panel panel-default">
         <input type="hidden" ng-model="notesDetail.id" value="{{notesDetail.id}}">
          <div class="panel-body">


            <div class="form-group col-sm-12 m-b">
              <label>Note <em class="text-muted"></em></label>
              <textarea rows="5" class="form-control" ng-model="notesDetail.note" required></textarea>

             
            </div>

          
           


            <div class="form-group col-sm-12 m-b">
              <label>Points</label>
              <input type="text" 
                     class="form-control"
                     ng-model="notesDetail.points" 
                     ng-pattern="/^[0-9]*$/"
                     name="points">

              <span style="color:#f44336" ng-show="noteForm.points.$error.pattern">
                                    This Field Should Contain only Numeric</span>

            </div>



          </div>
          <footer class="panel-footer text-right">
            <button  type="submit" class="btn btn-info" ng-disabled="noteForm.$invalid">Submit</button>&nbsp;
            <button ng-click="openNoteList();" type="button"  class="btn btn-info">Cancel</button>&nbsp;
           
          </footer>
        </div>
      </form>
    </div>
    
  </div>
 
