
<div class="row">
  <div class="col-sm-12">
    <form name="staffForm" class="form-validation stokkupForm" ng-submit="saveStaff()">
      <div class="panel panel-default col-md-12 nopad-form">
        <div class="panel-body">
		  <!-- LEFT SIDE FORM DETAILS -->
          <div class="col-md-6 nopad-form">
          	  <input type="hidden" ng-model="staff.id" value="{{staff.id}}">
			  <div class="row">
				  <div class="col-md-8 nopad-left">
					  <div class="form-group col-md-6 m-b nopad-right">
						<label>Name Last <em class="text-muted"></em></label>
						<input type="text" class="form-control" ng-model="staff.last_name" required >
					  </div>
					  <div class="form-group col-md-3 m-b nopad-right">
						<label>First <em class="text-muted"></em></label>
						<input type="text" class="form-control" ng-model="staff.first_name" required >
					  </div>
					  <div class="form-group col-md-3 m-b nopad-right">
						<label>Middle<em class="text-muted"></em></label>
						<input type="text" class="form-control" ng-model="staff.middle_name" required >
					  </div>
					  <div class="form-group col-md-12 m-b nopad-right">
						<label>Address<em class="text-muted"></em></label>
						<input type="text" class="form-control col-md-6 m-b" ng-model="staff.prime_address1" required >
						<input type="text" class="form-control col-md-6 m-b" ng-model="staff.prime_address2" required >
						<input type="text" class="form-control col-md-6 m-b" ng-model="staff.prime_address_city" required>
						<input type="text" class="form-control col-md-2 m-b" ng-model="staff.prime_address_state" required>
						<input type="text" class="form-control col-md-4 m-b" ng-model="staff.prime_address_zip" required>
					  </div>
					  <div class="form-group col-md-12 m-b nopad-right">
						<label>Phone</label>
						<input type="text" class="form-control" placeholder="XXXXXXXXXX" ng-model="staff.prime_phone_main" ng-pattern="/^[0-9]{10,10}$/" required name="phone" />
						<span style="color:#f44336" ng-show="staffForm.phone.$error.pattern">This Field Should Contain 10 Numeric</span> 
					  </div>
					  <div class="form-group col-md-12 m-b nopad-right">
						<label>Email</label>
						<input type="email" class="form-control" ng-model="users.email" required  ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required name="email">
            <span style="color:#f44336" ng-show="staffForm.email.$error.pattern">Please enter valid email address</span> 
					  </div>
					  <div class="form-group col-md-12 m-b nopad-right">
						<label>Username <em class="text-muted">(allow 'a-z,A-Z,0-9', 4-20 length)</em></label>
						<input type="text" class="form-control" name="user_name" data-ng-model="users.user_name" ng-pattern="/^[a-zA-Z0-9]{4,20}$/" required />
						<span style="color:#f44336" ng-show="staffForm.user_name.$error.pattern"> This Field Should Contain 4-20 Numeric/characters</span> 
					  </div>
					  <div class="form-group col-md-12 m-b nopad-right">
						<label>Password</label>
						<input type="password" class="form-control" ng-model="users.password" required >
					  </div>
					  <div class="form-group col-md-12 m-b nopad-right">
						<label>Status</label>
						<select class="form-control" ng-model="staff.status" required>
						  <option value="1">Yes</option>
						  <option value="0">No</option>
						</select>
					  </div> 
				  </div>
			  
				  <div class="col-md-4 nopad-form">
					  <div class="form-group">
						<input type="file" title="Upload Profile Picture"  data-ui-file-upload  onchange="angular.element(this).scope().setFiles(this)">
						<img  ng-if="staff.photo" ng-src="{{staff.all_url_photo}}" alt="" /> 
					  </div>
				  </div>			  
			  </div>
              <div class="form-group col-md-12 m-b nopad-form">
                <ul class="nav nav-tabs">
                  <li class="active"> <a href data-toggle="tab" data-target="#tab1">Details</a> </li>
                  <li> <a href data-toggle="tab" data-target="#tab2">Comission</a> </li>
                  <li> <a href data-toggle="tab" data-target="#tab3">Emergency Contact</a> </li>
                </ul>
                <div class="tab-content p b-a no-b-t bg-white m-b-md">
                  <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab1">
                    <div class="form-group">
                      <label>Position <em class="text-muted"></em></label>
                      <select class="form-control" ng-model="users.role_id" required>
                        <option ng-repeat="data in staffRoles" value={{data.id}}>{{data.title}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Level <em class="text-muted"></em></label>
                      <input type="text" class="form-control" ng-model="staff.level"  >
                    </div>
                    
                    <!-- datepicker -->
                    <div class="form-group" ng-controller="DatepickerDemoCtrl">
                      <label>Hired <em class="text-muted"></em></label>
                      <p class="input-group">
                        <input type="text" class="form-control"  datepicker-popup="{{format}}" ng-model="staff.date_start" is-open="opened" datepicker-options="dateOptions"   close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
                    </div>
                    <!-- / datepicker --> 
                    
                    <!-- datepicker -->
                    <div class="form-group" ng-controller="DatepickerDemoCtrl">
                      <label>Birthday <em class="text-muted"></em></label>
                      <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="staff.birthday" is-open="opened" datepicker-options="dateOptions"   close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span> </p>
                    </div>
                    <!-- / datepicker --> 
                    
                    <!-- datepicker -->
                    <div class="form-group" ng-controller="DatepickerDemoCtrl">
                      <label>Terminated <em class="text-muted"></em></label>
                      <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="staff.date_end" is-open="opened" datepicker-options="dateOptions"   close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span> </p>
                    </div>
                    <!-- / datepicker -->
                    
                    <div class="form-group">
                      <label>Email Secondary <em class="text-muted"></em></label>
                      <input type="email" class="form-control" ng-model="staff.second_mail"  ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required name="second_mail">
                      <span style="color:#f44336" ng-show="staffForm.second_mail.$error.pattern">Please enter valid email address</span> 
                    </div>
                    <div class="form-group">
                      <label>Note <em class="text-muted"></em></label>
                      <textarea rows="5" class="form-control" ng-model="staff.notes"></textarea>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeIn" id="tab2">
                    <div class="form-group">
                      <label>Staff Type <em class="text-muted"></em></label>
                      <select class="form-control" ng-model="staff.staff_type">
                        <option ng-repeat="data in types" value={{data.id}}>{{data.value}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Base Commission<em class="text-muted"></em></label>
                      <input type="text" class="form-control" ng-model="staff.commision_base"  >
                      % </div>
                    <div class="form-group">
                      <label>Sub Commission(Re-Order)<em class="text-muted"></em></label>
                      <input type="text" class="form-control" ng-model="staff.commission_sub"  >
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeIn" id="tab3">
                    <div class="form-group">
                      <label>Emergency Contact<em class="text-muted"></em></label>
                      <input type="text" class="form-control" ng-model="staff.emergency_contact_name"  >
                    </div>
                    <div class="form-group">
                      <label>Relationship<em class="text-muted"></em></label>
                      <input type="text" class="form-control" ng-model="staff.emergency_contact_relation"  >
                    </div>
                  </div>
                </div>
              </div>
          </div>
		  
		  <!-- RIGHT SIDE FORM DETAILS-->
          <div class="col-md-6">
          	  <input type="hidden" ng-model="price.id" value="{{price.id}}">
              <div class="form-group col-sm-12 m-b">
            <ul class="nav nav-tabs">
              <li class="active"> <a href data-toggle="tab" data-target="#notes">Notes</a> </li>
              <li> <a href data-toggle="tab" data-target="#timeoff">Time Off</a> </li>
            </ul>
            <div class="tab-content p b-a no-b-t bg-white m-b-md">
			  <!-- NOTES Section -->
              <div role="tabpanel" class="tab-pane animated fadeIn active" id="notes">
                <div class="form-group col-md-12 nopad-form">
                  <label class="col-md-7 nopad-form">Note<em class="text-muted"></em></label>
                  <label class="col-md-2 nopad-form">Points<em class="text-muted"></em></label>
                </div>
                <div class="form-group col-md-12 nopad-form">
					<div ng-repeat="notesdata in allnotes" class="formNotes">
						<input type="text" ng-model="notesdata.note" class="col-md-7" />
						<input type="text" ng-model="notesdata.points" class="col-md-2" />
						<!--button ng-click="removeNotes($index)" class="col-md-1 removeRecord formBtns">Remove</button-->
						<button class="btn btn-default addButton" ng-click="removeNotes($index)" type="button" tabindex="0">
							<i class="fa fa-minus"></i>
						</button>					
					</div>
					<button class="btn btn-default addButton" ng-click="addNotes()" type="button" tabindex="0">
						<i class="fa fa-plus"></i>
					</button>
                  <!--button type="button" ng-click="addNotes()" class="newRecord formBtns">add input</button-->
                </div>
              </div>
			  <!-- / -->
			  
			  <!-- TIME OFF Section -->
              <div role="tabpanel" class="tab-pane animated fadeIn" id="timeoff">
                <div class="form-group col-md-12 nopad-form">
                  <label class="col-md-2 nopad-left">Classification<em class="text-muted"></em></label>
                  <label class="col-md-4">Date Begin<em class="text-muted"></em></label>
                  <label class="col-md-4">Date End<em class="text-muted"></em></label>
                  <label class="col-md-2 nopad-left">Applied Hours<em class="text-muted"></em></label>
                </div>
                <div class="form-group col-md-12 nopad-form">
                  <div ng-repeat="timeoffdata in allTimeOff" class="timeOffData">
                    <select ng-model="timeoffdata.classification_id" class="col-md-2 nopad-form">
                      <option ng-repeat="dataTimeOff in timeOffTypes" ng-selected="dataTimeOff.id==timeoffdata.classification_id" value={{dataTimeOff.id}}>{{dataTimeOff.name}}</option>
                    </select>
                    <div  ng-controller="DatepickerDemoCtrl" class="col-md-4 datePick nopad-right">
                      <p class="input-group">
                        <input type="text" class="col-md-12" datepicker-popup="{{format}}" ng-model="timeoffdata.date_begin" is-open="opened" datepicker-options="dateOptions"   close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span> </p>
                    </div>
                    <div  ng-controller="DatepickerDemoCtrl" class="col-md-4 datePick">
                      <p class="input-group">
                        <input type="text" class="col-md-12" datepicker-popup="{{format}}" ng-model="timeoffdata.date_end" is-open="opened" datepicker-options="dateOptions"   close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span> </p>
                    </div>
                    <input type="text" ng-model="timeoffdata.applied_hours" class="col-md-1 nopad-form t-mid" />


                    

                    <button class="btn btn-default addButton" ng-click="removeTimeOff($index)" type="button" tabindex="0">
                      <i class="fa fa-minus"></i>
                    </button>



                  </div>
                  

                  <button class="btn btn-default addButton" ng-click="addTimeOff()" type="button" tabindex="0">
                    <i class="fa fa-plus"></i>
                  </button>


                </div>
              </div>
			  <!-- / -->
			  
            </div>
          </div>
          </div>
        </div>
        <footer class="panel-footer text-right">
          <button  type="submit" class="btn btn-info" ng-disabled="staffForm.$invalid">Submit</button>
          &nbsp;
          <button ui-sref="#/staff/list" type="button"  class="btn btn-info">Cancel</button>
          &nbsp; 
        </footer>
      </div>
    </form>
  </div>
</div>
