<div class="panel panel-default page page-table"><div class="panel panel-default">
    <div class="panel-body b-b b-light">
<!--       Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/> -->
        <div class="col-md-3 page-num-info">
            <span>
                <select data-ng-model="numPerPage"
                        data-ng-options="num for num in numPerPageOpt"
                        data-ng-change="onNumPerPageChange()">
                </select> 
                Entries per page
            </span>
        </div>
        <div class="col-sm-4 col-xs-6">
            <form>
                <input type="text"
                       placeholder="search"
                       class="form-control"
                       data-ng-model="searchKeywords"
                       data-ng-keyup="search()">
            </form>
        </div>
        <div class="col-sm-3 col-xs-6 filter-result-info">
            <span>
                Showing {{filteredStaffs.length}} of {{staffs.length}} staff
            </span>              
        </div>
      <button class="btn btn-fw btn-danger pull-right" md-ink-ripple="" ui-sref="staff.add">
      New
      <div class="md-ripple-container" style=""></div>
      </button>
    </div>
    <div ng-show="staffs.length > 0">
        <table id="staff_table" class="table m-b-none">
            <thead>
                <tr>
                    <th class="th">First Name
                        <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('first_name')" data-ng-class="{active: row == 'first_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-first_name')" data-ng-class="{active: row == '-first_name'}"></span>
                    </th>
                    <th class="th">Last Name
                        <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('last_name')" data-ng-class="{active: row == 'last_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-last_name')" data-ng-class="{active: row == '-last_name'}"></span>
                    </th>
                    <th class="th">Position
                        <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('title')" data-ng-class="{active: row == 'title'}"></span>
                        <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-title')" data-ng-class="{active: row == '-title'}"></span>
                    </th>
                    <th class="th">Phone
                        <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('prime_phone_main')" data-ng-class="{active: row == 'prime_phone_main'}"></span>
                        <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-prime_phone_main')" data-ng-class="{active: row == '-prime_phone_main'}"></span>
                    </th>
                    <th class="th">Hire Date
                        <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('date_start')" data-ng-class="{active: row == 'date_start'}"></span>
                        <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-date_start')" data-ng-class="{active: row == '-date_start'}"></span>
                    </th>
                   <th class="th">Status
                    </th>
                    <th class="th">Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="data in currentPageStaffs" id="comp_{{data.id}}">
                    <td>{{data.first_name}}</td>
                    <td>{{data.last_name}}</td>
                    <td>{{data.title}}</td>
                    <td>{{data.prime_phone_main}}</td>
                    <td>{{ data.date_start | dateWithFormat}}</td>
                    <td ng-if="data.status == 1" ><span class="label bg-success" title="Active">Active</span></td>
                    <td ng-if="data.status == 0" ><span class="label bg-danger" title="Deactive">Deactive</span></td>
                    <td style="white-space: nowrap">
                        <div class="buttons" ng-show="!rowform.$visible" aria-hidden="false">
                            <button class="btn btn-xs btn-info" ui-sref="staff.edit({ id: data.id })" tabindex="0">Edit</button>
                            <button class="btn btn-xs btn-danger" ng-click="delete(data.id,data.user_id)" tabindex="1">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 text-right pagination-container">
                        <pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredStaffs.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    boundary-links="true"></pagination>
                    </div>
                </div>
            </footer>
    </div>
    <div ng-show="staffs.length == 0">
        <div class="col-md-12">
            <h4>No Records found</h4>
        </div>
    </div>
</div>