<md-dialog class="task-dialog addAffiliateDialog" >
<div class="client-profile-page">
<md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between"> <span class="title">Screen Details For Screen {{color_screen.color_name}}</span>
        <md-button  ng-click="closeDialog()" class="close-stokkup-dialog"> <span>close</span> </md-button>
    </div>
</md-toolbar>
<div ng-cloak>
    <md-dialog-content layout="column">
    <div layout="row" layout-wrap="nowrap" layout-padding layout-align="space-between start" class="popup-stokkup-modal">
        <div layout="column"  flex="100" class="p-0 pt-15">
           <div layout="row">
              
            <div layout="column" flex="25">
              <md-input-container class="md-block">
                  <input placeholder="Pantone/Thread Color" name="thread_color" ng-model="color_screen.thread_color" >
              </md-input-container>
            </div>
               <div layout="column" flex="25">
                   <md-input-container class="md-block">
                        <input placeholder="Mesh/Thread count" name="mesh_thread_count" ng-model="color_screen.mesh_thread_count" >
                    </md-input-container>
               </div>
               <div layout="column" flex="25">
                   <md-input-container class="md-block">
                        <input placeholder="Stroke" name="stroke" ng-model="color_screen.stroke" >
                    </md-input-container>
               </div>
           </div>
           <div layout="row">
               <div layout="column" flex="25">
                   <md-input-container class="md-block">
                        <input placeholder="Squeegee" name="squeegee"  ng-model="color_screen.squeegee">
                    </md-input-container>
               </div>
               <div layout="column" flex="25">
                   <md-input-container class="md-block">
                        <md-select placeholder="Ink Type" ng-model="color_screen.inq" aria-label="Approval Status">
                            <md-option value="">
                              Ink Type
                            </md-option>
                            <md-option ng-repeat="ink_val in ink_array" ng-selected="{{color_screen.inq==ink_val.id}}" value="{{ink_val.id}}">
                                {{ink_val.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
               </div>
               <div layout="column" flex="25">
                   <md-input-container class="md-block">
                        <input placeholder="Head Location" valid-number name="head_location" ng-model="color_screen.head_location" >
                    </md-input-container>
               </div>
           </div>
        </div>
    </div>
  </md-dialog-content>
</div>
<md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row">
    <button type="button" ng-click="Savecolor_screen(color_screen);" class="md-accent md-raised md-button md-ink-ripple" aria-label="Save"><span class="ng-scope">Save</span></button>
</md-dialog-actions>
</md-dialog>
