<md-dialog class="task-dialog priceGridUploadCsv"  style="width:100% !important">
    <div class="client-profile-page">
    <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">UPLOAD CSV</span>
                <md-button  ng-click="cancel()">
                    <span>Cancel</span>
                </md-button>
            </div>
        </md-toolbar>
    <div ng-cloak>
        <md-content>
                
        </md-content>
    </div>
</div>
<table> 
    <tr>
        <td class="p-16">
            <md-button class="bg-blue" ng-click=" ">
                    UPLOAD
            </md-button>
        </td>  
    </tr>
</table>
</md-dialog>