<div class="content stockkup-content-table-container">
    <div class="simple-table-container md-whiteframe-4dp stokkup-main-tableview">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" ng-if="vm.role_slug!='SA'" flex=20>
                {{vm.company_name}}
            </div>
            <div class="table-title-text"  ng-if="vm.role_slug=='SA'" flex=20>
                {{vm.name}}
            </div>
            
        </div>
    </div>
</div>