<div class="content dashboard-page stockkup-content-table-container stockkup-content-table-container">
    <div class="simple-table-container stokkup-main-tableview">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text" ng-if="vm.role_slug!='SA'" flex=20>
                {{vm.company_name}}
            </div>
            <div class="table-title-text"  ng-if="vm.role_slug=='SA'" flex=20>
                {{vm.name}}
            </div>
            
        </div>
    </div>
    <div ng-show="vm.role_slug=='CA'">
        <div layout="row" layout="wrap" layout-align="space-between center" class="inner-full-box top-30">
            <md-card class="box-3 firstbox bottom-shadow">
                <md-card-title>
                    <md-card-title-text class="md-title">
                        Numbers of Orders in Production
                    </md-card-title-text>
                    <div>
                       <!--  <a class="common-header-links" href="{{po_data.url}}" target="_blank">View</a> -->
                    </div>
                </md-card-title>
                <md-card-content class="center-num-box box-zerospace">
                        <div class="center-num"><span class="num-style1 text-center">
                        123 <span class="dash-btwn-txt">sales <br />totalling</span>$45,789 <sup>00</sup></div>
                </md-card-content>
                <div class="dash-footer-box">
                    Sales made by
                </div>
                <!-- <md-divider ></md-divider> -->
                
            </md-card>
            <md-card class="box-3 bottom-shadow">
                <md-card-title>
                    <md-card-title-text class="md-title">
                        Sales Closed
                    </md-card-title-text>
                    <div ng-if="po_data.complete==0">
                        <a class="common-header-links" ng-click="changeDropship(po_data.vendor_instruction)">EDIT</a>
                    </div>
                </md-card-title>
                <md-card-content class="center-num-box box-zerospace">
                        <div class="center-num"><span class="num-style1 text-center">
                        $45,789 <sup>00</sup></div>
                </md-card-content>
                <!-- <md-divider ></md-divider> -->
                <div class="dash-footer-box">
                    Sales closed by
                </div>
            </md-card>
            <md-card class="box-3 bottom-shadow lastbox">
                <md-card-title>
                    <md-card-title-text class="md-title">
                        Comparison Report
                    </md-card-title-text>
                    <div>
                       <!--  <a class="common-header-links" ui-sref="app.purchaseOrder.viewNote({id:po_id})" >VIEW NOTES</a> -->
                    </div>
                </md-card-title>
                <md-card-content class="center-num-box box-zerospace">
                        <div class="center-num"><span class="num-style1 text-center">
                        $98,345 <sup>00</sup><span class="dash-btwn-txt green-txt"><i class="fa fa-caret-up"></i> 14%</span>
                        <span class="dash-btwn-txt comp-report-txt">$89,678 Jan 2015</span>
                    </div>
                </md-card-content>
                <div class="dash-footer-alternate-box">
                    Jan 2016 compared with Jan 2015
                </div>
            </md-card>
        </div>
        <div layout="row" layout-wrap="nowrap" class="client-live-nation med-box p-30">
            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card class="bottom-shadow md-default-theme firstbox">
                    <md-card-header layout-align="space-between center">
                        <md-card-header-text>
                            <span class="md-title">Average Order</span>
                        </md-card-header-text>
                        <md-menu>
                            <md-button aria-label="ID Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="4"  ng-click="vm.editCompanyInfo($event,'tax_form')">
                                <md-menu-item>
                                    <md-button>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-card-header>
                    <md-card-content class="center-num-box box-zerospace">
                        <div class="center-num"><span class="num-style1 text-center">
                        $129<sup>53</sup></div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card class="bottom-shadow md-default-theme lastbox">
                    <md-card-header layout-align="space-between center">
                        <md-card-header-text>
                            <span class="md-title">Completed Shifts (Impressions)</span>
                        </md-card-header-text>
                        <md-menu>
                            <md-button aria-label="Rate Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="4" ng-click="vm.editCompanyInfo($event,'tax_form')">
                                <md-menu-item>
                                    <md-button>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-card-header>
                    <md-card-content class="center-num-box box-zerospace">
                        <div class="center-num"><span class="num-style1 text-center">
                        45</span>
                    </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div layout="row" layout-wrap="nowrap" class="client-live-nation med-box p-30 last-row">
            <div flex-xs flex-gt-xs="25" layout="column">
                <md-card class="bottom-shadow md-default-theme firstbox">
                    <md-card-header layout-align="space-between center">
                        <md-card-header-text>
                            <span class="md-title">On Time In Full</span>
                        </md-card-header-text>
                        <md-menu>
                            <md-button aria-label="ID Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="4"  ng-click="vm.editCompanyInfo($event,'tax_form')">
                                <md-menu-item>
                                    <md-button>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-card-header>
                    <md-card-content class="center-num-box box-zerospace">
                        <div class="center-num"><span class="num-style1 text-center">
                        89</div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex-xs flex-gt-xs="25" layout="column">
                <md-card class="bottom-shadow md-default-theme">
                    <md-card-header layout-align="space-between center">
                        <md-card-header-text>
                            <span class="md-title">Orders with Balances</span>
                        </md-card-header-text>
                        <md-menu>
                            <md-button aria-label="Rate Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="4" ng-click="vm.editCompanyInfo($event,'tax_form')">
                                <md-menu-item>
                                    <md-button>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-card-header>
                    <md-card-content class="center-num-box box-zerospace">
                        <div class="center-num"><span class="num-style1 text-center">
                        45</span>
                    </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex-xs flex-gt-xs="25" layout="column">
                <md-card class="bottom-shadow md-default-theme">
                    <md-card-header layout-align="space-between center">
                        <md-card-header-text>
                            <span class="md-title">Orders not send to Quickbooks</span>
                        </md-card-header-text>
                        <md-menu>
                            <md-button aria-label="Tax Exempt Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="4" ng-click="vm.editCompanyInfo($event,'tax_form')">
                                <md-menu-item>
                                    <md-button>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-card-header>
                    <md-card-content class="center-num-box box-zerospace">
                        <div class="center-num"><span class="num-style1 text-center">
                        89</span></div>                                 
                    </md-card-content>
                </md-card>
            </div>
            <div flex-xs flex-gt-xs="25" layout="column">
                <md-card class="bottom-shadow md-default-theme lastbox">
                    <md-card-header layout-align="space-between center">
                        <md-card-header-text>
                            <span class="md-title">Orders to be shipped</span>
                        </md-card-header-text>
                        <md-menu>
                            <md-button aria-label="Document Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="4" ng-click="EditTaxDoc()">
                                <md-menu-item>
                                    <md-button>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-card-header>
                    <md-card-content class="center-num-box box-zerospace">
                        <div class="center-num"><span  class="num-style1">45</span></div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>