<!-- Background video -->
    <video autoplay  poster="{{vm.video_image}}" id="bgvid" loop controls muted> 
        <source src="{{vm.video_1}}" type="video/webm">   
        <source src="{{vm.video_1}}" type="video/mp4">
    </video>  
<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="navbar">
              <div class="navbar-brand m-t-lg text-center">
                <img alt="STOKKUP" src="assets/images/logos/stokkup-logo.png">
              </div>
            </div>
            <div class="title" >Reset Password</div>
            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>
                <md-button type="submit"  ng-click="forgot_password(vm.form)" class="md-raised md-accent submit-button" aria-label="SEND" ng-disabled="loginForm.$invalid || loginForm.$pristine">
                   Send
                </md-button>
                <div class="remember-forgot-password" layout="row" layout-xs="column"layout-align="space-between center">
                    <a ui-sref="app.login" class="forgot-password md-accent-color">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>