.mdslider md-slider {
  margin-top: -14px; }

  .mdsliderHeight {
  height: 30px;
}

.table3 td {
  height:56px; }

  .marginBtn {
    margin: -2px 7px; }

    .titlePadding {
    font-size: 20px;
    padding: 10px 16px 0 16px; }

    .marginLeft-58 {
  margin-left:58%;
}

.btnMarginAddNew {
  margin :0;
}

.paddingbottom-0 {
	padding: 0;
}

