/*.mdslider md-slider {
  margin-top: -14px; }

  .mdsliderHeight {
  height: 30px;
}

.table3 td {
  height:56px; }

  .marginBtn {
    margin: -2px 7px; }

    .titlePadding {
    font-size: 20px;
    padding: 10px 16px 0 16px; }

    .marginLeft-58 {
  margin-left:58%;
}

.btnMarginAddNew {
  margin :0;
}

.paddingbottom-0 {
	padding: 0;
}
*/

.unscheduled-lot{
	float:left;
	margin:1px;
}
.scheduled-table{
	max-width:80%;
	overflow-x:auto;
	display:table-row;
	float:left;
}
.scheduled-table tr td{
	width: 25%;
	padding:0px;
	float:none;
	display:table-cell;
}
.slot{
	width: 200px;
	margin:0px;
	min-height:100px;
	background-color:#e8e9ea;
}
.slot .slot-header{
	font-size:11px;
	min-height: 160px;
}
.slot .slot-header>div{
	background-color: #f4f4f5;
}
.slot .slot-header .slot-name{
	font-size:12px;
}
.slot .slot-header .shift-box{
	width:30.5%;
	height:30px;
	float:left;
	margin:0;
}
.slot .slot-header .shift-box h6{
	margin:0px;
	font-size:12px;
	font-weight:bold;
}

.slot .slot-header .shift-box span{
	font-size:11px;
	line-height:12px;
}


.slot .slot-header .shift-box.middle{
	margin:0 8px;
}

.slot .slot-content{
	width:100%;
	height:400px;
	overflow-y:auto;
	border-right:solid 1px #efefef;
	background-color: #fff;
}
.slot .slot-content h4{
	padding:0px;
	margin:0px 0px 10px;
	width:$full-width;
	text-align:center;
	font-weight:$font-weight-700;
}

.slot .slot-content .shift-container .shift-card{
	width:100%;
	height:70px;
  background-color: #e8e9ea;
	border:solid 1px #e0e1e3;
	margin:0 0 10px 0;
	position: relative;
}
.slot .slot-content .shift-container .shift-card.rush-card{
	/*background-color: #de0000;*/
}
.slot .slot-content .shift-container .shift-card .position-text{
	width:60%;
	margin-left:14px;
	float:left;
	font-size:9px;
	position: relative;
	md-icon{
		&.icon-filter-variant{
			float:right;
			margin-right:10px;
			line-height:40px;
		}
	}
}

.slot .slot-content .shift-container .shift-card .position-text .position-title{
	font-size:12px;
}
.slot .slot-content .shift-container .shift-card .position-text .position-status{
	font-size:9px;
	color: #169bd5;
}
.slot .slot-content .shift-container .shift-card .position-text .small{
	font-size:16px !important;
	position: absolute;
	right:5px;
}
.slot .slot-content .shift-container .shift-card .position-rush-stripe{
	width:12px;
	background-color: #de0000;
  position: absolute;
  display: flex;
  align-items: center;
	height: 100%;
}
.slot .slot-content .shift-container .shift-card .position-rush-stripe span{
	font-size: 9px;
  color: #fff;
  line-height: 10px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  width: 100%;
  text-align: center;
}


.slot .slot-content .shift-container .shift-card .position-image{
	width:30%;
	float: right;
	height: 100%;
}
.slot .slot-content .shift-container .shift-card .position-image img{
	height: 100%;
	width: auto;
}
