/* Navigation Styles */
nav ul.nav li {
	width:12%;
}

nav ul.nav li a,
nav ul.nav li.active > a {
	width:100%;
}

nav ul.nav li a > .icon, 
nav ul.nav li .nav-item > .icon {
	min-width:30px;
	margin-right:0;
}

nav ul.nav li ul.nav-sub li {
	width:100%;
}
nav ul.nav li:hover ul.nav-sub {
	max-height:999px;
}

.md-whiteframe-z1 {
	box-shadow:none;
}

#aside .navbar.navbar-header {
	position:fixed;
	top:0;
	left:0;
}
#aside .navbar.navbar-header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
}
#aside .navbar.navbar-header.indigo {
	background:#4f1f25;
}
#nav nav {
	position:fixed;
	top:64px;
	left:0;
}
.navbar .navbar-brand {	
	float:left;
	padding-top:5px;
}
#content {
	padding-top:115px;
}
#content .tab-content p.input-group {
	z-index:1;
}
/* Login Page */

.app-login {
	background:url(../images/bg_login.jpg) repeat 0 0;
}

.app-login .indigo {
	background:none;
}
#loginCtrl {
	background:none;
}
#loginCtrl .navbar-brand {
	float:none;	
	width:180px;
	height:200px;
	margin:0 auto;
	overflow:hidden;
}
/*----- / -----*/
/* Product Section */
.nopad-form  .col-sm-8 {
	padding-left:0;
	padding-right:0;
}
.indigo-button{
	 background-color: #4f1f25;
	 color: #fff;
}
.login-flash {
	padding: 0;
}
.login-flash .danger{
	color: #f00;
}
.login-flash .success{
	color: #008000;
}
