@media (min-width:1024px) and (max-width:1279px) {
	nav ul.nav li {
		width:14%;
	}
	nav ul.nav li a > .icon, nav ul.nav li .nav-item > .icon {
		min-width:30px;
		margin-right:0;
	}	
	nav ul.nav li .nav-sub {
		min-width:0;
	}
}