/* ======== UPLOAD POPUP IMAGE DIMATION AND LAYOUT SET */
.popup-image{
	height: 100%;
	width: 100%;
	padding: 5px;
}

.mdslider md-slider {
  margin-top: -14px; 
}

.mdsliderHeight {
  height: 30px;
}

.table3 td {
  height:56px; 
}

.marginLeft-58 {
  margin-left:58%;
}


.paddingbottom-0 {
	padding: 0;
}

.image-space {
	padding: 5px;
	cursor: pointer;
}
.img-container {
  box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    max-height: 100%;
    /* max-width: 24%; */
    /* overflow: hidden; */
    /* height: auto; */
    width: auto;
    height: 100%;
    position: relative;
    z-index: 1;
}

.close-icon {
    position: absolute;
    right: 10px;
    z-index: 10;
    cursor: pointer;
}

.popup-image1 {
  /*height: auto;*/
  max-width: 100%;
  padding: 5px;
}

#designTable tbody tr td {
	padding-left: 1.2em !important;  /*or 15px*/
}


.filterWidth {
      overflow: scroll;
    overflow-x: hidden;
    width: 96%;
    height: 120px !important;
    line-height: 2;
    cursor: pointer;
}

.padding-top-15 {
  padding-top: 20px ;
}

.float-right {
  float : right;
      margin-top: -5px;
}

.filterButtonWidth {
  width: 100%;
text-align: left;
}

/* == Inner tab Page height and scroll set == */
.innertab-scroll
{
  max-height: 600px;
  overflow-y: auto;
}

/*=====================================
		Ajax Loader Image CSS
=====================================*/
.overlay-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.overlay-loader .loader-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  -moz-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  -ms-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  -o-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  transition: background-color .2s 0s linear,right .2s .3s ease-out;
}

.overlay-loader .loader-icon {
  position: absolute;
  top: 30%;
  left: 35%;
  margin: -48px 0 0 -48px;
  font-size: 96px;
  color: #FFF;
}

