@media (min-width:1024px) and (max-width:1279px) {

	/*----------------------------------
		Primary Navigation
	----------------------------------*/
	nav ul.nav li a, 
	nav ul.nav li.active > a {
		font-size: 12px;
	}

	nav ul.nav li a > 
	.icon, nav ul.nav li .nav-item > .icon {
		min-width: 20px;
		font-size: 14px;

	}

	nav ul.nav li a, 
	nav ul.nav li .nav-item {
		padding: 5px;
	}

	/*----- SUB NAV -----*/
	ul.nav-sub {
		min-width: 100%;
		width: 100%;
	}
	nav ul.nav li li a {
		line-height: 17px;
	}

	/*----- CLIENT HOME PAGE -----*/
	.selectNavTabs {
		display: block;
	}
	.selectNav-Tabs {
		display: none;
	}
}
@media (min-width:1280px) {	

	/*----- CLIENT HOME PAGE -----*/
	.selectNavTabs {
		display: none;
	}
	.selectNav-Tabs {
		display: block;
	}
}