
/*==========================================
			GENERAL STYLES 
==========================================*/
.nopad-form {
	padding-left:0;
	padding-right:0;
}
.nopad-left {
	padding-left:0;
}
.nopad-right {
	padding-right:0;
}
.t-mid {
	text-align:center;
}
.t-l {
	text-align:left;
}
.t-r {
	text-align:right;
}
.t-a-c {
	text-align: center;
}

.stokkupForm .form-buttons {
	text-align: right;
}
.stokkupForm .panel-body .panel {
	box-shadow: none;
	margin: 0;
}
/*---------- END ----------*/

/*==========================================
			Navigation Styles
==========================================*/
nav ul.nav li {
	width:12%;
}

nav ul.nav li a,
nav ul.nav li.active > a {
	width:100%;
}

nav ul.nav li a > .icon, 
nav ul.nav li .nav-item > .icon {
	min-width:30px;
	margin-right:0;
}
nav ul.nav li a > .pull-right i,
nav ul.nav li .nav-item > .pull-right i {
	margin-left:14px;
}
nav ul.nav li ul.nav-sub li {
	width:100%;
}
nav ul.nav li:hover ul.nav-sub {
	max-height:999px;
}

.md-whiteframe-z1 {
	box-shadow:none;
}

#aside .navbar.navbar-header {
	position:fixed;
	top:0;
	left:0;
}
#aside .navbar.navbar-header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
}
#aside .navbar.navbar-header.indigo {
	background:#4f1f25;
}
#nav nav {
	position:fixed;
	top:64px;
	left:0;
}
.navbar .navbar-brand {	
	float:left;
	padding-top:5px;
}
#content {
	padding-top:115px;
}
#content .tab-content p.input-group {
	z-index:1;
}
/*---------- END ----------*/

/*==========================================
				LOGIN PAGE
==========================================*/
.app-login {
	background:url(../images/bg_login.jpg) repeat 0 0;
}

.app-login .indigo {
	background:none;
}
#loginCtrl {
	background:none;
}
#loginCtrl .navbar-brand {
	float:none;	
	width:180px;
	height:200px;
	margin:0 auto;
	overflow:hidden;
}
/*---------- END ----------*/

/*====================================
		ADMIN - Product Page
====================================*/
.nopad-form  .col-sm-8 {
	padding-left:0;
	padding-right:0;
}
.indigo-button{
	 background-color: #4f1f25;
	 color: #fff;
}
.login-flash {
	padding: 0;
}
.login-flash .danger{
	color: #f00;
}
.login-flash .success{
	color: #008000;
}
/*---------- END ----------*/


/*=====================================
	ADMIN - Staff Form Add/Edit
=====================================*/
	.stokkupForm img {
		width:100%;
		height:100%;
		margin-top:10px;
	}	
	.stokkupForm .tab-content .form-group {
		margin-bottom:0;		
	}
	.stokkupForm .tab-content .form-group .formNotes {
		margin:10px 0;
		min-height:35px;
	}
	.stokkupForm .tab-content .form-group input,
	.stokkupForm .tab-content .form-group label {
		margin-right:10px;	
		margin-bottom:0;		
	}
	.stokkupForm .tab-content .form-group label {
		font-size:1em;
		font-weight:bold;
		color:#0e0e0e;
	}
	.stokkupForm .tab-content .form-group button.btn-default .fa {
		display:block;
		padding:3px 0;
	}
	.stokkupForm .tab-content .form-group input {
		min-height:34px;	
		z-index:1;		
	}
	.stokkupForm .tab-content {
		overflow:hidden;
		min-height:350px;
		margin-bottom: 0;
	}
	.stokkupForm .tab-content .form-group .timeOffData {		
		margin:0;
		clear:both;
	}
	
	.stokkupForm .tab-content #timeoff label {
		margin-right:0;
	}
	.stokkupForm .tab-content #timeoff .form-group {
		margin-bottom:15px;
	}
	.stokkupForm .tab-content .form-group select {
		min-height:34px;
	}
	.stokkupForm .tab-content .form-group .timeOffData .datePick {
		z-index:12;
	}
/*---------- END ----------*/	

/*=====================================
	ADMIN - Vendor Form Add/Edit
=====================================*/
	.vendorForm .tab-content .form-group select {
		margin-right:0;
		padding:0;
	}
	.stokkupForm.vendorForm .tab-content .form-group input,
	.stokkupForm.vendorForm .tab-content .form-group label {
		padding:5px;
		margin:0 0 10px 0;
	}
	.vendorForm .tab-content .form-group .vendor_contacts {
		margin-bottom:5px;
	}
	.vendorForm .vendor_left_form .addressRow input  {
		border:1px solid #ccc;
		min-height:34px;
	}
	.vendorForm .vendor_left_form .addressRow div input {
		margin-left:16px;	
		border:1px solid #ccc;	
		min-height:34px;
	}
	.vendorForm .vendor_left_form .addressRow div input:first-child ,
	.vendorForm #tab2 .addressRow div input {		
		margin:0;
	}
	.vendorForm #tab2 .addressRow div input {				
		border:1px solid #ccc;		
	}
/*---------- END ----------*/


/*=====================================
	SUPER ADMIN - Misc View
=====================================*/
.panel-default.misc-view {
	overflow:auto;
	min-height:100%;
}
.misc-view .misc-view-details {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.misc-view-details.horizontal-only {
	height: 100%;
	max-height: 100%;
}
#misc-view table th,
#misc-view table td {
	margin:0;
	padding:5px 10px;	
	display:table-cell;
	vertical-align:middle;
	font-size:1em;
}
#misc-view table th {
	text-align:center;
}
#misc-view table th:first-child,
#misc-view table td:first-child {	
	border-left:0 none;
}
#misc-view table td {
}
#misc-view table th,
#misc-view table td {
	-webkit-transition: width 4s;	
    transition: width 4s;
}
/*---------- END ----------*/

/*=====================================
	SUPER ADMIN - Setting Price Grid
=====================================*/

.priceGrid .panel {
	padding-top: 20px;
	padding-bottom: 20px;
}
.priceGrid .tab-content .form-group label {
	margin:15px 0 10px 0;
}

.priceGrid .tab-content ul.form-fields {
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}
.priceGrid .tab-content .form-group input {
	width: 100%;
}
.priceGrid .tab-content ul.form-fields.chkBoxes li {
	float: left;
	width: auto;
	margin-left: 15px;
}
.priceGrid .tab-content ul.form-fields.chkBoxes li:first-child {	
	margin-left: 0;
}
.priceGrid .tab-content ul.form-fields.chkBoxes li md-checkbox:first-child {
	margin-left: 0;
}
.priceGrid .tab-content .price_primary,
.priceGrid .tab-content .price_secondary,
.priceGrid .tab-content .price_embroidery,
.priceGrid .tab-content .d_garment,
.priceGrid .tab-content .garment_mackup {
	clear: both;
	overflow: hidden;
	margin-bottom: 15px;
}
/*---------- END ----------*/

/*=====================================
		CLIENT - EDIT PAGE
=====================================*/
.client-form .clientTab .form-control {
	padding:5px 5px;
}
.client-form .nav.nav-tabs {
	font-size:0.9285em;
}
.stokkupForm .tab-content .form-group .radioButton input {	
	min-height:0:
}
.stokkupForm .tab-content .clientDetails {
	overflow:hidden;
	margin:10px 0;
}
.stokkupForm .tab-content .clientTab button.btn-info {
	float:right;
}

/* Right Side Section */
.client-form .tab-pane .tabTitle {
	font-weight: bold;
	margin-bottom:10px;
}
.client-form .tab-pane .tab_client_details {
	margin-bottom:10px;
}

/*---------- END ----------*/
