/* ======== UPLOAD POPUP IMAGE DIMATION AND LAYOUT SET */
.popup-image{
	height: 100%;
	width: 100%;
	padding: 5px;
}

.mdslider md-slider {
  margin-top: -14px; 
}

.mdsliderHeight {
  height: 30px;
}

.table3 td {
  height:56px; 
}

.marginLeft-58 {
  margin-left:58%;
}


.paddingbottom-0 {
	padding: 0;
}

.image-space {
	padding: 5px;
	cursor: pointer;
}
/* == Inner tab Page height and scroll set == */
.innertab-scroll
{
  max-height: 600px;
  overflow-y: auto;
}