<div class="content client-list-page stockkup-content-table-container custom-tabs-content">
    <div class="md-whiteframe-4dp stokkup-main-tableview">
	    <md-content class="">
	        <div layout="row" layout-wrap="nowrap" class="client-live-nation p-30">
	            <div flex-xs flex-gt-xs="50" layout="column">
	                <md-card class="custom-fullbox-shadow">
	                    <md-card-header layout-align="space-between center">
	                        <md-card-header-text>
	                            <span class="md-title">Authorize Information</span>
	                        </md-card-header-text>
	                        <md-menu  ng-show="allow_access==1">
	                            <md-button aria-label="Authorize Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
	                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
	                            </md-button>
	                            <md-menu-content width="4" ng-click="OpenForm(ev,authorize,'authorizeNet/authorizeNet-dialog.html')">
	                                <md-menu-item>
	                                    <md-button>
	                                        Edit
	                                    </md-button>
	                                </md-menu-item>
	                            </md-menu-content>
	                        </md-menu>
	                    </md-card-header>
	                    <md-card-content class="custom-desc-box">
	                        <div class="h5 text-semibold">API url</div>
	                        <span>{{authorize.api}}</span>
	                        <div class="h5 text-semibold">API username</div>
	                        <span>{{authorize.username}}</span>
	                        <div class="h5 text-semibold">API login</div>
	                        <span>{{authorize.login}}</span>
	                        <div class="h5 text-semibold">API Password</div>
	                        <span>{{authorize.password}}</span>
	                        <div class="h5 text-semibold">API transactionkey</div>
	                        <span>{{authorize.transactionkey}}</span>
	                        <div class="h5 text-semibold">API secretkey</div>
	                        <span>{{authorize.secretkey}}</span>
							<div class="h5 text-semibold">Test Mode</div>
	                        <span ng-if="authorize.is_live==1">Yes</span>
	                        <span ng-if="authorize.is_live==0">No</span>
	                    </md-card-content>
	                </md-card>
	            </div>
	        </div>
	    </md-content>
	</div>
</div>