<md-dialog class="task-dialog" >
    <form name="companyform" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
            
                <span class="title" ng-show="flag=='add'">Add Company Address</span>
                <span class="title" ng-show="flag=='edit'">Edit Company Address</span>

                <md-button  ng-click="closeDialog()" class="close-stokkup-dialog md-button">
                    <span>Close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="client-add-modal " layout-padding>

                <md-input-container class="md-block first-box">
                    <input placeholder="Description *" name="description" required ng-model="params.description">
                    <div ng-messages="companyform.description.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span >This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input tabindex="2" vs-google-autocomplete="Gapi_options"
                        ng-model="Gapi_address.name"
                        vs-street-number="Gapi_address.components.streetNumber" 
                        vs-street="Gapi_address.components.street"
                        vs-city="Gapi_address.components.city"
                        vs-state="Gapi_address.components.state"
                        vs-post-code="Gapi_address.components.postCode"
                        vs-country="Gapi_address.components.country"
                        vs-country-short="Gapi_address.components.countryCode"
                        type="text" 
                        name="Gapi_address"
                        id="Gapi_address"
                        aria-label="form-control" flex=70>
                        <md-button tabindex="3"  class="md-accent md-raised api-focus border-radius-half" ng-click="DistributionAPI(Gapi_address.components)" flex=20 >Use it</md-button>
                </md-input-container>

                <md-input-container>
                    <input placeholder="Street Number"  name="address2" ng-model="params.address2" >
                </md-input-container>
                <md-input-container>
                    <input placeholder="Street Address*" name="address" required ng-model="params.address"   >
                    <div ng-messages="companyform.address.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span >This field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input placeholder="City*"  name="city" required ng-model="params.city"  >
                    <div ng-messages="companyform.city.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span >This field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <!---------      STATE      ---------------->
                <div layout="row" layout-wrap="nowrap" layout-align="space-between start">
                    <md-input-container flex=45>
                        <label>State</label>
                        <md-select ng-model="params.state"  name="state"  >
                            <md-option ng-repeat="state_val in all_scope.states_all" ng-selected='{{state_val.id==params.state}}' value="{{state_val.id}}">
                                {{state_val.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="45">
                        <input placeholder="Zipcode" name="zipcode"  ng-model="params.zipcode" >
                    </md-input-container>
                </div>

                  <div layout="row" layout-wrap="nowrap" layout-align="space-between start">
                    <md-input-container flex="45">
                        <input placeholder="Country" name="country"  ng-model="params.country"  >
                    </md-input-container>
                    <md-input-container flex="45">
                        <input placeholder="Phone*" name="phone" required only-number ng-maxlength="10" ng-minlength="10"  ng-model="params.phone"  >
                        <div ng-messages="companyform.phone.$error" role="alert" multiple>
                            <div ng-message="required">
                                <span >This field is required</span>
                            </div>
                            <div ng-message="maxlength">
                                <span >Phone number must be have 10 digits.</span>
                            </div>
                            <div ng-message="minlength">
                                <span >Phone number must be have 10 digits.</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>



              </div>
        </md-dialog-content>
        
        <md-dialog-actions layout="row" layout-align="end center">
            
                  <!--  <md-button ng-click="closeDialog()" class="md-primary md-hue-1 md-accent ">Save</md-button> -->
                 <md-button class="md-accent md-raised " ng-show="flag=='add'" ng-disabled="companyform.$invalid || companyform.$pristine" ng-click="InsertTableData(params,'company_address')">Save</md-button>

                 <md-button class="md-accent md-raised" ng-show="flag=='edit'" ng-disabled="companyform.$invalid || companyform.$pristine" ng-click="UpdateTableDataAll(params,'company_address','id',params.id,'company_address')">Update</md-button>
            
        </md-dialog-actions>

    </form>
</md-dialog>