<div class="panel panel-default">
    <div class="panel-heading">
        <h4>List Finishing</h4>
    </div>
    <div class="panel-body b-b b-light">
        <!-- <div class="form-group" ng-controller="DatepickerDemoCtrl">
            <label>Select Date <em class="text-muted"></em></label>
            <p class="input-group" style="width:300px;">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="finishing.date" is-open="opened" datepicker-options="dateOptions"  ng-change="getList()" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div> -->
        Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
    </div>
    <div role="tabpanel" class="tab-pane animated fadeIn clientTab">
        <ul class="nav nav-tabs input-group col-md-12">
            <li class="active"> 
                <a href data-toggle="tab" data-target="#all">Overview</a> 
            </li>
            <li> 
                <a href data-toggle="tab" data-target="#poly_bagging">Poly Bagging</a> 
            </li>
            <li> 
                <a href data-toggle="tab" data-target="#hang_tag">Hang Tag</a> 
            </li>
            <li> 
                <a href data-toggle="tab" data-target="#tag_removal">Tag Removal</a> 
            </li>
            <li> 
                <a href data-toggle="tab" data-target="#speciality">Speciality</a> 
            </li>
            <li> 
                <a href data-toggle="tab" data-target="#packing">Packing</a> 
            </li>
            <li> 
                <a href data-toggle="tab" data-target="#sticker">Sticker</a> 
            </li>
            <li> 
                <a href data-toggle="tab" data-target="#sew_on_women_tag">Sew On Women Tag</a> 
            </li>
            <li> 
                <a href data-toggle="tab" data-target="#inside_tag">Inside Tag</a> 
            </li>
            <li> 
                <a href data-toggle="tab" data-target="#active">Active</a>
            </li>
            <li> 
                <a href data-toggle="tab" data-target="#completed">Completed</a>
            </li>
        </ul>
        <div class="tab-content p b-a no-b-t bg-white m-b-md">
            <div role="tabpanel" class="tab-pane active animated fadeIn clientTab" id="all">
                <div class="form-group col-md-12 tabTitle nopad-form">
                    <div class="col-md-12 nopad-left">
                        <div class="col-md-1 ">Job #</div>
                        <div class="col-md-1 ">Qty</div>
                        <div class="col-md-1 ">Finishing Item</div>
                        <div class="col-md-1 ">Client</div>
                        <div class="col-md-1 ">Job Name</div>
                        <div class="col-md-2 ">Note</div>
                        <div class="col-md-1 ">Time(hrs)</div>
                        <div class="col-md-1 ">Start</div>
                        <div class="col-md-1 ">End</div>
                        <div class="col-md-1 ">EST Completion Time</div>
                        <div class="col-md-1 ">Action</div>
                    </div>                          
                </div>
                <div class="task_assign_details">
                    <div class="form-group col-md-12 tabTitle nopad-form" ng-repeat="value in listFinishing.records.all" ng-if="listFinishing.success>0" id="order_{{value.id}}">
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.id}}" readonly/>
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.qty}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input id="category_name_{{value.id}}" type="text" class="form-control" value="{{value.category_name}}"  />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.client_name}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.job_name}}" />
                        </div>
                        <div class="col-md-2 nopad-left">
                            <input type="text" class="form-control" value="{{value.order_notes}}" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <!-- <button class="btn btn-xs btn-info" ui-sref="order.edit({ id: value.id,client_id: value.client_id })">Edit</button> -->
                            <button class="btn btn-xs btn-danger" ng-click="deleteorder(value.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn clientTab" id="poly_bagging">
                <div class="form-group col-md-12 tabTitle nopad-form">
                    <div class="col-md-12 nopad-left">
                        <div class="col-md-1 ">Job #</div>
                        <div class="col-md-1 ">Qty</div>
                        <div class="col-md-1 ">Finishing Item</div>
                        <div class="col-md-1 ">Client</div>
                        <div class="col-md-1 ">Job Name</div>
                        <div class="col-md-2 ">Note</div>
                        <div class="col-md-1 ">Time(hrs)</div>
                        <div class="col-md-1 ">Start</div>
                        <div class="col-md-1 ">End</div>
                        <div class="col-md-1 ">EST Completion Time</div>
                        <div class="col-md-1 ">Action</div>
                    </div>                          
                </div>
                <div class="task_assign_details">
                    <div class="form-group col-md-12 tabTitle nopad-form" ng-repeat="value in listFinishing.records.poly_bagging" ng-if="listFinishing.success>0" id="order_{{value.id}}">
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.id}}" readonly/>
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.qty}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input id="category_name_{{value.id}}" type="text" class="form-control" value="{{value.category_name}}"  />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.client_name}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.job_name}}" />
                        </div>
                        <div class="col-md-2 nopad-left">
                            <input type="text" class="form-control" value="{{value.order_notes}}" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <!-- <button class="btn btn-xs btn-info" ui-sref="order.edit({ id: value.id,client_id: value.client_id })">Edit</button> -->
                            <button class="btn btn-xs btn-danger" ng-click="deleteorder(value.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn clientTab" id="hang_tag">
                <div class="form-group col-md-12 tabTitle nopad-form">
                    <div class="col-md-12 nopad-left">
                        <div class="col-md-1 ">Job #</div>
                        <div class="col-md-1 ">Qty</div>
                        <div class="col-md-1 ">Finishing Item</div>
                        <div class="col-md-1 ">Client</div>
                        <div class="col-md-1 ">Job Name</div>
                        <div class="col-md-2 ">Note</div>
                        <div class="col-md-1 ">Time(hrs)</div>
                        <div class="col-md-1 ">Start</div>
                        <div class="col-md-1 ">End</div>
                        <div class="col-md-1 ">EST Completion Time</div>
                        <div class="col-md-1 ">Action</div>
                    </div>                          
                </div>
                <div class="task_assign_details">
                    <div class="form-group col-md-12 tabTitle nopad-form" ng-repeat="value in listFinishing.records.hang_tag" ng-if="listFinishing.success>0" id="order_{{value.id}}">
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.id}}" readonly/>
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.qty}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input id="category_name_{{value.id}}" type="text" class="form-control" value="{{value.category_name}}"  />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.client_name}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.job_name}}" />
                        </div>
                        <div class="col-md-2 nopad-left">
                            <input type="text" class="form-control" value="{{value.order_notes}}" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <!-- <button class="btn btn-xs btn-info" ui-sref="order.edit({ id: value.id,client_id: value.client_id })">Edit</button> -->
                            <button class="btn btn-xs btn-danger" ng-click="deleteorder(value.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn clientTab" id="tag_removal">
                <div class="form-group col-md-12 tabTitle nopad-form">
                    <div class="col-md-12 nopad-left">
                        <div class="col-md-1 ">Job #</div>
                        <div class="col-md-1 ">Qty</div>
                        <div class="col-md-1 ">Finishing Item</div>
                        <div class="col-md-1 ">Client</div>
                        <div class="col-md-1 ">Job Name</div>
                        <div class="col-md-2 ">Note</div>
                        <div class="col-md-1 ">Time(hrs)</div>
                        <div class="col-md-1 ">Start</div>
                        <div class="col-md-1 ">End</div>
                        <div class="col-md-1 ">EST Completion Time</div>
                        <div class="col-md-1 ">Action</div>
                    </div>                          
                </div>
                <div class="task_assign_details">
                    <div class="form-group col-md-12 tabTitle nopad-form" ng-repeat="value in listFinishing.records.tag_removal" ng-if="listFinishing.success>0" id="order_{{value.id}}">
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.id}}" readonly/>
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.qty}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input id="category_name_{{value.id}}" type="text" class="form-control" value="{{value.category_name}}"  />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.client_name}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.job_name}}" />
                        </div>
                        <div class="col-md-2 nopad-left">
                            <input type="text" class="form-control" value="{{value.order_notes}}" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <!-- <button class="btn btn-xs btn-info" ui-sref="order.edit({ id: value.id,client_id: value.client_id })">Edit</button> -->
                            <button class="btn btn-xs btn-danger" ng-click="deleteorder(value.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn clientTab" id="speciality">
                <div class="form-group col-md-12 tabTitle nopad-form">
                    <div class="col-md-12 nopad-left">
                        <div class="col-md-1 ">Job #</div>
                        <div class="col-md-1 ">Qty</div>
                        <div class="col-md-1 ">Finishing Item</div>
                        <div class="col-md-1 ">Client</div>
                        <div class="col-md-1 ">Job Name</div>
                        <div class="col-md-2 ">Note</div>
                        <div class="col-md-1 ">Time(hrs)</div>
                        <div class="col-md-1 ">Start</div>
                        <div class="col-md-1 ">End</div>
                        <div class="col-md-1 ">EST Completion Time</div>
                        <div class="col-md-1 ">Action</div>
                    </div>                          
                </div>
                <div class="task_assign_details">
                    <div class="form-group col-md-12 tabTitle nopad-form" ng-repeat="value in listFinishing.records.speciality" ng-if="listFinishing.success>0" id="order_{{value.id}}">
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.id}}" readonly/>
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.qty}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input id="category_name_{{value.id}}" type="text" class="form-control" value="{{value.category_name}}"  />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.client_name}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.job_name}}" />
                        </div>
                        <div class="col-md-2 nopad-left">
                            <input type="text" class="form-control" value="{{value.order_notes}}" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <!-- <button class="btn btn-xs btn-info" ui-sref="order.edit({ id: value.id,client_id: value.client_id })">Edit</button> -->
                            <button class="btn btn-xs btn-danger" ng-click="deleteorder(value.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn clientTab" id="packing">
                <div class="form-group col-md-12 tabTitle nopad-form">
                    <div class="col-md-12 nopad-left">
                        <div class="col-md-1 ">Job #</div>
                        <div class="col-md-1 ">Qty</div>
                        <div class="col-md-1 ">Finishing Item</div>
                        <div class="col-md-1 ">Client</div>
                        <div class="col-md-1 ">Job Name</div>
                        <div class="col-md-2 ">Note</div>
                        <div class="col-md-1 ">Time(hrs)</div>
                        <div class="col-md-1 ">Start</div>
                        <div class="col-md-1 ">End</div>
                        <div class="col-md-1 ">EST Completion Time</div>
                        <div class="col-md-1 ">Action</div>
                    </div>                          
                </div>
                <div class="task_assign_details">
                    <div class="form-group col-md-12 tabTitle nopad-form" ng-repeat="value in listFinishing.records.packing" ng-if="listFinishing.success>0" id="order_{{value.id}}">
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.id}}" readonly/>
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.qty}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input id="category_name_{{value.id}}" type="text" class="form-control" value="{{value.category_name}}"  />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.client_name}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.job_name}}" />
                        </div>
                        <div class="col-md-2 nopad-left">
                            <input type="text" class="form-control" value="{{value.order_notes}}" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <!-- <button class="btn btn-xs btn-info" ui-sref="order.edit({ id: value.id,client_id: value.client_id })">Edit</button> -->
                            <button class="btn btn-xs btn-danger" ng-click="deleteorder(value.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn clientTab" id="sticker">
                <div class="form-group col-md-12 tabTitle nopad-form">
                    <div class="col-md-12 nopad-left">
                        <div class="col-md-1 ">Job #</div>
                        <div class="col-md-1 ">Qty</div>
                        <div class="col-md-1 ">Finishing Item</div>
                        <div class="col-md-1 ">Client</div>
                        <div class="col-md-1 ">Job Name</div>
                        <div class="col-md-2 ">Note</div>
                        <div class="col-md-1 ">Time(hrs)</div>
                        <div class="col-md-1 ">Start</div>
                        <div class="col-md-1 ">End</div>
                        <div class="col-md-1 ">EST Completion Time</div>
                        <div class="col-md-1 ">Action</div>
                    </div>                          
                </div>
                <div class="task_assign_details">
                    <div class="form-group col-md-12 tabTitle nopad-form" ng-repeat="value in listFinishing.records.sticker" ng-if="listFinishing.success>0" id="order_{{value.id}}">
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.id}}" readonly/>
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.qty}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input id="category_name_{{value.id}}" type="text" class="form-control" value="{{value.category_name}}"  />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.client_name}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.job_name}}" />
                        </div>
                        <div class="col-md-2 nopad-left">
                            <input type="text" class="form-control" value="{{value.order_notes}}" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <!-- <button class="btn btn-xs btn-info" ui-sref="order.edit({ id: value.id,client_id: value.client_id })">Edit</button> -->
                            <button class="btn btn-xs btn-danger" ng-click="deleteorder(value.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn clientTab" id="sew_on_women_tag">
                <div class="form-group col-md-12 tabTitle nopad-form">
                    <div class="col-md-12 nopad-left">
                        <div class="col-md-1 ">Job #</div>
                        <div class="col-md-1 ">Qty</div>
                        <div class="col-md-1 ">Finishing Item</div>
                        <div class="col-md-1 ">Client</div>
                        <div class="col-md-1 ">Job Name</div>
                        <div class="col-md-2 ">Note</div>
                        <div class="col-md-1 ">Time(hrs)</div>
                        <div class="col-md-1 ">Start</div>
                        <div class="col-md-1 ">End</div>
                        <div class="col-md-1 ">EST Completion Time</div>
                        <div class="col-md-1 ">Action</div>
                    </div>                          
                </div>
                <div class="task_assign_details">
                    <div class="form-group col-md-12 tabTitle nopad-form" ng-repeat="value in listFinishing.records.sew_on_women_tag" ng-if="listFinishing.success>0" id="order_{{value.id}}">
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.id}}" readonly/>
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.qty}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input id="category_name_{{value.id}}" type="text" class="form-control" value="{{value.category_name}}"  />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.client_name}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.job_name}}" />
                        </div>
                        <div class="col-md-2 nopad-left">
                            <input type="text" class="form-control" value="{{value.order_notes}}" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <!-- <button class="btn btn-xs btn-info" ui-sref="order.edit({ id: value.id,client_id: value.client_id })">Edit</button> -->
                            <button class="btn btn-xs btn-danger" ng-click="deleteorder(value.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn clientTab" id="inside_tag">
                <div class="form-group col-md-12 tabTitle nopad-form">
                    <div class="col-md-12 nopad-left">
                        <div class="col-md-1 ">Job #</div>
                        <div class="col-md-1 ">Qty</div>
                        <div class="col-md-1 ">Finishing Item</div>
                        <div class="col-md-1 ">Client</div>
                        <div class="col-md-1 ">Job Name</div>
                        <div class="col-md-2 ">Note</div>
                        <div class="col-md-1 ">Time(hrs)</div>
                        <div class="col-md-1 ">Start</div>
                        <div class="col-md-1 ">End</div>
                        <div class="col-md-1 ">EST Completion Time</div>
                        <div class="col-md-1 ">Action</div>
                    </div>                          
                </div>
                <div class="task_assign_details">
                    <div class="form-group col-md-12 tabTitle nopad-form" ng-repeat="value in listFinishing.records.inside_tag" ng-if="listFinishing.success>0" id="order_{{value.id}}">
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.id}}" readonly/>
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.qty}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input id="category_name_{{value.id}}" type="text" class="form-control" value="{{value.category_name}}"  />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.client_name}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.job_name}}" />
                        </div>
                        <div class="col-md-2 nopad-left">
                            <input type="text" class="form-control" value="{{value.order_notes}}" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <!-- <button class="btn btn-xs btn-info" ui-sref="order.edit({ id: value.id,client_id: value.client_id })">Edit</button> -->
                            <button class="btn btn-xs btn-danger" ng-click="deleteorder(value.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn clientTab" id="active">
                <div class="form-group col-md-12 tabTitle nopad-form">
                    <div class="col-md-12 nopad-left">
                        <div class="col-md-1 ">Job #</div>
                        <div class="col-md-1 ">Qty</div>
                        <div class="col-md-1 ">Finishing Item</div>
                        <div class="col-md-1 ">Client</div>
                        <div class="col-md-1 ">Job Name</div>
                        <div class="col-md-2 ">Note</div>
                        <div class="col-md-1 ">Time(hrs)</div>
                        <div class="col-md-1 ">Start</div>
                        <div class="col-md-1 ">End</div>
                        <div class="col-md-1 ">EST Completion Time</div>
                        <div class="col-md-1 ">Action</div>
                    </div>                          
                </div>
                <div class="task_assign_details">
                    <div class="form-group col-md-12 tabTitle nopad-form" ng-repeat="value in listFinishing.records.active" ng-if="listFinishing.success>0" id="order_{{value.id}}">
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.id}}" readonly/>
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.qty}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input id="category_name_{{value.id}}" type="text" class="form-control" value="{{value.category_name}}"  />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.client_name}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.job_name}}" />
                        </div>
                        <div class="col-md-2 nopad-left">
                            <input type="text" class="form-control" value="{{value.order_notes}}" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <!-- <button class="btn btn-xs btn-info" ui-sref="order.edit({ id: value.id,client_id: value.client_id })">Edit</button> -->
                            <button class="btn btn-xs btn-danger" ng-click="deleteorder(value.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn clientTab" id="completed">
                <div class="form-group col-md-12 tabTitle nopad-form">
                    <div class="col-md-12 nopad-left">
                        <div class="col-md-1 ">Job #</div>
                        <div class="col-md-1 ">Qty</div>
                        <div class="col-md-1 ">Finishing Item</div>
                        <div class="col-md-1 ">Client</div>
                        <div class="col-md-1 ">Job Name</div>
                        <div class="col-md-2 ">Note</div>
                        <div class="col-md-1 ">Time(hrs)</div>
                        <div class="col-md-1 ">Start</div>
                        <div class="col-md-1 ">End</div>
                        <div class="col-md-1 ">EST Completion Time</div>
                        <div class="col-md-1 ">Action</div>
                    </div>                          
                </div>
                <div class="task_assign_details">
                    <div class="form-group col-md-12 tabTitle nopad-form" ng-repeat="value in listFinishing.records.completed" ng-if="listFinishing.success>0" id="order_{{value.id}}">
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.id}}" readonly/>
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.qty}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input id="category_name_{{value.id}}" type="text" class="form-control" value="{{value.category_name}}"  />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.client_name}}" readonly />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="{{value.job_name}}" />
                        </div>
                        <div class="col-md-2 nopad-left">
                            <input type="text" class="form-control" value="{{value.order_notes}}" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-md-1 nopad-left">
                            <!-- <button class="btn btn-xs btn-info" ui-sref="order.edit({ id: value.id,client_id: value.client_id })">Edit</button> -->
                            <button class="btn btn-xs btn-danger" ng-click="deleteorder(value.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>