    <div class="content order-info-page m-b-20">
        <div class="simple-table-container md-whiteframe-4dp">
            <div class="table-title paddingbottom-0" layout="row" layout-align="space-between center">
                <div class="table-title-text h2 text-semibold" flex=20>
                    <div class="title" layout-padding><span class="basicInfoStyle">COMPANY AFFILIATES</span></div>
                </div>
                <div class="order-modal-title " layout="row" layout-align="end center" flex=11 >
                    <a class="link-back cursor-p createPriceGridLink" ui-sref="">ADD NEW AFFILIATE</a>
                </div>
            </div>
            <div class="ms-responsive-table-wrapper priceGridTableContainer userMgmntPadding">
                <table class="scrol table3 row-border hover" id="userMgmnt" dt-options="vm.dtOptions"  >
                    <thead>

                        <tr>
                            <th class="secondary-text userMgmntTdWidth">
                                <div class="table-header">
                                    <span class="column-title">Affiliate Name</span>
                                </div>
                            </th>
                            <th class="secondary-text userMgmntTdWidth">
                                <div class="table-header">
                                    <span class="column-title">Affiliate Pricing Grid</span>
                                </div>
                            </th>
                            <th class="secondary-text">

                            </th>
                        </tr>
                    </thead>
                   <tbody class="scrollable" ms-scroll>
                        <tr class="cursor-p">
                            <td class="">Affiliate Name</td>
                            <td class="userMgmntTdWidth">Grid1</td>
                            <td class="text-right "> 
                                <md-menu>
                                    <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ng-click="vm.openaddDesignDialog($event,design.id)">
                                                Edit Affiliate
                                            </md-button>
                                        </md-menu-item>
                                         
                                        <md-menu-item>
                                            <md-button ng-click="vm.openaddDesignDialog($event,design.id)">
                                                Delete Affiliate
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        <tr class="cursor-p">
                            <td class="">Affiliate Name</td>
                            <td class="userMgmntTdWidth">Grid1</td>
                            <td class="text-right "> 
                                <md-menu>
                                    <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ng-click="vm.openaddDesignDialog($event,design.id)">
                                                Edit Affiliate
                                            </md-button>
                                        </md-menu-item>
                                         
                                        <md-menu-item>
                                            <md-button ng-click="vm.openaddDesignDialog($event,design.id)">
                                                Delete Affiliate
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        <tr class="cursor-p">
                            <td class="">Affiliate Name</td>
                            <td class="userMgmntTdWidth">Grid1</td>
                            <td class="text-right "> 
                                <md-menu>
                                    <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ng-click="vm.openaddDesignDialog($event,design.id)">
                                                Edit Affiliate
                                            </md-button>
                                        </md-menu-item>
                                         
                                        <md-menu-item>
                                            <md-button ng-click="vm.openaddDesignDialog($event,design.id)">
                                                Delete Affiliate
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        <tr class="cursor-p">
                            <td class="">Affiliate Name</td>
                            <td class="userMgmntTdWidth">Grid1</td>
                            <td class="text-right "> 
                                <md-menu>
                                    <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ng-click="vm.openaddDesignDialog($event,design.id)">
                                                Edit Affiliate
                                            </md-button>
                                        </md-menu-item>
                                         
                                        <md-menu-item>
                                            <md-button ng-click="vm.openaddDesignDialog($event,design.id)">
                                                Delete Affiliate
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        <tr class="cursor-p">
                            <td class="">Affiliate Name</td>
                            <td class="userMgmntTdWidth">Grid1</td>
                            <td class="text-right "> 
                                <md-menu>
                                    <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ng-click="vm.openaddDesignDialog($event,design.id)">
                                                Edit Affiliate
                                            </md-button>
                                        </md-menu-item>
                                         
                                        <md-menu-item>
                                            <md-button ng-click="vm.openaddDesignDialog($event,design.id)">
                                                Delete Affiliate
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                    </tbody> 
                </table>
         
            </div>
        </div>
    </div>