    <div class="content order-info-page m-b-20">
        <div class="simple-table-container md-whiteframe-4dp">
            <div class="table-title paddingbottom-0" layout="row" layout-align="space-between center">
                <div class="table-title-text" flex=20>COMPANY AFFILIATE</div>
                <div class="order-modal-title " layout="row" layout-align="end center" flex=11 ng-show="allow_access==1">
                    <span class="cursor-p stokkup-btn-style1 pull-left" ng-click="vm.addAffiliate($event)">ADD NEW</span>
                </div>
            </div>
            <div class=" ms-responsive-table-wrapper userMgmntPadding">
                <table class="simple" >
                    <thead>

                        <tr>
                            <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Affiliate Name</span>
                                </div>
                            </th>
                             <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Affiliate Email</span>
                                </div>
                            </th>
                            <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Price Grid</span>
                                </div>
                            </th>
                             <th class="secondary-text ">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                            <th ng-show="role_slug=='CA' || role_slug=='AM'  || role_slug=='FM'  || role_slug=='PU'"  class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Action</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                   <tbody >
                        <tr  ng-repeat="affiliate in affilate_array">
                            <td class="">{{affiliate.name}}</td>
                            <td class="">{{affiliate.email}}</td>
                            <td class="">{{affiliate.price_grid}}</td>
                            <td ng-if="affiliate.status==1">Active</td>
                            <td ng-if="affiliate.status==0">Inactive</td>
                            <td ng-show="role_slug!='AT' && role_slug!='SU'" class=""> 
                                <md-menu>
                                    <md-button aria-label="Account Options" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4"> 
                                        <md-menu-item>
                                            <md-button ng-click="vm.editAffiliate($event,affiliate.id)">
                                                Edit affiliate
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-show="allow_access==1">
                                            <md-button ng-click="RemoveFields('affiliates','id',affiliate.id,'affilates')">
                                                Delete affiliate
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>



                    </tbody> 
                </table>
         
            </div>
        </div>
    </div>