<div class="content client-list-page stockkup-content-table-container">
    <div class="tab-view-page simple-table-container stokkup-main-tableview">
        <md-content class="shipping-custom-tab transparent-bg schedule-board-tab">
            <md-tabs md-dynamic-height md-border-bottom class="client-profile-tab">
                <div class="table-title white-bg bottom-shadow" flex=100 layout="row" layout-align="space-between center">
                    <div class="table-title-text pull-left" flex=70 class="cursor-p">Production Schedule Board</div>
                    <div class="pull-right boardtxt" flex=30><span class="text-uppercase"><b>Board views:</b></span></div>

                </div>

                <!---Order Waiting to Ship Tab-->
                <div>
                    <md-tab md-on-select="SchedualBoardData(run_date)" label="day" ng-click="getTab('wait')">
                        <div class="fixe-top-tabs">
                            <div class="inner-full-box mt-10">
                                <div class="white-bg pull-left full-row schedule-main">
                                    <div class="prod-board-details">
                                        <div flex=20 class="full-row pull-left text-center p-20">
                                        </div>
                                        <div flex=60 class="full-row pull-left text-center p-20">
                                            <div class="date-slider mt-5">
                                                <a href="#"><i ng-click="SchedualBoardData(prev_date)" class="fa fa-angle-left"></i></a>
                                                <span class="curr-seleceted-date">{{current_date}}</span>
                                                <a href="#"><i ng-click="SchedualBoardData(next_date)" class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                        <div flex=20 class="pull-right">
                                            <md-input-container class="md-block date-input scheduleboarddate">
                                                <input kendo-date-picker aria-label="true" placeholder="" ui-event="{ change : 'SchedualBoardData($event.target.value)' }" k-ng-model="dateObject1">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="full-row pull-left">
                                    <div class="unscheduled-lot">
                                        <div class="slot">
                                            <div class="p-5 full-row pull-left slot-header">
                                                <span class="slot-name text-center text-capitalize full-row mb-10 pull-left">Unscheduled</span>

                                                <div class="full-row pull-left mt-10 p-5 mb-5">
                                                    <span class="pull-left text-capitalize full-row" flex=65>Total Unscheduled:</span>
                                                    <span class="global-labels text-right pull-right full-row" flex=35>{{count_day}}</span>
                                                </div>
                                                <div class="full-row pull-left p-5">
                                                    <span class="pull-left text-capitalize full-row" flex=65>average machine hours</span>
                                                    <span class="global-labels text-right pull-right full-row" flex=35><span class="ld-sign">9</span></span>
                                                </div>
                                            </div>
                                            <div class="slot-content">
                                                <div>
                                                    <h4 class="text-center shift-name"></h4>
                                                    <div dragula='"day-bag"' id='0-0' class="full-row pull-left p-5 shift-container">
                                                        <div class="shift-card" id='{{positions.id}}' ng-repeat="positions in SchedualDataUnassign" ng-class="positions.rush_job==1?'rush-card':''">
                                                              <positions-card ng-model="positions"></positions-card>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <table class="scheduled-table">
                                        <tr>
                                            <td ng-repeat="(machine_key,machine_day) in machine_all">
                                                <div class="slot">
                                                    <div class="p-5 full-row pull-left slot-header">
                                                        <span class="slot-name text-center text-capitalize full-row mb-10 pull-left">{{machine_day.machine_name}}</span>
                                                       
                                                        <div class="shift-box text-center p-3 mr5" ng-repeat="(shift_key,shift) in shift_all">
                                                            <span class="mb-10">{{shift.shift_name}}</span>
                                                            <h6>10%</h6>
                                                        </div>
                                                       
                                                        <div class="full-row pull-left mt-10 p-5 mb-5">
                                                            <span class="pull-left text-capitalize full-row" flex=65>total machine capacity</span>
                                                            <span class="global-labels text-right pull-right full-row" flex=35>10%</span>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="slot-content">
                                                        <div ng-repeat="(shift_key,shift) in shift_all">
                                                            <h4 class="text-center shift-name">{{shift.shift_name}}</h4>
                                                            <div dragula='"day-bag"' id="{{shift.id}}-{{machine_day.id}}" class="full-row pull-left p-5 shift-container">
                                                                <div id="{{positions.id}}" class="shift-card" ng-repeat="positions in SchedualData[machine_day.id][shift.id]" ng-class="positions.rush_job==1?'rush-card':''" ng-click="GetSchedulePositionDetail(positions.position_id,machine_day.id)">
                                                                      <positions-card ng-model="positions"></positions-card>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

<!--                                             <td ng-repeat="machine in machine_all">
                                                <div class="slot">
                                                    <div class="p-5 full-row pull-left slot-header">
                                                        <span class="slot-name text-center text-capitalize full-row mb-10 pull-left">{{machine.machine_name}}</span>
                                                        <div class="shift-box text-center p-3">
                                                            <span class="mb-10">1st Shift</span>
                                                            <h6>10%</h6>
                                                        </div>
                                                        <div class="shift-box middle text-center p-3">
                                                            <span>2nd Shift</span>
                                                            <h6>60%</h6>
                                                        </div>
                                                        <div class="shift-box text-center p-3">
                                                            <span>3rd Shift</span>
                                                            <h6>23%</h6>
                                                        </div>
                                                        <div class="full-row pull-left mt-10 p-5 mb-5">
                                                            <span class="pull-left text-capitalize full-row" flex=65>total machine capacity</span>
                                                            <span class="global-labels text-right pull-right full-row" flex=35>10%</span>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="slot-content">
                                                        <div ng-repeat="shift in [{'shift_name':'Shift 1'},{'shift_name':'Shift 2'},{'shift_name':'Shift 3'}]">
                                                            <h4 class="text-center">{{shift.shift_name}}</h4>
                                                            <div dragula='"day-bag"' class="full-row pull-left p-5 shift-container">
                                                                <div class="shift-post-card" ng-repeat="positions in shift.shift_data" ng-click="GetSchedulePositionDetail(positions.position_id)">
                                                                    <div class="pull-left right-search-box">{{positions.name}} - #{{positions.display_number}} - {{positions.position_name}}</div>
                                                                    <div class="box-30">
                                                                        <img ng-src="{{positions.image_1}}" style="height: 92px; width:100%">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td> -->
                                        </tr>
                                    </table>
                                </div>
                                <!-- <div class="white-bg pull-left full-row schedule-main"  ng-show="get_data==0">
                            		<div class="prod-board-details">
                            			<div flex=100 class="full-row pull-left text-center p-20">
                            				<h2>No Record found.</h2>
                            			</div>
                            		</div>
	                        	</div> -->
                            </div>
                        </div>
                    </md-tab>
                </div>
                <!---Order In Progress Tab-->
                <div>
                    <md-tab md-on-select="SchedualBoardweekData(dayTabDate)" label="week" ng-click="getTab('progress')">
                        <div class="fixe-top-tabs">
                            <div class="inner-full-box mt-30">
                                <div class="white-bg pull-left full-row schedule-main">
                                    <div class="prod-board-details">
                                        <div flex=20 class="full-row pull-left text-center p-20">
                                        </div>
                                        <div flex=60 class="full-row pull-left text-center p-20">
                                            <div class="date-slider mt-5">
                                                <a href="#"><i ng-click="SchedualBoardweekData(prevweek_date)" class="fa fa-angle-left"></i></a>
                                                <span class="curr-seleceted-date">{{currentweek_date}}</span>
                                                <a href="#"><i ng-click="SchedualBoardweekData(nextweek_date)" class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                        <div flex=20 class="pull-right">
                                            <md-input-container class="md-block date-input scheduleboarddate">
                                                <input kendo-date-picker placeholder="" aria-label="true" ui-event="{ change : 'SchedualBoardweekData($event.target.value)' }" k-ng-model="dateObject2">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="full-row pull-left">
                                    <div class="unscheduled-lot">
                                        <div class="slot">
                                            <div class="p-5 full-row pull-left slot-header">
                                                <span class="slot-name text-center text-capitalize full-row mb-10 pull-left">Unscheduled</span>


                                                <div class="full-row pull-left mt-10 p-5 mb-5">
                                                    <span class="pull-left text-capitalize full-row" flex=65>Total Unscheduled:</span>
                                                    <span class="global-labels text-right pull-right full-row" flex=35>{{count_week}}</span>
                                                </div>
                                                <div class="full-row pull-left p-5">
                                                    <span class="pull-left text-capitalize full-row" flex=65>average daily hours</span>
                                                    <span class="global-labels text-right pull-right full-row" flex=35><span class="ld-sign">9</span></span>
                                                </div>
                                            </div>
                                            <div class="slot-content">
                                                <div>
                                                    <h4 class="text-center shift-name"></h4>
                                                    <div dragula='"week-bag"' id='0,0000-00-00' class="full-row pull-left p-5 shift-container">
                                                        <div class="shift-card" id="{{positions.id}}" ng-repeat="positions in SchedualweekDataUnassign" ng-class="positions.rush_job==1?'rush-card':''" >
                                                            <positions-card ng-model="positions"></positions-card>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="scheduled-table">
                                        <tr>
                                            <td ng-repeat="scheduleweek in weekArray">
                                                <div class="slot">
                                                    <div class="p-5 full-row pull-left slot-header">
                                                        <span class="slot-name text-center text-capitalize full-row mb-10 pull-left">{{scheduleweek}}</span>
                                                        <div class="shift-box text-center p-3">
                                                            <span class="mb-10">1st Shift</span>
                                                            <h6>10%</h6>
                                                        </div>
                                                        <div class="shift-box middle text-center p-3">
                                                            <span>2nd Shift</span>
                                                            <h6>60%</h6>
                                                        </div>
                                                        <div class="shift-box text-center p-3">
                                                            <span>3rd Shift</span>
                                                            <h6>23%</h6>
                                                        </div>
                                                        <div class="full-row pull-left mt-10 p-5 mb-5">
                                                            <span class="pull-left text-capitalize full-row" flex=65>total daily capacity</span>
                                                            <span class="global-labels text-right pull-right full-row" flex=35>10%</span>
                                                        </div>
                                                    </div>
                                                    <div class="slot-content">
                                                        <div ng-repeat="shift in shift_all">
                                                            <h4 class="text-center shift-name">{{shift.shift_name}}</h4>
                                                            <div dragula='"week-bag"' id="{{shift.id}},{{scheduleweek}}" class="full-row pull-left p-5 shift-container">
                                                                <div class="shift-card" id="{{positions.id}}" ng-repeat="positions in SchedualweekData[scheduleweek][shift.id]" ng-class="positions.rush_job==1?'rush-card':''" ng-click="GetSchedulePositionDetail(positions.position_id,positions.machine_id)">
                                                                    <positions-card ng-model="positions"></positions-card>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <!-- <div class="white-bg pull-left full-row schedule-main" ng-show="getweek_data==0">
                                    <div class="prod-board-details">
                                        <div flex=100 class="full-row pull-left text-center p-20">
                                            <h2>No Record found.</h2>
                                        </div>
                                    </div>
                                </div> -->
                        </div>
                    </md-tab>
                </div>
                <!---Shipped Orders Tab-->
                <div>
                    <md-tab md-on-select="SchedualBoardMachineData(dayTabDate,0)" label="machine" ng-click="getTab('shipped')">
                        <div class="fixe-top-tabs">
                            <div class="inner-full-box mt-30">
                                <div class="white-bg pull-left full-row schedule-main">
                                    <div class="prod-board-details">
                                        <div flex=20 class="full-row pull-left text-center pl-10">
                                            <div class="date-slider mt-5">
                                                <md-select aria-label="true" ng-model="machine_id" name="machine_id" ng-change='SchedualBoardMachineData(machineDate,machine_id)'>
                                                    <md-option value="0">
                                                        Select Machine
                                                    </md-option>
                                                    <md-option ng-repeat="machine in machine_all" value="{{machine.id}}">
                                                        {{machine.machine_name}}
                                                    </md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                        <div flex=60 class="full-row pull-left text-center pt-20">
                                            <div class="date-slider mt-5">
                                                <a href="#"><i ng-click="SchedualBoardMachineData(prevmachine_date,machine_id)" class="fa fa-angle-left"></i></a>
                                                <span class="curr-seleceted-date">{{currentmachine_date}}</span>
                                                <a href="#"><i ng-click="SchedualBoardMachineData(nextmachine_date,machine_id)" class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                        <div flex=20 class="pull-right">
                                            <md-input-container class="md-block date-input scheduleboarddate">
                                                <input kendo-date-picker placeholder="" aria-label="true" ui-event="{ change : 'SchedualBoardMachineData($event.target.value,machine_id)' }" k-ng-model="dateObject3">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="full-row pull-left" ng-show="getmachine_data==1">
                                  <div class="unscheduled-lot">
                                      <div class="slot">
                                          <div class="p-5 full-row pull-left slot-header  machine-slot-header">
                                              <span class="slot-name text-center text-capitalize full-row mb-10 pull-left">Unscheduled</span>

                                              <div class="full-row pull-left  p-5 mb-5">
                                                  <span class="pull-left text-capitalize full-row" flex=65>Total Unscheduled:</span>
                                                  <span class="global-labels text-right pull-right full-row" flex=35>{{count_machine}}</span>
                                              </div>
                                              <div class="full-row pull-left p-5">
                                                  <span class="pull-left text-capitalize full-row" flex=65>average daily hours</span>
                                                  <span class="global-labels text-right pull-right full-row" flex=35><span class="ld-sign">9</span></span>
                                              </div>
                                          </div>
                                          <div class="slot-content">
                                              <div>
                                                  <h4 class="text-center shift-name"></h4>
                                                  
                                                  <div dragula='"machine-bag"' id="0-0" class="full-row pull-left p-5 shift-container">
                                                  <div class="shift-card" ng-repeat="positions in SchedualmachineDataUnassign" id="{{positions.id}}" ng-class="positions.rush_job==1?'rush-card':''" >
                                                          <positions-card ng-model="positions"></positions-card>
                                                      </div>
                                                  </div>
                                              </div>

                                          </div>
                                      </div>
                                  </div>
                                    <table class="scheduled-table">
                                        <tr>
                                            <td ng-repeat="machineShift in shift_all">
                                                <div class="slot">
                                                    <div class="p-5 full-row pull-left slot-header machine-slot-header">
                                                        <span class="slot-name text-center text-capitalize full-row mb-10 pull-left">{{machineShift.shift_name}}</span>
                                                        <div class="machine-capacity-box text-center p-3 ">
                                                            <h6>23%</h6>
                                                              <span>Capacity</span>
                                                        </div>
                                                    </div>
                                                    <div class="slot-content">
                                                        <div dragula='"machine-bag"' id="{{machineShift.id}}-{{machine_id}}" class="full-row pull-left p-5 shift-container">
                                                            <div class="shift-card" id="{{positions.id}}" ng-repeat="positions in SchedualmachineData[machineShift.id]" ng-class="positions.rush_job==1?'rush-card':''" ng-click="GetSchedulePositionDetail(positions.position_id,positions.machine_id)">
                                                              <positions-card ng-model="positions"></positions-card>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="slot">
                                                    <div class="p-5 full-row pull-left slot-header machine-slot-header">
                                                        <span class="slot-name text-center text-capitalize full-row mb-10 pull-left">total daily capacity</span>
                                                        <div class="machine-capacity-box text-center p-3 ">
                                                            <h6>92%</h6>
                                                            <span>Capacity</span>
                                                        </div>
                                                    </div>
                                                    <div class="slot-content">
                                                        <!-- <div class="full-row pull-left p-5 shift-container"> 
                                                             <div class="shift-card" ng-repeat="positionsall in SchedualmachineData.shift_all" ng-class="positionsall.rush_job==1?'rush-card':''" ng-click="GetSchedulePositionDetail(positionsall.position_id,positionsall.machine_id)">
                                                              <positions-card ng-model="positionsall"></positions-card>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- <div class="white-bg pull-left full-row schedule-main" ng-show="getmachine_data==0">
                                    <div class="prod-board-details">
                                        <div flex=100 class="full-row pull-left text-center p-20">
                                            <h2>No Record found.</h2>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </md-tab>
                </div>
            </md-tabs>
        </md-content>
    </div>

</div>
