<md-dialog class="task-dialog designadd-dialog ship-order-popup" aria-label="New order">
    <form name="orderForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Add/Edit Name</span>
                <md-button  ng-click="cancel()" class="close-stokkup-dialog">
                    <span>close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-wrap="nowrap" class="design-add-modal " layout-padding>
                <md-input-container class="md-block date-input md-input-has-value">
                    <label>Method:</label>
                    <md-select ng-model="topping">
                      <md-optgroup label="Method 1">
                        <md-option>Method 1</md-option>
                        <md-option>Method 1</md-option>
                        <md-option>Method 1</md-option>
                      </md-optgroup>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block date-input md-input-has-value">
                    <input placeholder="Date Shipping:"kendo-date-picker  />
                </md-input-container>

                <!--<div class="h5 text-semibold">SKU:</div>-->
                <md-input-container flex="100" class="md-block margin-0 m-b-20">
                    <input placeholder="SKU" name="SKU">
                </md-input-container>

                <!--<div class="h5 text-semibold">Notes:</div>-->
                <md-input-container flex="100" class="md-block margin-0 m-b-20 md-icon-float">
                    <input placeholder="Notes" name="Notes">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button class="md-accent md-raised ">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
