<div class="content order-list-page">
    <div class="simple-table-container md-whiteframe-4dp">
        <div class="table-title " layout="row" layout-align="space-between center">
            <div class="table-title-text pd15-TB" flex=100 class="cursor-p" ng-click="vm.openaddDesignDialog($event)">
                Arts
            </div>
        </div>
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom class="client-profile-tab">
                    <!-----------------Orders Tab-------------------->
                    <md-tab label="Orders">
                        <div layout="row" layout-align="space-between right" class="art-search-cntnr">
                            <div flex=73 class="pd25-T">
                                <md-icon ng-click="vm.openRightMenu()" md-menu-origin md-font-icon="icon-filter-variant" class="cursor-p" style="float:right;">
                                    <md-tooltip md-delay="demo.delayTooltip">Filter By - Client</md-tooltip>
                                </md-icon>
                            </div>
                            <div class="search-block" flex=25>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label> <md-icon md-font-icon="icon-magnify"></md-icon></label>
                                    <input ng-model="vm.searchQuery" >
                                </md-input-container>
                            </div>
                        </div>
                        <!--Filter Sidebar Start-->
                        <div class="filter-menu filter-box">
                            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" layout="column">
                                <md-toolbar class=" filter-title">
                                    <h1 class="md-toolbar-tools">Filter By - Orders</h1>
                                </md-toolbar>
                                <md-content class="flex-fix-bottom scrollable"  ms-scroll>
                                    <div class="contant-filter filter-detail" >
                                        <div layout="column" class="f-box-1 first-cheak">
                                            <div class="f-header">
                                            <span class="select-count">3 Selected</span>
                                           <!--  <span> Clients
                                                <button ng-if="vm.toggle" ng-click="vm.toggle = false">
                                                <md-icon md-font-icon="icon-menu-up"></md-icon>
                                                </button>
                                                <button ng-if="!vm.toggle" ng-click="vm.toggle = true">
                                                <md-icon md-font-icon="icon-menu-down"></md-icon>
                                                </button>
                                                </span> -->
                                                <md-divider ></md-divider>
                                            </div>
                                            <div ng-if="vm.toggle" class="f-body scrollable pad0"  ms-scroll>
                                                <div class="filter-cntnr scrollable" ms-scroll>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Front</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row" >
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Back</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Side Right</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Side Left</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </md-content>
                                <div class="filter-footer" layout="row">
                                    <md-button class="md-accent md-raised md-btn-block md-button md-default-theme md-ink-ripple"  flex="50" ng-click="filterOrders()"> APPLY FILTERS </md-button>
                                    <md-button ng-click="vm.resetFilter()" class="md-accent md-raised md-btn-block md-button md-default-theme md-ink-ripple bg-grey" flex="50"> RESET FILTERS </md-button>
                                </div>
                            </md-sidenav>
                        </div>
                        <div class="ms-responsive-table-wrapper">
                            <table class="simple hover simple-tbl1">
                                <thead>
                                    <tr>
                                        <th class="secondary-text" width="15%">Order ID</th>
                                        <th class="secondary-text" width="45%">Order Details</th>
                                        <th class="secondary-text text-center" width="15%">Screen Sets </th>
                                        <th class="secondary-text text-center" width="15%">Position</th>
                                        <th class="secondary-text text-center" width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr ng-repeat="art in ::vm.arts" class="cursor-p">
                                        <td>{{ art.orderId}}</td>
                                        <td>{{ art.orderDetail}}</td>
                                        <td class="text-center">{{ art.screenSet}}</td>
                                        <td class="text-center">{{ art.Positions}}</td>
                                        <td class="text-center" ui-sref="app.art.orderView"><a>VIEW</a></td>
                                    </tr>                    
                                </tbody>
                            </table>
                        </div>                    
                    </md-tab>
                    <!-----------------Screen Set Tab-------------------->
                    <md-tab label="Screen Set">
                        <div layout="row" layout-align="space-between right" class="art-search-cntnr">
                            <div flex=73 class="pd25-T">
                                <md-icon ng-click="vm.openRightMenu1()" md-menu-origin md-font-icon="icon-filter-variant" class="cursor-p" style="float:right;">
                                    <md-tooltip md-delay="demo.delayTooltip">Filter By - Screen Set</md-tooltip>
                                </md-icon>
                            </div>
                            <div class="search-block" flex=25>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label> <md-icon md-font-icon="icon-magnify"></md-icon></label>
                                    <input ng-model="vm.searchQuery" >
                                </md-input-container>
                            </div>
                        </div>
                        <!--Filter Sidebar Start-->
                        <div class="filter-menu filter-box" >
                            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="left" layout="column">
                                <md-toolbar class=" filter-title">
                                    <h1 class="md-toolbar-tools">Filter By - Screen Set</h1>
                                </md-toolbar>
                                <md-content class="flex-fix-bottom scrollable"  ms-scroll>
                                    <div class="contant-filter filter-detail" >
                                        <div layout="column" class="f-box-1 first-cheak">
                                            <div class="f-header">
                                            <span class="select-count">3 Selected</span>
                                            <span> Clients
                                                <button ng-if="vm.toggle" ng-click="vm.toggle = false">
                                                <md-icon md-font-icon="icon-menu-up"></md-icon>
                                                </button>
                                                <button ng-if="!vm.toggle" ng-click="vm.toggle = true">
                                                <md-icon md-font-icon="icon-menu-down"></md-icon>
                                                </button>
                                                </span>
                                                <md-divider ></md-divider>
                                            </div>
                                            <div ng-if="vm.toggle" class="f-body scrollable pad0"  ms-scroll>
                                                <div class="filter-cntnr scrollable" ms-scroll>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Screen</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row" >
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Back</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Side Right</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Side Left</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div layout="column" class="f-box-2">
                                            <div class="f-header"> 
                                            <span class="select-count">3 Selected</span>
                                            <span> Sizes
                                                <button ng-if="vm.createdate" ng-click="vm.createdate = false">
                                                <md-icon md-font-icon="icon-menu-up"></md-icon>
                                                </button>
                                                <button ng-if="!vm.createdate" ng-click="vm.createdate = true">
                                                <md-icon md-font-icon="icon-menu-down"></md-icon>
                                                </button>
                                                </span>
                                                <md-divider ></md-divider>
                                            </div>
                                            <div class="f-body" ng-if="vm.createdate">
                                                <div layout="column" >
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Screen</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row" >
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Back</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Side Right</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Side Left</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                    <div layout="row">
                                                        <div flex-xs flex="100">
                                                          <md-checkbox aria-label="Checkbox 1"> Position</md-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                                <div class="filter-footer" layout="row">
                                    <md-button class="md-accent md-raised md-btn-block md-button md-default-theme md-ink-ripple"  flex="50" ng-click="filterOrders()"> APPLY FILTERS </md-button>
                                    <md-button ng-click="vm.resetFilter()" class="md-accent md-raised md-btn-block md-button md-default-theme md-ink-ripple bg-grey" flex="50"> RESET FILTERS </md-button>
                                </div>
                            </md-sidenav>
                        </div>
                        <div class="ms-responsive-table-wrapper">
                            <table class="simple hover simple-tbl1">
                                <thead>
                                    <tr>
                                        <th class="secondary-text" width="15%">Screen Set Name</th>
                                        <th class="secondary-text" width="15%">Position</th>
                                        <th class="secondary-text" width="10%"># of Screens</th>
                                        <th class="secondary-text" width="10%"># of Colors</th>
                                        <th class="secondary-text" width="10%">Frame Size</th>
                                        <th class="secondary-text" width="10%">Lines per inch</th>
                                        <th class="secondary-text" width="10%">width</th>
                                        <th class="secondary-text" width="10%">Height</th>
                                        <th class="secondary-text" width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr ng-repeat="screenset in ::vm.screenset" class="cursor-p">
                                        <td>{{ screenset.setName}}</td>
                                        <td>{{ screenset.position}}</td>
                                        <td>{{ screenset.posScreen}}</td>
                                        <td>{{ screenset.posColor}}</td>
                                        <td>{{ screenset.frameSize}}</td>
                                        <td>{{ screenset.lineInch}}</td>
                                        <td>{{ screenset.width}}</td>
                                        <td>{{ screenset.height}}</td>
                                        <td ui-sref="app.art.screensetView"><a>VIEW</a></td>
                                    </tr>                    
                                </tbody>
                            </table>
                        </div> 
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div> 
</div>
