 <div class="content order-list-page stockkup-content-table-container">
        <div class="simple-table-container md-whiteframe-4dp stokkup-main-tableview">
            <md-content>
                <div md-dynamic-height md-border-bottom class="client-profile-tab">
                   
                    <div label="Orders">
                        <div class="table-title custom-shadow1" layout="row" layout-align="space-between center">

                        <div class="table-title-text" flex=40 class="cursor-p" ng-click="vm.openaddDesignDialog($event)">
                         Arts
                        </div>
                        <div class="art-tabs" flex=30>
                            <span class="active-art" ui-sref="app.art">Orders</span>
                            <span ui-sref="app.screen">ScreenSets</span>
                        </div>
                        <div class="pull-right right-search-box">
                             <div class="search-block pull-right">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label class="top-srch-label">Search Art...</label>
                                    <input ng-model="name" ui-event="{ change : 'search($event)' }">
                                </md-input-container>
                             </div>
                             <md-icon ng-click="vm.openRightMenu()" md-menu-origin md-font-icon="icon-filter-variant" class="cursor-p">
                                <md-tooltip md-delay="demo.delayTooltip">Filter By - Client</md-tooltip>
                            </md-icon>
                        </div> 
                    </div>
                        <div class="ms-responsive-table-wrapper" ng-show="success==1">
                            <div tasty-table bind-resource-callback="getResource" bind-init="init"  bind-filters="filterBy" bind-reload="reloadCallback" >
                                 <table class="dataTable row-border">
                                    <thead tasty-thead></thead>
                                    <tbody >
                                        <tr ng-repeat="art in rows">
                                            <td>{{art.display_number}}</td>
                                            <td class="">{{art.client_company}}</td>
                                            <td class="">{{art.total_screen}}</td>
                                            <td class="">
                                                     <md-select aria-label="status" ng-model="art.approval_id" flex="100"  class="margin-0 select-width font-16 font-weight" ng-change="updateOrderStatus('approval_id',art.approval_id,art.id)" ng-disabled="allow_access == '0'">
                                                    <md-option ng-selected="art.approval_id==misc_approval.id" slug="{{misc_approval.slug}}" ng-repeat="misc_approval in miscData.approval" value={{misc_approval.id}}>{{misc_approval.value}}</md-option>
                                                </md-select>
                                            </td>
                                            <td ><a class="font-12" class="cursor-p" ui-sref="app.art.orderView({id:art.display_number})">VIEW SCREEN SETS</a></td>
                                            <!-- <td class="" ui-sref="app.artOrder.companyPO({id:art.po_id})"> View</td> -->
                                        </tr>
                                    </tbody> 
                                </table>
                                <div tasty-pagination class="tasty-page"></div>
                            </div>
                        </div> 
                         <div class="ms-responsive-table-wrapper" ng-show="success==0">
                         <table class="dataTable row-border">
                            <tbody >
                                <tr>
                                    <td>No records found.</td>
                                </tr>
                            </tbody>
                         </table>
                         </div>
                    </div>
                   <!--  <div label="Screen Sets"  ></div> -->
                    
                </div>
            </md-content>
        </div>
</div>

<div class="filter-menu filter-box">
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" layout="column">
        <md-toolbar class=" filter-title">
            <h1 class="md-toolbar-tools">Filter</h1>
        </md-toolbar>

        <md-content class="flex-fix-bottom scrollable"  ms-scroll>
            <div class="contant-filter filter-detail" >
                <div layout="column" class="f-box-1 first-cheak">
                  
                    <div class="f-body scrollable pad0"  ms-scroll>
                        <div layout="column" >
                            <div ng-dropdown-multiselect="" options="vm.companyCheckData" selected-model="vm.companyCheckModal" extra-settings="vm.companyChecksettings" translation-texts="buttonSetting"  class="cheak-box-class"></div>
                        </div>
                    </div>

                </div>

            </div>
        </md-content>
        <div class="filter-footer" layout="row">
            <md-button class="md-accent md-raised md-btn-block md-button md-default-theme md-ink-ripple"  flex="50" ng-click="filterOrders()"> APPLY FILTERS </md-button>
            <md-button ng-click="vm.resetFilter()" class="md-accent md-raised md-btn-block md-button md-default-theme md-ink-ripple bg-grey" flex="50"> RESET FILTERS </md-button>
        </div>
    </md-sidenav>
</div>
