<div class="order-info-page m-r-15 m-l-20 m-b-20 company-po-page">
    <div class="simple-table-container md-whiteframe-4dp m-t-20 m-b-20 m-r-15 pd15" >
        <table class="tbl-typ2">
            <tr>
                <td>
                    <div class="header-typ1">Shipping Details for Shipment #{{shipping.shipping_id}}</div>
                    <div layout="row" class="pd10">
                        <div flex="30" layout="column" class="pd10-R bdr1-R">
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="50" class="mrg10-R">
                                    <div>Shipping ID</div>
                                    <div class="gray-text">{{ shipping.shipping_id }}</div>
                                </div>
                                <div layout="column" flex="50">
                                    <md-select ng-model="shipping.approval_id" placeholder="Status" class="mrg6-TB" ng-change="updateShippingAll('approval_id',shipping.approval_id,shipping.order_id)">
                                        <md-option ng-selected="shipping.approval_id==misc_approval.id" slug="{{misc_approval.slug}}" ng-repeat="misc_approval in miscData.approval" value={{misc_approval.id}}>{{misc_approval.value}}</md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="50" class="mrg10-R">
                                    <div>Order ID</div>
                                    <div class="gray-text">{{ shipping.order_id }}</div>
                                </div>
                                <div layout="column" flex="50" class="mrg10-R">
                                    <div>Client ID</div>
                                    <div class="gray-text">{{ shipping.client_id }}</div>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="100">
                                    <div>Client</div>
                                    <div class="gray-text">{{ shipping.client_company }}</div>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="100">
                                    <div>Client Distribution</div>
                                    <div class="gray-text">Chris niswandee</div>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="30" class="mrg10-R mrg15-T">
                                    <md-select ng-model="shipping.boxing_type" placeholder="Boxing Type" class="mrg6-TB" name="boxing_type" ng-change="updateShippingAll('boxing_type',shipping.boxing_type,shipping.shipping_id)">
                                        <md-option value="">Boxing Type</md-option>
                                        <md-option ng-selected="shipping.boxing_type==0" value="0">Retail</md-option>
                                        <md-option ng-selected="shipping.boxing_type==1" value="1">Standard</md-option>
                                    </md-select>
                                </div>
                                <div layout="column" flex="35" class="mrg10-R">
                                    <md-input-container flex="100">
                                        <input placeholder="Shipping By" name="Shipping By">
                                    </md-input-container>
                                </div>
                                <div layout="column" flex="35" class="mrg10-R">
                                    <md-input-container flex="100">
                                        <input placeholder="In Hands By" name="In Hands By">
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="30" class="mrg10-R mrg15-T">
                                    <md-select ng-model="shipping.shipping_type_id" placeholder="Shipping Type" class="mrg6-TB" name="shipping_type_id" ng-change="updateShippingAll('shipping_type_id',shipping.shipping_type_id,shipping.shipping_id)">
                                        <md-option>Shipping Type</md-option>
                                        <md-option value="1" ng-selected="shipping.shipping_type_id == 1">UPS</md-option>
                                        <md-option value="2" ng-selected="shipping.shipping_type_id == 2">FEDEX</md-option>
                                    </md-select>
                                </div>
                                <div layout="column" flex="35" class="mrg10-R">
                                    <md-input-container flex="100">
                                        <input placeholder="Date Shipped" name="Date Shipped">
                                    </md-input-container>
                                </div>
                                <div layout="column" flex="35" class="mrg10-R">
                                    <md-input-container flex="100">
                                        <input placeholder="Fully Shipped" name="Fully Shipped">
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="100">
                                    <md-input-container flex="100">
                                        <textarea>{{shipping.description}} {{shipping.attn}} {{shipping.address}} {{shipping.address2}} {{shipping.city}} {{shipping.zipcode}} {{shipping.state}} {{shipping.country}}</textarea>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="100">
                                    <md-input-container flex="100">
                                        <input placeholder="SKUs" name="SKUs">
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="100">
                                    <md-input-container flex="100">
                                        <textarea placeholder="Note" ng-model="shipping.shipping_note" name="shipping_note" ui-event="{ change : 'updateShippingAll($event.target.name,$event.target.value,shipping.shipping_id)'}">{{shipping.shipping_note}}</textarea>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="100">
                                    <div>Cost To Ship</div>
                                    <div class="gray-text">{{ shipping.cost_to_ship |  currency : $ : 2}}</div>
                                </div>
                            </div>
                        </div>
                        <div flex="70" layout="column" class="mrg10-L">
                            <table class="tbl-typ2">
                                <tr>
                                    <td>
                                        <div class="header-typ1 font-13">
                                            United Center
                                            <div class="gray-text font-11 mrg5-T">Client Distribution ID: {{shipping.shipping_id}}</div>
                                        </div>
                                        <div class="pd10-LR tbl-scroll-cntnr" ms-scroll>
                                            <div class="ms-responsive-table-wrapper">
                                                <table class="simple hover simple-tbl1 tbl-typ3">
                                                    <thead>
                                                        <tr>
                                                            <th class="secondary-text" width="10%">Size Group</th>
                                                            <th class="secondary-text" width="10%">Product #</th>
                                                            <th class="secondary-text" width="10%">Color</th>
                                                            <th class="secondary-text" width="10%">Size</th>
                                                            <th class="secondary-text" width="10%">Distributed</th>
                                                            <th class="secondary-text" width="10%">Shipped</th>
                                                            <th class="secondary-text" width="10%">Boxed Qnty</th>
                                                            <th class="secondary-text" width="10%">Remaining to Box</th>
                                                            <th class="secondary-text" width="20%">Max Pack</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody> 
                                                        <tr ng-repeat="item in shippingItems" class="cursor-p">
                                                            <td>{{ item.misc_value}}</td>
                                                            <td>{{ item.name}}</td>
                                                            <td>{{ item.color_name}}</td>
                                                            <td>{{ item.size}}</td>
                                                            <td>{{ item.qnty}}</td>
                                                            <td>{{ item.qnty}}</td>
                                                            <td>{{ item.boxed_qnty}}</td>
                                                            <td>{{ item.remaining_to_box}}</td>
                                                            <td>
                                                                <md-input-container flex="100" class="mrg0-TB">
                                                                    <input placeholder="Max Pack" name="max_pack" ng-model ="item.max_pack" ui-event="{ change : 'updateShippingAll($event.target.name,$event.target.value,item.id)'}" only-number>
                                                                </md-input-container>
                                                            </td>
                                                        </tr>                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row">
        <button aria-label="Back" ng-click="cancel()" class="md-primary md-hue-1 md-accent md-button md-ink-ripple" type="button" ui-sref="app.shipping.orderwaitship({id:shipping.order_id})"><span class="ng-scope">Back</span>
        </button>
        <button type="button" class="md-accent md-raised md-button md-ink-ripple" aria-label="Box Shipment" ng-click="box_shipment(shippingItems)"><span class="ng-scope">Box Shipment</span></button>
    </md-dialog-actions>
</div>