<div class="order-info-page m-r-15 m-l-20 m-b-20 company-po-page">
    <div class="simple-table-container md-whiteframe-4dp m-t-20 m-b-20 m-r-15 pd15" >
        <table class="tbl-typ2">
            <tr>
                <td>
                    <div class="header-typ1">Shipping Details for Shipment #18750</div>
                    <div layout="row" class="pd10">
                        <div flex="30" layout="column" ng-repeat="ship in vm.shipDetail" class="pd10-R bdr1-R">
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="50" class="mrg10-R">
                                    <div>Shipping ID</div>
                                    <div class="gray-text">{{ ship.shippingId }}</div>
                                </div>
                                <div layout="column" flex="50">
                                    <md-select ng-model="company.prime_address_state" placeholder="Status" class="mrg6-TB">
                                        <md-option value="0">Status</md-option>
                                        <md-option>Pending</md-option>
                                        <md-option>Approved</md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="50" class="mrg10-R">
                                    <div>Order ID</div>
                                    <div class="gray-text">{{ ship.orderId }}</div>
                                </div>
                                <div layout="column" flex="50">
                                    <div>Product</div>
                                    <div class="gray-text">{{ ship.product }}</div>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="50" class="mrg10-R">
                                    <div>Client ID</div>
                                    <div class="gray-text">{{ ship.clientId }}</div>
                                </div>
                                <div layout="column" flex="50">
                                    <div>Client</div>
                                    <div class="gray-text">{{ ship.client }}</div>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="50" class="mrg10-R">
                                    <div>Shipping By</div>
                                    <div class="gray-text">{{ ship.shippingby }}</div>
                                </div>
                                <div layout="column" flex="50">
                                    <div>In Hand By</div>
                                    <div class="gray-text">{{ ship.inHandBy }}</div>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="50" class="mrg10-R">
                                    <md-select ng-model="company.prime_address_state" placeholder="Boxing Type" class="mrg6-TB">
                                        <md-option value="0">Boxing Type</md-option>
                                        <md-option>Type1</md-option>
                                        <md-option>Type2</md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="mrg5-B">
                                <div layout="column" flex="100">
                                    <md-select ng-model="company.prime_address_state" placeholder="Shipping Type" class="mrg6-TB">
                                        <md-option value="0">Shipping Type</md-option>
                                        <md-option>Type1</md-option>
                                        <md-option>Type2</md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div layout="row" flex="100">
                                <div layout="column" flex="50" class="mrg10-R">
                                    <md-select ng-model="company.prime_address_state" placeholder="Fully Shipped" class="mrg6-TB">
                                        <md-option value="0">Fully Shipped</md-option>
                                        <md-option>Yes</md-option>
                                        <md-option>No</md-option>
                                    </md-select>
                                </div>
                                <div layout="column" flex="50">
                                    <md-select ng-model="company.prime_address_state" placeholder="Date Shipped" class="mrg6-TB">
                                        <md-option value="0">Date Shipped</md-option>
                                        <md-option>Date1</md-option>
                                        <md-option>Date2</md-option>
                                    </md-select>
                                </div>
                            </div>
                        </div>
                        <div flex="70" layout="column" class="mrg10-L">
                            <table class="tbl-typ2">
                                <tr>
                                    <td>
                                        <div class="header-typ1 font-13">
                                            United Center
                                            <div class="gray-text font-11 mrg5-T">Client Distribution ID: 123456</div>
                                        </div>
                                        <div class="pd10-LR">
                                            <div class="ms-responsive-table-wrapper">
                                                <table class="simple hover simple-tbl1 tbl-typ3">
                                                    <thead>
                                                        <tr>
                                                            <th class="secondary-text" width="10%">Size Group</th>
                                                            <th class="secondary-text" width="10%">Product #</th>
                                                            <th class="secondary-text" width="10%">Color</th>
                                                            <th class="secondary-text" width="10%">Size</th>
                                                            <th class="secondary-text" width="10%">Distributed</th>
                                                            <th class="secondary-text" width="10%">Shipped</th>
                                                            <th class="secondary-text" width="10%">Boxed Qnty</th>
                                                            <th class="secondary-text" width="10%">Remaining to Box</th>
                                                            <th class="secondary-text" width="20%">Max Pack</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody> 
                                                        <tr ng-repeat="item in vm.productDetail" class="cursor-p">
                                                            <td>{{ item.sizeGroup}}</td>
                                                            <td>{{ item.product}}</td>
                                                            <td>{{ item.color}}</td>
                                                            <td>{{ item.size}}</td>
                                                            <td>{{ item.distributed}}</td>
                                                            <td>{{ item.shipped}}</td>
                                                            <td>{{ item.boxedQty}}</td>
                                                            <td>{{ item.remainingtoBox}}</td>
                                                            <td>
                                                                <md-input-container flex="100" class="mrg0-TB">
                                                                    <input placeholder="Max Pack" name="Max Pack">
                                                                </md-input-container>
                                                            </td>
                                                        </tr>                    
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="mrg10-T">Product Description</div>
                                            <div class="gray-text mrg10-B">The text describes the product that you are going to select.</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <md-dialog-actions layout-align="end center" layout="row" class="layout-align-end-center layout-row">
        <button aria-label="Back" ng-click="cancel()" class="md-primary md-hue-1 md-accent md-button md-ink-ripple" type="button" ng-transclude="" ui-sref="app.shipping.orderwaitship"><span class="ng-scope">Back</span>
        </button>
        <button type="button" class="md-accent md-raised md-button md-ink-ripple" aria-label="Box Shipment" ui-sref="app.shipping.boxingdetail"><span class="ng-scope">Box Shipment</span></button>
    </md-dialog-actions>
</div>